[2018-06-26 23:45] ljharb commented on #1630
`shallow` only *renders* the top level of the tree; but it absolutely does (and has to) *evaluate* the entire component tree. In other words, if `src/containers/Page/index.js:17:13` isn't inside the render path, then anything that imports `Page` would obviously have to evaluate line 17, and if evaluating that threw, it'd throw.

shallow-rendering isn't about automocking modules; it's about only ca

[2018-06-26 23:45] ljharb commented on #1630
Can you provide your actual component code, to confirm my hunch?

[2018-06-26 23:51] ljharb commented on #1628
@mykhailo-riabokon this does seem like a bug, and a PR would be very helpful!

[2018-06-26 23:55] #1638 closed

[2018-06-26 23:56] ljharb commented on #1162
enzyme doesn't support snapshots, but `.debug()` is a *far* superior method for doing that than `.html()` is, unrelated to the differences documented in this thread.

[2018-06-26 23:57] ljharb commented on #1162
I'm going to close this - however if anyone in the future can provide a PR that would address the inconsistencies with render vs shallow/mount, I'd be happy to review it.

[2018-06-26 23:57] #1162 closed

[2018-06-26 23:58] ljharb commented on #1229
This was an intentional design choice in v3. I'm going to close this; please file new issues for actionable concerns.

[2018-06-26 23:58] #1229 closed

[2018-06-27 00:04] ljharb commented on #915
I'd suggest avoiding simulate entirely, and invoke `.prop('onClick')()` directly.

This seems answered; happy to reopen if not.

[2018-06-27 00:04] #915 closed

[2018-06-27 00:38] romnempire commented on #1650
In use, the parser would be parsing ajax responses.  Storing the simulated response as js would sidestep the loader issue, and basically test the same stuff.  Yeah.

...It seemed like the cleanest way of representing an json response was a json file, so i didn't really think about changing that :|

Thanks!

[2018-06-27 00:38] #1650 closed

[2018-06-27 06:41] MrFatt opened #1692 "`componentWillReceiveProps` is always invoked in `shallow`, even getDerivedStateFromProps exists"
**Description**

As I tested, the `componentWillReceiveProps` will always be invoked when after calling  `shallowWrapper.setProps()`, even though `getDeriveStateFromProps` exists. But referred to [this](https://github.com/facebook/react/issues/12411), all the UNSAFE lifecycle methods should not be invoked when `getDerivedStateFromProps` exists.

By the way, `componentWillUpdate` and `componentWill

[2018-06-27 13:11] ygnoh commented on #298
@ljharb
If I want to use new ref style like @timotgl's code, should I stub the function which contains the refs? or should I always stub the refs in test code?

[2018-06-27 15:35] eddiemonge commented on #1373
not sure. shouldnt be hard to figure out though. should also probably be a test for both for this case

[2018-06-27 15:52] koba04 commented on #1600
@ljharb

From v16.4, React changed the behavior of `getDerivedStateFromProps`, which is called for any updates even if the update is invoked by `setState`.
Before v16.4, React called `getDerivedStateFromProps` only when `props` are updated.

https://reactjs.org/blog/2018/05/23/react-v-16-4.html#bugfix-for-getderivedstatefromprops

So if we create `enzyme-adapter-react-16.3`, we also have to create

[2018-06-27 15:53] jack-evans commented on #1543
could this be covered with something such as protractor (or whatever the react equivalent is) tests rather than at a unit test level?

[2018-06-27 16:16] koba04 commented on #1600
But it might make sense to create `enzyme-adapter-react16.2` to support `getSnapshotBeforeUpdate` and fix `react-test-renderer` version.

https://github.com/airbnb/enzyme/pull/1657

[2018-06-27 17:15] m0onspell commented on #1226
I was able to fix it by installing `react-test-renderer@15.6.1` which is matching my version of react:
[code]

[2018-06-27 22:48] ljharb commented on #298
@ygnoh ref callbacks should work; you'd do `wrapper.instance().property` where your ref callback assigned to `this.property`. If that doesn't work for you (using mount), please file an issue

[2018-06-28 00:39] bishwenduk029 commented on #1543
react-testing-library is a solution for such scenarios, It is very close to DOM testing and allows one write assertions and simulations which are very similar to what we write in Selenium or Protactor.

[2018-06-28 07:06] ljharb commented on #1632
I'd avoid using `simulate`; it doesn't faithfully simulate anything. Instead, directly invoke a prop function.

[2018-06-28 07:08] ljharb commented on #1460
This seems resolved? Happy to reopen if not.

[2018-06-28 07:08] #1460 closed

[2018-06-28 07:09] ljharb commented on #1587
That isn't a valid solution.

The proper solution is, whatever you're doing in your code that creates a promise - you'll have to get access to that promise in tests so that you can wait until it's resolved.

[2018-06-28 07:10] ljharb commented on #1635
This is indeed because shallow and mount work differently - shallow is what is being *rendered* by the component, mount is the component itself.

[2018-06-28 07:12] ljharb commented on #1629
I highly discourage that pattern; test IDs is something that was common 5-10 years ago, but is an antipattern because you're a) changing your production code for testability, and b) you're coupling your code to your tests, which makes your tests more brittle (they aren't testing what you think they are).

[2018-06-28 07:13] ljharb commented on #1629
@craigkovatch if you're selecting enough DOM elements that 3200x even matters, you've got something subpar with your architecture :-)

[2018-06-28 07:14] ljharb commented on #1629
I'm going to close this; the added complexity in enzyme isn't worth it for the simple sugar of avoiding a template literal with a leading dot.

[2018-06-28 07:14] #1629 closed

[2018-06-28 07:17] ljharb commented on #1284
You shouldn't need `import * as` - if you're using TypeScript, you need to allow synthetic imports to get spec-compliant import behavior.

[2018-06-28 07:41] ljharb commented on #1407
I'd avoid simulate because it doesn't actually faithfully simulate anything. If you want to invoke a prop, invoke it directly.

[2018-06-28 07:48] ljharb commented on #1432
You are mistaken; a reference to the original pleaseMockMe has been used in the render.

[2018-06-28 12:52] stereobooster opened #1693 "Issue with React Context API"
**Describe the bug**

This is follow up for #1513 (#1509). I copy-pasted adapter from master branch. I see an error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/stereobooster/react-context-issue`
2. `cd react-context-issue`
3. `yarn`
4. `yarn test`

**Expected behavior**
Ability to run multiple renderers concurrently

**Screenshots**
N/A

**Desktop (p

[2018-06-28 15:39] AugustoAleGon commented on #1232
@adc17 solution works for me.

[2018-06-28 20:59] biot023 opened #1694 "Invariant Violation on form submit but making asynchronous does not fix it"
### Current behavior

### Expected behavior

The form should submit and generate the errors in the test.

### Your environment

#### The code:

    import React from 'react';
    import {withFormik, Form, Field} from 'formik';
    import Yup from 'yup';

    const SignIn = ({values, errors, touched, isSubmitting}) => {
      return (
        <section className="SignIn">
          <h2>Sign in here<

[2018-06-29 00:47] ljharb commented on #1566
Thank you very much - I've commented on the PR with my thoughts, and tl;dr: `.text()` should not throw when there's no DOM node.

[2018-06-29 01:35] ljharb commented on #1373
@eddiemonge would you be willing to submit a PR that has failing test cases? (or even better, a fix?)

[2018-06-29 06:22] richardtagger commented on #1509
Great news, thanks!

[2018-06-29 07:20] #1602 closed

[2018-06-29 07:44] ljharb commented on #1444
@Heedster ah, yes, good point

[2018-06-29 07:51] ljharb commented on #1430
#1670 may help a bit with this.

[2018-06-29 08:03] emipc commented on #1229
So, what's the solution?

I have this:

[code]

I'm expecting to receive 1 for the prop `currentItem` because the click calls a redux action creator to change its value, but I'm getting 0.

[2018-06-29 08:12] ljharb commented on #1613
I think the issue is that perhaps your literal non-breaking space in your tests is getting transformed to a normal one.

I've added explicit tests for the character codes generated by non-breaking spaces, and they both are already passing.

[2018-06-29 12:19] sarneeh commented on #836
@ljharb Alright, I understand that. But why it has been decided that this behaviour should be the default one? Couldn't it be reversed, so by default I'll get the behaviour from Enzyme v2, and in v3 have an additional method to get all of them?

To be clear: I don't want to hate anyone nor anything, I just want to understand the decision behind it, because maybe I'm missing something, and maybe I

[2018-06-29 14:33] stereobooster commented on #1693
As far as I understand to fix this issue we need to "undo" fiber batch rendering and render inside test in one piece, without batches.

[2018-06-29 15:13] #1613 closed

[2018-06-29 15:17] ljharb commented on #1669
@conor-cafferkey-sociomantic the commit you linked is part of all v3 releases, not just 3.3.0. I think it's  a good idea to remove the docs for those methods.

[2018-06-29 15:18] ljharb commented on #1666
@jainvizz since sendJSONRequest calls fetch, fetch-mock should work for you.

Separately, you could (and probably should) make your static method return the promise - then you can both unit-test it, and safely mock it out for the rest of your component.

[2018-06-29 15:19] #1666 closed

[2018-06-29 15:20] ljharb commented on #1665
@fterh `simulate` does not actually faithfully simulate anything; it's just sugar for invoking a prop function.

[2018-06-29 15:21] ljharb commented on #1661
This seems answered.

[2018-06-29 15:21] #1661 closed

[2018-06-29 15:48] ljharb commented on #1323
@Aaronius fair; it's more that wrappers do not automatically update, and specifically, derived wrappers are entirely cut off from the wrapper they originate from.

In practice, this means that you'll always need to re-find from the root, and call `.update()` on the root, to get an updated wrapper.

[2018-06-29 15:51] ljharb commented on #836
@sarneeh i believe this was chosen to match the way the react dev tools chrome extension works.

[2018-06-29 15:56] ljharb commented on #218
A PR with a failing test case would be helpful.

In general though, I suggest never using `simulate`, as it does not faithfully simulate anything. If you want to invoke a prop callback like `onClick`, invoke it directly with `.prop('onClick')()`.

[2018-06-29 16:19] aravind1078 opened #1697 "Not able to find Menu using component.find"
[code]
this is how my components looks like :
 when `hovered`  on DropDown the menu will appear and when clicked on any of the item the items gets selected and state variable concept gets updated. how to test this DropDown ? iam not able to access the Menu to simulate the 'click' on the menu

`component = mount(<comp />)
    const dropdown = component.find(Dropdown) // this i am able to find
    c

[2018-06-29 18:11] danny-andrews-snap commented on #1629
FYI, I realized this is off-topic. Feel free to ignore.

@ljharb Just out of curiousity, how would you recommend selecting elements in your test if not by `className` or test-id?

[2018-06-29 18:14] ljharb commented on #1629
@danny-andrews-snap i don't have a silver bullet in mind; it'd depend on your specific component.

[2018-06-29 18:28] ljharb commented on #1667
@wKich Thanks - I was able to reproduce this, and find a fix as well as add a regression test. I'll push up a fix shortly.

[2018-06-29 21:45] kumar303 commented on #1002
When you have a lot of HOC's it gets tricky to manage all the `dive()` statements. It's a bit hacky but I wrote about a `shallowUntilTarget()` wrapper we use to dive into the right component: https://hacks.mozilla.org/2018/04/testing-strategies-for-react-and-redux/

[2018-06-29 22:36] #1667 closed

[2018-06-29 22:37] ljharb commented on #1051
@kenware would you mind filing a new issue?

[2018-06-29 22:40] ljharb commented on #1678
Can you provide the *full* files for Parent and Child, including imports?

[2018-06-29 22:44] ljharb commented on #1245
Does `.forceUpdate()` not work?

[2018-06-29 22:49] ljharb commented on #1662
@zhaolc90 I'm not clear on what the issue is here. `simulate` does not actually simulate anything, nor cause any changes - it just invokes a prop function.

@croraf can you provide the entire code for the component? it's pretty difficult to help with excerpts.

As for sub-wrappers, in v3 and later, you must *always* re-find from the root to get updates.

[2018-06-29 22:50] ljharb commented on #1217
This seems closeable; please file a new issue if there's still problems.

[2018-06-29 22:50] #1217 closed

[2018-06-29 22:51] ljharb commented on #76
Indeed; in v3, all sub-wrappers must be re-found from the root to see updates.

[2018-06-29 23:02] ljharb commented on #1693
This sounds like you're having an issue with unreleased code?

[2018-06-30 06:56] ljharb commented on #1697
How does Dropdown render the Menu? If it renders it outside of the render tree - like, say it appends to the DOM, or uses the modern Portals API - it's not necessarily something enzyme can handle.

Have you filed an issue with antd to see if they have any thoughts?

[2018-06-30 08:51] stereobooster commented on #1693
Yes this is the issue with unreleased code. It is meant to be added to the list in https://github.com/airbnb/enzyme/issues/1553

[2018-06-30 15:29] aravind1078 commented on #1697
as far as i can see it is rendering outside of render tree. though i haven't filed any issue with antd

[2018-06-30 17:09] ljharb commented on #1697
I’m going to close this then; if it’s using official Portals, then it should just work in React 16, but otherwise, see #252 for why it’s not something enzyme can address.

Please post the link here when you do file the issue!

[2018-06-30 17:09] #1697 closed

[2018-06-30 21:44] ljharb commented on #1153
@mieszko4 "immutable" wasn't meant to mean "nothing can ever change", or else there wouldn't be a setProps or setState method. It's more that wrappers won't rerender automatically, and sub-wrappers aren't connected to the root wrapper.

If the docs can be improved, a PR is always welcome.

[2018-07-01 04:47] wsmd commented on #389
Here's how I ended up testing select elements in my app:

I have a component that wraps a `<select>` element:

[code]

This component depends not only the `value` of the `select` element, but also on its `options` (`HTMLSelectElement.options`) and its `selectedIndex` (`HTMLSelectElement.selectedIndex`) for various reasons.

[code]

So while the some of solutions provided in the comments above work

[2018-07-01 07:21] cxucheng opened #1699 "How to test debounce method"
Hey guys, I want to test a debounce method, code is similar to the following structure:

[code]
In my unit test, I use fetch-mock to mock my postJson call and I was able to retrieve the promise from ```fetchSthElse()```. However, I can't get the promise from ```fetchSth()```, it is always undefined for me. The code for unit test is:
[code]
You can assume all my dependencies are the latest and I am

[2018-07-02 02:56] koba04 commented on #1692
@MrFatt You are right. Because enzyme calls `componentWillReceiveProps` directly in order to call all lifecycle methods correctly with `shallow`.
I think this will be fixed by # 1192.

[2018-07-02 05:41] ljharb commented on #1683
Hmm, that does seem like an issue - `this` should *not* work in SFCs.

[2018-07-02 07:38] ljharb commented on #1626
It seems like there's some code in your components (possibly third-party code) that's throwing an error inside a promise. This doesn't seem enzyme-related.

[2018-07-02 07:38] #1626 closed

[2018-07-02 08:05] ljharb commented on #1686
@tdd thanks for the post! I'm unable to reproduce this locally, and your sandbox doesn't work because of `util.inspect`.

[2018-07-02 08:10] ljharb commented on #1686
I've added some test cases to master that are passing; I'm going to close this, but am happy to reopen if I can repro the bug.

[2018-07-02 08:10] #1686 closed

[2018-07-02 08:31] tdd commented on #1686
@ljharb wth with the codesandbox? It worked fine when I authored it, now it breaks. No idea why, I seem to be on the latest versions…

[2018-07-02 08:54] adam-nielsen commented on #1559
I ran into the same problem and solved it by creating a function I can call in the test that pauses until the `fetch()` calls have finished:

[code]
The function is defined as:
[code]
It seems to work for me, however I'm not sure if there are any race conditions - particularly if `fetch()` returns and triggers a call to `setState()`, but the test then continues before the state has been fully set.

[2018-07-02 10:07] julienw commented on #1607
Ah thanks, good to know ! I didn't know that having the links (or not!) in SUMMARY.md actually had an effect elsewhere...

[2018-07-02 10:18] KostyaErsak commented on #1679
Yes, error in line `CancelToken.source()`. In dev/prod its work fine.

[2018-07-02 11:05] StefanoSega commented on #953
with:
[code]
it doesn't work, setState callback is somehow ignored

[2018-07-02 15:08] ljharb commented on #1686
Not sure :-/ maybe object-inspect updated, and code-sandbox isn’t using a bundler that shims util?

Can you still reproduce this issue with the zero?

[2018-07-02 20:13] TomasRup commented on #1518
@koba04 how about `hasStyle`? E.g.:
`wrapper.hasStyle({ color: 'red' })`.

[2018-07-02 23:00] ljharb commented on #953
@StefanoSega thanks, would you mind filing a new issue about that?

[2018-07-03 05:46] mrampiah commented on #389
Fully understanding that refs are to be avoided whenever possible, this is the only solution I found to my problem.

[code]

[2018-07-03 07:38] ljharb commented on #1683
This is a bug in `react-test-renderer`; I've filed it there. https://github.com/facebook/react/issues/13141

[2018-07-03 15:30] goldenshun commented on #539
I wasn't able to get the "shallow until render" approaches to work, so went with an approach that mocks the specific component I want to avoid rendering.  Jest mocks are a little quirky, but they did the job.  Especially helpful when testing Apollo's Query/graphql components.

https://medium.com/@sconnolly17/testing-graphql-container-components-with-react-apollo-and-jest-9706a00b4aeb

[2018-07-03 15:32] goldenshun commented on #947
Instead of shallow rendering, another approach is to `mount` and then mock the component where you want rendering to stop.  Especially useful when using container components.

More details on how we implemented this:
https://medium.com/@sconnolly17/testing-graphql-container-components-with-react-apollo-and-jest-9706a00b4aeb

[2018-07-03 17:00] won0089 commented on #1245
Experiencing the same issue. In my case I need to to wrapper.instance().forceUpdate() and wrapper.update() in order for the wrapper to be re-rendered. In my opinion wrapper.update() should re-render the wrapper when instructed.

"enzyme": "3.3.0",
"enzyme-adapter-react-16": "1.1.1"

[2018-07-03 18:48] jcandeli opened #1702 "Version number does not seem up to date."
**Describe the bug**
Installing version 1.1.1 does not yield the same code that is shown in the current master branch for 1.1.1. More specifically it's missing the new React Context Api types. I am getting this error "Enzyme Internal Error: unknown node with tag 13" even though that bug was fixed in February.
https://github.com/airbnb/enzyme/commit/e21b7b506ae2cc8aff8cac233564e74a605291b2#diff-359

[2018-07-03 18:51] ljharb commented on #1702
This is often the case for every repo - there’s unreleased code on master. This is normal, and expected. The issue you’re reporting will be fixed in the next release.

If you want to see the code for a specific version, visit its git tag.

[2018-07-03 18:51] #1702 closed

[2018-07-03 18:52] parkedwards commented on #1702
Looks like these commits were made after the last known pkg publish:

https://github.com/airbnb/enzyme/commit/e21b7b506ae2cc8aff8cac233564e74a605291b2#diff-359ceaf4dec809e15a7f54fb0e2c2f42
https://github.com/airbnb/enzyme/commit/81167fb4a4f5dfc6324f6154662eaa9656e6e048#diff-359ceaf4dec809e15a7f54fb0e2c2f42

npm registry:
https://www.npmjs.com/package/enzyme-adapter-react-16
![image](https://user-i

[2018-07-03 18:57] jcandeli commented on #1702
Yes I understand that some code may not be released yet but the issue I am reporting has actually already been fixed in February as @parkedwards pointed out above. Just curious how much longer it will take to release it? It seems like something that can be done in a few minutes.

[2018-07-03 19:22] jcandeli commented on #1702
@ljharb I still think there is clearly a mistake here. I looked up version 1.1.1 by tag like you suggested and looked at the commits in it and there is clearly one for the issue I am talking about.
https://github.com/airbnb/enzyme/compare/enzyme-adapter-react-16@1.1.1...master

Commit: https://github.com/airbnb/enzyme/commit/e21b7b506ae2cc8aff8cac233564e74a605291b2

I am still confused why I can't

[2018-07-03 20:12] krimple commented on #1553
Could it be AirBnB drops support for React Native = no more updates to Enzyme? There was a comment on a post I've referenced below mentioning the trouble they've had when React Native went to React 16 alpha and beta. Can someone comment from the team? https://medium.com/airbnb-engineering/sunsetting-react-native-1868ba28e30a

[2018-07-03 23:22] ljharb commented on #1683
ok, confirmed it's only a bug in shallow, and only in react 16.

[2018-07-04 00:13] ljharb commented on #1687
Note that `simulate` doesn't actually simulate anything, it's just sugar for invoking a prop callback.

Specifically, the issue is that you're using an arrow function in a class property - which should never be done. You want an instance method and `this.handleChange = this.handleChange.bind(this)` in the constructor. This will allow you to spy on `Foo.prototype.handleChange` *before* you call `sh

[2018-07-04 00:13] #1687 closed

[2018-07-04 00:14] ljharb commented on #1685
Try adding `wrapper.update()` after the `toggle` call.

[2018-07-04 00:15] ljharb commented on #1689
@tzvipm before a PR, this needs extensive discussion. How would you implement this in a way that's adapter-agnostic, and that wouldn't have a ton of memory leaks?

[2018-07-04 00:15] ljharb commented on #1689
(also, I'd expect the same functionality to be optionally available for `shallow`)

[2018-07-04 00:16] ljharb commented on #441
`simulate` should be avoided. It does not faithfully simulate anything - it's just sugar for `.prop('onClick')()` or similar.

[2018-07-04 00:17] ljharb commented on #308
This is sadly working as intended. `simulate` does not faithfully simulate anything - it's just sugar for invoking a prop function with a mapped event name.

I'm going to close this with a recommendation to avoid `simulate` entirely.

[2018-07-04 00:17] #308 closed

[2018-07-04 00:28] ljharb commented on #1688
Never put arrow functions in class fields - instead, use a normal instance method, and bind it in the constructor if needed.

Once that's fixed, you'll be able to unit-test it by spying on `ConnectedEditor.prototype.renderSpinner` (if ConnectedEditor isn't wrapped by `connect()`).

If it is wrapped (as the name implies), then you can only test it by either a) exporting the inner component just for

[2018-07-04 00:29] ljharb commented on #944
@sstern6 as we've discussed separately, the "meat" of the function would live on the prototype, which would get easily optimized - and then the only piece that repeats N times is the trivial bind-proxy.

[2018-07-04 00:30] ljharb commented on #944
This seems answered; the solution remains "never use arrow functions in class properties".

[2018-07-04 00:30] #944 closed

[2018-07-04 00:31] ljharb commented on #1452
Can someone provide a simple test case (that does not use simulate) that illustrates the problem?

[2018-07-04 00:32] ljharb commented on #1289
I'd be happy to review a PR that allows setState to be called on non-root custom component instances in `mount`.

[2018-07-04 00:35] ljharb commented on #1694
This kind of seems like an issue with Formik, which I'm not familiar with.

Does this also happen in React 15?

If there's mutations happening inside your test, you have to await them - awaiting a simulate call won't do anything, since it doesn't return anything.

You'd have to await an actual promise - one that resolved after all formik's changes were done.

[2018-07-04 00:37] ljharb commented on #1691
The issue is that you have arrow functions in class fields - which should never happen.

Instead, make normal instance methods, and bind them in the constructor. That way, you can spy on them with `spyOn(DocsList.protototype, 'handleEditSearch')` etc before shallow-rendering, and everything will work as expected.

[2018-07-04 00:37] #1691 closed

[2018-07-04 00:39] ljharb commented on #1679
How do you run your tests?

[2018-07-04 00:40] ljharb commented on #1559
@adam-nielsen's approach definitely risks race conditions.

There's no good solution here - typically you'd mock out the API call with a promise you create in your tests - then, you can invoke the async action, await that promise, and afterwards, make your assertions.

[2018-07-04 00:42] gthomas-appfolio opened #1704 "Using React 16 createRef"
I'm trying to reference new React 16 refs in my enzyme 3 tests so that I can call .simulate, etc on  internal  references.

Simplified example:

[code]

Test:

[code]

However I get errors like:

`TypeError: component.instance(...).textInput.current.simulate is not a function`

This is a simplified example so I'm not looking for alternate ways of finding the input - I'm curious if and how we can u

[2018-07-04 00:55] adam-nielsen commented on #1559
There are definitely some race conditions here - two come to mind:

* API call completes, promise resolves, test assertions run, but the implementation issues a second API call using data from the first, which runs after the test assertions have finished.
* API call completes, calls `setState`, test assertions run, then React updates the state.

I am not sure of any good ideas to handle either of

[2018-07-04 04:04] dupski opened #1705 "Lack of recent NPM package updates"
**Describe the bug**
Enzyme has not been published to NPM for over 6 months

**To Reproduce**
https://www.npmjs.com/package/enzyme
https://www.npmjs.com/package/enzyme-adapter-react-16

**Expected behavior**
There have been some important fixes merged in, such as the fix to support React 16.3 context API:
https://github.com/airbnb/enzyme/pull/1513 , which I (and I'm sure others) need to use.

Plea

[2018-07-04 04:15] ljharb commented on #1705
Airbnb's choices around React Native are utterly unrelated; it's simply that we aren't yet ready to publish updates.

I'm not going to publish any further updates to any part of enzyme that have partial support for React 16 features, as that will just result in a flood of new bug reports, all of which would distract from completing support for React 16's features.

It's being worked on; you'll nee

[2018-07-04 04:15] #1705 closed

[2018-07-04 04:32] dupski commented on #1705
Ok sweet as - good news :)

[2018-07-04 05:10] ljharb commented on #1699
It's pretty difficult to help with all the elided code. Could you provide the entire component and test code?

[2018-07-04 05:11] ljharb commented on #1662
It's already mentioned in the v3 migration guide; any time you'd like to file a PR to improve the docs, that'd be appreciated!

[2018-07-04 05:11] #1662 closed

[2018-07-04 05:28] KostyaErsak commented on #1679
`npm run test`

[2018-07-04 05:32] ljharb commented on #1553
@krimple no, it absolutely could not be that, and that's ridiculous. All of airbnb.com is in React, and our investment in it has only increased. (the trouble around React 16 and react native is because RN itself unfortunately chose to require an alpha version of React 16 while dropping compat for React 15, and is unrelated to enzyme).

Enzyme currently does not support any of the new features in R

[2018-07-04 05:35] ljharb commented on #1679
lol yes but what command does that run. what test runner are you using? do you have a setup file? what babel/webpack/etc settings are you using?

[2018-07-04 05:37] ljharb commented on #1704
(I wouldn't recommend using `simulate` anyways; it doesn't faithfully simulate anything, and it's just sugar for invoking a prop function)

As for the refs, enzyme doesn't quite support that yet, but it's coming!

[2018-07-04 05:37] ryami333 commented on #1509
I understand your reasoning behind not publishing ASAP (not wanting to open the flood gates) but couldn't you do a pre-release/beta/alpha/next release so that those of us who are struggling with these issue can at least opt-in (consciously aware that there may be other breakages)?

[2018-07-04 06:05] ljharb commented on #499
@anthonator do you have a test case? The code in the OP seems to work.

[2018-07-04 06:18] ljharb commented on #1509
It takes a lot of work to publish individual packages, and juggling the semver here isn't going to be easy. I'll try to have something published soon.

[2018-07-04 06:29] ljharb commented on #499
ah, looks like this might fail in React 0.13, but works in 0.14+?

[2018-07-04 07:05] #499 closed

[2018-07-04 07:16] KostyaErsak commented on #1679
`react-scripts test` this script executed when i run `test` command. Apparently Jest is used.

[2018-07-04 08:02] artin-phares commented on #1509
As a side note I would also add that it's not _issues_ (like bugs or no-publishing) what usually irritates, but _silence from team_.

eg. 3 month ago...

Team: "Hey guys, we know you all waiting for this, but we have _this_ difficulties to make it quick, and you have _that_ ways to workaround, so just keep calm and wait =)."
Me: "Ok, I see that problem is in team`s focus, so probably I shouldn't c

[2018-07-04 08:14] StefanoSega commented on #1233
still an issue and in my situation even `wrapper.update();` or `wrapper = wrapper.update();` don't help.

I'm testing a method that does DOM manipulation like creating and appending DOMs to an element that I pass as argument:
[code]

the test looks like:
[code]

`console.log(wrapper.html());` returns this:
[code]

[2018-07-04 08:54] karolisgrinkevicius commented on #208
What if I have HOC'ed React component `MyComponentClass` for instance? How to type wrapper instance of enzyme?
[code]

Anyone has solved this already?

[2018-07-04 09:28] koba04 commented on #1452
I've created a simple test case for this.

https://github.com/koba04/enzyme/commit/193f40ad6b772173d819629602ce83d916364873

[2018-07-04 09:35] teatimes commented on #76
I managed to simulate setting a value for textarea.

`
wrapper.find("textarea#message").element.value = "a value"
wrapper.find("textarea#message").trigger("input")
`

[2018-07-04 11:48] tristan-shelton commented on #1245
@ljharb `forceUpdate` did not work for me. `setState({})` did, so I used that as a hack. I didn't try the combination won0089 suggested.

[2018-07-04 14:01] biot023 commented on #1694
Okay, thanks @ljharb .
I'm not really familiar enough with React or Formik at this point to debug the issue with any confidence so I'll have to come back to this when I can make more time.
Thanks for your suggestions.

[2018-07-04 15:08] yurkagon commented on #544
I use Enzyme with jest, so I solved this problem with this package:

[2018-07-04 17:03] StefanoSega opened #1706 "Shallow rendering is rednering the html of 3rd party components"
**Describe the bug**
When shallow rendering a component that uses the 3rd party components `react-placeholder` and `material-ui-pickers/DateTimePicker` the DateTimePicker is fully rendered in its whole final html.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component that wrap a DateTimePicker into a ReactPlaceholder; this is my code:
[code]
2. Include it in a test rendering it

[2018-07-04 19:11] krimple commented on #1553
And it turns out the project I was testing used create-react-app and what fixed my issue was upgrading the jest-runner to the latest version. I was digging deep into a rabbit hole and the problem had nothing to do with Enzyme. My apologies again.

[2018-07-05 05:58] ljharb commented on #1509
@artin-phares the time it takes to comment on every issue and PR is the exact time I haven't had, or else i'd have been triaging things. I did post https://github.com/airbnb/enzyme/pull/1513#issuecomment-388173895 a month ago, ftr.

[2018-07-05 06:01] ljharb commented on #1233
Manually manipulating the DOM isn't really something that's idiomatic in React, and it wouldn't surprise me if you ran into issues doing that with jsdom. Please file a new issue if you think there's an issue with enzyme.

[2018-07-05 06:02] ljharb commented on #208
@karolisgrinkevicius enzyme isn't written in TypeScript, so this repo really isn't the place to ask that - i'd suggest some typescript-related chatrooms.

[2018-07-05 06:43] ljharb commented on #1694
In that case, I'll close for now, but will happily reopen when you're able to provide more information.

[2018-07-05 06:43] #1694 closed

[2018-07-05 06:44] ljharb commented on #1706
`.html()` isn't shallow - it uses cheerio to perform a full render, all the way down.

You might want `wrapper.debug()`?

[2018-07-05 07:07] #1674 closed

[2018-07-05 07:12] yonasstephen commented on #1685
perfect! works like charm

[2018-07-05 07:12] #1685 closed

[2018-07-05 07:40] ljharb commented on #1452
Thanks; https://travis-ci.org/airbnb/enzyme/jobs/400283980 that shows that it's failing on React 16 specifically.

[2018-07-05 07:58] jigishchawda commented on #1232
@mrchief : I have been in the similar scenario except that it was for react-native.
`wrapper.props()` in the DatePicker example is going to show props of the top level component (in your case `<div>`)

If you follow this, the shallowWrapper is nothing but the top level component (atleast for SFC, thats what I have deduced so far)

I would suggest doing something like this:
[code]
__Why would someo

[2018-07-05 08:33] artin-phares commented on #1509
@ljharb Yeah, that was useful update in https://github.com/airbnb/enzyme/pull/1513#issuecomment-388173895. Sadly - in another issue :smiley:

[2018-07-05 09:06] StefanoSega commented on #1706
Yes!

with `wrapper.debug()` I can see how it's structured:
[code]

... so the DateTimePicker component is in the end rendered as a WithStyles component.

Thanks, there's no issue so.

[2018-07-05 11:02] koba04 commented on #1452
Yes, ReactShallowRenderer called `componentDidUpdate` on `setState` until React v15.
So in order to fix this, I assume we have to override `setState` (and `forceUpdate`) on React Component instance like the following.

https://github.com/airbnb/enzyme/issues/1452#issuecomment-354045664

[2018-07-05 12:54] KostyaErsak commented on #1679
Or maybe trouble with shallow rendering. How i can define where is bug?

[2018-07-05 14:33] ljharb commented on #1679
I’d console.log axios and axios.CancelToken in your test - it seems like that’s what’s not loading correctly in jest (outside of enzyme)

[2018-07-05 14:33] #1679 closed

[2018-07-05 14:45] #1706 closed

[2018-07-05 16:23] gthomas-appfolio commented on #1704
Thanks @ljharb for the info, feel free to close this if you are tracking elsewhere.

[2018-07-05 16:50] anthonator commented on #1647
@ljharb I can confirm that I am seeing this error when using the latest version of `react-test-renderer`. I'm also using @KevinGrandon's `enzyme-react-adapter-future`. Not sure if that's relevant.

Also, just for reference, this is the error I'm seeing:

[code]

[2018-07-05 16:57] anthonator commented on #1647
Also, just for reference, this is what `debug` outputs on the `dive` just before receiving the above error:

[code]

[2018-07-05 20:17] ljharb commented on #1452
ok, i've added a [branch](https://github.com/airbnb/enzyme/compare/cdu_setstate) for someone to build off of - i'm not sure how to handle this in a way that is a) not React-specific outside adapters, b) not a breaking change to all the adapters (altho this might be necessary).

[2018-07-05 20:31] #1665 closed

[2018-07-05 20:32] ljharb commented on #1232
This seems answered.

[2018-07-05 20:32] #1232 closed

[2018-07-05 20:46] #1683 closed

[2018-07-05 23:00] anthonator commented on #1647
@ljharb I believe @stellarhoof already provided a test case. Is there something more you need?

[2018-07-06 04:55] ljharb commented on #1373
I've added your tests from the OP to master: https://github.com/airbnb/enzyme/commit/1b4a9e0da22941506ba0ae41e7d2ba34396641ba

Since they pass, I'm going to close this - happy to reopen it if there's further issues.

[2018-07-06 04:55] #1373 closed

[2018-07-06 04:56] #1614 closed

[2018-07-06 04:58] ljharb commented on #206
I'm going to close this; but if someone can provide a repro on v3, I'll be happy to reopen.

[2018-07-06 04:58] #206 closed

[2018-07-06 04:59] #89 closed

[2018-07-06 05:31] #193 closed

[2018-07-06 05:33] ljharb commented on #280
I think this is behaving as intended - "contains" is for finding exact node matches, not for looking for text. I think you might want `.text()`.

[2018-07-06 05:33] #280 closed

[2018-07-06 05:33] ljharb commented on #284
You generally don't want to call setState inside componentWillMount.

[2018-07-06 05:33] #284 closed

[2018-07-06 05:34] #322 closed

[2018-07-06 05:35] ljharb commented on #326
This seems to be a jsdom issue? Happy to reopen if someone can provide a failing test case.

[2018-07-06 05:35] #326 closed

[2018-07-06 06:12] ljharb commented on #411
At this point, I think this would be best as an adapter option.

[2018-07-06 06:13] #410 closed

[2018-07-06 06:14] ljharb commented on #456
This was added in #460.

[2018-07-06 06:14] #456 closed

[2018-07-06 06:16] ljharb commented on #655
I think this issue can be closed; #664 is the issue for context via dive.

[2018-07-06 06:16] #655 closed

[2018-07-06 06:16] #477 closed

[2018-07-06 06:17] #559 closed

[2018-07-06 06:17] #572 closed

[2018-07-06 06:18] ljharb commented on #578
@ZebraFlesh I'm going to close this; but will happily reopen it if we can get a repro case.

[2018-07-06 06:18] #578 closed

[2018-07-06 06:21] ljharb commented on #567
Highly related to #664.

[2018-07-06 06:22] ljharb commented on #582
I believe this is addressed in v3. Please file a new issue if not.

[2018-07-06 06:22] #582 closed

[2018-07-06 06:23] ljharb commented on #605
I'm not sure what `handsontable` is, but it's pretty unidiomatic in React to mutate the DOM, and I'm not sure exactly how enzyme could help you here.

If you can provide a minimal failing test case, I'll be happy to reopen this.

[2018-07-06 06:23] #605 closed

[2018-07-06 06:28] ljharb commented on #760
You'd need a react native adapter to use enzyme with React Native.

Closing this in favor of #1436.

[2018-07-06 06:28] #760 closed

[2018-07-06 06:46] #452 closed

[2018-07-06 06:48] ljharb commented on #376
I'm going to close this; please file a new issue if it's still a problem on v3.

[2018-07-06 06:48] #376 closed

[2018-07-06 06:50] ljharb commented on #515
simulate does not faithfully simulate anything, and doesn't cause any changes to occur - it's just sugar for invoking a prop function.

I suggest avoiding it, and directly invoking props instead.

[2018-07-06 06:50] #515 closed

[2018-07-06 06:52] ljharb commented on #611
@gilbarbara I'm going to close this, but if you can provide a minimal repro case, I'll be happy to reopen it and fix the issue.

[2018-07-06 06:52] #611 closed

[2018-07-06 06:53] ljharb commented on #620
Added in #1157.

[2018-07-06 06:53] #620 closed

[2018-07-06 06:54] ljharb commented on #623
For mount, use `.childAt(0)` in v3.

[2018-07-06 06:54] #623 closed

[2018-07-06 06:55] ljharb commented on #977
I don't think this is still an issue in v3; please file a new issue if that's not the case.

[2018-07-06 06:55] #977 closed

[2018-07-06 06:55] ljharb commented on #696
I don't think this is still an issue in v3; please file a new issue if that's not the case.

[2018-07-06 06:55] #696 closed

[2018-07-06 06:56] ljharb commented on #701
I don't think this is still an issue in v3; please file a new issue if that's not the case.

[2018-07-06 06:56] #701 closed

[2018-07-06 06:57] ljharb commented on #692
I don't think this is still an issue in v3; please file a new issue if that's not the case.

[2018-07-06 06:57] #692 closed

[2018-07-06 06:58] #763 closed

[2018-07-06 07:00] ljharb commented on #774
Happy to reopen this with a repro case.

[2018-07-06 07:00] #774 closed

[2018-07-06 07:02] ljharb commented on #795
This seems answered? Please file a new issue if not.

[2018-07-06 07:02] #795 closed

[2018-07-06 07:03] ljharb commented on #817
This seems answered; happy to reopen if not.

[2018-07-06 07:03] #817 closed

[2018-07-06 07:03] ljharb commented on #831
You'd need a react native adapter to use enzyme with React Native.

Closing this in favor of #1436.

[2018-07-06 07:03] #831 closed

[2018-07-06 07:04] #801 closed

[2018-07-06 07:05] ljharb commented on #834
Due to how mapDispatchToProps is implemented, I don't think it's possible to stub this.

I'd suggest putting the function you want to test in a module, and mocking it out for tests.

[2018-07-06 07:05] #834 closed

[2018-07-06 07:05] #862 closed

[2018-07-06 07:06] ljharb commented on #902
Simulate does not faithfully simulate anything; it's just sugar for invoking a prop function. I'd suggest doing that instead.

[2018-07-06 07:06] #902 closed

[2018-07-06 07:07] ljharb commented on #938
I don't think this is still an issue in v3; happy to reopen if so.

[2018-07-06 07:07] #938 closed

[2018-07-06 07:08] ljharb commented on #930
It seems like your tests aren't set up to import your LESS file correctly (importing CSS is nonstandard).

[2018-07-06 07:08] #930 closed

[2018-07-06 07:09] ljharb commented on #965
The example now lives in this repo.

[2018-07-06 07:09] #965 closed

[2018-07-06 07:10] #972 closed

[2018-07-06 07:10] #1010 closed

[2018-07-06 12:35] stereobooster commented on #1693
Huh. I figured out what the issue here. It happens when you use `react-test-renderer` and Enzyme's `mount` in the same test file. Not sure if it is needed to be fixed...

[2018-07-06 13:01] stereobooster commented on #1693
To be clear if I use only `react-test-renderer` it is ok. If I use only `Enzyme` it is ok. Issue happens when I try to use `react-test-renderer` (for snapshot testing) and `enzyme` (for actual testing, like simulating clicking buttons etc.)

I found solution: use `enzyme-to-json` instead of `react-test-renderer` for snapshot testing.

Example of how I fixed it is [here](https://github.com/stereobo

[2018-07-06 13:01] #1693 closed

[2018-07-06 14:04] anthonator commented on #1647
@ljharb https://codesandbox.io/s/9l1rk4l20y?module=%2Fsrc%2FApp.test.js

Let me know if this is what you're looking for.

[2018-07-06 16:53] ljharb commented on #927
Separately, `simulate` does not faithfully simulate anything nor trigger events - all it is is sugar for invoking a prop function.

[2018-07-06 16:53] #927 closed

[2018-07-06 16:53] ljharb commented on #974
I'm going to close this, but will be happy to reopen with some test cases.

[2018-07-06 16:53] #974 closed

[2018-07-06 16:55] ljharb commented on #980
I assume because `MemoryRouter` is rendering the Profile, since that matches the route.

I'm not sure how to help here :-/ happy to reopen if needed.

[2018-07-06 16:55] #980 closed

[2018-07-06 16:55] ljharb commented on #996
This seems answered.

[2018-07-06 16:55] #996 closed

[2018-07-06 16:57] ljharb commented on #1177
I believe this is actually caused by #1153, and that a `wrapper.update()` after each change currently would address it.

[2018-07-06 16:57] #1177 closed

[2018-07-06 16:59] ljharb commented on #1155
Thanks - I believe you're right, and that I was incorrect. I also think that this is now fixed :-)

Please file a new issue if not.

[2018-07-06 16:59] #1155 closed

[2018-07-06 17:29] ljharb commented on #1152
Turns out we had no tests for `.root()`; I've added some, and added this issue to the project tracking the differences between shallow and mount.

[2018-07-06 17:29] #1152 closed

[2018-07-06 17:42] FezVrasta commented on #1604
@KevinGrandon I'm trying your package but I still get the same error, are you sure it ships the patch needed for the forwardRef feature?

[2018-07-06 17:43] ljharb commented on #1129
Nobody's reported this further; going to close.

[2018-07-06 17:43] #1129 closed

[2018-07-06 17:44] ljharb commented on #1116
I'm not sure what the issue is here, specifically.

[2018-07-06 17:44] #1087 closed

[2018-07-06 17:45] ljharb commented on #1134
Closing; please file a new issue if needed.

[2018-07-06 17:45] #1134 closed

[2018-07-06 17:47] ljharb commented on #1184
This is an inherent bug in hot reloading: the only way around it is for the hot reloader to replace *every* export with a Proxy before anything imports it, which is painful to write, and slow to run.

If there's still an issue *without* hot reloading, please file a new issue.

[2018-07-06 17:47] #1184 closed

[2018-07-06 17:47] #1198 closed

[2018-07-06 17:48] ljharb commented on #1200
This seems like an issue in enzyme-to-json, or css modules, but not in enzyme.

[2018-07-06 17:48] #1200 closed

[2018-07-06 17:48] ljharb commented on #1185
This is answered; please see the attached project for tracking this discontinuity between mount and shallow.

[2018-07-06 17:48] #1185 closed

[2018-07-06 17:49] ljharb commented on #1201
I believe this is answered; PRs to the migration guide/docs, and new issues if needed, are both welcome and encouraged.

[2018-07-06 17:49] #1201 closed

[2018-07-06 17:50] ljharb commented on #1202
Prior to React 16's Portal API, React has no facility for managing elements outside the render tree, and thus neither does enzyme.

If there's a specific bug with test cases, I'm happy to reopen this and address it.

[2018-07-06 17:50] #1202 closed

[2018-07-06 17:51] ljharb commented on #1210
enzyme v2 is no longer maintained; and these warnings are from react itself. Please update to v3.

[2018-07-06 17:51] #1210 closed

[2018-07-06 17:51] ljharb commented on #1206
This seems answered; happy to reopen if not.

[2018-07-06 17:51] #1206 closed

[2018-07-06 17:55] #1688 closed

[2018-07-06 17:56] ljharb commented on #1216
Closing; please track this issue here: https://github.com/airbnb/enzyme/projects/3

[2018-07-06 17:56] #1216 closed

[2018-07-06 18:02] FezVrasta commented on #1705
No cache to at least get a pre-release? That would be so helpful to start experimenting with it and have an initial React 16.2+ support

[2018-07-06 18:56] ljharb commented on #1705
@FezVrasta the work required to make a prerelease is basically identical to the work required to make a real one.

[2018-07-06 19:01] ljharb commented on #1227
Hmm - this already seems like it's implemented, in that all options passed to `configure` are merged with options passed to the ShallowWrapper and ReactWrapper constructors.

I'm going to close, but will reopen if this isn't sufficient.

[2018-07-06 19:01] #1227 closed

[2018-07-06 20:36] #1220 closed

[2018-07-06 20:37] #1225 closed

[2018-07-06 20:37] ljharb commented on #1228
Happy to reopen this issue if needed.

[2018-07-06 20:38] ljharb commented on #1235
This has been resolved; as the tests in #769 indicate.

Please file a new issue if not.

[2018-07-06 20:38] #1235 closed

[2018-07-06 20:41] #1251 closed

[2018-07-06 20:42] ljharb commented on #1259
The OP implies to me that this is an issue with the matcher library you were using.

If this is not resolved, please file a new issue.

[2018-07-06 20:42] #1259 closed

[2018-07-06 20:42] ljharb commented on #1267
Closing this; if anyone builds a MobX enzyme adapter, it'd be great to link it in the docs.

[2018-07-06 20:42] #1267 closed

[2018-07-06 20:43] ljharb commented on #1272
This is by design; `render` uses cheerio, and in v1 of cheerio, there's no root element anymore. If you render `() => <div className='foo' />` then your test will work.

[2018-07-06 20:43] #1272 closed

[2018-07-06 21:14] ljharb commented on #1276
I'm not sure if this is still an issue, but it hasn't been one at airbnb.

I'm going to close this, but if anyone has a repro case, I'm happy to reopen.

[2018-07-06 21:14] #1276 closed

[2018-07-06 21:16] ljharb commented on #1314
@pietrofxq when you say you're shallowing this tree - can you share the *entire* component and test code?

There's no spans in that example, so that shouldn't work, but `.find('Icon')` should certainly work.

[2018-07-06 22:19] FDiskas commented on #208
@ljharb people are lending here from google, why not let them find the right answer here?

[2018-07-06 22:19] #1275 closed

[2018-07-06 22:46] ljharb commented on #1330
This seems answered.

[2018-07-06 22:46] #1330 closed

[2018-07-06 22:54] ericsoco opened #1708 "mount() wrapper is populated before componentDidMount()"
**Describe the bug**
When `mount()`ing a component with a `componentDidMount()` method that appends DOMElements to a container element created in `render()`, the resulting wrapper does not contain those DOMElements.

**To Reproduce**

[code]

I've confirmed that calling `wrapper.update()` does run `render()` a second time, but still does not update the wrapper. This makes me wonder if this is the

[2018-07-07 01:47] #1336 closed

[2018-07-07 01:49] ljharb commented on #1341
@bdwain what you did there is render not footerContent - but whatever footerContent *renders*. Meaning, instead of asserting that footerContent is an "X" element, with "y" props, you're testing X itself - and those tests belong with X's tests, not in component's tests.

[2018-07-07 01:49] #1346 closed

[2018-07-07 09:20] rahamin1 commented on #1066
@ljharb @PolGuixe
What did you mean in `someFakeEventObject`?
Is the `component.find(DateTimePickerModal).prop('onConfirm')(someFakeEventObject)` supposed to trigger the `onConfirm` event?

[2018-07-07 14:30] josemigallas opened #1709 "Support for input:focus pseudo-element selector"
Following up on #703 I would like to request this one, so that it can be checked if an input has focus:
[code]
Right now an error is thrown:

I'm using `"enzyme": "^3.3.0"`.

[2018-07-07 15:56] #1316 closed

[2018-07-07 16:19] ljharb commented on #1347
Thanks; the test repo was very helpful. All your tests are now passing with this fix.

[2018-07-07 16:32] #1347 closed

[2018-07-07 16:33] ljharb commented on #1344
@bdwain could you provide any test cases?

[2018-07-07 16:34] ljharb commented on #1354
Closing; happy to reopen with more information.

[2018-07-07 16:34] #1354 closed

[2018-07-07 16:35] ljharb commented on #1358
"Use of reserved word 'import'" means you're not babel-transpiling your files before they get to phantom.

I'm going to close this, since there's nothing actionable from enzyme's side here.

[2018-07-07 16:35] #1358 closed

[2018-07-07 16:38] ljharb commented on #1355
The specific code erroring is:
[code]

This would happen if `node` is anything that lacks an `outerHTML` property - and `node` comes from `adapter.nodeToHostNode` - which is a wrapper around `React.findDOMNode`. So, I can only imagine it's a React + Karma bug, if anything.

Closing, but happy to reopen with more information.

[2018-07-07 16:38] #1355 closed

[2018-07-07 16:40] ljharb commented on #1363
Duplicate of #1358, I think.

[2018-07-07 16:40] #1363 closed

[2018-07-07 16:41] ljharb commented on #1364
Sounds like v1.1.0 fixed it.

[2018-07-07 16:41] #1364 closed

[2018-07-07 16:42] ljharb commented on #1365
Duplicate of #1358.

[2018-07-07 16:42] #1365 closed

[2018-07-07 16:43] ljharb commented on #1368
@juanca can you provide more information? What's the full component code, and how are you creating `wrapper`?

[2018-07-07 16:47] #1370 closed

[2018-07-07 16:47] #1388 closed

[2018-07-07 16:50] ljharb commented on #1391
enzyme doesn't support snapshots, so I'm not sure what to debug there. This might be an issue with enzyme-to-json.

[2018-07-07 16:50] #1391 closed

[2018-07-07 16:51] ljharb commented on #1397
enzyme delegates entirely to cheerio - once you have the result of `render()`, it's out of enzyme's hands.

[2018-07-07 16:51] #1397 closed

[2018-07-07 16:52] ljharb commented on #1400
Can someone provide a minimal test case, including full component code, and a test that fails?

[2018-07-07 16:52] #1402 closed

[2018-07-07 16:53] ljharb commented on #1405
This seems like the documentation is incorrect, yes - a PR to update it would be appreciated.

[2018-07-07 16:54] ljharb commented on #1407
This is answered: never put arrow functions in class fields, and you won't have any trouble.

[2018-07-07 16:54] #1407 closed

[2018-07-07 16:57] ljharb commented on #1413
This seems addressed.

Some things that might help:
 - use `.hostNodes` to filter a collection down to only DOM nodes, since mount trees contain both component instances and DOM nodes, and both might have the same props
 - avoid `simulate`: it doesn't faithfully simulate anything, it's just sugar for invoking a prop function

[2018-07-07 16:57] ljharb commented on #1413
If there's any outstanding issues, please file a new one with a test case and I'll fix it asap.

[2018-07-07 16:57] #1413 closed

[2018-07-07 16:57] #1414 closed

[2018-07-07 16:58] #1416 closed

[2018-07-07 16:59] ljharb commented on #1419
This seems answered; happy to reopen if not

[2018-07-07 16:59] #1419 closed

[2018-07-07 17:00] #1421 closed

[2018-07-07 17:02] ljharb commented on #1426
@matteoantoci it'd be great to get a PR that updates the migration guide to mention this difference.

[2018-07-07 17:03] ljharb commented on #1430
Fixed with #1670.

[2018-07-07 17:03] #1430 closed

[2018-07-07 17:03] #1433 closed

[2018-07-07 17:04] #1434 closed

[2018-07-07 17:08] ljharb commented on #1435
This seems like an issue with jsdom.

[2018-07-07 17:08] #1435 closed

[2018-07-07 17:08] #1439 closed

[2018-07-07 17:09] #1448 closed

[2018-07-07 17:15] ljharb commented on #1454
Closing; happy to reopen once it's confirmed that tests pass on React 15 and enzyme 3, but fail on React 16 and enzyme 3.

[2018-07-07 17:15] #1454 closed

[2018-07-07 17:16] #1455 closed

[2018-07-07 17:36] #1458 closed

[2018-07-07 17:37] ljharb commented on #1463
Indeed, this was/is a bug in TypeScript - you'll need to enable synthetic imports (such that `import React from 'react'` works), otherwise you won't have spec-compliant code.

[2018-07-07 17:37] #1463 closed

[2018-07-07 17:38] #1464 closed

[2018-07-07 17:39] ljharb commented on #1466
Closing, since this is just how React 16 works.

[2018-07-07 17:39] #1466 closed

[2018-07-07 17:59] ljharb commented on #1066
@rahamin1 no, nothing will trigger actual events, but that doesn't matter because you don't need to test the browser itself. that will invoke your `onConfirm` prop function, which is what you're testing.

[2018-07-07 18:00] ljharb commented on #208
@FDiskas if they read my comment, and end up in actual places that provide typescript help, they'll be much better off than if they get an answer to one off-topic question here.

[2018-07-07 18:01] #1486 closed

[2018-07-07 18:04] #1487 closed

[2018-07-07 18:05] rahamin1 commented on #1066
@ljharb what is someFakeEventObject? A mock function?

[2018-07-07 18:07] #1493 closed

[2018-07-07 18:09] ljharb commented on #1495
Yes, I think anything that pretends or implies that it handles events (like simulate does) is harmful unless it faithfully does what events do.

Absent that, I think explicitly using the full prop name is the best approach.

[2018-07-07 18:09] #1495 closed

[2018-07-07 18:10] ljharb commented on #1505
If you're getting a propType warning, your component graph is invalid - so the first step is always to fix those warnings.

[2018-07-07 18:10] #1505 closed

[2018-07-07 18:11] #1475 closed

[2018-07-07 18:30] ljharb commented on #1570
@Sinha06 every time you call `.dive()` you create a new wrapper. You'll need to do `const wrapper = component.dive()`, and then all all those methods on `wrapper` instead.

[2018-07-07 18:30] #1570 closed

[2018-07-07 18:30] ljharb commented on #1570
Happy to reopen if there's a need.

[2018-07-07 18:31] ljharb commented on #1572
I'd suggest avoiding `simulate` entirely, since it doesn't faithfully simulate anything. Instead, explicitly invoke the prop function you want.

[2018-07-07 18:31] #1572 closed

[2018-07-07 18:33] ljharb commented on #1578
Since `fa fa-ban` are invalid selectors, this seems correct.

There's been some selector improvements on master since this was filed; I'm going to close this, but am happy to reopen if a valid selector isn't working.

[2018-07-07 18:33] #1578 closed

[2018-07-07 18:34] #1584 closed

[2018-07-07 18:35] #1587 closed

[2018-07-07 18:37] ljharb commented on #1618
Happy to reopen when more info is provided.

[2018-07-07 18:37] #1618 closed

[2018-07-07 18:37] #1632 closed

[2018-07-07 18:38] ljharb commented on #1709
This is a tricky one - specifically, it wouldn't ever work in `shallow`, only in `mount`, and only if the DOM implementation allowed this to be detected (i think some browsers don't, and I'm not sure if jsdom does or not).

[2018-07-07 18:39] ljharb commented on #1692
Closing, since #1192 is merged.

[2018-07-07 18:39] #1692 closed

[2018-07-07 18:40] ljharb commented on #1708
I think that's the correct behavior - `didMount` runs *after* the mount, and although `mount` is calling that method, it should be returning the tree prior to DidMount - ie, when it's mounted.

If you add `wrapper.forceUpdate()` instead, does that work?

[2018-07-07 18:41] ljharb commented on #1066
@rahamin1 no, it's an object, that's pretending to be an event object (the thing an event handler would get as its last argument)

[2018-07-07 20:46] craigkovatch commented on #1632
@ljharb this is a very confusing response. Why does the method exist at all then?

[2018-07-07 21:58] nelsyeung commented on #1505
Thank you for your _detailed_ explanation, as usual. I have now asked this on stackoverflow so that some light can actually be shed on this problem: https://stackoverflow.com/questions/51227180/why-enzyme-gives-failed-prop-type-on-a-decorated-child-component

[2018-07-08 00:00] ljharb commented on #1632
@craigkovatch the method exists because react-test-renderer's shallow renderer had a "simulate" option, at the time enzyme was first created.

It still exists because it wasn't until v2 that it became abundantly clear that it's a terrible method, and it wasn't removed in v3 because we wanted to make the migration to v3 as easy as possible. However, whenever a v4 comes around, it will be removed fo

[2018-07-08 00:02] ljharb commented on #1505
@nelsyeung i'm not sure why you needed to add "as usual". I'm triaging hundreds of issues right now, so it's pretty reasonable not to write a full paragraph every time I have a response.

enzyme is not giving this error, since propType warnings only ever come from React. Thus, if you're getting this error, it's a bug *in your element code* inside your tests.

PropType warnings can be masked by sha

[2018-07-08 00:03] ljharb commented on #1228
@lobsterkatie thanks - could you provide your entire component code, and the code that creates `wrapper`? That should be sufficient for me to fix it.

[2018-07-08 00:55] lobsterkatie commented on #1228
Thanks for looking into it. Based on a suggestion above, I have gotten it working using

[code]

The code that creates the wrapper is here:

[code]
The component I was trying to find is here: https://github.com/getsentry/sentry/blob/master/src/sentry/static/sentry/app/components/confirm.jsx

So, it seems to be working fine using a two step `.find` then `.filterWhere` rather than a straight `.findW

[2018-07-08 01:21] ljharb commented on #1228
Hmm - so, I think that's probably because the `find` is filtering down such that the remaining results are guaranteed to be objects - if you try `.findWhere(n => n && n.type === 'Confirm' && n.contains('Convert to Sponsored'))`, does it work?

[2018-07-08 05:17] lobsterkatie commented on #907
Not 100% sure I was having a problem for the same reasons as those above, but a "gotcha" I ran into vis-à-vis this issue: once you simulate the click, you have to look _in the mounted component_ (not in any filtered subcomponent) to see the changes. This is what was tripping me up (sending me searching and finding this issue), so I'm leaving a word to the wise here in case others run into the same

[2018-07-08 05:33] ljharb commented on #1574
@callumlocke when looking into this, I realized that we already have a `.map` method - so you can already do `wrapper.map(x => x)` and you'll get the array you want.

Does this address your use case?

[2018-07-08 05:59] ljharb commented on #1444
@dallonf it does seem like you could do this to cover your use case:
[code]

Of the three cases above, this seems somewhat straightforward for the second.

I'm trying to weigh a few options:
 - a new entry point, alongside shallow/mount/render, that wraps a standalone element
 - an option to `shallow` that does the same
 - an instance method on ShallowWrapper that takes a prop name, and a list of

[2018-07-08 07:10] pronebird commented on #1434
@ljharb makes sense! Thank you! 🙏

[2018-07-08 13:07] dallonf commented on #1444
The example you gave works in most scenarios, but I've seen some RPCs take a single argument as input instead of a props object, so you couldn't use the functions directly as components. In those cases, `shallow(React.createElement(() =>render(/*input*/))` works fine - albeit a bit verbose.

Of the options you mentioned:

This is more or less how I treat my workaround function (which can be implem

[2018-07-08 14:30] dan-manges commented on #1436
We're currently using enzyme with React Native by using jsdom and stubbing all of the native components: https://blog.joinroot.com/mounting-react-native-components-with-enzyme-and-jsdom/

[2018-07-09 00:07] mddrill commented on #692
I am experiencing this issue with jest-enzyme 6.0.2 and enzyme 3..3.0 (according to npm outdated these are the latest versions). The `shallow(<div>{fooChildren}</div>).text()` thing worked as a workaround.

[2018-07-09 05:30] #1690 closed

[2018-07-09 09:41] LotfiMEZIANI commented on #1691
Exactly, my question is can I do this test while keeping my handler declared as an arrow functions in class fields.

@ljharb

This is one of the ways to declare a handler in react. it's mentioned in the official documentation, if I'm not mistaken : https://reactjs.org/docs/faq-functions.html

Thanks

[2018-07-09 10:35] mountaincows commented on #1694
I too am struggling with this issue, however when I remove the validationSchema from Formik, it works... But I can't seem to get it to work with validationSchema, very strange :/

[2018-07-09 12:10] rbrahul commented on #1560
@saifulss  is your Mybutton component is wrapped with higher order component which deals with Context API?

[2018-07-09 23:38] mmcgahan commented on #1213
For anyone who finds this issue and is using `enzyme-to-json` for Jest snapshots, it supports `React.Fragment` as of version 3.3.0 - you may be able to fix some issues with fragment support by upgrading that package.

[2018-07-10 08:03] Anupheaus commented on #1357
Hi both, nothing personal but I'd have to disagree with you.  When you are testing, you are generally testing a specific bit of functionality, not the whole thing, in fact most of the time you specifically *don't* want to test the whole thing in one test.  Using simulate, yes you aren't getting the surrounding events, but I think this is right.  If you were to simulate a "click" event, why should

[2018-07-10 08:34] LotfiMEZIANI commented on #1691
Thanks :+1:

[2018-07-10 18:20] brenthosie commented on #1413
@ljharb Unfortunately this was still a problem for me when using `findWhere`, but I found a way around it using the `.find` syntax. This specific issue has been off my radar for some time.

[2018-07-10 21:15] ericsoco commented on #1708
`TypeError: wrapper.forceUpdate is not a function` :`(

I hear what you're saying, but because `componentDidMount` is called synchronously by `mount()` (i.e. before any subsequent assertions or `.find()` calls), my expectation was that the wrapper would contain the component state as of the end of the `mount()` call stack.

Whether or not it ends up being correct behavior, I can't use Enzyme selec

[2018-07-10 23:14] lobsterkatie commented on #645
I'd like to second point 2) of @melinath 's post above - `key` is _exactly_ the kind of thing which we _should_ be able to select on, since the use case for wanting to search on it (you have multiple instances of the same component) is precisely the same case in which react forces you to have it (and forces it to be unique, making it a good selector).

It would great if enzyme would reconsider thi

[2018-07-10 23:20] lobsterkatie commented on #1228
Unfortunately, no. Nor does

`wrapper.findWhere(n => n.key() === 'convert-to-sponsored').simulate('click');`

(I get `Method “key” is only meant to be run on a single node. 0 found instead.`) nor

`wrapper.findWhere(n => n && n.key() === 'convert-to-sponsored').simulate('click');`

(I get `Method “simulate” is only meant to be run on a single node. 0 found instead.`)

[2018-07-10 23:40] ljharb commented on #1357
@Anupheaus the problem is that `.simulate('click')` does not actually simulate a click event - if it *were* doing that, it'd be great, but it doesn't work that way.

Your tests don't need to test that react and the DOM are working properly - that's for React, and browsers, to test. Your tests should be testing your code.

In other words, I think we're somewhat agreeing - a proper simulate would be

[2018-07-10 23:41] ljharb commented on #1413
@brenthosie if you come across the problem again, getting a test case would be helpful.

[2018-07-10 23:43] ljharb commented on #645
@lobsterkatie per https://github.com/airbnb/enzyme/issues/645#issuecomment-375730611, you can already do this - just using findWhere, not find.

[2018-07-10 23:46] ljharb commented on #1228
In the first place, that suggests that `n` is sometimes an empty node, so you'd want to filter like `!n.isEmpty() && n.key()` etc; for the second one, i'm surprised that you wouldn't get the same error.

If you console.log `n` inside the findWhere, do you see the node you're trying to locate?

[2018-07-11 10:58] ipraveen commented on #907
@protoEvangelion
Not sure, why you have closed this issue, I can only see some workarounds here.
I have more than 200 test cases written using the mount, I can't replace them with shallow now.
I believe this "Bug" is still there.

[2018-07-11 15:09] joshuanutmeg commented on #1602
Is this going to be release soon?

[2018-07-11 15:54] joshuanutmeg commented on #1602
please :)

[2018-07-11 16:09] ljharb commented on #907
@ipraveen simulate has only ever been designed to be sugar around invoking a prop function - it’s simply badly named. Can you file a new issue if you’re still having trouble with something other than simulate?

[2018-07-11 20:39] ndeen86 commented on #67
@trusktr My scenario to test, Am I given the right state property name to the input element's value attribute. like, i have my state property name as "firstName", but i specified as `<input type="text" value={**this.state.fName**}`. Will this make sense to test the above case

[2018-07-11 21:07] ljanssen5 commented on #1694
Just ran into this myself.  Was able to get it working using setImmediate

[code]

[2018-07-11 22:38] lobsterkatie commented on #1228
Okay, I console.logged and the element was in fact there. I then tried `!n.isEmpty() && n.key()`, which I then changed to `n.exists() && n.key()` (since I got a bunch of warnings about `isEmpty()`), and now it's working. Yay! Thank you!

The part I don't understand is... how is `n` ever non-existent? If it doesn't exist, why/how is it even in the list to get checked?

[2018-07-12 05:34] chidananda-mn opened #1712 "Not able to read state properties using wrapper.state('notification') or wrapper.state().notification"
**Describe the bug**
I am new to react and trying to test one of the state properties using wrapper.state('notification') and am getting error like TypeError: Cannot read property 'notification' of null and want to know why my state properties are not identified.
[code]
find my LoginRegister as below

[code]

[2018-07-12 08:19] joshuanutmeg commented on #1600
Can this get released? Having issues with getDerivedStateFromProps being run using react 16.4.1 and enzyme-adapter-react-16 1.1.1

[2018-07-12 09:33] dupski commented on #1705
For anyone that wants to give the standard [react-test-renderer](https://reactjs.org/docs/test-renderer.html) a try, to get around this problem, I've just written up a medium article with some learnings on how to get started with it (the docs aren't that great!):

https://medium.com/@dupski/d9c65d689e88

[2018-07-12 14:45] ljharb commented on #1705
The release will be as soon as possible; hopefully this or next month. I’d discourage migrating your tests to use the same APIs that motivated the creation of enzyme in the first place.

[2018-07-12 16:04] jeremenichelli opened #1713 "Can't find a styled component when use as constructor"
**Describe the bug**
When a _styled-component_ is used as base for another component, `enzyme` doesn't find the inner component when when it's rendered.

**To Reproduce**
Steps to reproduce the behavior:

Given this component in a reduced case:

[code]

Then on the test:

[code]

The `length` is `0` when it should be `1`.

I'm submitting this here and not in other tooling because when using `react

[2018-07-12 17:49] monkey3310 commented on #1314
Hey, right now we moved things around, but seems like the problem is still there, although right now its with `<i>` tag.

Here is more-less html output of the component we are working with:
[code]
There is a simple test with `shallow` render and only one of those assertions works:
[code]

We are using
`enzyme@=3.3.0`
`enzyme-adapter-react-16@^1.1.1:`

[2018-07-12 19:43] dupski commented on #1705
I'd be interested in reading about the motivations for Enzyme (I've just always used it). Is there a write-up somewhere?

The test renderer seems to be incredibly fast, although could just be my new MacBook :)

[2018-07-12 22:07] Anupheaus commented on #1357
@ljharb Ah sorry, from the issue comments above it implies that it is only "simulating" the surrounding events that is not working, not `simulate` itself - my mistake.  If simulate does not work at all then why has it not yet been removed from the repo?

I agree that you don't need to test react and the DOM and I wasn't suggesting that.  I also agree that your tests primary purpose should only be

[2018-07-12 22:44] ljharb commented on #1357
@Anupheaus we didn't realize `simulate` was bad until v2; we didn't remove it in v3 so as to minimize the pain of migrating from v2 to v3. Whenever a v4 comes out, `simulate` will be gone, with prejudice.

[2018-07-13 12:00] jeremenichelli commented on #1713
Closing it since replacing `shallow` with `mount` solves it. I think that the documentation is nice, but might need some gardening to understand better these combinations before hand.

[2018-07-13 12:00] #1713 closed

[2018-07-13 15:22] ljharb commented on #1713
There’s no Iconv2 being rendered by TestComponent though - it renders a WrappingComponent only. Shallow rendering is shallow.

[2018-07-13 20:00] Acidfabric commented on #1400
[code]

[code]

[2018-07-14 02:03] joeldenning commented on #1647
+1 I'm seeing the same problem.

[2018-07-14 09:17] joetidee opened #1715 "Where to configure the adpater?"
In the docs you have this line:

[code]

Is this done in every test file that uses enzyme, or somewhere central in my application that detects the dev environment?

[2018-07-14 14:13] ljharb commented on #1715
That really depends on your choice of test framework - most offer some kind of “setup” or “harness” file that they’ll run for you; otherwise, you’d have to do that setup in every test file (requiring/importing a common harness file).

[2018-07-14 14:13] #1715 closed

[2018-07-14 16:08] joetidee commented on #1715
So for Jest, this would be in the `jest.config.js` file?

[2018-07-14 22:35] ljharb commented on #1715
For jest, the option is called `setupTestFrameworkScriptFile`

[2018-07-15 20:00] raduolivas commented on #1284
It doesn't work for me

[2018-07-16 08:39] Quadriphobs1 commented on #1283
@Igandecki tried that but keep getting ShallowWrapper::instance() can only be called on the root

[2018-07-16 20:45] BenLorantfy commented on #1509
Could you not setup some continuous integration to publish release candidates on every commit?

[2018-07-16 22:32] ljharb commented on #1509
@BenLorantfy i could, sure - but even if i thought auto-publishes from "not a human" were ever a good idea, that would mean i have a much higher number of versions people would be filing bugs about, which exacerbates the very problem I'm trying to avoid by delaying publishing now.

[2018-07-17 00:34] kush-patel-hs commented on #1509
would love to hear if there is update on publishing or if can help in any way @ljharb, I ran into this issue today

[2018-07-17 09:07] bvanderdrift commented on #1619
I don't remember the actual code I had written for this. We currently don't have the test anymore. This example was very minimized, which is why it might look a bit weird, but could as well that I had written a very redundant test.

Thanks for the explanation, I guess the props different behaviour on instance and the object itself was confusing for me.

[2018-07-17 21:49] ljharb commented on #1712
I see you're doing `.simulate('click')`, but I don't see any `onClick` in your code. Perhaps you meant `change`? What does the code for `Login` look like?

Either way, `simulate` should be avoided - it doesn't faithfully simulate anything, and is mostly just sugar for directly invoking a prop function.

I also notice that your `notifications` state is being set asynchronously, in a promise - but y

[2018-07-17 22:47] #1628 closed

[2018-07-17 22:47] ljharb commented on #1628
This seems fixed in master; #1711 has passing tests.

[2018-07-17 23:14] ljharb opened #1716 "`setProps`: fix callback support"
See https://github.com/airbnb/enzyme/compare/setProps and https://travis-ci.org/airbnb/enzyme/builds/406918917 for the failing tests, on basically all react versions.

A PR that makes these tests pass (or corrects them, if they're wrong) would be greatly appreciated!

[2018-07-18 13:58] karolisgrinkevicius opened #1717 "Enzyme Internal Error: unknown node with tag 14"
Getting `Enzyme Internal Error: unknown node with tag 14` where `mount` is used on cloned element node. For instance:

[code]

**_Update_**
After `grid-styled` reverted to `4.1.1` seems to be working fine.

**Versions**
* grid-styled `5.0.2` ☢️
* styled-system `3.0.1`
* react `16.4.1`
* jest `23.4.1`
* enzyme `3.3.0`
* enzyme-adapter-react-16 `1.1.1`
* enzyme-react-intl `2.0.0`
* enzyme-to-json `3

[2018-07-18 14:22] EvgenyW3 commented on #1233
For me the problem with .find() was because of wrapping a component with <React.Fragment>. Changed it back to <div> and that did the trick. Seems like Enzyme 3.3.0 doesn't like React.Fragment

[2018-07-18 15:17] jeremy-brooks commented on #814
this would work like a charm if my component didn't contain a "Link" component, it requires that it is wrapped in a router to render. So it is currently impossible for me to render the component and then access its state in a test as it will always be a child node.

[2018-07-19 00:33] ljharb commented on #1717
Hmm, that's a new one, thanks. I'm not sure if that's an issue confined to React 16 or not - it's possible that nobody's ever tried to directly mount or shallow-render a cloned element before :-)

[2018-07-19 00:36] ljharb commented on #1228
@lobsterkatie I believe `{null}` can render something like that?

[2018-07-19 02:49] elowes commented on #1505
@nelsyeung If you are including your plugins manually and using @babel/plugin-proposal-class-properties, make sure that @babel/plugin-proposal-decorators comes before @babel/plugin-proposal-class-properties.

[2018-07-19 06:10] karolisgrinkevicius commented on #1717
At least I’ve tried and it was actually working fine before. 👌🏻

[2018-07-19 07:58] callumlocke commented on #1574
I guess so, that's good enough for me. Thanks.

[2018-07-19 17:48] nelsyeung commented on #1505
@elowes That is absolutely beautiful and it kind of makes sense as well. Thank you very much for this. I'm glad someone else found this issue.

[2018-07-19 18:03] kevbost commented on #1633
@sintloer What was your solution?  Because I'm facing the same problem, and this thread could help be a solution for a lot of people.

Relevant: https://xkcd.com/979/

[2018-07-19 23:52] #1574 closed

[2018-07-20 08:45] jabujavi commented on #361
@fallanic Thanks you very much.
It works for me.
Trying to use .instance() in a wrapper test.

[2018-07-20 08:51] geobalas opened #1719 "Feature Request: Pointer events"
Hello!

It would be really nice to have support for pointer events as they have been implemented for react.
https://reactjs.org/blog/2018/05/23/react-v-16-4.html

Thanks!

[2018-07-20 13:48] d-e-p commented on #1233
@StefanoSega I had similar problem. I have component written in pure JS that inserts html inside React component. After component mount, I'm using render method before find and it works as expected. Example:
`
const wrapper = mount(<Provider store={store}><Units /></Provider>);
const nodes = wrapper.render().find('.unit').length);
`

[2018-07-21 00:35] juanca commented on #1368
This is too long ago to pull out the relevant code.

However, it should be pretty straight-forward React + Enzyme usage.

[code]

and

[code]

---

I think since then I have realize that the behavior was intentional:

The component returns a virtual node that does not have the `errorMessage` property. But the instance of the component. Essentially: virtual node != component instance

Hope that cle

[2018-07-21 02:36] chenshuai2144 commented on #765
Have the same problem, ignoring transform: translateX(100%);
But using render is fine.
@ljharb

[2018-07-21 05:44] ljharb commented on #765
@chenshuai2144 please file a new issue with the component code and the test code.

[2018-07-21 05:45] ljharb commented on #1368
Indeed, that's right - `.props()` should return the passed-in props, *not* the props the instance sees.

[2018-07-21 05:45] #1368 closed

[2018-07-21 05:52] ljharb commented on #1719
Presumably you mean in `.simulate`? I'm fine to add this, but please note that simulate should be avoided, since it doesn't actually faithfully simulate anything.

[2018-07-21 16:20] chenshuai2144 opened #1720 "Enzyme mount ignore transform css property"
[code]
Using npm and yarn will produce different results,
but use `render` performance is perfect

[2018-07-21 22:37] guidosreis commented on #388
I was facing the same issue, and using shallow(<Parent><Child /></Parent>).find(Child).dive() worked just fine.
Thanks a lot!

[2018-07-22 05:29] joonhocho commented on #1637
@paneq You can also delete yarn.lock and run yarn again.

[2018-07-22 07:18] paneq commented on #1637
@joonhocho Please see this comment https://github.com/airbnb/enzyme/issues/1637#issuecomment-396141921 and try to recall why we use yarn and yarn.lock in the first place? Perhaps to remember all locked versions of packages which get lost when you remove yarn.lock ?

[2018-07-22 14:34] WalterWeidner commented on #645
One issue I ran into using the `findWhere()` approach is that you will get errors when the current node isn't an element. I just wrote a function to check for that though.

[2018-07-22 17:37] ljharb commented on #645
@WalterWeidner `n && n.whatever` should handle that?

[2018-07-22 22:08] #1716 closed

[2018-07-23 14:14] floodico opened #1722 "Can't check if form submit works"
Hello!
I want to test my registration form submit, but can't check if submit handler is called.
Here is my form:

[code]

There is my test:
[code]

I get FAIL - **Expected mock function to have been called.**

### debug()
I use mount because i can set props and this is how looks wrapper.debug():

[code]

[2018-07-23 15:05] emuraton commented on #1722
Hey @floodico,

I think you need to get the form element in order to simulate something on it (right now you're on `SignupForm`).
Also I dont understand why you give your mocked function, inside `simulate` function.

What about?

`it('submit works', () => {
    const submit = jest.fn();
    const wrapper = mount(<SignupForm onSubmit={submit}/>);
    const form = wrapper.find('form');
    form.simu

[2018-07-23 16:20] ljharb commented on #1722
You don’t have to test if onSubmit works - that’d be testing React itself, and the browser, which isn’t your concern.

All you have to test is that the form has an `onSubmit` prop, that when invoked (explicitly, not using simulate) does what you expect.

Separately, I’d need to see your component code to be sure how to recommend testing that.

[2018-07-23 21:54] octalmage commented on #823
@Glaadiss if you were to log the result of `wrapper.simulate("click");`, I suspect you would not find a promise. Which is what @dan-teitsort was trying to say.

[2018-07-24 07:29] wojtekmaj commented on #1206
Hello @ljharb,
The problem remains - form elements have checkValidity method undefined. But now with a little more knowledge I think it might be an issue with JSDom and not Enzyme.

[2018-07-24 07:30] wojtekmaj commented on #1206
For the future wanderers: workaround in #374

[2018-07-24 08:19] floodico commented on #1722
Hello @emuraton!
You are right, it's not enzyme issue. But i did not know how to pass mocked function into form.
Actually i need  to give my mocked function inside ```simulate``` function, cause i expect it will be called.

Hey @ljharb!
All i wanted to test is that my mocked ```submitHandler```(which is setted to ```onSubmit``` prop) is called at submit simulation.

### How this worked
Now i set m

[2018-07-24 15:40] ljharb commented on #1722
@floodico right, you don't need to test that - React and the browser will be sure it's called. All you need to assert is that the `onSubmit` is set to the function you expect, and that the function you expect behaves the way you expect.

So, in your case, all you need to do is `wrapper.prop('onSubmit') === submit`, and you've tested everything about that that you need to for `SignupForm`.

[2018-07-24 20:58] KaiHotz commented on #1620
Did this fix get released yet ? i still have this problem on Enzyme v3.3.0 with enzyme-adapter-react-16 v 1.1.1

[2018-07-24 22:44] ChuckJonas commented on #1509
Still no update on this one?

[2018-07-24 22:46] ljharb commented on #1509
Not yet, things are in progress. Please be patient.

[2018-07-24 22:47] ljharb commented on #1620
No, not yet. Please be patient.

[2018-07-25 09:24] chris-peerman opened #1723 "Can another version of enzyme-adapter-react-16 be released soon?"
**Is your feature request related to a problem? Please describe.**
My project is using the createContext API however the current version of enzyme-adapter-react-16 (version 1.1.1) released back in December doesn't support the createContext API, so I get the error `Enzyme Internal Error: unknown node with tag 13`. The current version on master seems to work fine. Also found it a bit odd that there

[2018-07-25 12:10] DZuz14 commented on #365
Peeps, its easy as this,

[code]

I refuse to write bind this like an absolute heathen everytime. Keep pushing forward people!

[2018-07-25 17:16] ljharb commented on #1723
Can it be released soon? Yes, as soon as it's ready.

We're likely going to need to split it up into multiple adapters - like how React 15.0-15.4 has a different adapter than ^15.5 - and figuring out those details is tricky.

[2018-07-25 17:16] #1723 closed

[2018-07-25 17:17] ljharb commented on #365
@DZuz14 requiring the forceUpdate is far messier than writing your component code properly solely because you presumably like the shininess of an arrow function in a class field.

Separately, don't use `renderFoo` methods - those should be separate SFCs.

[2018-07-25 19:50] ZChenzy commented on #326
This is my minimally reproducible test:
`describe("test", ()=>{

    let text = "Hello\nworld\nI\nam\nme"
    class Test extends React.Component<any,any>{

        render(){
            return <span>{text}</span>
        }

    }

    let wrapper = shallow(<Test/>)

    it("should return the correct text", ()=>{
        expect(wrapper.text()).toEqual(text)
    })
})`

` test › should return the co

[2018-07-26 01:04] lourenci opened #1724 "I can't select a node without .update()"
Do you guys know why I can't find an element that is showing up in `console.log`?

I'm having to `update` the component to pass this test.

Test:
![image](https://user-images.githubusercontent.com/2339362/43235231-3cb2311e-9056-11e8-8d51-0a8d42cc13ae.png)

Result:
![image](https://user-images.githubusercontent.com/2339362/43235210-1e8d68e8-9056-11e8-8349-ccb88591dbbf.png)

[2018-07-26 06:08] ljharb commented on #1724
`.html()` calls `render` - what does `subject.debug()` output?

[2018-07-26 11:11] lourenci commented on #1724
@ljharb
![image](https://user-images.githubusercontent.com/2339362/43258952-0e5b65f6-90ab-11e8-8ed9-fa66bc8b2ff9.png)

Now, let me call `update` before the `expect`:
![image](https://user-images.githubusercontent.com/2339362/43259112-87ea27b8-90ab-11e8-8ecb-d732a8077f57.png)

The result:
![image](https://user-images.githubusercontent.com/2339362/43259058-62590762-90ab-11e8-9a17-c896393f5448.png)

[2018-07-27 03:46] franciscop-invast commented on #703
That looks great, has it been published to npm? I updated Enzyme to search for `:first-child` but I'm still seeing the same error.

[2018-07-27 05:56] ljharb commented on #703
enzyme has not yet been updated, no. it will be updated as soon as possible.

[2018-07-27 07:16] hansiemithun commented on #1581
Sorry, i read the complete blog and with some guarantee that i might get an solution to my problem which is very similar to this and posted in: https://stackoverflow.com/questions/51550520/testing-promise-functions-in-jest

In my example, the props are bind with `mapStateToProps` from redux and not passing to component. So, please help me how to cover this scenario. I am new to React and Jest. Tha

[2018-07-27 10:49] emuraton commented on #1724
Does your `AjaxLoader` has some logic inside `componentDidMount`?
It looks like your component cant work without this part.

If so its probably related to https://github.com/airbnb/enzyme/issues/1708

[2018-07-27 10:53] lourenci commented on #1724
@emuraton no, this component doesn't have the `componentDidMount` method.

[2018-07-27 14:20] yoloOnTheBattlefield opened #1728 "Can't assert that methods are being called"
**Describe the bug**
A clear and concise description of what the bug is.

I'm trying to check if two methods are being called from componentDidMount. The first method gets called and it's successful, but the second one fails. If I try testing just the second method it fails as well. I have to mention that I'm not using arrow functions and I'm binding in the constructor.

The following is an exampl

[2018-07-27 14:22] AdamZaczek commented on #1717
I also have this issue when using `5.0.2`

[2018-07-27 21:20] ljharb commented on #1717
@karolisgrinkevicius can you be more specific on "before"? do you mean in enzyme 2, or in react 15 with enzyme 3, or in an earlier version of the react 16 adapter?

[2018-07-27 21:21] ljharb commented on #1728
Can you share the `Component` code?

[2018-07-27 21:21] ljharb commented on #1724
Yes, you still have to call `.update()` - `mount` doesn't mean that the wrapper updates itself automatically.

[2018-07-27 22:29] karolisgrinkevicius commented on #1717
@ljharb could you please be more specific? I'm actually looking for the concrete solution to solve this.

[2018-07-28 08:48] karolisgrinkevicius commented on #1717
I actually created an issiue in *grid_styled* as well to make sure this could be solved a bit quicker. If it’s nothing that enzyme can do with you can probably close this issue. Thank you for the clarification @ljharb ! 👍🏻

[2018-07-28 13:52] ljharb commented on #1717
We should be able to mount cloned elements.

[2018-07-28 13:55] ljharb commented on #1717
I just realized this probably has nothing to do with cloning; can you try to mount `node` itself? Can you share more of the test code from the OP?

[2018-07-28 19:33] thescientist13 commented on #361
@fallanic
Which version of Enzyme is that for?  Doesn't seem supported for me in  v3.

[2018-07-30 04:39] bdwain commented on #1341
Hm. The component I was referencing looks like this.

[code]

and the test is able to do this

[code]

[2018-07-30 05:12] ljharb commented on #1341
That works because you've shallow-rendered the *div* - in other words, `footer.find(Button)` is a noop, because `footer.is(Button)` (`footer.debug()` will confirm)

[2018-07-30 05:16] bdwain commented on #1341
Ah that makes sense. Thanks for clarifying.

Regardless though, I still think original request of shortcutting a way to execute props would be a nice thing to have.

[2018-07-30 07:03] karolisgrinkevicius commented on #1717
@ljharb please see the code below to reproduce this issue using `grid-styled@5`. The code below simply does mounting with providers to avoid a lot of mocking data in components specs.
[code]

Then you can basically do this:

[code]

[2018-07-30 07:06] ljharb commented on #1717
(`import * as React` is categorically incorrect; if you're using TypeScript and it's forcing you to do that, it's broken and violates the spec, and you need the synthetic imports option)

Thanks, that clarifies things - that means it's definitely not cloning, it's potentially something grid-styled is doing.

[2018-07-30 07:10] karolisgrinkevicius commented on #1717
Could you please clarify what this means?

[2018-07-30 07:11] ljharb commented on #1717
Yes; Typescript has broken behavior for many versions where `import * as` was needed to bring in CJS modules, but the spec requires that `import * as` bring in a frozen Module namespace object. `import React as 'react'` is the *only* thing that is correct, ever.

[2018-07-30 09:15] karolisgrinkevicius commented on #1717
I also took a try without cloning a node itself and passing it directly to mount but result is the same.

[2018-07-30 09:19] yoloOnTheBattlefield commented on #1728
Yep, I created this gist.
https://gist.github.com/yoloOnTheBattlefield/cee577e11435ea063d83ca34974e0901

[2018-07-30 18:06] ljharb commented on #1728
@yoloOnTheBattlefield do note that https://gist.github.com/yoloOnTheBattlefield/cee577e11435ea063d83ca34974e0901#file-component-js-L51 is meaningless - forEach doesn't wait on promises, and it doesn't return one, so there's nothing to await. I suspect that the misuses of `await` (on things that aren't promises) are highly related here.

[2018-07-30 18:10] ljharb commented on #1717
Thanks, that clears up that it's not related to cloning.

Tag 14 is a ForwardRef - this will be resolved by #1592, and is a duplicate of #1604

[2018-07-30 18:10] #1717 closed

[2018-07-30 20:33] mspoerer commented on #1509
Any news on this topic?

[2018-07-31 12:42] tzvipm commented on #1689
@ljharb I apologize for the delay in replying to the above.

In order to accomplish what I'm suggesting, I believe we'd need to store a global reference to each mounted node. Thus, if the user never calls the global unmount hook, we'd end up saving those references indefinitely, worsening the existing problem.

Because of this, I believe that we should consider making the mount tracking feature an

[2018-07-31 22:45] dzearing commented on #1620
Sorry to ping here, but any ETA on the release? This is blocking a lot of people, I'd suspect. Basically we aren't able to move to the new context without breaking existing enzyme tests.

[2018-07-31 22:48] ljharb commented on #1620
No ETA just yet. I understand the frustration and that it's blocking many people, including Airbnb, from using many of React 16's new features.

It will be released as soon as it's ready.

[2018-08-01 06:30] char0n opened #1729 "License file missing in npm package"
Hello, is it possible to incorporate the LICENSE file inside the npm package ? Now it's missing. It's implied by MIT license that if licensed under the MIT the source code must be accompanied by full license text. If the license file is not in the npm package a lot of people cannot use it.

Thank you

[2018-08-01 06:31] ljharb commented on #1729
Which package? This repo has 10.

Personally I think that the SPDX field in package.json is more than sufficient, but I suppose we can include the license file. Either way, nobody distributes enzyme - so the lack of a license file shouldn't actually impact anyone's ability to use it.

[2018-08-01 06:55] #1729 closed

[2018-08-01 06:56] char0n commented on #1729
Hi,

Sorry for not being specific enough.

enzyme-adapter-utils

The thing is that you distribute the code with npm and this code is not accompanied by the full license text. That is a real problem in legal perspective. Even though we're not distributing it, we cannot use it becase we're just missing a license.

[2018-08-01 06:59] ljharb commented on #1729
That would be an issue for *npm*, sure, but it's not a legal issue for someone who consumes the package and does not redistribute it. Certainly your lawyers might be paranoid, but there's zero legal obstacle for you if you're not redistributing the package.

At any rate, the next time any of these packages is published, they'll have the license file included.

[2018-08-01 06:59] biin commented on #944
@iwllyu  Thank you.
You save my life. result.instance().forceUpdate() worked as a charm.

[2018-08-01 14:08] the-spyke commented on #1553
So, how Airbnb managed to survive all those months? Not using any React 16 features? Creating temporary hacks in tests?

[2018-08-01 17:46] nhunzaker commented on #1620
@ljharb just chiming in to say thanks for taking the time to do it right. Enzyme is an amazing library!

[2018-08-01 20:18] vikas199 commented on #1331
adding hostnodes() says that hostNode() is noy a function

[2018-08-02 06:51] ljharb commented on #1331
@vikas199 it's `hostNodes()`, not `hostNode`.

[2018-08-02 06:52] ljharb commented on #1689
Making it opt-in seems like it's worth exploring a PR for.

[2018-08-02 06:52] ljharb commented on #1553
@the-spyke not using any React 16 features - we don't use things we can't test.

[2018-08-02 07:04] the-spyke commented on #1553
@ljharb Which means Airbnb has no need for updated Enzyme. Sounds like chicken-egg problem :-) Thanks for the answer -- now I know what to do.

[2018-08-02 07:25] ljharb commented on #1553
@the-spyke on the contrary; we have a huge need for it, and are dying to use the new React features. "Need" doesn't directly translate to "available time to work on it", however, which is why it's taken this long. However, now we have two engineers spending actual roadmap time on it, so there will be a release soon.

[2018-08-02 08:29] Lezlee85 commented on #374
The Jest docs suggests [mocking methods which are not implemented in JSDOM](https://jestjs.io/docs/en/manual-mocks#mocking-methods-which-are-not-implemented-in-jsdom). I think this is a cleaner solution than polluting your environment because of tests.

My solution was to mock the native implementation of `DOMTokenList`

[code]
Then I used that to pass data to the event handler

[code]
Only proble

[2018-08-02 09:34] yoloOnTheBattlefield commented on #1728
Hey, I removed everything from the body of those methods, still the same issue with it. Thank you for your response!

[2018-08-02 13:16] tzvipm commented on #1689
I'll put up a PR shortly. Thanks for your help @ljharb. I may need a bit of help on the docs side of things as well, as this is my first PR for `enzyme`.

[2018-08-02 15:22] Lezlee85 commented on #374
The Jest docs suggests [mocking methods which are not implemented in JSDOM](https://jestjs.io/docs/en/manual-mocks#mocking-methods-which-are-not-implemented-in-jsdom). I think this is a cleaner solution than polluting your environment because of tests.

In my specific case, I needed to validate a form and then inspect the `classList` of the form for the presence of a certain class, the presence of

[2018-08-02 15:23] Lezlee85 commented on #1206
The Jest docs suggests [mocking methods which are not implemented in JSDOM](https://jestjs.io/docs/en/manual-mocks#mocking-methods-which-are-not-implemented-in-jsdom). I think this is a cleaner solution than polluting your environment because of tests.

In my specific case, I needed to validate a form and then inspect the `classList` of the form for the presence of a certain class, the presence of

[2018-08-02 18:06] msluther commented on #1620
@ljharb Is there an issue we can follow that isn't closed to check on the progress of a fix here getting published?

[2018-08-02 19:47] msluther commented on #1620
@ljharb Thank you! 😄

[2018-08-02 20:00] jumpinjan commented on #814
@dabit1   Thank you very much your tip worked like a charm for me too

[2018-08-03 00:53] ljharb commented on #1728
@yoloOnTheBattlefield can you provide an updated gist that includes both the component code and the tests?

[2018-08-03 04:50] tanveerctg commented on #910
@ljharb can you help me brother??i tried to solve this problem  10 different ways but still same problem

**Error: Method “props” is only meant to be run on a single node. 0 found instead.****
### AddExpensePage.js

[code]
**AddExpensePage.test.js**
[code]
**How can i solve this problem??thanks in advance**

[2018-08-03 04:56] ljharb commented on #910
@tanveerctg please file a new issue rather than reviving an old one; in your case, you want `wrapper.dive()` to get through the `connect` HOC.

[2018-08-03 13:50] yoloOnTheBattlefield commented on #1728
Component: https://gist.github.com/yoloOnTheBattlefield/75ac9f707f6bb4b391ab42ee80f19bf5
Test: https://gist.github.com/yoloOnTheBattlefield/b30ed791225ec2e628941dfd6ece1c6e
Props: https://gist.github.com/yoloOnTheBattlefield/1b2351cc32950ec6e6dcdcb609461b6a

[2018-08-03 20:39] nicoxxie opened #1731 "Cannot read property 'call' of undefined for configure adapter for Jest"
Thanks for reporting an issue to us! We're glad you are using and invested in Enzyme.
Before submitting, please read over our commonly reported issues to prevent duplicates!

### All common issues

* [common issues](../blob/master/docs/common-issues.md)

### Notoriously common issues

* [Webpack build issues](../blob/master/docs/common-issues.md#webpack-build-issues)
* [Cannot find module 'react-d

[2018-08-03 21:14] ljharb commented on #1731
Um, that makes no sense - `Object.prototype.toString` is `undefined`? Can you share your setup files?

[2018-08-03 21:16] ljharb commented on #1728
@yoloOnTheBattlefield that component code still has `await` used on non-promises, including the result of `.forEach`. Can you update that gist to remove that incorrect code, and also update the test gist to include the failure output?

[2018-08-03 21:20] nicoxxie commented on #1731
@ljharb We have two files  "setupFiles": ["<rootDir>/test/config/setup-test.js", "<rootDir>/test/config/setup-jsdom.js"]. First one is provided above:
[code]

This the second one:
I removed this file just to test, and nothing changes still the same error.
[code]

[2018-08-03 21:23] ljharb commented on #1731
yeah that shouldn't cause any problems. can you try console.logging `typeof Object.prototype.toString` in a few places before the error, and see if you can pinpoint where it goes undefined?

[2018-08-03 21:29] nicoxxie commented on #1731
@ljharb I think I narrowed the problem down.

[code]

log:
[code]

hmm, this doesn't make sense

[2018-08-03 21:30] ljharb commented on #1731
That's super crazy - in ancient IE, `toString` isn't allowed as a variable name, but that shouldn't apply to any version of node.

[2018-08-03 21:53] nicoxxie commented on #1731
Looks like `toString` is not reserved in javascript but is recommended to *avoid it*.
I'm thinking maybe jest think this is not node? Even if it's plain javascript it shouldn't be undefined... still investigating :(

[2018-08-03 21:59] nicoxxie commented on #1731
Looks like `toString` is not reserved in javascript but is recommended to *avoid it*.  I also changed the var name to toStringfn, looks like it is defined now.

[code]
[code]

I'm thinking maybe jest think this is not node? Even if it's plain javascript it shouldn't be undefined... still investigating :(

[2018-08-03 22:34] ljharb commented on #1731
I'm happy to update `define-properties` to use `for-each` instead of `foreach`, which i suspect won't have this problem (i maintain `for-each` and `define-properties`); it'd be great to get a repro case tho on https://github.com/ljharb/define-properties :-) (and then we can close this one)

[2018-08-03 23:39] ljharb commented on #1213
@danactive your original "failing test" will always fail - `.html()` always returns a string, and never `undefined`. Separately, the error you're getting is inside ReactDOMServer - can you confirm what versions of react and react-dom you're using?

[2018-08-05 06:31] #1664 closed

[2018-08-06 13:56] nicoxxie commented on #1731
I just tried renamed the function and ran the test, was able to by pass that specific error but ran into another `toString` related error.  Not sure if it's related, will debug a bit more before opening the issue, just incase it's something from my setup

[code]
and this is the code
[code]

[2018-08-06 15:47] ljharb commented on #1731
This really does seem like there's something odd in your setup :-/

[2018-08-07 07:26] ljharb commented on #1600
@koba04 we now have 16.1- and 16.2-specific adapters; if there's further changes needed, PRs are very appreciated.

[2018-08-07 19:38] maloguertin commented on #1153
Is this supposed to be fixed?

I have this code:
[code]
results:
[code]

[2018-08-07 21:11] ljharb commented on #1153
@maloguertin it's pretty hard to tell when you elide parts of the code; however it's likely that you need a `wrapper.update()` after you simulate the event. Separately, use `.debug()`, not `.html()`, since the latter does a full render.

[2018-08-08 05:47] ljharb commented on #1705
The following packages are now released:
 - [enzyme v3.4.0](https://www.npmjs.com/package/enzyme)
 - [enzyme-adapter-react-16 v1.2.0](https://www.npmjs.com/package/enzyme-adapter-react-16)
 - [enzyme-adapter-react-16.3 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.3)
 - [enzyme-adapter-react-16.2 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.2)
 - [enzyme-adapter-re

[2018-08-08 05:47] ljharb commented on #1702
The following packages are now released:
 - [enzyme v3.4.0](https://www.npmjs.com/package/enzyme)
 - [enzyme-adapter-react-16 v1.2.0](https://www.npmjs.com/package/enzyme-adapter-react-16)
 - [enzyme-adapter-react-16.3 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.3)
 - [enzyme-adapter-react-16.2 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.2)
 - [enzyme-adapter-re

[2018-08-08 05:47] ljharb commented on #1620
The following packages are now released:
 - [enzyme v3.4.0](https://www.npmjs.com/package/enzyme)
 - [enzyme-adapter-react-16 v1.2.0](https://www.npmjs.com/package/enzyme-adapter-react-16)
 - [enzyme-adapter-react-16.3 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.3)
 - [enzyme-adapter-react-16.2 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.2)
 - [enzyme-adapter-re

[2018-08-08 05:47] ljharb commented on #1553
The following packages are now released:
 - [enzyme v3.4.0](https://www.npmjs.com/package/enzyme)
 - [enzyme-adapter-react-16 v1.2.0](https://www.npmjs.com/package/enzyme-adapter-react-16)
 - [enzyme-adapter-react-16.3 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.3)
 - [enzyme-adapter-react-16.2 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.2)
 - [enzyme-adapter-re

[2018-08-08 05:48] ljharb commented on #1509
The following packages are now released:
 - [enzyme v3.4.0](https://www.npmjs.com/package/enzyme)
 - [enzyme-adapter-react-16 v1.2.0](https://www.npmjs.com/package/enzyme-adapter-react-16)
 - [enzyme-adapter-react-16.3 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.3)
 - [enzyme-adapter-react-16.2 v1.0.0](https://www.npmjs.com/package/enzyme-adapter-react-16.2)
 - [enzyme-adapter-re

[2018-08-08 08:57] the-spyke commented on #1553
`forwardRef` still doesn't work, by the way.

[2018-08-08 11:28] yoloOnTheBattlefield commented on #1728
I have updated the component code, and created a gist for the test output: https://gist.github.com/yoloOnTheBattlefield/5132c125ac375ec627c27c329930a275

Thank you!

[2018-08-08 12:43] gregnb commented on #1213
Looks like support for this just landed https://github.com/airbnb/enzyme/pull/1733 and now released :)

[2018-08-08 16:29] Mayank009 opened #1735 "Snapshot issue for Fragment"
Two different snapshots are getting generated using shallow for below component

**Component**:
`import React, { Component, Fragment } from 'react';
<Fragment>
	<Header location={location} matchUrl={match.url} />
	<section className="ps">
		<Switch>
			<Route path={`${matchUrl}/topics`} component={TopicsContainer} />
			<Route path={`${matchUrl}/people`} component={PeopleContainer} />
			<Route pa

[2018-08-08 17:35] Mayank009 commented on #1735
When I debugged component for both snapshots I got outputs as below.

Note: I used debug function as below
`const component = shallow(<AppLayout />);`
`component.debug();`

**Snapshot 1**
`<Symbol(react.fragment)><Header location={{...}} matchUrl="/practices/test_9995" /><section className="ps"><Switch><Route path="/practices/test_9995/topics" component={[Function: Connect]} /><Route path="/practi

[2018-08-08 17:49] MickeyKay commented on #1245
Chiming in with another data point. I ran into the same issue recently. After banging my head against the wall for quite a while, a colleague suggested using `setContext()` in place of `update()`, and that fixed things immediately.

While all tests are now passing, I'm not confident this is the best approach. The existing test setup uses global `state` and `store` vars, which are passed into `moun

[2018-08-08 18:46] zheshishei opened #1736 "`.find` unable to find dynamic nodes"
**Describe the bug**
`mount .find` is unable to find a dynamically created dom node within the tree.

I know this is an edge case since, in the majority of cases, react components render other reacts components all the way down. I just wanted to point this out in case this is something you wanted to support. I came across this when trying to write some tests for `react-codemirror`, which is a reac

[2018-08-08 18:55] zheshishei commented on #1736
I just found the Common Issues section. Does this issue fall under https://github.com/airbnb/enzyme/blob/master/docs/common-issues.md#testing-third-party-libraries?

[2018-08-08 18:57] zheshishei commented on #1736
I think it fits, so I'm going to close this issue.

[2018-08-08 18:57] #1736 closed

[2018-08-08 19:00] ljharb commented on #1735
Enzyme doesn't actually support snapshots, but you'd indeed want to build snapshot support on top of `.debug()`.

The difference is because the `Symbol(react.fragment)` output was incorrect - and that's now fixed in latest enzyme.

[2018-08-08 19:02] ljharb commented on #1736
Sounds right to me, unfortunately.

[2018-08-08 19:34] ljharb commented on #1245
@MickeyKay what happens if you use `.debug()` instead of `.html()`? The latter does a full render, and might not give you what you expect.

[2018-08-08 19:35] ljharb commented on #1728
@yoloOnTheBattlefield your component gist *still* is awaiting things that *do not return promises*, like here: https://gist.github.com/yoloOnTheBattlefield/75ac9f707f6bb4b391ab42ee80f19bf5#file-component-js-L137

You can't await an array iteration, those are synchronous.

[2018-08-08 20:00] yoloOnTheBattlefield commented on #1728
@ljharb it does not matter what those methods are doing, if I empty their body and they will just be there, the tests still fail.

[2018-08-08 20:08] ljharb commented on #1728
ok, so can you update all the gists with the empty bodies and the output from that, including updated line numbers?

[2018-08-08 20:30] rimunroe opened #1737 "Invalid propType warning when rendering a Provider with no surrounding elements"
**Describe the bug**

When rendering a Provider and its Consumer directly (with no surrounding elements), a propType warning gets emitted.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
I'd expect no warning to be emitted.

**Desktop (please complete the following information):**
 - OS: macOS 10.13.6
 - Versions:
    - Node 8.11.3
    - react 16.4.2
    - react-d

[2018-08-08 21:18] gilbox opened #1739 "wrapper.setProps(...) removes existing props"
**Describe the bug**
When my test calls `wrapper.setProps(...)` all other props seem to disappear.

**To Reproduce**
Steps to reproduce the behavior:
- in your test add a call to `wrapper.setProps`
- in your component log out `this.props` and observe the weirdness

**Expected behavior**
`wrapper.setProps` should not remove existing props

**Desktop (please complete the following information):**
 -

[2018-08-08 23:39] #1654 closed

[2018-08-08 23:39] #1739 closed

[2018-08-08 23:54] ajbogh commented on #1452
@koba04, this makes so much sense now. I was banging my head trying to figure out why a component that called setState itself wasn't calling the componentDidUpdate function, but if I called it myself it was working, however the prevState and this.state values were the same.

I believe this is a breaking change from enzyme 2 because it used to allow component functions to call setState and the comp

[2018-08-09 01:28] ljharb commented on #1553
@simonbuchan fair enough :-) sorry if my reply was harsh.

[2018-08-09 01:33] koba04 commented on #1452
@ajbogh

This change was caused by https://github.com/facebook/react/pull/10372, which means this change isn't intentional for Enzyme.

Replacing `setState` of the instance returned from `this.instance()` might be a reasonable way to solve this.

[2018-08-09 02:51] eldyvoon opened #1740 "contains for external react component doesn't work"
**Describe the bug**
contains has strange behavior, couldn't find react component.

[code]

**Expected behavior**
contains should work as expected

**Desktop (please complete the following information):**
 - IOS
 - Chrome

[2018-08-09 03:16] koba04 commented on #1452
I've created a PR to fix this. #1742

[2018-08-09 03:26] eldyvoon commented on #1740
Found the solution `expect(ErrorInstance.find(Error)).to.have.length(1)`

[2018-08-09 03:26] #1740 closed

[2018-08-09 04:43] Mayank009 commented on #1735
I upgraded enzyme version to 3.4.1 but still getting Symbol(react.fragment) as name for Fragment in debug. I checked enzyme-to-json code, which I am using to take create tree for snapshot, and they applied a check to fetch the node type.

`export const extractTypeName = node => {
  const name = typeName(node);
  if (name === Symbol.for('react.fragment')) {
    return 'React.Fragment';
  }

  retur

[2018-08-09 08:21] rgal75 opened #1743 "Unexpected snapshot written when using react-native v0.56.0"
**Describe the bug**
Having upgraded the react-native dependency in an app from 0.55.4 to 0.56.0 caused ```shallow``` to produce a different snapshot. With 0.56.0 the snapshot only contains ```<Component>``` tags instead of specific ```<View>```, ```<Text>```, etc. tags.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an app with ```react-native init```
2. Add ```enzyme``` (and some m

[2018-08-09 10:28] yoloOnTheBattlefield commented on #1728
just did thank you!

[2018-08-09 13:53] tarikhamilton commented on #1229
If it is an intentional design choice, can you please point us to the new expected behavior? I've read every comment and didn't really come across a solution. update() and such have no effect. I added a console.log to `componentDidUpdate` and it works in the browser whenever a change happens. When I update state or props via Enzyme with simulated events, none of the console.logs appear.

[2018-08-09 15:24] maxkostow commented on #1553
Yes it is but there is a bug with github where clicking the check mark unchecks the others so you have to manually edit the markdown.

[2018-08-09 15:43] pgangwani opened #1744 "Give error when installing with incompatible react version"
**Describe the bug**
I am using `react@16.2.0 with enzyme-adapter-react-16`, suddenly since last few hours, 50+ passed test cases started failing due to upgrade because of `"enzyme@~3.3.0",
        "enzyme-adapter-react-16@~1.1.1"` in package.json, referred your doc didnt find warning or note but when checked releases, found you guys forked 16.1, 16.2 and so on to have dedicated support.

**To Rep

[2018-08-09 16:04] aslanovsergey opened #1745 "Mount doesn't render a child component"
**Describe the bug**
I have a component which I'am trying to test, I wrote some tests successfully but there is one child component in my mounted component which is not rendered completely.

The code for mounted component is quite long so just post only render method.

[code]
The problem is with that `<DetailsList>` component, which is from Office UI Fabric React library

When I mount its parent c

[2018-08-09 17:34] maxkostow opened #1746 "Shallow rendering: setState after setProps calls componentWillReceiveProps"
**Describe the bug**
On a shallow wrapper, calling `setState` after calling `setProps` triggers `componenetWillReceiveProps` which it should not.

I believe this has something to do with https://github.com/airbnb/enzyme/blob/9b4d0276f57e54be06aca6c3636120b3c4053310/packages/enzyme/src/ShallowWrapper.js#L361 which clones the props causing
https://github.com/facebook/react/blob/be4533af7d29f020499d3

[2018-08-09 17:35] ajbogh commented on #1452
@koba04, thanks for the PR and comment regarding replacing `setState`, sadly that didn't work because it created a new error:

[code]

The fix that I used was to split the tests into two, one that spied on the instance's setState to make sure the function call used setState, and another that executed wrapper.setState() with the same information that the function set, to make sure the componentDid

[2018-08-09 20:20] hbowden opened #1747 "3.4.1 breaks existing tests/API"
**Describe the bug**
When running our test suite with the latest version of enzyme we get:
![2018-08-09 15_14_34-hyper](https://user-images.githubusercontent.com/12447474/43923291-f425b5aa-9be6-11e8-92da-9d1ec0969808.png)

When we run tests with enzyme 3.3.0 all the tests pass. When we run with 3.4.1 most of our tests break with the error message above.

**To Reproduce**
Steps to reproduce the beh

[2018-08-09 22:31] ljharb commented on #1735
@Mayank009 have you also updated your react adapter? Make sure both enzyme and your adapter are at latest.

[2018-08-09 22:33] ljharb commented on #1743
You'd need a react native adapter to reliably use enzyme with React Native (see #1436).

enzyme also doesn't support snapshots (but `.debug()` output should work well for that).

Can you share the output of `.debug()`, before and after the update?

[2018-08-09 22:34] ljharb commented on #1728
What's the source for your `createContext` method?

[2018-08-09 22:35] ljharb commented on #1745
That looks like that component is mutating the DOM directly after mounting - see https://github.com/airbnb/enzyme/blob/d65fc69d87e985fcb51ad5cdc8fdec4933519fe6/docs/common-issues.md#testing-third-party-libraries

[2018-08-09 22:35] ljharb commented on #1746
Interesting, thanks for the report.

[2018-08-09 22:37] ljharb commented on #1744
v1 of the 16 adapter will always support all v16.x versions. I'm planning on releasing a v2 that requires v16.4 and up.

However, you should be able to use any of React v16.0, v16.1, v16.2, v16.3, or v16.4 with v1 of the v16 adapter.

Can you share some of the failing tests?

[2018-08-10 00:11] koba04 commented on #1452
@ajbogh

Could you create a test to reproduce it?

[2018-08-10 02:33] ajbogh commented on #1452
@koba04, using the same example as above, the way that I implemented it is this:

[code]

Please note that your new code should make this problem irrelevant.

The fix that I used was to split the test:

[code]

[2018-08-10 09:54] yoloOnTheBattlefield commented on #1728
[code]

[2018-08-10 10:37] Mayank009 commented on #1735
@ljharb

"enzyme": "3.4.1",
"enzyme-adapter-react-16": "1.1.1"

[2018-08-10 11:29] Mayank009 commented on #1735
@ljharb fixed after updating version of enzyme-adapter-react-16 to 1.2.0

[2018-08-10 11:30] #1735 closed

[2018-08-10 14:27] hbowden commented on #1747
@ljharb If enzyme tests passed before with out strings it should continue to work without strings otherwise your breaking a public API. It doesn't matter if it was a "bug fix" or not updating minor versions shouldn't break existing tests. And if you are going to be making breaking changes to enzyme it needs to be in a new major version release, not a minor version release.

[2018-08-10 15:15] hbowden commented on #1747
Tests pass with strings on 3.4.1 and they passed before on 3.3.0 with components so it seems like enzyme 3.3.0 allowed for both and 3.4.1 only allows for strings, which is a Public API breakage in a minor release.  Shouldn't there be a deprecation warning so users know about this?

[2018-08-10 16:03] Hypnosphi commented on #1604
@KevinGrandon Looks like your package doesn't include a fix for ForwardRef

[2018-08-10 16:12] ljharb commented on #1747
Every bug fix is a "breaking change" if you're relying on the bug; we'd never be able to ship bugfixes as a patch version if the criteria was as simple as "every passing test must remain passing".

Again, that the tests passed for you doesn't indicate that they were actually testing what you think they were.

The exception you're receiving is the deprecation warning. I suppose I could convert the

[2018-08-10 17:53] ljharb commented on #1604
There's no need for a separate package; everything in this repo is now published.

#1592 will fix it once merged and released.

[2018-08-11 07:13] rgal75 commented on #1743
The test using ```.debug()```:
[code]
With react-native 0.55.4 the snapshot is
[code]
with react-native 0.56.0 it is
[code]

[2018-08-11 07:33] ljharb commented on #1743
I'm confused; if it's changing as react-native changes, that's an issue with react-native (and one a react-native adapter could handle). What's changing as *enzyme* changes?

[2018-08-11 20:15] #1452 closed

[2018-08-11 20:16] ljharb commented on #1746
(Possibly related to #1742)

[2018-08-12 17:04] ReactiveRaven commented on #1580
`/` is not a valid character in a CSS class name.

The grammar is shown here: https://www.w3.org/TR/CSS22/grammar.html#scanner

The grammar says a css class is:

* a dot
* followed by `IDENT`

An `IDENT` is:

* One to many of:
  * `a-z`, or
  * `A-Z`, or
  * `0-9`, or
  * `_`, or
  * `-`, or
  * a unicode escape sequence (eg `\FF`), or
  * any non-hex character that is escaped (eg `\x`), or
  * an

[2018-08-12 18:34] ljharb commented on #1580
In that case, an issue should be filed there, and this can be closed. Thanks for the legwork!

[2018-08-12 18:34] #1580 closed

[2018-08-12 19:17] peanutenthusiast commented on #1746
I'd be happy to submit a PR regarding this issue! Can probably submit in a week or two.

[2018-08-13 02:19] alejo4373 opened #1748 "update .simulate() docs regarding mock event when shallow or full mounting rendering"
I spent quite a few hours trying to figure out why when shallow rendering a react form my test was failing due to `event.preventDefault` not being defined. When using `.mount()` the error didn't happen.
Can we clarify in the docs that when using `.shallow()` a mock event object must be provided if you are doing anything with the event?.
The function signature says that a mock event is optional `.s

[2018-08-13 05:35] ljharb commented on #1748
Sure, that seems like a great improvement.

React creates the synthetic event (which I think is what it does in production react as well)

[2018-08-13 09:15] pgangwani commented on #1744
`import React from 'react';
import { shallow } from 'enzyme';
import { expect } from 'chai';
import FindStoresMapView from './FindStoresMapView';
import StoreMockData from './__stories/mock';

describe('Component:MapWrapper', () => {
    let wrapper;
    beforeEach(() => {
        wrapper = shallow(
            <FindStoresMapView
                stores={StoreMockData.stores}
                center

[2018-08-13 15:21] meganwalker-ibm opened #1749 "3.4.x breaks existing test involving returning an array of items"
**Describe the bug**

Previously, when using 3.3.x  the code and test outlined in the reproduction steps would pass. Now in 3.4.x it does not. It is unclear if this is a case of our code / test being wrong, or if enzyme has accidentally regressed something whilst trying to land React 16 features.

Several of our tests, are failing now, but I've isolated down one of them to the most minimal recreat

[2018-08-13 15:25] ljharb commented on #1749
This was a bug in < 3.4; and components rendering arrays is still not fully supported in enzyme (see #1213).

In this case, a component that returns an empty array is basically identical to one returning null - both don’t actually render anything. It was incorrect for enzyme to ever return a length of 1 there.

[2018-08-13 15:54] meganwalker-ibm commented on #1749
Ahh, I see. Thanks for clarifying! With that information I've managed to work out why our other cases were broken too. Feel free to close it out :)

[2018-08-13 16:01] #1749 closed

[2018-08-13 17:12] AnaRobynn commented on #1570
I have similar problem:
[code]

[2018-08-13 20:12] makethisbuildthat opened #1750 "enzyme-adapter-react-16 Can't resolve 'enzyme/build/Utils'"
**Describe the bug**
In enzyme-adapter-react-16 ReactSixteenAdapter.js, it is requiring 'enzyme/build/Utils', but it doesn't exist.

[2018-08-13 21:30] ljharb commented on #1750
It certainly exists: https://unpkg.com/enzyme@3.4.1/build/Utils.js

What version of enzyme are you using? Be sure to run `npm ls`; if that exits nonzero, then your dep graph is invalid, and you can't expect anything to work.

[2018-08-13 22:44] jgzuke commented on #1596
It looks like `semantic-ui-react` is not using react portals in the linked version, but is using their own [Portal implementation](https://github.com/Semantic-Org/Semantic-UI-React/blob/36d84690c82f978eecf13974c9d78df76feca518/src/addons/Portal/Portal.js).

Once the new `semantic-ui-react` Portal is out (which uses `createPortal`) this should work properly.

[2018-08-13 22:54] ljharb commented on #1596
In that case, see https://github.com/airbnb/enzyme/blob/d65fc69d87e985fcb51ad5cdc8fdec4933519fe6/docs/common-issues.md#testing-third-party-libraries - there's nothing we can really do until it supports proper Portals.

[2018-08-13 22:54] #1596 closed

[2018-08-14 01:44] wchargin opened #1751 "Cannot directly mount `Context.Consumer` without console error"
If `Context` is the result of `React.createContext` (React 16.3+), then
it appears that `mount` can handle `Context.Consumer`s that appear in
the tree, but raises a console error if the root itself is a consumer
(despite appearing to otherwise behave correctly).

The same error occurs with the v16.3 adapter or the v16 adapter.

The error message is:

[code]

Here is a repro:

[code]

Reproduce by

[2018-08-14 01:45] wchargin commented on #1751
Closely related: #1737.

[2018-08-14 02:07] koba04 commented on #1570
@AnaRobynn Did you try enzyme@3.4.1?

[2018-08-14 04:42] ljharb commented on #1751
We don't yet have proper support for React's new context. Thanks for the report.

[2018-08-14 06:46] AnaRobynn commented on #1570
@koba04
I'm unsure. I usually don't use setState, but it seemed that neither simulate, nor invoking the "onEdit" prop would result in a state change. Fully moubting the conponent has the same issue, if I remember it correctly.

As soon as I get to work today, I'm going to sanity check by exporting the class itself in stead of the container and diving two times. Do you think it's better to open a n

[2018-08-14 07:49] pgangwani commented on #1744
Yes it fails with enzyme v3.4 and 16 adapter v1.1.1 , also with enzyme v3.3 and the v1.2.0 adapter.

Need to try with enzyme 3.3 or 3.4 and the 16.2 adapter, do I need to change
`import Adapter from 'enzyme-adapter-react-16';` statement to ===>16.2 module

[2018-08-14 10:50] koba04 commented on #1570
@AnaRobynn Yeah, it's very helpful to open a new issue with a test case that reproduces your problem 👍

[2018-08-14 12:42] AnaRobynn commented on #1570
@koba04 Sanity check resulted in a green test, restored the original test and it seems to be working now. I think there was an artifact in the docker image, because we recently bumped versions for enzyme. All good now! Yay! :)

Note to self and others: Clean repo, when having weird issues. Like deleting node_modules.

[2018-08-14 14:50] ljharb commented on #1744
Thanks, can you also share the component code?

[2018-08-14 15:39] mxdi9i7 commented on #1462
@ljharb  @mikeborozdin  Hi I'm new to Enzyme and not sure how to actually test for ref callback, could you provide a sample code on how you did it?

[2018-08-14 15:46] ljharb commented on #1728
I’m sure there’s lots of tutorials about how promises work; i don’t have one off the top of my head.

[2018-08-14 15:49] ljharb commented on #1462
Share your component code and test code, and I’ll see what I can do

[2018-08-14 15:55] mxdi9i7 commented on #1462
Found the ref callback sample code from SO just minutes ago:

[code]
I could only find sample for string refs in the enzyme docs, should we have a section for ref callback sample code? since ref callback is the recommended way to do things now

[2018-08-14 16:20] ljharb commented on #1462
Sure, i guess we could - altho by using ref callbacks, enzyme’s totally uninvolved.

[2018-08-14 16:26] mxdi9i7 commented on #1462
I don't follow here, why would enzyme be uninvolved if one tests with ref callback?

[2018-08-14 16:59] ljharb commented on #1462
Because while a "ref callback" is something React knows how to invoke when using `mount`, enzyme itself doesn't do anything with it, nor provides any API to work with it. Testing a ref callback is identical to how you'd test any non-lifecycle instance method - you spy on it, then create the wrapper, then assert on how and when it's called; or, you do `wrapper.instance().whatever()` and call it dir

[2018-08-14 18:12] mxdi9i7 commented on #1462
Thanks for the explanation, in that sense it doesn't make as much sense to  be in the official docs. sample code is easily found with a google search as well.

[2018-08-14 22:03] ljharb commented on #1751
@tyrsius since enzyme v3.4 (and all the resulting adapters) have been released, I don't believe there's [any functionality](https://github.com/airbnb/enzyme/compare/master...KevinGrandon:master) in that package that isn't in enzyme proper, and there's many more fixes included in actual enzyme.

[2018-08-15 00:49] GreenGremlin commented on #1257
The issue is that the helper and the test file are processed as separate files. This means they'll each have their own copy of enzyme.

Another solution is to configure enzyme in a single file and re-export enzymes exports.

[code]

Then, in your tests import the local copy of enzyme.

[code]

[2018-08-15 01:04] ljharb commented on #1257
@GreenGremlin want to make a PR making the docs around karma usage better?

[2018-08-15 01:17] GreenGremlin commented on #1257
I'll see what I can do.

[2018-08-15 05:13] #1257 closed

[2018-08-15 07:16] onurarpapay commented on #308
hello, well I was struggling with simulate('submit') for one full day. It was working, i.e. it was raising the submit event but I always got a "TypeError: handler.apply is not a function."
Issue is solved with only changing 'submit' to 'onsubmit'. I don't understand why. 'onSubmit' also works.
So it is:

`form.simulate('onsubmit')`

[2018-08-15 07:16] ljharb commented on #308
@onurarpapay it shouldn't work; the event name is "submit", not "onsubmit". Can you file a new issue about that one?

[2018-08-15 08:08] ljharb commented on #1704
The `.current` is a DOM node or a react instance, it wouldn't have a `simulate` method (that's on an enzyme wrapper only).

I'm not sure there's anything actionable here.

As to @PetrivskyiTaras' issue, shallow rendering can't support refs, only `mount` can.

[2018-08-15 08:10] #1704 closed

[2018-08-15 09:07] paddotk commented on #814
@dabit1 When I do that I just get a bunch of errors:
`Warning: Failed prop type: Invalid prop 'Component' supplied to `WrapperComponent`.`
`Error: Uncaught [TypeError: Cannot read property 'hasOwnProperty' of null]`[..]

[2018-08-15 09:35] paddotk commented on #1647
I just upgraded to Enzyme 3.4.1 but still getting the same error (`TypeError: ShallowWrapper::dive() can only be called on components`). Did the fix work for anyone else?

[2018-08-15 13:32] mmk0083 opened #1754 "Error Testing Fragments Introduced in v3.4.0"
**Describe the bug**
Not sure if this is a bug or intended behavior/us doing something wrong. It seems that after upgrading to enzyme v3.4+ our tests for components with fragments have started failing.

**To Reproduce**
Consider the following example:

[code]

**Expected behavior**
This test worked prior to v3.4. `wrapper.state()` in that instance returned false as expected. It now causes an error

[2018-08-15 18:05] MadeoIT commented on #1151
I had exactly the same problem and I have solved like this.
Instead of using `mount()` I have used shallow and if the node is in a sub component just just use `dive()`

[code]
I hope this will help

[2018-08-15 20:29] ljharb commented on #1151
You can also use `.hostNodes()` which will filter your collection down to just HTML elements.

[2018-08-15 20:31] ljharb commented on #1754
The support that was added in enzyme v3.4 is for `React.Fragment` - what's also confusingly referred to as "fragments" is the ability for components to render non-nodes - ie, to render arrays, strings, and numbers. This is not yet supported by enzyme - see #1213.

We're working on adding support for that, but in the meantime, you'll either need to not use this React feature, not test components th

[2018-08-15 20:32] ljharb commented on #1647
@paddotk it's not been fixed yet.

[2018-08-15 22:03] ajbogh opened #1755 "componentDidUpdate is not called when a component calls setState()"
When a component uses `setState()` the componentDidUpdate call is supposed to fire and any code within it is supposed to be executed. Enzyme 3.4.1 does not execute the cDU code when `setState()` is called within the component.

**To Reproduce**
Steps to reproduce the behavior:

1. Make sure enzyme 3.4.1 is installed: `npm install enzyme@3.4.1`
2. Create a component that takes a callback prop, cont

[2018-08-15 22:31] rodrigouz commented on #897
Thanks @thomkrillis !. That worked perfectly

[2018-08-15 23:42] LandonSchropp commented on #1149
@lelandrichardson This has turned into a blocker for my team, and I'd love to help resolve it.

* Would you be open to accepting a PR to fix this?
* Is this an issue that somebody who's not familiar with the codebase can solve?
* Could you point me in the right direction for what needs to be done?
* Is there any documentation covering the adapter interface?
* Is the current API for the adapters (p

[2018-08-15 23:47] ljharb commented on #1149
@LandonSchropp
 - yes, we'd definitely be open to PRs to address it.
 - it's always possible, but i suspect it will be difficult for someone who isn't familiar with the codebase
 - we'd need to come up with a way that allowed the React 16 adapters to support non-node renders, without baking any React-specific behavior into enzyme itself, while not breaking React < 16 adapters or non-React adapters

[2018-08-15 23:58] LandonSchropp commented on #1149
@ljharb Thanks for the quick reply!

Could you explain the purpose of `nodeToHostName`? My understanding of React is that it normally calls the component tree from the top down. Is the "host name" the parent component? Or is it something different? Why would you need to go in the other direction?

I'm happy to take a crack at it, but I need a little more context. I've read through some of the othe

[2018-08-16 00:05] ljharb commented on #1149
nodeToHostNode, not nodeToHostName - the purpose is to take an RST node, and return the "host node" - ie, the HTML DOM node.

[2018-08-16 01:36] koba04 commented on #1755
@ajbogh https://github.com/airbnb/enzyme/pull/1742 isn't included [v3.4.1](https://github.com/airbnb/enzyme/blob/master/CHANGELOG.md#341) so please wait for the next release!

[2018-08-16 01:39] LandonSchropp commented on #1149
I think I have a workable solution to this problem. I rewrote `nodeToHostNode` and took a recursive approach. In the case of an array, I grabbed its first child's HTML element and then stepped up a level in the DOM. This seems to work for me locally in my React project.

[code]

Will this approach work in all required instances? Did I miss something here? How should I go about testing this?

[2018-08-16 02:26] ajbogh commented on #1755
Oh. Thanks @koba04. My mistake. I'll check back when the release happens.

[2018-08-16 04:17] kohlmannj commented on #1255
Following up on @pizza-r0b's technique, as mentioned here:
https://github.com/airbnb/enzyme/issues/1255#issuecomment-352529487

`expect` v23.5.0 does not appear to have a `spyOn()` method ([it was donated to Jest](https://github.com/facebook/jest/issues/1679), so that may account for the API difference?). I would like to avoid add another devDependency to my project, so I'm going to avoid sinon fo

[2018-08-16 05:08] ljharb commented on #1149
I'm not sure or not :-) we'd need to add extensive test cases for both shallow and mount, for as many wrapper methods as possible.

[2018-08-16 08:06] adityavm opened #1756 "`this` is undefined in bound functions when shallow rendering"
**Describe the bug**
The following test passes in 3.4.1 but fails in 3.4.2.
[code]

The error in 3.4.2 is:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the above test with `enzyme@3.4.2`

**Expected behavior**
The test should pass.

**Desktop (please complete the following information):**
 - OS: Mac OSX (but also fails in Windows)
 - Browser n/a
 - Version n/a

[2018-08-16 08:15] DMShamonov commented on #1604
@ljharb With `mount` method I still catching this error (` Enzyme Internal Error: unknown node with tag 14`)

[2018-08-16 08:18] ljharb commented on #1604
It’s not released yet, i just merged it an hour ago.

[2018-08-16 09:02] sevketufuk commented on #1604
so 3.4.2 should solve this problem? I'm using 3.4.2 and I still got the same error.

[2018-08-16 10:54] vishalsehgal111 commented on #1756
+1 yes happening to us too, due to https://github.com/airbnb/enzyme/blob/a50570d847fac11dc122c43651107e46ba03de73/packages/enzyme/src/ShallowWrapper.js#L177-L180 as `setState` is getting appended to `instance`.
I think we should avoid adding`setState` to instance as then also the code will get executed without appending instance.

[2018-08-16 11:40] mmk0083 commented on #1754
@ljharb Thanks for the feedback. I switched to `<React.Fragment>` and my tests went back to passing as expected. I didn't realize that there were different flavors of 'fragment' - I thought the one was just syntactic sugar for the other. Apparently not the case.

[2018-08-16 12:57] mmairs9 commented on #1756
+1 got this error this morning aswell.

[2018-08-16 16:03] ljharb commented on #1604
No, it should not. This is a new feature, so it would be included in v3.5.0.

[2018-08-16 16:14] ajbogh commented on #1755
v3.4.2 fixed the issue! Thanks for the great work.

[2018-08-16 17:03] rafikul-sekh commented on #1756
+1 got this same issue after upgrade to 3.4.2

[2018-08-16 17:24] ziyadmutawy opened #1757 "Props are not updated after simulating event"
**Describe the bug**
During the test case, I perform a full mount on a component. After finding the text input element, I simulate a change event in which I know the callback function is triggered since the value of the variable being passed back is asserted to be true. However, the props of the child element do not get updated even if I do fire off another re-render `wrapper.update()`

**Test**
[

[2018-08-16 17:48] leobetosouza commented on #1604
@ljharb any prevision to v3.50 release?

[2018-08-16 17:54] ljharb commented on #1604
Like every release, after it’s ready, and when time permits.

It hasn’t even been a full day yet. I do sleep, in case that isn’t apparent.

[2018-08-16 18:30] felipeochoa opened #1758 "[Feature request] Negative indices in at and childAt"
It would be great to be able to easily grab the nth-to-last element or child. This is particularly useful to avoid intermediate variables in a sequence of filters. E.g.,

[code]

I think adding a quick check to [here](https://github.com/airbnb/enzyme/blob/a50570d847fac11dc122c43651107e46ba03de73/packages/enzyme/src/ShallowWrapper.js#L1147) for a negative index would fix both `at` and `childAt`.

[2018-08-16 19:49] ljharb commented on #1758
You can do `.slice(-2, 1)[0]` already, fwiw.

[2018-08-16 21:35] deedubbu commented on #1756
Any ETA on fixing this or backing out the change? I have a bunch of builds that are failing and would hate to have to go through each of them and pin to a version.

[2018-08-16 22:29] ericschultz commented on #1229
@ljharb As this is an intentional design choice, is there a migration path or explanation on how to do what folks on this thread want? I'm happy to change my tests but based on the thread, I still have no idea what to change it to.

[2018-08-16 23:54] #1719 closed

[2018-08-16 23:56] ljharb commented on #1229
@ericschultz generally, you need to always re-find from the root to get updates, and you may need to use `wrapper.update()` before doing that. The migration guide talks about that here: https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved

[2018-08-16 23:56] ljharb commented on #1756
@deedubbu i'm working on it; i hope to have a patch out tonight.

[2018-08-17 00:44] koba04 commented on #1756
Sorry for the regression. I’m going to write a patch for this.

[2018-08-17 00:44] ljharb commented on #1756
@koba04 i've already got it written; i'll put it up as a PR now.

[2018-08-17 00:59] koba04 commented on #1756
@ljharb Thank you! I'm reviewing it.

[2018-08-17 04:55] #1756 closed

[2018-08-17 05:54] #1748 closed

[2018-08-17 08:01] koba04 commented on #1756
Please upgrade to [v3.4.3](https://github.com/airbnb/enzyme/blob/master/CHANGELOG.md#343) 🙏

[2018-08-17 09:36] ronanmulvaney opened #1764 "ReactWrapper::setState() expects a function as its second argument"
We're still hitting a problem with an upgrade to 3.4.3 with calls in some context to setState for tests that were working on 3.4.1.

The remaining failure is:
[code]

The second argument is of course a function but whatever has been changing with setState in enzyme is affecting this.

[2018-08-17 10:28] Tinusw commented on #1764
I've got a similar issue where some setState calls throw errors during shallow rendered tests.

This was working in `3.4.1`

[code]

I believe this is related to the multiple changes made in `3.4.3` to `Shallow` -> `setState`

[2018-08-17 11:30] ronanmulvaney commented on #1764
@Tinusw As I understand the sequence of changes, 3.4.2 broke a few things in relation to setState that were believed corrected in 3.4.3 with #1756 which I think matches your failure.

This is just to highlight some remaining use cases being affected.

As you mention, sticking on 3.4.1 avoids.

[2018-08-17 12:08] adeelibr commented on #509
any follow back on @mdreyer said.

[2018-08-17 12:14] Tinusw commented on #1756
I believe this may still be an issue. In my shallow rendered component tests I'm getting:

[code]

Resolved by reverting to 3.4.1 for now....

Let me know if I can provide more info :)

[2018-08-17 13:17] koba04 commented on #1756
@Tinusw Please open a new issue with a test case that reproduces it.

[2018-08-17 14:07] corintho commented on #1743
Could this be related to #1539 ? The reflection from reconciler is out of sync with the dom generated from react-native?

[2018-08-17 14:11] ronanmulvaney commented on #1764
Yes, apologies with the other failures yesterday hadn't looked closely at it since it was passing an expect getPageDetails to be fired which of course it would be but not validly!!

[2018-08-17 14:11] #1764 closed

[2018-08-17 14:28] selbekk commented on #1756
Looks like any change will trigger `componentDidMount`.

[2018-08-17 14:30] monken commented on #1756
Not sure why, but the 3.4.3 release broke my tests. I receive `Error: ShallowWrapper::setState() can only be called on the root` errors all over the place.

The relevant test is attached. I was able to figure out that `componentDidMount` is called twice with the 3.4.3 release, which was not the case before.

[code]

[2018-08-17 14:40] koba04 commented on #1756
It's very helpful to open a new issue with a test case that reproduces it.

[2018-08-17 14:42] selbekk commented on #1756
Sorry about that, I'm on it :)

[2018-08-17 14:45] monken opened #1765 "3.4.3 breaks tests with "ShallowWrapper::setState() can only be called on root""
**Describe the bug**
Not sure why, but the 3.4.3 release broke my tests. I receive Error: ShallowWrapper::setState() can only be called on the root errors all over the place. Seems to be related to #1756.

The relevant test is attached. I was able to figure out that componentDidMount is called twice with the 3.4.3 release, which was not the case before.

**To Reproduce**

[code]
The second call to

[2018-08-17 15:00] selbekk opened #1766 "componentDidMount is called any time `this.setState` is called"
**Describe the bug**
`componentDidMount` is called on any call to `this.setState`. The bug was introduced in 3.4.2.

**To Reproduce**
Here's a sample component
[code]

**Expected behavior**
I'd expect `componentDidMount` only to be called when I mount the component for the first time, or re-mount it explicitly. Instead, it calls it every time `this.setState` is called.

**Desktop (please complete

[2018-08-17 15:05] koba04 commented on #1765
@monken Could you create a minimal test case? I can't try your code.

The following test is passed with v3.4.3, which is an expected behavior.

[code]

[2018-08-17 15:07] vedraan commented on #426
Inspired by @kellyrmilligan's solution here's full implementation I use to detect ESC keydown (also useful for any other event type):
[code]

[2018-08-17 15:20] MarcelloVSilva opened #1767 "Find fails when using a proxy of React Component"
**Describe the bug**
I need to proxify some components in my app. They are rendering rightly but I'm not able to run tests because enzime method find is throwing the message `Method “simulate” is only meant to be run on a single node. 0 found instead.`

**To Reproduce**

just create and run that simple test

[code]

**Expected behavior**
find must return the button element

**Desktop (please compl

[2018-08-17 15:40] Android3000 commented on #1766
Is this possibly just 3.4.3? We just updated from 3.4.2 and noticed some previously passing tests that were failing due to componentDidMount being unexpectedly called, even in a shallow test with disableLifecycleMethods: true.

[2018-08-17 15:48] ljharb commented on #509
@adeelibr update enzyme to v3.4.3 and try it out.

[2018-08-17 15:50] ljharb commented on #1743
@corintho it's entirely possible. Either way, using enzyme with react-native without a react-native-specific adapter is always going to have quirks.

[2018-08-17 15:51] ljharb commented on #1767
so fwiw, `createProxy` isn't creating a proxy, that's an HOC - ie, it's wrapping your original component in another one. That will be observable to tests - you'll need an additional `.dive()` whenever you use "createProxy". An actual `Proxy` would *replace* - not wrap - the component.

[2018-08-17 15:52] ljharb commented on #1765
@monken can you share the code for `MyComponent`?

`await`ing the result of componentDidMount seems strange, since react itself won't await it and it's not intended to be an async function.

[2018-08-17 15:53] ljharb commented on #1766
cc @koba04

[2018-08-17 16:08] monken commented on #1765
[code]

Output:
[code]

[2018-08-17 17:31] xitter commented on #1765
When is this going to npm?

[2018-08-17 18:05] monken commented on #1765
@koba04 thanks for the quick turn-around on this!

[2018-08-17 18:11] monken commented on #1766
This will be fixed by #1768, see #1765

[2018-08-17 19:07] jayfunk commented on #1690
I am still experiencing this issue using the latest versions of enzyme and enzyme-adapter-react-16. I am using the shallow renderer. Workarounds are to revert back to the deprecated `componentWillReceiveProps` or use mount.

[2018-08-17 20:51] ljharb commented on #1747
I'm going to close this, on the assumption that the fact that these tests passed previously was a bug, which is now fixed.

Happy to reopen it if this is incorrect.

[2018-08-17 20:51] #1747 closed

[2018-08-17 20:51] ljharb commented on #1731
@nicoxxie I'm going to close this, but I'm *very* interested in understanding why this is breaking for you, so it'd be great if you could follow up as you discover more.

[2018-08-17 20:51] #1731 closed

[2018-08-17 20:53] ljharb commented on #1690
@jayfunk I'm about to release v3.4.4; once that's out, if you still have an issue, it'd be great if you could file a new issue.

[2018-08-17 20:58] ljharb commented on #1767
You may find using `.debug()` more helpful than using `.html()` - it will give you a better idea of what's going on.

[2018-08-17 20:58] #1754 closed

[2018-08-17 20:59] #1750 closed

[2018-08-17 20:59] #1745 closed

[2018-08-17 21:00] ljharb commented on #1743
Closing for now; happy to reopen if needed.

[2018-08-17 21:00] #1743 closed

[2018-08-17 21:00] #1699 closed

[2018-08-17 21:00] #1678 closed

[2018-08-17 21:01] ljharb commented on #1645
Happy to reopen with more information.

[2018-08-17 21:01] #1645 closed

[2018-08-17 21:03] #1765 closed

[2018-08-17 21:03] #1766 closed

[2018-08-18 01:53] rydash opened #1769 "Shallow renderer "ReactWrapper::setState() expects a function as its second argument" when setState given a callback within the class"
**Describe the bug**
Shallow rendering components fails when `setState(updater, callback)` is called within `componentDidUpdate` and `callback` refers to a function within the current component class, accessed via `this`.

**To Reproduce**
1. Create a component like this:
[code]

2. Set up a test:
[code]

3. Run the test. (I did so using enzyme@3.4.4, enzyme-adapter-react-16@1.2.0, chai@4.1.2, and

[2018-08-18 02:31] rydash commented on #1769
Whoops, looks like I should've applied my brain a little harder! Sorry for that - it is interesting that this case went uncaught by eznyme@3.4.1 or even React. It also appears everything works if the return value of `this.myCallback()` is itself a function, so that's good.

Thank you for the explanation; I'll go fix my stuff!

[2018-08-18 09:57] Jaytrindade opened #1770 "Es6 import"
Import ("something") does not work but import "something" works. Was wrong?

[2018-08-18 10:54] dmarkrollins commented on #389
I am using the following to test change result:

const index = wrapper.find('select#messageChannel').props().value // index selected
wrapper.find('select#messageChannel').childAt(index).text() // associated option text

Not sure if that's the best way but it's working for me at the moment (React 16, Enzyme 3.4.1)

[2018-08-18 15:35] ljharb commented on #1770
`import (` is not valid syntax. If you want normal synchronous imports, use `import`; if you want asynchronous imports, use `import(` (no space)

Closing, since this is not enzyme-related.

[2018-08-18 15:35] #1770 closed

[2018-08-18 17:06] ljharb commented on #1507
This should be handled by #1761 and #1760, which will be in the next semver-minor release.

[2018-08-18 17:06] #1507 closed

[2018-08-18 17:07] ljharb commented on #1503
@sylvain-hamel can you still reproduce this with latest enzyme? if not, please close; if so, can you provide the component code that's erroring?

[2018-08-18 19:07] Jaytrindade commented on #1770
Okay, I know that. was typos.
the problem remains I do not know why !!!

[2018-08-19 22:05] jonsanders101 opened #1775 "Security Vulnerability in Lodash"
Enzyme currently uses [Lodash version 4.17.4](https://github.com/airbnb/enzyme/blob/a47f2babb05f41f6f140bf7d0dd711c1c7445f7d/packages/enzyme/package.json#L46) which has a [security vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2018-3721).

Is it possible to upgrade to a later version of Lodash?

[2018-08-20 05:34] ljharb commented on #1775
That said, I've removed most uses of lodash, and migrated the last two to use the individual packages, in 89b39b6f1c59aa771f4452a27b159f7aa2616e84.

[2018-08-20 05:34] #1775 closed

[2018-08-20 08:50] jonsanders101 commented on #1775
@ljharb - thanks so much for responding. I didn't know this is how node modules worked, so I've learned something valuable there.

[2018-08-20 09:18] lhsantos opened #1776 "Question - getting only direct children"
How can I get only the direct children of a node?

[2018-08-20 10:59] pgangwani commented on #1744
Sorry for late. Here you go

`    import PropTypes from 'prop-types';
    import React from 'react';
    import isEmpty from 'lodash/isEmpty';
    import className from 'classnames/bind';
    import List from 'yoda-core-components/lib/components/List/List';
    import MessageBox from 'yoda-core-components/lib/components/MessageBox/MessageBox';
    import Button from 'yoda-core-components/lib/compo

[2018-08-20 12:59] shaundavin13 commented on #1229
Refind still does not work.

[2018-08-20 15:54] ljharb commented on #1229
@shaundavin13 please file a new issue if you’re having trouble.

[2018-08-20 16:00] ljharb commented on #1776
More context would be helpful, but `.children()`?

[2018-08-20 16:18] bdwain opened #1777 "Descendent Selector Broken in 3.4.4"
**Describe the bug**
The descendent selector (`.find('.foo .bar')`) seems to have broken in the latest release. It seems to have been broken in #1680 .

I have a component that returns something like

[code]

and then this fails because find returned 0 nodes

[code]

**To Reproduce**
Working on a reproduction. Will add it when it's ready. See example above though.

**Expected behavior**
The call t

[2018-08-20 17:50] #1776 closed

[2018-08-20 18:04] jayfunk commented on #1690
Tried to recreate the issue outside of my project and I have not been able to. My test did not include karma as it does in my project where shallow is not working as expected. Might be something related to that setup that is causing the failure. Ill circle back on this to see if I can recreate it with a controlled test.

[2018-08-20 20:22] luciomartinez commented on #729
In my case was similar but I fixed by importing the component instead of "wrapped component". For most components they are wrapped with `connect()` so in test:

[code]

This time the test was over a PureFunction component instead of a Class. I changed the usage to be:

[code]

[2018-08-20 23:36] lhsantos commented on #1776
Ok, my problem is that `children ()` returns all descendants of a node, the full hierarchy, while I want to check only the immediate children, i.e., the nodes on the next level at the tree.

[2018-08-20 23:49] ahuth opened #1780 "parents: cannot read property 'reverse' of null"
**Describe the bug**
Calling `parents` sequentially on two different sibling nodes breaks. I'm on:
- enzyme 3.4.4
- enzyme-adapter-react-16 1.2.0

[code]

**To Reproduce**
The following test will reproduce the issue:

[code]

**Expected behavior**
It should not throw an error.

**Desktop (please complete the following information):**
 - OS: macOS 10.13.6
 - Browser Chrome
 - Version 68.0.3440.106

[2018-08-21 00:00] ljharb commented on #1776
@lhsantos `.children()` should only return the direct children; but those themselves have their own children. Can you step back a bit and explain what you're trying to check for?

[2018-08-21 00:01] ljharb commented on #1780
Related to #410; thanks for the report.

[2018-08-21 00:32] lhsantos commented on #1776
Well, for instance, I called `root.children('ul')` and it returned the immediate child that's a 'ul', but also a grandchild of that node that's also a 'ul'.

[2018-08-21 00:57] ljharb commented on #1776
try `root.children().filter(‘ul’)`

[2018-08-21 03:48] ljharb commented on #1746
Fixed in #1779.

[2018-08-21 03:48] #1746 closed

[2018-08-21 06:45] ljharb commented on #1780
Your test case was very helpful; there's something very worrying going on here.

I've put up #1781 to track a fix.

[2018-08-21 09:00] dagda1 opened #1782 "`props()` returns different properties after upgrading to enzyme-adapter-react-16 or enzyme-adapter-react-16.3"
**Describe the bug**

I have this helper function:

[code]

When I use `enzyme-adapter-react-16` version 1.1.1 I get the full list of redux-form props including `valid`.

When I upgrade to 1.2.0 or use enzyme-adapter-react-16.3 then there the redux form props are no longer available via `props` or `prop`

**To Reproduce**
Steps to reproduce the behavior:

upgrade to 1.2.0

**Expected behavior**
I

[2018-08-21 10:41] Ailrun opened #1783 "Even when setState returns null, it calls cDU lifecycle."
**Describe the bug**
In React, if `setState` returns `null`, cDU is not called and so following does not make infinite loop even after cDU is called. (You can check it on [this codesandbox](https://codesandbox.io/s/18poplkr4q) by typing text on the input. It prints only one console log at a time.)

[code]

However, in `enzyme`, when I update component, i.e., invoking cDU with above component, will

[2018-08-21 16:14] ljharb commented on #1783
I had no idea the return value of setState mattered at all. cc @koba04

Thanks, I’ll get a fix for this in soon.

[2018-08-21 20:48] ljharb commented on #1782
Can you share the code for `Form`?

[2018-08-21 21:01] artola opened #1784 "setState getting into infinite loop"
A component that fires `setState` at `componentDidMount` and `componentDidUpdate` enters in an infinite loop. Here in a simplified example that produces this situation.
Notice:
  - with versions 3.4.0 and 3.4.1 is OK.
  - since 3.4.2 it breaks.
  - commenting out 1 of the lifecycle calls, it pass.
  - same code with `mount` also breaks.

Interesting:
  - wrapping the 1 of the `setState` with a`set

[2018-08-21 21:31] ljharb commented on #1784
I think this is a duplicate of #1783.

[2018-08-21 21:44] artola commented on #1784
@ljharb It could be that #1783 and #1784 are related. I just added some workarounds too, might be helpful to find the culprit.

[2018-08-21 21:45] ljharb commented on #1784
cc @koba04 on this one too

[2018-08-21 22:25] ljharb commented on #1783
@Ailrun in that code sandbox, when i type a single letter, i get a single console log - but i get the same even if i comment out the `return null` line inside the setState callback. However, when I add `return {}` or `return false`, it infinitely loops - indicating that this is the correct behavior - except for null/undefined.

Thanks for the report.

[2018-08-21 22:44] Ailrun commented on #1783
@ljharb yes, it also ignores `undefined` too. I missed that part. Thank you.

[2018-08-21 22:58] koba04 commented on #1783
Thanks to open the issue! I’ll working on this.

[2018-08-21 23:02] ljharb commented on #1783
@koba04 i'm about to restructure all the lifecycle method tests, so you may want to hold off for an hour or so :-)

[2018-08-21 23:03] Ailrun commented on #1784
And actually, it is infinite loop even in react. Could you check it in the react sandbox?

[2018-08-22 00:25] Ailrun commented on #1783
@ljharb That sounds great! I cannot wait to use fixed lifecycles :smiley:

[2018-08-22 00:56] ljharb commented on #1783
@koba04 k, go for it :-D

[2018-08-22 03:49] koba04 commented on #1783
I've created a PR to fix this.  #1785

[2018-08-22 04:01] koba04 commented on #1784
@artola
After enzyme v3.4.2, componentDidUpdate is always called if `options.disableLifecycleMethods` isn't enabled.
In this case, the followling didn't invoke `componentDidUpdate` before v3.4.2 so the update doesn't cause the infinite loop.

[code]

But this code would cause an inifinite loop with `react-dom` so I think this is not a bug for enzyme.

I found an issue that enzyme doesn't handle Pu

[2018-08-22 05:54] #1783 closed

[2018-08-22 12:16] koba04 commented on #1784
The PR is #1786

[2018-08-22 16:03] ahuth commented on #1780
Thanks for digging into it! @juanca and I may look into your PR, as well, and see if we can help

[2018-08-22 16:11] williambaumgartner commented on #419
It works for me if I **render()** first. (v3+)

[code]

[2018-08-22 18:30] daggeto opened #1787 "Assert state changes in one atomic function"
**Is your feature request related to a problem? Please describe.**
Hi, i want to test state changes in some atomic action.
Will try to explain code in this snippet:
[code]

**Describe the solution you'd like**
I want to to listen to changes on state. Let's say listen to `setState` or `render`. So later i can assert that `loading` was `true` and later changed to `false`.
**Describe alternatives you

[2018-08-22 20:29] Thomazella commented on #1178
[code]
As of above this seem to still be an issue. I worked around it wrapping the component in a `div` and calling `.text()`/`.html()` on that

[2018-08-22 21:28] #1784 closed

[2018-08-22 21:30] Ailrun commented on #1783
@ljharb Can I know when will this be released?

[2018-08-22 21:31] ljharb commented on #1783
I'll probably release a v3.5.0 later this week.

[2018-08-22 21:32] Ailrun commented on #1783
@ljharb Really thank you for this fast response!

[2018-08-22 21:43] ljharb commented on #1178
Yes, this issue will be closed when we have that support; we haven't added it yet.

You can also handle it by returning a `React.Fragment` rather than an array.

[2018-08-22 21:44] ljharb commented on #1787
Because `onImageLoad` is an `async function`, it's not an atomic function.

Your test would have to have access to the promise returned by `this.uploadImage`, and then await it, and *then* assert on the second state change.

[2018-08-22 21:50] luyizhao commented on #216
As a variation on @Burkazoid's suggestion, a workaround that doesn't require changing `currentTarget` to `target` in the code would be to use `onChange` instead of `simulate` in your tests and pass in your desired event, i.e.:
[code]

[2018-08-23 00:38] lhsantos commented on #1776
ok, sorry for the late response. i'm not completely sure of what i was doing wrong, but i think now i understand how this works. thanks!

[2018-08-23 12:32] subrat7 commented on #208
How to test below method

export function getDateTimeFormatted(value){
    if (typeof value == "undefined") { return "" ; }
   return moment.utc(value.valueOf()).locale("en").format("MM/DD/YYYY hh:mm:ss A");
}

[2018-08-23 14:30] daggeto commented on #1787
Good point. Thanks, will try to do that.

[2018-08-23 16:02] #1787 closed

[2018-08-23 21:28] wanecek opened #1788 "Documentation for ShallowWrapper.setProps out of sync"
**Describe the bug**
On the [overview of functions for ShallowWrapper](https://github.com/airbnb/enzyme/blob/master/docs/api/shallow.md), `setProps` is denoted to accept a callback as the second argument (`.setProps(nextProps[, callback]) => ShallowWrapper`). On the [details page](https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrapper/setProps.md), it only documents accepting the `ne

[2018-08-23 21:48] AndrewRayCode commented on #346
I don't know if this will help anyone, but this pattern seems to work for me:

[code]

and in your specs:

[code]

I'm not sure why you need the wrapper.update since I would expect a re-render to trigger, but this works

[2018-08-23 21:48] AndrewRayCode commented on #1581
(x-post from https://github.com/airbnb/enzyme/issues/346)

I don't know if this will help anyone, but this pattern seems to work for me:

[code]

and in your specs:

[code]

I'm not sure why you need the wrapper.update since I would expect a re-render to trigger, but this works

[2018-08-23 23:11] heathzipongo commented on #1213
If you do a wrapper.find(Fragment) it fails with the following error:
[code]

[2018-08-24 01:12] AndrewRayCode commented on #346
@ljharb nice good call! It looks like `.returnValues[0]` holds the pending promise. I updated the example

[2018-08-24 18:41] Julian-Jurai commented on #1265
For those like me please pay attention to the file name `\src\setupTests.js` its plural!! setupTest**S**

[2018-08-24 19:47] MadeoIT commented on #907
I am having the same problem. With `shallow` I was using `dive()`, but with `mount` it does not work.

[2018-08-24 20:49] ljharb commented on #1788
This is fine - the docs reflect the last *published* version, if you change from "master" to https://github.com/airbnb/enzyme/blob/enzyme%403.4.4/docs/api/ShallowWrapper/setProps.md, which matches that tag, you'll see they're in sync.

The next time master is published, the docs will be updated. (When adding types for a specific version of anything, you'll always want to be be on the appropriate v

[2018-08-24 20:50] ljharb commented on #1213
@heathzipongo what version of enzyme and which react adapter are you using?

[2018-08-24 21:38] wwwennn commented on #1233
meet with the same problem. html() is right but find couldn't find the dom. update() doesn't help.

[2018-08-25 01:50] heathzipongo commented on #1213
`enzyme@^3.3.0` & `enzyme-adapter-react-16@^1.1.1`

[2018-08-25 02:09] ljharb commented on #1213
@heathzipongo Fragment support was added to enzyme in v3.4. Try upgrading.

[2018-08-25 15:34] wanecek commented on #1788
Thanks for taking your time to explain this, and for the advice regarding types! :)

I may just be slow, but I still think the docs might be out of sync for 3.4.4 - compare [enzyme@3.4.4/docs/api/shallow.md](https://github.com/airbnb/enzyme/blob/enzyme%403.4.4/docs/api/shallow.md) with [enzyme@3.4.4/docs/api/ShallowWrapper/setProps.md](https://github.com/airbnb/enzyme/blob/enzyme%403.4.4/docs/api/

[2018-08-25 15:36] ljharb commented on #1788
Thanks, you’re right. A PR to fix that would be appreciated.

[2018-08-26 12:34] wanecek commented on #1788
Will do! Just to confirm, the intended behaviour is to allow a callback, right?

[2018-08-26 15:06] ljharb commented on #1788
Yes

[2018-08-26 20:48] ljharb commented on #1788
Fixed by #1791.

[2018-08-26 20:48] #1788 closed

[2018-08-27 02:22] wimpyprogrammer opened #1792 "IE 11: TypeError: Object doesn't support property or method 'from'"
**Describe the bug**

Enzyme 3.5.0 errors in Internet Explorer 11 with:
`TypeError: Object doesn't support property or method 'from'`

[code]

Here's [a simple example](https://github.com/wimpyprogrammer/react-responsive-breakpoints/blob/bug/ie-11-array-from/src/ie11.spec.js) and [the resulting build failures](https://travis-ci.org/wimpyprogrammer/react-responsive-breakpoints/builds/420917980).

T

[2018-08-27 05:13] ljharb commented on #1792
enzyme expects that you're using https://npmjs.com/airbnb-browser-shims or the equivalent. It'd be fine to add a note to that effect to the docs.

Regarding the specific breakage, it'd be reasonable to remove that usage of `Set` if polyfilling is a significant problem for you, but I'd prefer not to.

[2018-08-27 06:40] ltfschoen opened #1794 "setState does not set state"
**Describe the bug**
A clear and concise description of what the bug is.

I've setup versions enzyme 3.5.0 and enzyme-adapter-react-16 1.3.0.
I've created an enzyme test in this commit https://github.com/polkadot-js/apps/pull/265/commits/0d048c094b91762ac6a7812f5d4c5899b71b5af5 that mounts the component that passes. If I run a test with `expect(wrapper.get(0)).toBe(1);` it will show me that the co

[2018-08-27 06:54] ljharb commented on #1794
fwiw, `wrapper = wrapper.update();` isn't required; "immutable" just means you have to re-find from the root.

setState is async; what happens if you do:
[code]

[2018-08-27 09:14] ltfschoen commented on #1794
Thanks. I tried that before and I tried it again but it doesn't resolve the issue. I'll keep trying...

[2018-08-27 11:04] ChiuMungZitAlexander commented on #1386
@ljharb Your comment helped me a lot. I have been confused why the console always throws error of `simulate is not a function`. Thanks a lot.

[2018-08-27 12:36] ltfschoen commented on #1794
@ljharb @jacogr I tried changing the code to the following, using callbacks, promises, and async await, but the state of `currentItem` never changes from being undefined:

[code]

[2018-08-27 12:41] willdurand opened #1795 "`matchesElement()` suddenly throws an error: "cannot read property 'children' of undefined""
**Describe the bug**

Our test suite is failing because of `matchesElement()` calls when upgrading Enzyme from 3.3 to 3.5. Below is an example:

[code]

See:

- source code of the test case above: https://github.com/mozilla/addons-frontend/blob/bba25eb57eb423f8af6036e3f8f5c3fab3ed999d/tests/unit/amo/components/TestAddonReview.js#L143-L149
- travis build: https://travis-ci.org/mozilla/addons-fronte

[2018-08-27 14:31] rimunroe commented on #1737
I can't reproduce the bug anymore after updating enzyme to 3.5.0 and enzyme-adapter-react-16 1.3.0. I'm going to go ahead and close the issues since it appears to have been resolved 🙂

[2018-08-27 14:31] #1737 closed

[2018-08-27 15:04] rimunroe commented on #1751
I tried reproducing this error just now according to the included instructions, but both tests seem to pass just fine. Unmocking `console.error` & `console.warn` doesn't seem to result in any odd output being logged either.

@wchargin Are you still seeing this bug? If so, would you mind upgrading to enzyme@3.5.0 & enzyme-adapter-react-16.3@1.1.0 and letting me know if it's still a problem? I'm usi

[2018-08-27 16:38] ughitsaaron commented on #566
this was driving me bonkers. @kangax's solution was the best I could find. thanks for the suggestion!

[2018-08-27 17:30] wchargin commented on #1751
@rimunroe: Strange, indeed. I can’t reproduce it, either. I don’t
currently have access to the computer on which I originally wrote this
issue (which was on GNU/Linux—I’m currently on macOS). When I get back
to that machine, I’ll see if I can determine what happened.

Unfortunately, I can’t answer the question: I’ve had to stop using
Context altogether because it is effectively unsupported by Enzy

[2018-08-27 19:38] ronanmulvaney opened #1796 "Cannot read property 'tag' of null"
**Describe the bug**
Seeing an issue after upgrading to Enzyme 3.5.0 & enzyme-adapter-react-16 1.3.0 and react 16.4.2 on a large number of tests in our test suite.
The errors seem to all relate to new the fibre addition and tags and one example is below:
[code]

The class above as example is extremely simple:
[code]

Rolling back the version of the enzyme-adapter-react-16 to `1.2.0` resolves the t

[2018-08-27 22:09] ljharb commented on #1796
Thanks, this is a great bug to catch.

[2018-08-27 22:19] ljharb commented on #1796
@ronanmulvaney hm, i'm unable to reproduce this. what exactly is line 105 of `node_modules/enzyme-adapter-react-16/build/detectFiberTags.js` when you get this error? How are you using jsdom, and which version?

[2018-08-27 22:21] ljharb commented on #1794
Can you downgrade either, or both, of enzyme or the react 16 adapter, and see if this is a regression?

[2018-08-27 22:26] ljharb commented on #1795
The commit that seems to be triggering the error is https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-utils/src/Utils.js#L197, and https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-utils/src/Utils.js#L193 - but `document.activeElement.props` would always have been undefined, and that logic would have previously existed in the react adapter directly.

[2018-08-27 23:15] ronanmulvaney commented on #1796
react-dom 16.4.2, have latest Jest (23.5.0) so this is using jsdom 11.12.0 rather than specifying it ourselves.
Line 105 is
[code]

[2018-08-27 23:57] ljharb commented on #1796
ah that would definitely break it. I'd do `delete ReactDOM.createPortal` if you want to avoid breaking enzyme; why are you using react-test-renderer directly?

[2018-08-28 00:02] ronanmulvaney commented on #1796
Jest snapshot testing in my case.

[2018-08-28 00:03] ljharb commented on #1796
Can you use enzyme's `.debug()` for that?

[2018-08-28 00:03] ljharb commented on #1751
This issue should definitely be addressed because of a propType fix in the mount wrapper, fwiw.

[2018-08-28 02:09] wchargin commented on #1751
The original repro was correct. However, `enzyme-adapter-react-16.3`
depends on `enzyme-adapter-utils@^1.5.0`. When I created the original
repro, this resolved to version 1.5.0. It now resolves to version 1.6.0,
which fixes the problem.

The following `package.json` explicitly pins the subdependency, and
enables reproducing the original failure (with the same test script
above). Again, put this in

[2018-08-28 02:09] #1751 closed

[2018-08-28 08:41] huchenme commented on #1757
I just realized that you need to use `mountWrapper.find('input').props().value` instead of old reference, but this is not ideal. Can we support the old behavior of enzyme 2?

[2018-08-28 10:04] huchenme commented on #1230
@ljharb this still happens for 3.5.0 `wrapper.parent()` not working but `wrapper.parents().first()` does

[2018-08-28 11:16] willdurand commented on #1795
heh, that's good to know. I was not aware of that but it is written in the documentation 🤦‍♂️

[2018-08-28 11:30] ronanmulvaney commented on #1796
Debug didn't quite go as deep as I wanted here so ended up incorporating https://github.com/adriantoine/enzyme-to-json to give me something that matched my current snapshots plus gave the Portal support that was lacking.
Thanks for your help/direction on this one.

[2018-08-28 11:30] #1796 closed

[2018-08-28 12:49] wimpyprogrammer commented on #1792
Thanks for clarifying!  Importing `airbnb-js-shims/target/es2015` into my Karma environment fixes everything.

I'd love to submit a PR to mention `airbnb-browser-shims` in the docs but I wouldn't know what to say so I'll have to leave that to someone else.

Thanks for the help and all the great JavaScript tools!

[2018-08-28 12:49] #1792 closed

[2018-08-28 12:56] martinnov92 commented on #1276
Hello,
I am having the same issue, has anyone come up with some solution? Thank you

I am using - Karma, jasmine, gulp and Enzyme 3.5.
Without calling `Enzyme.configure(...)` the tests took about 2 minutes (~1400 tests) now it runs for 30 minutes and never finishes :/.

Thank you

[2018-08-28 14:38] m-architek commented on #1587
Problem is that `componentDidMount` function is called automatically on mount, so it is not possible to access its return value.

Two others possible solutions:

1) Assign promise to field of the class:
[code]

2) Wait for promise created after promise you wait for:
[code]

[2018-08-28 16:47] astorije commented on #1213
Hey @ljharb, using `enzyme@3.5.0` and `enzyme-adapter-react-16@1.3.0`
(but also `enzyme-matchers@6.0.4` and `jest-enzyme@6.0.4` outside of this project, and TypeScript and ts-jest), I'm getting bitten by fragments as well and wondering if I'm doing something wrong.

Assuming the following code

[code]

And the following test:

[code]

`Bar` simply does not get rendered:

[code]

`mountWithIntl` is

[2018-08-28 17:16] ljharb commented on #1230
@huchenme can you file a new issue, with repro steps?

[2018-08-28 17:17] ljharb commented on #1795
This seems like it's just better exposing a bug in your tests, and not actually a bug in enzyme - are you OK to close?

[2018-08-28 17:18] ljharb commented on #1757
@huchenme it's required in enzyme 3; you always have to re-find from the root after anything changes. See https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved

[2018-08-28 17:20] ljharb commented on #1213
@astorije Note that `<>` is `React.Fragment`; whereas this issue is about "fragments" which is when components render arrays or strings.

Yes, v3.5 has Fragment support, so this seems like it should work. However, the use of `enzyme-matchers` might be complicating things. Can you file a new issue (since this one isn't about `<>`/`Fragment`)?

[2018-08-28 17:38] ziyadmutawy commented on #1757
@ljharb I did try to re-find it from the root at: `inputElement = mountWrapper.find('input');` is that not the right way?

[2018-08-28 17:45] ljharb commented on #1757
@ziyadmutawy oh you're fine; i was responding to https://github.com/airbnb/enzyme/issues/1757#issuecomment-416500618.

The issue might be that `simulate` doesn't actually simulate anything, and should be avoided - all it does is invoke a prop function.

Have you tried `mountWrapper.forceUpdate()` as well? Also, is AutoCompleteInput doing anything async?

[2018-08-28 19:41] astorije commented on #1213
Oops, sorry. Will totally do that!

[2018-08-28 20:00] willdurand commented on #1795
I think so. /cc @kumar303

[2018-08-28 20:19] GreenGremlin opened #1798 "Documentation does not make it clear when to use `.dive()` vs `.shallow()`"
**Describe the bug**

It's not clear to me what the differences between `.dive()` and `.shallow()` are. From the documentation, and the code, it looks like they do the same thing except that `.dive()` errors if the element is anything but a component. It also looks like `.dive()` inherits the options of the container it is called on, where `.shallow()` does not.

Why would one choose to use `.dive

[2018-08-28 21:40] #1795 closed

[2018-08-28 21:40] ljharb commented on #1798
`.dive()` is sugar for "throw if there's more than one child, throw if that child isn't a custom component, call `.shallow` on it". It was a common enough pattern that it warranted first-class inclusion.

Improvements to the docs to make this more clear are quite welcome.

[2018-08-28 21:41] ljharb commented on #1798
In particular, the mantra i often use is "when shallow rendering, one .dive() per HOC"

[2018-08-28 21:49] ljharb commented on #1782
@dagda1 ping

[2018-08-28 22:41] astorije opened #1799 "Enzyme matchers do not match correctly children of React Fragments"
**Describe the bug**

This is a dedicated issue corresponding to a comment I initially left at https://github.com/airbnb/enzyme/issues/1213#issuecomment-416658762.

When using React Fragments, it looks like only the first child is being picked up by the matchers.

**To Reproduce**

Assuming the following code:

[code]

And the following test:

[code]

`Bar` simply does not get rendered:

[code]

`

[2018-08-28 22:47] ljharb commented on #1799
Since `toIncludeText` isn't part of enzyme itself, can you try with `expect(wrapper.text()).toInclude('Foo')` etc? What's `wrapper.text()` here?

[2018-08-28 23:13] ltfschoen commented on #1794
Sorry, I just tried it again and found that only the test using Callbacks fails. Using Promises and Async/Await both work. It fails when I try with these versions

* "enzyme": "^3.5.0",  "enzyme-adapter-react-16": "^1.3.0",
* "enzyme": "^3.4.4", "enzyme-adapter-react-16": "^1.2.0",
* "enzyme": "3.3.0", "enzyme-adapter-react-16": "1.1.1",

I've tried these approaches using Callbacks and neither of

[2018-08-28 23:36] ltfschoen commented on #1794
I tried again and it doesn't work with the following versions. I tried using Callbacks, Promises, and Async Await, but cannot change the state.

* "enzyme": "^3.5.0",  "enzyme-adapter-react-16": "^1.3.0",
* "enzyme": "^3.4.4", "enzyme-adapter-react-16": "^1.2.0",
* "enzyme": "3.3.0", "enzyme-adapter-react-16": "1.1.1",

[code]

[2018-08-29 03:12] lencioni commented on #1799
I'm also curious if reversing the order of the assertions to be

[code]

will cause the same assertion to fail, i.e. is this always failing on the second assertion or on the text of the second child?

[2018-08-29 03:17] ljharb commented on #1799
That’s also a very good question. There’s some issues with statefulness, shown in #1781, that may be related, if so.

[2018-08-29 07:18] #566 closed

[2018-08-29 07:18] ljharb commented on #361
`mount` has `.ref()`; `shallow` doesn't have a DOM available (see #672).

Related: #1459, #566.

Closing; please file new issues if there's something more that's needed here.

[2018-08-29 07:18] #361 closed

[2018-08-29 09:29] nagarajasr opened #1800 "text() returns element instead of text"
**Describe the bug**
text() returns element instead of text

**To Reproduce**
Steps to reproduce the behavior:

*src/namaskaara.tsx*
[code]
*src/test/namaskaara.spec.tsx*
[code]

**Expected behavior**
expect that text() returns 'namaskaara react !'

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Linux
 -

[2018-08-29 10:18] geminiyellow commented on #1255
@kohlmannj thanks , but when i use `extends` and throw error in constructor,

[code]

code is here.

[code]

[2018-08-29 13:38] HunderlineK commented on #216
Is there a way  to simulate checking a checkbox that is within in a `select`?

[2018-08-29 17:50] ljharb commented on #1800
You're using shallow rendering - which means the `Alert` will not be rendered initially. You can use `wrapper.find(Alert).shallow().text()`, however.

[2018-08-29 17:51] ljharb commented on #1255
When using `mount`, `componentDidCatch` should already work. When using `shallow` on an error boundary, nothing is being rendered that *could* throw, so there's no way to trigger the error.

#1797 will add proper support for this.

[2018-08-29 17:52] ljharb commented on #216
@HunderlineK no, you can't simulate anything. You can explicitly invoke the `onClick` or `onChange` prop; you can explicitly set the state so that it's open, but what you want to do requires a full browser integration test, and can't be done properly with enzyme.

[2018-08-29 20:02] DanDobrick commented on #692
@mddrill
A cleaner syntax is suggested here:
https://github.com/airbnb/enzyme/issues/1800#issuecomment-417044226

[2018-08-29 20:56] #1800 closed

[2018-08-30 01:10] naoki-tomita commented on #1610
Awesome!!!!
Thank you @ljharb !!
The test has passed.

[2018-08-30 01:10] #1610 closed

[2018-08-30 06:11] ljharb commented on #1600
I believe this is addressed; I'm going to close it. Please file a new issue if there's still issues.

[2018-08-30 06:11] #1600 closed

[2018-08-30 06:15] ljharb commented on #336
This seems addressed; if you're still having trouble and using `render`, you'll need to file an issue on cheerio - if you're using `shallow`/`mount`, please file a new issue.

[2018-08-30 06:15] #336 closed

[2018-08-30 06:29] ljharb commented on #786
@itsravenous can you provide reproduction code?

[2018-08-30 06:37] ljharb commented on #521
I'm going to close this, since it predates v3, and nobody's reported it in awhile. Please file a new issue if there's still problems.

[2018-08-30 06:37] #521 closed

[2018-08-30 17:36] Wgil commented on #645
What about testing the `key` prop to match a specific value unsing something like:
[code]

[2018-08-30 22:55] ljharb commented on #1177
@davemcg3 if you could file a new issue with repro code, we can narrow down if it's an expected difference or a bug :-)

[2018-08-31 02:35] fadookie commented on #1447
Was banging my head on the wall about this error message for an hour and finally figured out a solution. In my case the situation above didn't really apply although I was trying to write a test that shallow renders a HOC.

Apparently, [enzyme considers any component with a lowercase name to be a host component](https://github.com/airbnb/enzyme/issues/966#issuecomment-305614624). So if you run into

[2018-08-31 02:39] ljharb commented on #1447
@fadookie not just enzyme, but react and jsx itself - anything that's a custom component MUST be named with a capital letter.

[2018-08-31 07:31] #636 closed

[2018-08-31 07:42] ljharb commented on #642
This is working as intended; shallow is what Test *renders*, mount is Test *itself*.

[2018-08-31 09:14] QuantumInformation commented on #1501
I only get this error when trying to debug with webstorm

[2018-08-31 13:10] honzajavorek opened #1801 "Replace cheerio?"
**Is your feature request related to a problem? Please describe.**

We're doing legal and security audits of our dependencies and so far one of the most problematic parts is the `cheerio` project and its dependencies. See following issues:

- https://github.com/fb55/domelementtype/issues/8
- https://github.com/fb55/boolbase/issues/3
- https://github.com/fb55/nth-check/issues/4
- https://github.com

[2018-08-31 15:38] comfroels commented on #1794
Yeah I seem to be running into this same issue. I have an instance method that sets state, so I run the instance method and ensure the the correct state gets set:
[code]
Enzyme 3.5.0 enzyme-adapter-react-16 1.3.1

I changed it to manually call `setState` on the wrapper, but the state still isn't set.
[code]
This still doesn't set the state correctly. I even tried it with the callback on `setState`

[2018-08-31 16:13] honzajavorek commented on #1801
What about using the [jQuery npm package](https://www.npmjs.com/package/jquery) itself, directly?

[2018-08-31 17:26] ljharb commented on #622
@timhonders @dzek69 can either of you provide full repro code?

The line you're referring to seems to be changed in v3, so this might be resolved. I'm going to close it, but will reopen if there's a way to repro.

[2018-08-31 17:26] #622 closed

[2018-08-31 17:52] ljharb commented on #1801
@honzajavorek the jQuery npm package requires a DOM to work; the whole point of cheerio is that it doesn't.

Since enzyme is a test framework, there shouldn't be any security issue, and since you're not redistributing it, there's unlikely to be any legal issue - with *any* of its dependencies. Specifically, while the lack of a proper SPDX identifier and/or a license file in a given dep is frustrat

[2018-08-31 18:36] honzajavorek commented on #1801
Not so important for this issue, but... A test framework is a program which the developer runs on their computer. Developer's computer is usually full of environment variables filled with access tokens, private keys, etc. Company's developer is often the best attack vector.

In my company lawyers' understanding of the world, if I'm building an Open Source product, then both its dependencies and th

[2018-08-31 18:36] #1801 closed

[2018-08-31 19:28] ljharb commented on #1801
Dev deps count in terms of use, but transitive deps that you don’t distribute aren’t your concern. Obviously you have to respect what your lawyers tell you, but “some lawyers said so” isn’t the same thing as actual legal obligation.

[2018-08-31 20:08] honzajavorek commented on #1801
If Enzyme is my 1st level dependency, then everything Enzyme depends on
affects me transitively as it's still all dynamically linked. I mean all
Enzyme’s dependencies and their dependencies, not dev dependencies. To my
knowledge Cheerio & css-select are dependencies of Enzyme, not dev
dependencies.

On Fri, 31 Aug 2018 at 21:28, Jordan Harband <notifications@github.com>
wrote:

[2018-08-31 21:48] comfroels commented on #1794
So downgrading back down to 3.3.0 works for me. So I think it's enzyme causing this?

[2018-08-31 22:28] ljharb commented on #1801
It's not linked at all, it doesn't ship with enzyme - you install it. and if you don't distribute it, even if it's unlicensed, you may still have the right to use it - that's the grey area.

[2018-08-31 23:17] ljharb commented on #1794
@comfroels can you confirm which exact version it breaks on? does it work on v3.4.0?

[2018-09-01 04:44] ljharb commented on #839
I'd suggest avoiding use of `simulate`; it doesn't actually simulate anything. Instead, explicitly invoke the prop you're interested in.

Being able to test text selection requires that you get the DOM node in question, and use the native text selection APIs. I'd be happy to accept a PR to the docs to illustrate how this can be done, if someone's interested, but I think it's outside the scope of e

[2018-09-01 04:44] #839 closed

[2018-09-01 04:44] ljharb commented on #856
(related to #839)

[2018-09-01 04:44] #856 closed

[2018-09-01 04:45] ljharb commented on #847
I'm going to close this; I'm not sure what there is to do here.

Happy to reopen if someone can provide a clear description of what needs changing; please feel free to file a new issue as well.

[2018-09-01 04:45] #847 closed

[2018-09-01 04:45] #887 closed

[2018-09-01 04:52] ljharb commented on #888
This seems resolved.

[2018-09-01 04:52] #888 closed

[2018-09-01 05:55] ljharb commented on #906
This seems mostly fixed; I'm seeing a difference in that with shallow, there's 5 children, and with mount, there's just 3.

[2018-09-01 05:59] #906 closed

[2018-09-01 06:13] ljharb commented on #912
Merged in #913.

[2018-09-01 06:13] #912 closed

[2018-09-01 06:14] ljharb commented on #919
Closing; please file a new issue if needed.

[2018-09-01 06:14] #919 closed

[2018-09-01 06:40] ljharb commented on #1037
This is a tricky one; the contract for "exists" is "has nodes". `null` is technically a node.

[2018-09-01 06:41] ljharb commented on #1012
I'm going to close this; happy to reopen if needed.

[2018-09-01 06:41] #1012 closed

[2018-09-01 07:16] honzajavorek commented on #1801
I recommend reading
https://medium.com/@vovabilonenko/licenses-of-npm-dependencies-bacaa00c8c65
or consulting your company lawyers. I’m clearly distributing the dev deps
e.g. when I use Travis CI.

On Sat, 1 Sep 2018 at 00:28, Jordan Harband <notifications@github.com>
wrote:

[2018-09-01 10:58] blackpost38 commented on #1037
Oh, It's clear! I got it.

[2018-09-01 10:58] #1037 closed

[2018-09-01 15:45] ljharb commented on #1046
This test seems to be passing on latest master.

[2018-09-01 15:46] #1046 closed

[2018-09-01 15:47] ljharb commented on #1059
Closing in favor of #249.

[2018-09-01 15:47] #1059 closed

[2018-09-01 15:49] #1116 closed

[2018-09-01 15:50] ljharb commented on #1153
This is an old issue that's very long, and there's been numerous updates since all of the comments.

I'm going to close this, since it's not clear to me what's still broken.

If you're still having trouble, *please* do file a new issue, with a clear repro step, filling out the template - and we'll get it addressed ASAP.

[2018-09-01 15:50] #1153 closed

[2018-09-01 15:51] ljharb commented on #1173
Merged in #1207.

[2018-09-01 15:51] #1173 closed

[2018-09-01 15:52] ljharb commented on #1178
(related to #1213)

[2018-09-01 15:55] ljharb commented on #1228
This seems answered. Happy to reopen if needed, and feel free to file a new issue if applicable.

[2018-09-01 15:55] #1228 closed

[2018-09-01 15:55] #1282 closed

[2018-09-01 15:57] ljharb commented on #1292
`.html()` does a server-render, and returns the result.

Try `.debug()`; if that's working, but `.html()` is not, then it's an issue with React, and it needs to be filed there.

[2018-09-01 15:57] #1292 closed

[2018-09-01 16:02] ljharb commented on #1329
Mutating the context in React itself doesn't cause a rerender, so I wouldn't expect enzyme to do it.

Happy to reopen this with a failing test case using a forced rerender.

[2018-09-01 16:02] #1329 closed

[2018-09-01 16:05] ljharb commented on #676
@laumair a ref callback provides that.

[2018-09-01 16:05] #676 closed

[2018-09-01 16:06] ljharb commented on #734
The original question seems answered.

I wouldn't recommend using `simulate` since it doesn't actually simulate anything. Instead, directly invoke the prop function you want.

[2018-09-01 16:06] #734 closed

[2018-09-01 16:11] ljharb commented on #1539
This is done for the 16 adapter, and future adapters, in #1778 / #1790.

[2018-09-01 16:11] #1539 closed

[2018-09-01 16:11] ljharb commented on #1512
(Related to #1778 / #1790)

[2018-09-01 16:12] ljharb commented on #1549
@LucaLovagnini can you reproduce this on the latest enzyme and adapter? If so, I'm happy to reopen.

[2018-09-01 16:12] #1549 closed

[2018-09-01 16:13] ljharb commented on #1567
@xixixao @cpojer is this still something that's needed? any thoughts on https://github.com/airbnb/enzyme/issues/1567#issuecomment-373923167 ? (cc @aweary @gaearon)

[2018-09-01 16:15] ljharb commented on #1559
Given that there's no good way to do it, that means you have to mock out, or spy on, any async things that you do manually - and manually make your tests wait on those results.

This may change in React 17 and later, but in <= 16, I don't think there's any better solution.

[2018-09-01 16:15] #1559 closed

[2018-09-01 16:16] ljharb commented on #1599
Closing, but happy to reopen with a test case.

[2018-09-01 16:16] #1599 closed

[2018-09-01 16:26] ljharb commented on #1708
@ericsoco so the real issue here is that you're using DOM methods to directly manipulate the DOM, which is an antipattern in react. Instead, use state, and render *as jsx* the new div. This passes:
[code]

In other words, enzyme is meant to test the React tree - and explicitly *not* to test the actual DOM. If you're doing any direct DOM manipulation, you're stepping outside of the box React wants

[2018-09-01 16:26] #1708 closed

[2018-09-01 20:41] ljharb commented on #1799
I'm able to reproduce this for `mount` only, regardless of order.

[2018-09-01 20:59] ljharb commented on #1799
I've pushed up failing test cases; the issue seems to be that the adapter's `nodeToHostNode` only returns the first node - even though for fragments, there's multiple. Additionally, there's no way in the tree to identify that there's a fragment.

I'm not sure what the best option is - perhaps including the fragment in the tree and flattening it only where needed? or perhaps overloading nodeToHostN

[2018-09-01 21:46] ljharb commented on #1767
@MarcelloVSilva are you able to provide more information, such as the code of `createProxy`? if so, i'll be happy to reopen this; otherwise i'll need to close it.

[2018-09-01 21:46] #1767 closed

[2018-09-01 21:47] ljharb commented on #1712
Happy to reopen this with some more info.

[2018-09-01 21:47] #1712 closed

[2018-09-03 17:02] ljharb commented on #1289
Duplicate of #635.

[2018-09-03 22:41] lucasdeassis commented on #1400
Also saw that when happen you
`import {Component} from '<path>';`
instead of
`import Component from '<path>';`
such problem happens.

[2018-09-04 04:33] #1255 closed

[2018-09-04 05:39] hrai commented on #1637
Or you can always downgrade to older version of node

[2018-09-04 06:41] geminiyellow commented on #1255
🙇 thank you!

[2018-09-04 10:01] parsonsnguyen commented on #1636
- [ ]

- [1. ](

)

[2018-09-04 13:17] atsikov commented on #1599
I checked it once again. Looks like the issue was fixed in enzyme@3.4.0.

[2018-09-04 13:46] drydenwilliams opened #1803 "lifecycles Object added to adapter snapshots"
## 🤔

After writing some tests for a component (which all passed ✅) I ran the entire test suite. Firstly it seems to have added a `lifecycles` Object too all of my snapshots. Even though I haven't actually changed any other components. On the diff I see this received lines:

[code]

## Versions

I'm running: Node Version `10.9` and Jest `^22.4.3`.

## Expected behavior

I would expect it just to f

[2018-09-04 13:47] #1803 closed

[2018-09-04 13:47] drydenwilliams opened #1804 "lifecycles Object added to adapter snapshots"
## 🤔

After writing some tests for a component (which all passed ✅) I ran the entire test suite. Firstly it seems to have added a `lifecycles` Object too all of my snapshots. Even though I haven't actually changed any other components. On the diff I see this received lines:

[code]

## Versions

I'm running: Node Version `10.9` and Jest `^22.4.3`.

## Expected behavior

I would expect it just to f

[2018-09-04 14:28] #1804 closed

[2018-09-04 14:29] drydenwilliams commented on #1804
Found that by removing `node_modules` and then committing my `yarn.lock` it seemed to do the trick and only detect a diff from the file I changed.

[2018-09-04 15:36] harrygreen commented on #1391
I fixed this by snapshotting the component instead of the parent `<Router>`

Try:
[code]

[2018-09-04 17:43] ljharb commented on #1804
Duplicate of #1803.

enzyme doesn't support snapshots; so if you're using anything besides `.debug()` output, there's no guarantee it won't break with every version published.

[2018-09-04 17:44] ljharb commented on #1391
To repeat; I strongly discourage snapshot testing in any form due to its brittleness, but if you insist on using it, the only thing enzyme would support there is `.debug()` output.

[2018-09-05 07:00] ljharb commented on #1782
I'm going to close this; if you can share the code for `Form`, and the code that creates `this.wrapper`, i'll be happy to reopen it.

[2018-09-05 07:00] #1782 closed

[2018-09-05 07:03] ljharb commented on #1503
I'm going to close this, pending repro info.

[2018-09-05 07:03] #1503 closed

[2018-09-05 07:08] ljharb commented on #1400
@Acidfabric per https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved, you can't cache found wrappers - iow, you have to re-find from the root every time. Instead of asserting on `listElement`, assert on `wrapper.find('li')`.

I'm going to close this. Please file a new issue if there's still a concrete, reproducible is

[2018-09-05 07:08] #1400 closed

[2018-09-05 12:16] giladl82 commented on #1314
I'm having the same issue

[2018-09-05 13:09] maxcrystal commented on #1289
I found this works to set state of the inner component:

[code]

[2018-09-05 13:35] robwierzbowski commented on #1289
@maxcrystal Great solution.

[2018-09-05 17:42] kmaitski opened #1806 "wrapper.instance() returns null for a stateful component"
**Describe the bug**
Instead of returning an instance of the wrapper, wrapper.instance() is returning null

**To Reproduce**
Here is my package.json:
[code]

My setup file:
[code]

The component:
[code]

And finally the test:
[code]

I want to test my addOne method, but it is failing because wrapper.instance() is returning null.

Here is my error message:
[code]

**Expected behavior**
I expect wra

[2018-09-05 17:58] awreese commented on #426
Testing a React app I had to simulate a string of text input, arrived at this solution using sinon:

    const sandbox = sinon.createSandbox();

    let handlers = [];
    const fakeAddListener = (type, handler) => handlers.push(handler);
    const dispatchKeypress = (e) => handlers.forEach(h => {h(e)});

    // My handlers only examine the `which` property, but construct event with the properties

[2018-09-05 18:41] astorije commented on #1799
@ljharb, sorry for the delay! It seems to me that you have already identified the source of the issue, but I'll still reply here with what I can figure out in case that's useful:

Note that I am highly unexperienced with Enzyme yet, and it's likely something it misconfigured on our end, but for some reason this gives me `TypeError: expect(...).toInclude is not a function` at the moment. I'm very c

[2018-09-05 19:38] ljharb commented on #1806
A shallow wrapper isn't the component, it's what the component renders - so if you wrap `CountDownToRefresh`, the wrapper you get is around the div it renders - which has no instance.

[2018-09-05 19:40] ljharb commented on #1806
hmm, although i would expect that to work. Does this work in an earlier version of enzyme 3, like v3.3?

[2018-09-05 19:40] ljharb commented on #1799
I don't think there's a workaround at the moment.

[2018-09-05 19:41] ljharb commented on #1314
@giladl82 please file a new issue with a test case.

[2018-09-05 20:43] kmaitski commented on #1806
Same issue the wrapper.instance() keeps returning null.  Am I using shallow and instance() correctly?  Is there another way to test a component's method?  This method was one that I found on a blog.

[2018-09-05 20:47] ljharb commented on #1806
@kmaitski i see the issue. You're creating the wrapper at module level - and one of your tests unmounts it.

All code under test should *only ever* appear in a `beforeEach` or and `it`. That means, you should be copy-pasting and creating the wrapper inside each `it`.

[2018-09-05 20:48] kmaitski commented on #1806
Also I am not able to simulate a click on this component either.  Not sure if that is related or not.

Here is the test:
[code]

and the error message:
[code]

Again not sure if they are related just wanted to give you some more info.

[2018-09-05 20:51] kmaitski commented on #1806
Wow that was it.  Such a dumb mistake.  I had thought that the unmount code would be constrained in that test.  Thank you so much for your help I really appreciate it.

[2018-09-05 20:51] #1806 closed

[2018-09-06 09:45] ortonomy commented on #1432
@ljharb -- you can do this. it works, I've tested it, errr, in a test. 😆

[2018-09-06 15:19] ljharb commented on #1432
@ortonomy only if you force update the wrapper after the instance has been overwritten.

Either way, it’s conceptually incorrect to put arrow functions in class fields - i recommend never to do it.

[2018-09-06 15:43] mwanago commented on #1112
@SteveGBanton You're a lifesaver!

[2018-09-06 16:41] adamhooper commented on #947
Not my best-engineered work, but here's how I tested a component that requires mount().

[code]

A better approach would be composition: test the data-fetching layer separately from the rendering layer. But my current setup makes that hard, so the above workaround will suffice for now.

[2018-09-06 19:55] ljharb commented on #947
I don't agree that would be better; if those two layers are never used independently in production, then there's not much value in testing them independently.

[2018-09-07 11:18] lesbaa opened #1807 "Trouble with selectors"
**Describe the bug**
`element.find('span.active-nav-option')` returns nothing whilst `element.find('.active-nav-option')` returns the span. The point of the test is to find out if a `span` was rendered instead of a `Link`.

Component is as follows:

[code]

**To Reproduce**
run this line as a test:

[code]

**Expected behavior**
`element.find('span.active-nav-option')` should return the `span`. I