[2017-10-26 09:55] palaniichukdmytro commented on #1201
The issue with was solved after I use `account.update()`

[2017-10-26 09:58] palaniichukdmytro commented on #1228
I tried with, but not quite sure if it ok to check the React Element Type. Do we have another way to check the react element type with enzyme 3.x?
`alarmConfigurationItem.findWhere(t => t.containsMatchingElement(alarmsConfiguration[type].icon)).should.exist`

[2017-10-26 11:53] peter-mouland commented on #1298
I can confirm:

*test*
[code]

*result*:  enzyme 2 and React 15.6.2
`pass`

*result*:  enzyme 3 w/ react-15/16 adapter and React 15.6.2 or 16
[code]

[2017-10-26 13:58] akonwi commented on #827
How can string selectors be a code smell? Selectors are strings in regular DOM node searches. If enzyme prefers using the function over the name, then that should be documented and if it is, I haven't seen it.

[2017-10-26 14:15] temilolu commented on #1193
Hello,
I had the same issues. So far I did this and it worked for me.

import React from 'react';
import { configure, shallow } from 'enzyme';
import Adapter from 'enzyme-adapter-react-16';
import Search from '../Components/Search';

configure({ adapter: new Adapter() });

test('Search snapshot test', () => {
	const component = shallow(<Search />);
	expect(component).toMatchSnapshot();
});

[2017-10-26 15:41] ljharb commented on #827
The DOM doesn’t provide you with anything better; enzyme does. (One way is that you might have two components named “TextInput”)

That enzyme supports finding by component is documented; that strings are always worse when other options exist is true in the general sense; perhaps we should add the recommendation to the docs - but it’s still just as true either way :-)

[2017-10-26 16:51] akonwi commented on #827
[Enzyme docs](http://airbnb.io/enzyme/docs/api/selector.html#3-a-react-components-displayname) state that a component's display name can be used as a selector. I used a display name as a selector and it worked inconsistently, so there's a problem here and it could be faulty setup on my part or an issue with enzyme. I posted here for assistance to find out.

Saying that using a string selector is "

[2017-10-26 16:53] ljharb commented on #827
I totally agree that it should be working properly; if you could provide more background on your original problem, then this should probably be reopened?

[2017-10-26 17:18] ljharb commented on #1293
@ChaseMoskal yes, this is correct for all npm packages - node doesn't support ES Modules natively yet, so everything is transpiled to commonJS. However, babel's interop means that when you use `import` with it, it will properly have the semantics of ESM.

"Enzyme is provided in Common JS format, so developers using es6 modules will need to use the import * as syntax instead:" is only true for Type

[2017-10-26 17:41] michaelgmcd commented on #1217
Ran into this issue and did some debugging myself. Enzyme relies on the `instance._reactInternalFiber` property which did not exist until a later version of React. This did not work for me on react-native version `0.49.3` (the latest version at the moment) which uses react 16.0.0-beta.5. Updating to react@16.0.0 fixed this issue.

[2017-10-26 18:38] ChaseMoskal commented on #1293
I found a relevant [typescript compiler option](https://www.typescriptlang.org/docs/handbook/compiler-options.html):

I suspect this may allow the readme usage example to work for TypeScript users, I think this is something like the equivalent of Babel's interop

I think it would be useful to add a quip in the readme's usage example:

[2017-10-26 18:51] akonwi commented on #827
I haven't worked on the code where I had this issue in months and it's changed since the original post. I think that's part of why I closed the issue too.

In the test though, I was doing a shallow render of my component, whose render method looks like this:

[code]

I'm not working on the codebase for this anymore so this isn't an issue for me anymore but if @brookslyrette has the same problem th

[2017-10-26 22:20] ljharb commented on #1298
Thanks! That means it's not specific to the react 16 adapter, which means it's a v3 issue.

@aweary, could you take a look into this one?

[2017-10-26 22:21] ljharb commented on #1217
Sounds like we need to up the peer dep on the react 16 adapter to a later version; @michaelgmcd, do you know which exact react 16 version added that property?

[2017-10-26 22:22] ljharb commented on #1293
That one sentence seems much more palatable to me (with the order of the "either"s reversed). Want to make a PR?

[2017-10-26 22:29] maurocarrero commented on #1303
@ljharb I can help with this.

[2017-10-27 00:50] #1277 closed

[2017-10-27 03:51] Namekians commented on #1229
I got the same issue here when update state internally.
But if I call setProps() to set any prop(even an irrelevant prop) when initializing the component, the test case will pass as expected. Any thoughts on this?

[2017-10-27 04:42] anthonymuau opened #1306 "Simulate keyDown Escape not working in enzyme 3"
We just upgrade to enzyme 3 from enzyme 2 and using Simulate a keyDown event with key Escape does not work at all yet other keys like enter work fine.

below is the full code:

[code]

[2017-10-27 04:50] ljharb commented on #1306
In enzyme 3, you'll have to re-find everything after every change - iow, you can't cache `wrapperResultsInterWrapper`.

[2017-10-27 05:25] anthonymuau commented on #1306
@ljharb Oh cool thanks for information fixed the issue. closing this issue.

[2017-10-27 05:25] #1306 closed

[2017-10-27 08:25] newnewnet commented on #1253
I also have Mount Rendering problem that render component twice.

[2017-10-27 09:05] palaniichukdmytro opened #1307 "Hpw to attach the ref when componentDidMount"
I tried to test ref container on mount, but when I update to enzyme 3.x and react 16,  I catch the error and can not found the ref container that expected.
Before:
[code]
[code]

Error :
```AssertionError: expected <div style="outline: none;" tabindex="0">........</div> to equal undefined```

I tried like this but got an error
`expect(automatic.ref('container')).toBeInstanceOf(automatic.constructo

[2017-10-27 13:31] sroutledge commented on #1259
I'm also seeing similar behavior. Unfortunately, the fix of using `.render().find` doesn't work in all my cases, due to some child components being connected. If I render the component to do a `.find`, I get `Could not find "store" in either the context or props of "Connect(Form(myChildComponent))"`.

I will try to create a reproducible case.

[2017-10-27 14:21] palaniichukdmytro commented on #1145
Hi, I still have an issue with that. I mount component,  and want to testing something that uses a DOM-specific API like findDOMNode , but id does not work for me.

[code]

The component
export class Alarms extends Component {
    static propTypes = {
        .....
    }

    state = {containerHeight: 400}

    componentWillMount = () => this.props.init()

    componentDidMount = () => {
        c

[2017-10-27 15:04] dmccown1500 commented on #1233
Seeing the same issue as @dcolthorp. Its odd the the element.getDOMNodes() shows the correct post loading view but the element.debug() shows the DOM from the loading screen...

[2017-10-27 15:10] palaniichukdmytro commented on #1145
After I tried like unmount/mount, the test was passsed, but why?
[code]

[2017-10-27 15:50] reyraa opened #1308 "Error: Performance.mark is not a function"
Hi,

**What am I doing?**
I'm trying to migrate from react 15 to react 16, consequently migrate from enzyme v2.x to v3.x. I have about 500 unit tests in which I use enzyme to mount my component. I followed [Migration Guide](https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md) and faced this error in over 100 tests:

**The error I hit:**
[code]

I've tried to fix the i

[2017-10-27 15:52] ljharb commented on #1308
I would recommend not migrating two things at once. Get react 15 and enzyme 3 working first; then upgrade to react 16.

[2017-10-27 15:54] reyraa commented on #1308
@ljharb We've migrated react first, application is working without any issues. the migration was smooth and easy.

[2017-10-27 16:17] dmccown1500 commented on #1233
WORK AROUND FOUND: So at least for us this was an issue where Redux (or maybe Redux-Saga/Thunk?) and Enzyme are not playing well together. Enzyme does not auto-update the wrapper when some of the external updates are happening. They talk about in the [migration guide](https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#for-mount-updates-are-sometimes-required-when-the

[2017-10-27 17:13] michaelgmcd commented on #1217
I've only briefly looked into this, but it looks like [this commit](https://github.com/facebook/react/pull/10434/files) made the change and it was released in react 16.0.0-rc.1 according to this [release candidate issue](https://github.com/facebook/react/issues/10294)

[2017-10-27 19:36] trevorwhealy commented on #1002
If you don't need access to the redux store as part of your unit test, don't forget that you can also export the React component individually in addition to exporting the connected variant by default.

[code]

In your test, just extract the "pure" Component rather than the connected one:

[code]

[2017-10-27 20:46] ljharb commented on #1002
You shouldn't do that, however, because if it's never used by itself in production, there's no value in testing it by itself. Use `.dive()`.

[2017-10-27 20:54] ljharb commented on #1307
What happened on enzyme 3 and React 15? (Upgrading both at the same time is a very bad idea)

[2017-10-27 21:25] trevorwhealy commented on #1002
I wouldn't say that it has no value @ljharb but I also know what you're saying. Using `shallow` with `dive` was not working for my use case. I got the error: `Method “props” is only meant to be run on a single node. 0 found instead`. In my case the Redux store wasn't necessary for the functionality I was testing.

[code]

[2017-10-27 21:43] ljharb commented on #1308
Right, but if you don't have enzyme 3 passing on react 15 first, then we can't know if it's react 16 breaking things (which might be expected), or if it's enzyme 3 breaking things.

[2017-10-27 21:43] ljharb commented on #1308
Unit tests passing are *much* more important than e2e tests anyways.

[2017-10-27 21:45] ljharb commented on #1002
@trevorwhealy that's worth exploring - i don't see any `.props()` calls in that code, nor is `dispatchMock` used anywhere - but it doesn't change that exporting the "pure" component just for testing isn't a good practice.

[2017-10-27 21:45] ljharb commented on #1217
ok - we should lift the peer dep to that.

[2017-10-27 21:46] ljharb commented on #1253
@newnewnet can you file a new issue for that?

[2017-10-27 21:52] trevorwhealy commented on #1002
@ljharb sure we can agree on that. updated the code to reflect the implementation more closely.

[2017-10-27 23:46] #1181 closed

[2017-10-28 06:55] MrKou47 commented on #513
@brandondurham Hi! I am using `mocha`, `chai`  and `enzyme` to test my project. And my project also use `scss` and `css-module`. The most important thing is you should use [css-modules-require-hook](https://github.com/css-modules/css-modules-require-hook).  Here is some code for test Component className.
[code]

[code]
And here is my test script is `mocha --require ./scripts/mocha-setup.js --requi

[2017-10-28 13:18] erezcohen opened #1309 "A bug in "Using enzyme with JSDOM" code sample"
The code calls `Object.defineProperties(target, props)`, where props is an array - the result of the map method. However `Object.defineProperties()` receives an object as a second param.
The result is that the properties of jsdom.window are not copied correctly to node's global.
What happens then is that you might get errors such as "ReferenceError: HTMLElement is not defined" when running your te

[2017-10-28 16:45] ljharb commented on #1309
The reduce should use object spread, and not mutate the accumulator, but otherwise that looks like a great change in https://github.com/airbnb/enzyme/blob/master/docs/guides/jsdom.md - a PR would be great!

[2017-10-28 18:50] oliviertassinari commented on #1308
I'm subscribing to this thread as having the similar issue. I haven't figured out how such error is even possible given the defensive check React is using: https://github.com/facebook/react/blob/v16.0.0/src/renderers/shared/fiber/ReactDebugFiberPerf.js#L42.

[2017-10-28 19:01] oliviertassinari commented on #1308
Ok, I have found the root cause. It's coming from the usage of `useFakeTimers` from 'sinon'.

[2017-10-28 20:27] erezcohen commented on #1309
Cool. Will create a PR in the next few days.
BTW - any reason not to mutate the accumulator within the reduce?

[2017-10-28 21:35] oliviertassinari commented on #1308
I think that we can close this issue. Here is another one: https://github.com/sinonjs/lolex/issues/136.

[2017-10-29 01:54] ljharb commented on #1308
@reyraa are you also using sinon and useFakeTimers?

[2017-10-29 01:54] ljharb commented on #1309
Mutation should always be avoided; and the airbnb eslint config will warn you about mutating the accumulator anyways :-)

[2017-10-29 13:16] erezcohen commented on #1309
Ok. Will do it your way.
Just FYI, as I was curious about immutability here, I came across this thread:
[https://www.reddit.com/r/reactjs/comments/5xg6ky/react_trend/deie19b/](https://www.reddit.com/r/reactjs/comments/5xg6ky/react_trend/deie19b/)
Note  there a comment from Dan Abramov:

[2017-10-29 16:22] ljharb commented on #1309
Indeed; in this example even though the reducer is impure, the overall `reduce` is. However, there needs to be a *reason* to choose mutability - immutability/purity should be the default.

[2017-10-29 18:11] nickytonline commented on #1255
I'm having similar issues. Please see https://twitter.com/nickytonline/status/924697867750699010. Basically this is my HOC, https://gist.github.com/nickytonline/c758bcbc79e3ca435310bb847fae2c88 and here is the skipped  test that I can't get working, https://gist.github.com/nickytonline/637580f12f14595f7954ecdaf5c8cd88

[2017-10-29 18:16] nickytonline commented on #1255
I've also tried my errored component as a class instead of an SFC,

[code]

but it results in the same thing.

[2017-10-29 21:52] stevenmusumeche commented on #1201
I am having the same issue with 3.1 and react 16 adapter.

[code]

This no longer works, but did before.

[2017-10-29 21:56] stevenmusumeche commented on #1201
FYI, if you "refind" the element, it does work.  For example

[code]

[2017-10-29 21:56] palaniichukdmytro commented on #1201
@stevenmusumeche do you use mount or shallow ?, what error did you get ?

[2017-10-29 21:57] stevenmusumeche commented on #1201
In this case, mount.

[2017-10-29 21:59] palaniichukdmytro commented on #1201
@stevenmusumeche simulate update component automatically, so you should find it again

[2017-10-29 22:15] stevenmusumeche commented on #1201
Thank you! I didn't understand that breaking change. Simple fix for me.

[2017-10-29 23:00] mikehdt commented on #1201
I've been doing some experiments with upgrading our dependencies for React and Enzyme, and with R16 and Enzyme 3, these simulate tests have been failing. Strangely, it seems simulating _twice_ lets it show up _once_.

e.g.
[code]

Is there perhaps some kind of async action going on?

[2017-10-29 23:44] ljharb commented on #1201
Anyone having issues with React 16 and enzyme 3: please first ensure that your tests pass on React 15 and enzyme 3, so that we can narrow down the failure to "upgrading to react 16 and switching to the react 16 adapter".

[2017-10-30 08:33] Natumsol commented on #1201
I have the same issue with React 15.x and Enzyme 3: the click event has been triggered, but the prop(className) has not been updated correspondingly, however, when I use `console.log(wrapper.html())` to print the node，the className has been updated already :

![image](https://user-images.githubusercontent.com/6970196/32161216-b39a6c14-bd8f-11e7-860d-baa19258f339.png)

[2017-10-30 08:56] reyraa commented on #1308
@ljharb Yes we're using fake timers in multiple tests

[2017-10-30 09:07] EduardoAC commented on #1201
@ljharb My example was a pure migration problem, I will try to figure out the problem check the library internally, but no promises :)

[2017-10-30 11:07] enthudrives commented on #1259
@sroutledge Seems like you are trying to mount a `connected component`. Connected components need a `store` to be passed as prop when mounting. There are a few ways of doing this.
I find this approach simple: http://enthudrives.com/blog/unit-testing-redux-containers

[2017-10-30 11:11] enthudrives commented on #1259
`render` renders all children of your component. If one of your children are connected, you would run into this issue. I personally prefer unit testing containers & components (with `shallow`). Your tests would be truly `unit` tests and you wouldn't be affected by the children.

[2017-10-30 13:07] eenewbsauce commented on #1195
Lol... Had the same thing happen. This issue made me check my `package.json` and feel shame. Quickly after the shame faded, my tests were working again though. Thanks!

[2017-10-30 13:32] mayacode commented on #1150
Any update for all waiting people? I needed to comment a lot of tests... my coverage dropped down ;(

[2017-10-30 13:36] oliviertassinari commented on #1150
@mayacode, you can always mock the behavior of `ReactDOM.createPortal` to be an identity function. At least, I ended-up [mocking the internal Portal of Material-UI](https://github.com/callemall/material-ui/blob/v1-beta/test/utils/mockPortal.js) to migrate all the tests to react@16 without losing test coverage.

[2017-10-30 20:38] ljharb commented on #1150
I'm confused; testing Portals with enzyme and React 16 has never been possible; how could you have working tests that use them that need commenting out?

[2017-10-30 20:39] #1308 closed

[2017-10-30 20:39] ljharb commented on #1201
@EduardoAC thanks, if you could file a new issue for your concern, that might be a difference between the 15.4 and the 15 adapters (this issue is primarily about react 16)

[2017-10-30 20:52] sontek commented on #1201
@ljharb Is it primarily about react 16 if the same error happens on both?   My tests fail the same as the issue on both React15 and React16, the only difference being enzyme3

[2017-10-30 20:57] ljharb commented on #1201
@sontek i guess it'd depend on whether it was in the adapter or in enzyme itself; certainly if it's across adapters that suggests it's related to enzyme itself.

[2017-10-30 21:18] sontek commented on #1201
@ljharb Yeah, well I've seen at least  @mikehdt [1], @EduardoAC [2], Me [3], and @figalex [4] report that we are experiencing this issue on React 15, so it does seem to be more widespread.

Also, I switched the original reproduction code from the creator of the ticket to react15 and their tests still fail:

https://github.com/sontek/enzyme-react16/tree/react15

[1] https://github.com/airbnb/enzyme

[2017-10-30 22:34] ljharb commented on #1150
@kellyrmilligan right but with latest enzyme and react *15*, do you still see a problem?

Enzyme doesn't yet support Portals with React 16.

[2017-10-30 22:51] kellyrmilligan commented on #1150
I’ll give it a go. But I think we’re all just wanting this to at least not fail on that node type?  This is blocking my upgrade path for the time being.

[2017-10-31 03:57] khirakawa opened #1310 "Make Cheerio optional"
Importing `enzyme` in an react native application results in this error at build time:

[code]

This seems to be coming from the various `cheerio` imports in the `enzyme` package.  It would be great if we made `cheerio` optional or perhaps lazy load `cheerio` inside the various `render` functions that use it:

[code]

[2017-10-31 04:46] ljharb commented on #1310
I'm not sure what the issue would be; what is "the module map"? `require` should Just Work with everything that's on disk.

[2017-10-31 05:24] khirakawa commented on #1310
Apologies, I was able to fix this by `npm install --save-dev events` 👍

[2017-10-31 05:47] ljharb commented on #1310
Always make sure `npm ls` exits zero, otherwise nothing can be expected to work :-)

[2017-10-31 08:45] erezcohen commented on #589
Just to clarify: it should be `'Connect(Navigation)'`

[2017-10-31 09:52] rooch84 commented on #134
I'm also seeing it in 3.1.0.

[2017-10-31 10:13] dubbha commented on #147
The issue is still open. Also documentation doesn't state anything obvious about this, as far as I can tell.
But isn't it actually already working in current shallow rendering?
[code]
Maybe we just need to make the documentation more obvious on the hidden magic?
Or am I missing something?

[2017-10-31 12:18] ThomasVuillaume commented on #147
Last time I tried, this didn't work because "simulate" expected some kind of keyword known to be an event like "click", but dit not manage to do the job when you passed a word like "searchClick" in some way to expect it to find the handler with an "on" in the front.

Maybe it changed since then

[2017-10-31 12:38] palaniichukdmytro commented on #1201
with **shallow** component the simulate works as expected and it **update()** not necessary with simulate, but with mount it deals with real dom and jsdom so the event system kicks out the real event with real nodes, so current solution with mount for me
[code]

With shallow you can use simulate as expected

[2017-10-31 12:40] palaniichukdmytro commented on #147
may be help https://github.com/airbnb/enzyme/issues/1201

[2017-10-31 12:54] palaniichukdmytro commented on #1307
We can close it, now all work as expected I removed **.node**
` document.activeElement.should.be.equal(automatic.ref('container'))`

[2017-10-31 13:43] ljharb commented on #134
@jacek213 @rooch84 can you file a new issue for enzyme 3?

Note that this is likely an issue with the fact that shallow wrappers represent what the component *renders*, but mounted wrappers represent *the component* itself.

[2017-10-31 13:44] ljharb commented on #589
(although better would be to never find by displayName, and to instead export the constructor for the wrapped component, and search for that)

[2017-10-31 13:50] rooch84 commented on #134
I think I've finally figured out my issue - because I'm using Meteor, the react components are wrapped with a ReactMeteorDataComponent.  So I need to find my component first before I can then inspect its classes, props, etc.

[2017-10-31 14:02] ljharb commented on #134
@rooch84 that's what `.dive()` is for.

[2017-10-31 14:03] #1307 closed

[2017-10-31 14:30] rooch84 commented on #134
@ljharb But I thought dive only worked on shallow?

[2017-10-31 14:33] ljharb commented on #134
@rooch84 ah, true. then yes, if you're using `mount`, you'll need to find your component first.

[2017-10-31 16:52] kellyrmilligan commented on #1150
correct, I branched off and just upgraded enzyme to latest, and this issue doesn't occur. again, i'm not sure here, but seems like a lot of folks would want portals to at least just not fail. there's even a PR for this issue.

#1263

[2017-10-31 17:33] Apercu commented on #1181
@ljharb Hey 😃 Do you mind publishing a patch release for this? Not sure if there is a process from the contributing doc, thanks!

[2017-10-31 18:28] ljharb commented on #1181
It’s on my list to get to soon.

[2017-10-31 18:53] wolfgangmeyers commented on #1289
There is another use case I've run into. In the case of a single page app, when rendering links from react-router-dom, it's necessary to wrap a component inside of a router. This prevents the test from being able to access the state of the component being tested, because ReactWrapper.state() returns the state of the router component at the root.

[2017-10-31 18:54] psychobolt opened #1312 "child's componentDidMount is not called before parent's componentDidMount"
My project's use case is more complicated, but bellow should illustrate the problem.

Ref:
https://stackoverflow.com/questions/32814970/is-componentdidmount-of-parent-called-after-all-componentdidmount-of-children

In the code, console.log('parent') should be called after console.log('child mount'). However this is not the case in enzyme's mount. Instead, console.log('parent') gets called first.

[2017-10-31 19:08] ljharb commented on #1150
Of course, it should be fixed :-) just wanted to clarify that the issue only blocks upgrading to React 16, not upgrading to enzyme 3.

[2017-10-31 19:12] #1312 closed

[2017-10-31 19:48] ljharb commented on #1312
Why did you close this, did you figure it out?

[2017-10-31 20:50] psychobolt commented on #1312
Yes, I closed it because it is not an issue. It seems that in React 16.0.0, child's componentDidMount gets called after the parent's, which is same with enzyme tests. In my project, I had another subtree that gets mounted earlier with the same components and that just misled me while I was debugging the console.logs.

[2017-11-01 00:02] khirakawa commented on #1310
Looks like I spoke too soon.  After installing `events`, `buffer`, and `stream`, (and making sure `npm ls` exists with zero), I am getting the following error:

`o.prototype is undefined`

Digging through the callstack,

1. Error is thrown [here](https://github.com/isaacs/inherits/blob/master/inherits_browser.js#L5) in the `inherits` module
2. `inherits` is called in [`parse5/lib/parser/parser_str

[2017-11-01 01:14] ljharb commented on #1310
I'm a bit confused; the problem you're describing is a dependency graph problem, which either 100% or 0% of enzyme users would be running into.

What version of `node` and `npm` are you using? Is this only occurring when browserifying or webpacking enzyme? Do your tests pass in `node` itself, which is the primary use case of enzyme?

[2017-11-01 03:41] khirakawa commented on #1310
Apologies for the confusion.  We're building an integration test framework that runs as a react-native application on an actual device (non-node environment).  For this, we're using `mocha` and `enzyme` with our custom enzyme adapter, and hence why we are importing `enzyme` inside a react-native application.  It works great, as long as I remove `cheerio` imports in `enzyme`.

This is obviously _no

[2017-11-01 04:13] ljharb commented on #1310
Since you can stub out native dependencies, can you not stub out `cheerio` in the RNP, and simply not use `render`?

[2017-11-01 04:38] samuxyz opened #1313 "Enzyme 3.* fails with "@Import ..." from scss files."
Hey guys,

Yesterday I updated Enzyme from 2 to the latest version in order to use React 16 and the majority of my tests passed (which is great!).

However I still have 6-7 failures in a specific situation:
As I use css modules by importing .scss files, whenever the .scss file contains `@import '/path/another/scss/file'` a test fails with the following error:

[code]

In my package.json file I def

[2017-11-01 05:21] exitudio commented on #1297
`cheerio` (which `render()` function is using under the hood) automatically convert `xlink:href` to `href`.

I tried to render `{__html: "<svg ><use xlink:href='#1' /></svg>"}`
and get prop by `use.prop('href')` is working.

[2017-11-01 05:32] dschinkel commented on #1233
after upgrading to enzyme 3 this problem went way.  It's either that or my component wasn't rendering what I thought it was and the marker wasn't there.  Closing this.

[2017-11-01 05:32] #1233 closed

[2017-11-01 06:37] khirakawa commented on #1310
Good point.  I did initially try stubbing `cheerio` using the stubbing mechanism used in [react-native-mock](https://github.com/RealOrangeOne/react-native-mock), but it turns out `react-native-mock` is a run-time mock that relies on the require cache being exposed.  Unfortunately, the error thrown when importing `enzyme` in RN is a build-time issue.  The require cache isn't exposed either.

Howeve

[2017-11-01 06:37] #1310 closed

[2017-11-01 09:11] monkey3310 opened #1314 "Prop selector with find() method doesn't find <span> type element"
Hi,

I'm writting a test that would check if component rendered some element with a data attribute on it.
I shallow render my component: `const wrapper = shallow(<MyComponent {...props} />);`
The `wrapper.html()` would return for example
[code]
So in my test I'm asserting if the wrapper have elements:
`expect(wrapper.find('[data-custom-tag="someValue"]').length).toBe(1);` works
`expect(wrapper.fin

[2017-11-01 09:56] mayacode commented on #1150
@ljharb I have tests which are using react-bootstrap Modals, which are using react-overlays, which is using portals (if available). In a moment of upgrading react and react-bootstrap all Modal related tests started to fail. It blocks upgrading to react 16.

[2017-11-01 15:58] darekkay opened #1315 "Missing documentation for getElement()"
In the [migration guide](https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md), it is mentioned to replace `getNode()` with `getElement()` when using `shallow()`. However, the [API](https://github.com/airbnb/enzyme/blob/master/docs/api/shallow.md) is missing any `getElement()` documentation.

[2017-11-01 16:46] ljharb commented on #1150
gotcha; it seems like the combination of enzyme not supporting Portals, and react-overlays magically (instead of explicitly) using Portals, is the blocker.

[2017-11-01 16:46] ljharb commented on #1314
What version of enzyme and react are you using?

[2017-11-01 16:47] ljharb commented on #1297
@exitudio that seems like a bug worth filing on cheerio

[2017-11-01 16:49] ljharb commented on #1313
It's definitely not related to enzyme.

I'm not sure what's using `p-map` (if it's your component, could you provide the code for that too?)

Can you do the `shallowToJson` and `toMatchSnapshot` calls on separate lines? It's possible one or both of those doesn't yet work with enzyme 3.

[2017-11-01 17:38] monkey3310 commented on #1314
its `2.8.2` for enzyme, and `15.6` for react @ljharb

[2017-11-01 18:42] ljharb commented on #1314
@monkey3310 enzyme 3 has a much improved selector implementation; can you try upgrading?

[2017-11-01 20:00] brucewpaul opened #1316 "support react's hydrate for enzyme-adapter-react-16"
It would be great to support testing react's hydrate method as opposed to just the render method. This could maybe be done via an options argument?

cc @ljharb

[2017-11-01 20:05] ljharb commented on #1316
With an empty DOM node, won't `hydrate` and `render` be identical?

[2017-11-01 21:15] mikegleasonjr commented on #450
wow guys... I just want to share my experience. No matter what I did, I was not able to get the component to update.

Turns out that if you want to test a `catch` like:

[code]

In your test you have to...

[code]

I know this is more of a `Promise` thing, you can verify it in your browser as such:

[code]

[2017-11-01 21:27] peter-mouland commented on #1297
I think I know why cheerio might have done this, I remember reading that `<use xlink:href` is deprecated and `<use href` is preferred... but since safari only supports the deprecated syntax ([codepen demo)[https://codepen.io/peter-mouland/pen/JErvZY]) it feels like it's premature to have removed support.  It may have been intentional to remove xlink, but i think support should be added.

In my cas

[2017-11-01 21:39] peter-mouland commented on #1297
I was going to suggest taking guidance from the DOM. I get mixed results, but i I would probably expect .prop to function as .getAttribute (while .find is similar to .querySelector), in which case it could be argued the behaviour of v2 was correct.

 * `$0.getAttribute('foo:bar')`  returns 'baz'
 *  `$0.getAttribute('bar')` return null
 * `document.querySelector('svg[xlink:href]')`  returns `VM232

[2017-11-01 22:18] brucewpaul commented on #1316
Ya I think so, but this would be able to specifically test server side rendering of a component.

cc @goatslacker

[2017-11-01 22:33] ljharb commented on #1316
Certainly `mount` invokes `ReactDOM.render`; an adapter option could be used in the v16+ adapter to specify `ReactDOM.hydrate` be used.

I'm just not sure what the point would be - all we'd be doing is testing ReactDOM itself, since `hydrate` and `render` theoretically do the same thing on an empty container.

[2017-11-01 23:04] kesne commented on #1238
I'm seeing this quite a bit, especially when calling methods off of a ShallowWrapper using `.instance()`.

[2017-11-02 02:01] wpwood opened #1318 "Problem calling Enzyme.configure in karma/jasmine helper"
I'm using Enzyme with React 16 via Karma, Jasmine, and webpack. I have a test where I configure the Enzyme adapter in the beforeEach function:

[code]

This all works fine.

Since I don't want to have to do this in every Enzyme test, I tried to move that code to an enzyme_helper.js file:

[code]

I have added the file to the list of files loaded by Karma, and built it via webpack (so I can use ES6

[2017-11-02 03:07] ljharb commented on #1318
We've seen issues with karma in general around things like this; do your tests work if you run them in node?

[2017-11-02 04:20] exitudio commented on #1297
enzyme v2 is using `cheerio@^0.22.0`
enzyme v3 is using `cheerio@^1.0.0-rc.2`

This code works with `cheerio@^0.22.0`
[code]

So the point is we should stick on `cheerio@^0.22.0`?

[2017-11-02 04:25] ljharb commented on #1297
No, but an issue should be filed on cheerio so that v1 can adjust to this behavior.

[2017-11-02 08:26] samuxyz commented on #1313
@ljharb so today I updated some packages again.

Now the current result for the test is the following:

[code]
`p-map` apparently disappeared.

I separated `shallowToJson` and `toMatchSnapshot` in 2 lines so line **21** is related to `toMatchSnapshot`.

I Checked the result from `shallowToJson` and I get this:

[code]

the code for the component is the following:

[code]
**PS**: The component is n

[2017-11-02 08:56] samuxyz commented on #1313
@ljharb Ok so I sort of found out the reason:
The tests fails whenever the component imports svg files and use them directly in the render:
[code]

However when I use the svg files as background in the css the tests pass.

[2017-11-02 09:21] samuxyz commented on #1313
@ljharb ok I did actually made it. It's not Enzyme issue, perhaps Jest. Once i mocked the svg/assets files by following their guide https://facebook.github.io/jest/docs/en/webpack.html it solved.

With Jest 20 I encountered no problems though.

Anyway thanks I am going to close the issue.

[2017-11-02 09:21] #1313 closed

[2017-11-02 10:14] mikegleasonjr commented on #450
@will3216 Thank you very much for the feedback, I lost like 2 hours trying to figure this thing out. I'm glad to know it helped you! Next time someone help me like that I'll tell them!

[2017-11-02 11:28] moniikag commented on #907
Same here, simulating click on direct child-components calls functions as expected, but simulating click on components nested deeper in the components tree does not call the functions (does not raise any error either).

[2017-11-02 14:58] wpwood commented on #1318
@ljharb Sorry, I'm not sure what you're asking me to do.

[2017-11-02 15:01] ljharb commented on #1318
I’m asking you to run your jasmine tests in node without karma and see if they pass; in other words, I’m trying to determine whether the problem is your karma config or not.

[2017-11-03 02:45] sontek commented on #1283
What versions of react, enzyme, etc?

[2017-11-03 14:06] erezcohen commented on #1309
#1320

[2017-11-03 15:44] swl367 commented on #190
@jose920405 I'm using Jest + Enzyme + react-native-mock and can successfully create snapshots using shallow. Have not tried mount yet.

[2017-11-03 16:45] jose920405 commented on #190
thanks @swl367

also got it working even without the need for mock-store. my problem was related to the beta and alpha versions of react

Now I am trying to solve an error with the react life cycles and trying to make the componentDidUpdate work.

If maybe you have something that you can help me with this problem, I would really appreciate it. This is the link.

https://github.com/airbnb/enzyme/pu

[2017-11-03 18:00] #1247 closed

[2017-11-03 18:41] Omniroot opened #1323 "`.update()` method does not update `props` cache of child wrappers"
See failing test int his PR: https://github.com/airbnb/enzyme/pull/1322

[2017-11-03 19:41] NullVoxPopuli commented on #1323
I just encountered this, and had to do `wrapper.update().find('ChildComponent').props()` -- which is obnoxious

[2017-11-03 20:43] Lokua commented on #907
^ experiencing this as well

[2017-11-03 21:19] openjck commented on #419
This doesn't work for me in v3, apparently due to [this issue](https://github.com/airbnb/enzyme/issues/1297).

[2017-11-03 22:06] maurocarrero commented on #1303
https://github.com/airbnb/enzyme/pull/1319

[2017-11-04 07:00] ljharb commented on #1323
This is expected behavior in v3; wrappers are immutable.

As for `props`, are we talking about `shallow` or `mount`? A `shallow` wrapper is what the component *renders* - so its `.props()` might update - but a `mount` wrapper is *the component itself* - so its `.props()` will never change, until you use `setProps()`.

[2017-11-04 07:27] #1240 closed

[2017-11-04 17:41] #1303 closed

[2017-11-04 18:47] EugeneDraitsev opened #1324 "Connecting wrapper component to redux store with shallow"
Hi! I trying to use enzyme with redux and react-apollo 2. So I have one pretty simple problem, but have no idea how to fix it. I have 1 connected to redux store component and all works fine with this code:

[code]

I can pass store to this component and verify passed state. But when I use Apollo 2 (they removed redux integration in 2.x) I need wrap my component like this :

[code]

And aftert this

[2017-11-04 18:50] ljharb commented on #1324
You may want to look into `.dive()`.

[2017-11-04 19:10] EugeneDraitsev commented on #1324
@ljharb, thanks for very fast response! I tried to use `dive()` like `container.find(MainRoute).dive().prop('questions')`  but got error (with wrapped to ApolloProvider component) :
[code]
Probably I still missed something?

[2017-11-04 19:46] simeg opened #1325 "Support multiple React versions"
**With the new addition of adapters, is it possible to support multiple versions of React?** Trying to figure out if I should spend time on making my component using enzyme work for multiple versions or if I should just migrate to React 16. Thanks.

[2017-11-04 20:28] #1309 closed

[2017-11-04 20:53] ljharb commented on #1325
Yes! #1321 is imminent which will address this problem.

[2017-11-04 20:54] ljharb commented on #1324
Instead of `.find`, I mean `container.dive().dive()` - one .dive per HOC/provider.

[2017-11-04 21:37] EugeneDraitsev commented on #1324
If I use `container.dive(MainRoute).prop('questions')` - props is undefinied
If I use `container.dive(MainRoute).dive().prop('questions')` and all other variations like `container.dive().dive(MainRoute).prop('questions')` - I get error as on example above
[code]

It seems that I am completely confused

[2017-11-05 02:31] ljharb commented on #1324
`.dive` takes no arguments.

OK, so let's step through this one by one. What is `container`? What is `container.debug()`?

[2017-11-05 09:57] EugeneDraitsev commented on #1324
`container.debug()` is
[code]

container.dive().debug():
[code]

After 1 more dive I see error as in previous examples

[2017-11-05 15:12] papaponmx commented on #1159
There is a typo on the docs, this is the correct name for the package https://www.npmjs.com/package/enzyme-adapter-react-16

[2017-11-05 15:23] ljharb commented on #1324
So, since one dive is "Apollo wrapping Connect wrapping WithFeatureFlags", `container.dive().dive().debug()` should be just "Connect wrapping WithFeatureFlags", and `container.dive().dive().dive().debug()` should be just `WithFeatureFlags`?

[2017-11-05 15:29] #1325 closed

[2017-11-05 15:54] edraitsev commented on #1324
@ljharb, Yep you're right, but `container.dive().dive().debug()` throw exception about `<ApolloProvider>` from above. I think I need to try use `mount` for my case, but still hope that I can use `shallow` here

[2017-11-05 17:20] ljharb commented on #1324
I'm not familiar with Apollo or ApolloProvider; however at this point I'd say it depends on how ApolloProvider is implemented.

I'm assuming here that you're using ApolloProvider in all these dive tests - it's definitely required. Can you confirm that?

[2017-11-05 17:59] edraitsev commented on #1324
Yep, my component is not working without `ApolloProvide`, so I going to ask Apollo team how to properly mock their components. Thanks for help in investigation, I think you can close this ticket

[2017-11-05 18:08] #1324 closed

[2017-11-06 10:06] jorgeortega opened #1326 "shallow renderer is not available in production mode"
I have this error in the gitlab test pipeline, all tests pass locally, any ideas?

[code]

[2017-11-06 12:29] QuantumInformation commented on #1265
What if your using https://github.com/wmonk/create-react-app-typescript ?

I have this:

![image](https://user-images.githubusercontent.com/216566/32440994-6ff2c49e-c2ed-11e7-9ca5-9b98c5f9863b.png)

but get:

![image](https://user-images.githubusercontent.com/216566/32441141-11f90aa0-c2ee-11e7-8e56-f92e43db94fb.png)

[2017-11-06 12:44] QuantumInformation commented on #1265
I also tried this:

[code]
[code]

![image](https://user-images.githubusercontent.com/216566/32441556-1aec75aa-c2f0-11e7-8f24-7790385ffaf8.png)

same error

[2017-11-06 14:29] josh08h commented on #1318
I am also getting the same error.

Having the following in all my spec files will work
[code]
however I would like to configure the adapter just once in its own initialiser file.

I have the following karma config:

[code]
note: The initializer script is being loaded.

[2017-11-06 14:46] #1326 closed

[2017-11-06 15:57] WickyNilliams opened #1327 "Warn if `context` supplied without corresponding `childContextTypes`"
I think it would be useful to warn/error if `context` option is supplied without corresponding `childContextTypes` option (and possibly vice versa, though i imagine that's far less likely to occur).

In the last few days, a teammate of mine and someone on reactiflux have both made the mistake of omitting `childContextTypes`. So it seems like an obvious place to guide developers in the right direct

[2017-11-06 16:29] ljharb commented on #1326
Did you figure out that this is related to `NODE_ENV` being set to ‘production’?

[2017-11-06 16:31] ljharb commented on #1327
Related to #664.

[2017-11-06 16:34] ljharb commented on #1265
I believe typescript may be broken by default when importing from CJS - you may need to try `import * as Adapter from ‘enzyme-adapter-whatever’`.

[2017-11-06 17:20] Inucoder opened #1328 "Iterable children not working on environments where Symbol API is not available"
Support for iterable children was recently released https://github.com/airbnb/enzyme/pull/1187. It enables to write Enzyme tests for components that return array-like children, for example ES6 Map and Set, and Immutable List.

We run our unit tests on PhantomJS, and iterable children support was not working for us. But works just fine on latest version of Chrome.

After some discussion with @ljhar

[2017-11-06 17:31] tzvipm opened #1329 "Updating root context should trigger a re-render"
We're using react-router in one of our apps, and we mock out the context from the router when testing individual page components. When our component calls `router.push`, we end up seeing that the context changed successfully, but the mounted component doesn't re-render, so the changes are not reflected in the output JSX.

This seems to be a breaking change from enzyme 2.x.

Note that `root.update(

[2017-11-06 17:34] tzvipm opened #1330 "`find` does not properly traverse the subtree of JSX in custom ReactWrapper."
As part of a custom layered rendering solution, we create a ReactWrapper with provided JSX. In enzyme 2.x, this worked fine, but in enzyme 3.1, we run in the the following issues:

1. `find(selector)` does not return any matches, whereas `findWith((node) => node.is(selector))` does. It seems that the latter version traverses the subtree whereas the former does not.

2. the predicate in `findWith((

[2017-11-06 18:00] aweary commented on #1330
@Omniroot can you please provide a reduced test case that reproduces the issue? It's difficult to debug this if we can't reproduce it.

[2017-11-06 18:44] SandroMachado opened #1331 "`find('Button').at(0)` does not work after updating to enzyme 3"
After updating to enzyme 3 this stoped working.

[code]

I get `TypeError: Cannot read property 'children' of undefined`.

If I change to:

[code]

I get `Method “simulate” is only meant to be run on a single node. 2 found instead.`

[2017-11-06 19:00] Inucoder commented on #1328
After testing above change, I can make below unit test pass when Symbol API is unavailable.

[code]

However, additional work might be required on the way iterables are traversed when using the `@@iterator` fallback, since all our other tests are not passing.

[2017-11-06 20:17] jorgeortega commented on #1326
I did, but I’m not sure what sets it to production by default, could it be the default value in gitlab?

[2017-11-06 21:12] ljharb commented on #1326
That's possible; I don't use gitlab so I'm not sure.

[2017-11-06 21:21] ljharb commented on #1331
Is the TypeError in the `simulate` call, or in the `at` call?

If the former, this issue should be retitled.

[2017-11-06 21:21] ljharb commented on #1331
Also, what version of react are you using? What does `component` look like?

[2017-11-06 21:23] ljharb commented on #1328
The real bug is that `Immutable` should never have installed a `@@iterator` property in the first place; it was non-standard, and Firefox shouldn't have shipped it either.

However, since React 13+ supports it, we unfortunately have to as well.

[2017-11-06 21:24] ljharb commented on #1329
How do you "mock out" the context?

If the context object doesn't change itself - only gets mutated - then `wrapper.update()` should work.

[2017-11-06 21:25] ljharb commented on #1228
@wbeard could you open up a PR with a failing test for that?

[2017-11-06 23:00] Inucoder commented on #1328
@ljharb You could assign it to me if possible, and will submit a PR for it during these days.

[2017-11-07 00:38] goatslacker commented on #1316
There's currently a warning when you try to `render()` SSR'd markup, so it would at the very least silence that warning.

[2017-11-07 00:52] ljharb commented on #1316
In that case, maybe it'd be better to always use `hydrate` in the React 16 adapter here?

[2017-11-07 02:04] yesmeck commented on #1226
I think `react-test-renderer` should add to `dependencies`  in `enzyme-adapter-react-15` https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-react-15/package.json#L47  which `enzyme-adapter-react-16` has already did.

[2017-11-07 03:36] lazurey commented on #1331
I have encountered exactly the same error when I upgraded `react` and `enzyme`

From: `react@15.6.1`, `enzyme@2.9.1`
To: `react@16.0.0`, `enzyme@3.1.1`

I'm using `mount` to test my form component (`redux-form@7.0.3`)

Other packages I have:
[code]

I've tried `at(0)`, `first`, `getElement()`, `getElements()[0]`, none of them worked for me.
Could someone suggest anything else to try?
Thanks a lot!

[2017-11-07 05:43] zenjava opened #1332 "forEach function is undefined"
[code]
result is TypeError: wrapper.find(...).forEach is not a function

[2017-11-07 05:46] ljharb commented on #1332
`render` provides a wrapper using `cheerio` - cheerio doesn't provide a `.forEach` method; it provides an `.each` method.

`.forEach` is only present on `shallow` and `mount` wrappers.

[2017-11-07 05:46] #1332 closed

[2017-11-07 05:48] ljharb commented on #1331
@lazurey please try react 15 with enzyme 3 first; if you upgrade both react and enzyme at the same time, it's not possible to figure out where the issue is.

[2017-11-07 05:49] ljharb commented on #1226
@yesmeck it's a peer dep, which means that you need to manually install it at the top level.

It has to be a peer dep, because prior to React 16, the minor version had to match exactly - so since the v15 adapter works for 15.5 and 15.6, you'd have to manually specify which minor you're using.

[2017-11-07 06:17] iiison commented on #1283
Here is the [link to package.json](https://gist.github.com/iiison/d8c6f3b8ca65573c994581143fc02df5)

[2017-11-07 06:53] ljharb commented on #1283
@iiison your issue is that, because you're using class properties, the reference to `handleInputChange` is already stored in the enzyme wrapper before you spy on it.

Instead, change `handleInputChange` to be an instance method, and add `this.handleInputChange = this.handleInputChange.bind(this)` into your constructor - then you can spy on `LoginContainer.prototype.handleInputChange` *before* you

[2017-11-07 08:22] lazurey commented on #1331
Hi @ljharb  thanks for the quick reply.
I tried `react@15.6.1` with `3.1.1` and `enzyme-adapter-react-15`, and got the same errors.

[code]

Code snip:
[code]

Any ideas?

[2017-11-07 08:40] ljharb commented on #1331
try adding `.hostNodes()` after the find, before the simulate.

[2017-11-07 08:57] lazurey commented on #1331
Hi @ljharb `.hostNodes()` solved all my errors, thank you so much!

[2017-11-07 10:21] peter-mouland opened #1333 "mount component .html() not returning parent element (v2 + v3 difference)"
I have noticed a difference between enzyme v2 and v3 in the way a `mount`ed component returns using the `.html()` function.

Is this a bug a expected behaviour?

**Details**

The test which passes in v2 and fails in v3 is:

[code]

The error message from v3 is indicates the outer `span` is missing:

[code]

the component is :

[code]

[2017-11-07 11:48] SandroMachado commented on #1331
If found that diving again in the component solves the issue. This is a different behaviour from enzyme 2.

Thanks @ljharb for the help.

[2017-11-07 11:48] #1331 closed

[2017-11-07 14:15] PetrykowskiM commented on #1253
Any updates on this issue?

[2017-11-07 15:00] webdevbyjoss commented on #1289
Have exactly the same issue with "react-router-dom" as above. Can't test my components due to router wrapper.

[2017-11-07 15:02] wolfgangmeyers commented on #1289
The workaround I've used now is to assign the component instance to a ref and use that to get access to the state.

[code]
Then you can read and manipulate state directly:
[code]

[2017-11-07 15:03] wbeard commented on #1228
@ljharb Yeah, I'll try to get one open for you soon. If you think it's cool, I'd like to dig in a bit and see if I can't provide a fix. Do you think this could be a good first PR?

[2017-11-07 15:05] webdevbyjoss commented on #361
@ljharb is there any viable way to do the same in latest enzyme 3?

[2017-11-07 15:07] acidicX commented on #1330
We have the same issue, for example here:

[code]

`delay` is just a HOC that prevents rendering the subcomponent for 500ms:

[code]

With enzyme v3, the wrapper is always empty. It worked with enzyme v2.

[2017-11-07 15:10] Omniroot commented on #1330
@acidicX your issue seems a bit different. if you run `component.update()` after the `jest.runTimersToTime(500)` does that fix your issue?

[2017-11-07 15:17] acidicX commented on #1330
It does indeed. Thank you for the hint. Do you really have to do this (it's a mounted component, so it should do it itself - and it is not modified externally)? Did I miss this in the docs somewhere? Or is it a workaround you use?

[2017-11-07 15:19] Omniroot commented on #1330
Yeah, I also missed that in the docs at first. It's deep inside the migration guide: https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved

[2017-11-07 19:15] ericgio commented on #1318
I'm using karma + webpack and got my tests working with the following setup:

In **karma.conf.js**:
[code]

In **tests.webpack.js**:
[code]

[2017-11-07 20:28] anthonyhastings commented on #1257
I'm having issues with this myself; I'm also using Karma and Webpack together but unless I put the `Enzyme.configure` call inside of the actual spec file, nothing works. I've tried the following:

[code]

[code]

[code]

[2017-11-07 21:36] gl2748 commented on #393
I got this to work by abstracting the `focus()` method that I was testing.

Let's say I wanted to focus on an input on mounting...

[code]

Writing the test for the input having focus was not happening for me. Even using @romidane 's method.
...

So instead I write this helper method on my component Class:
[code]
And then in my componentDidMount ...
[code]

Now my test is nice and simple:
[code]

[2017-11-07 22:54] ljharb commented on #1333
Yes, this is expected behavior, due to changes in cheerio.

[2017-11-07 22:55] ljharb commented on #361
@webdevbyjoss avoid using the long-deprecated string refs, and use ref callbacks instead - then do `.instance().whatever` on the component you want to get a ref from.

[2017-11-07 22:55] ljharb commented on #1299
You always have to call `wrapper.update()`, and to re-find.

[2017-11-07 23:00] ljharb commented on #1228
Absolutely! Any level of contribution is welcome, even when PRs aren't accepted - although in this case it surely would be :-)

[2017-11-07 23:00] ljharb commented on #1257
https://github.com/airbnb/enzyme/issues/1318#issuecomment-342590767 may be helpful.

[2017-11-07 23:01] ljharb commented on #1318
Duplicate of #1257 I think?

[2017-11-07 23:01] ljharb commented on #1253
If there were updates, they'd be posted here. PRs are always welcome.

[2017-11-07 23:01] Persepolis1 commented on #361
any solution yet to
`expect(wrapper.find(ChildComponent).state('someState')).to.equal({});`  not spitting out

`Error: ReactWrapper::state() can only be called on the root`

[2017-11-08 00:08] ljharb commented on #361
@Persepolis1 `expect(wrapper.find(ChildComponent).instance().state).to.have.property('someState', {})`?

[2017-11-08 00:27] goatslacker commented on #1316
We should have both, for non server rendered content I think you want to use `render`

[2017-11-08 00:29] Persepolis1 commented on #361
Thanks @ljharb it worked!
 I use Jest, so mine was something like :
`expect(component.find('Child').instance().state).toHaveProperty('state', 'value');`

[2017-11-08 10:37] josh08h commented on #1318
@ericgio excellent, that works for me too. Thanks!

[2017-11-08 10:37] josh08h commented on #1318
@ljharb I believe this issue can now be closed with a reference to @ericgio as the solution.

[2017-11-08 12:27] josh08h commented on #134
I have the same issue whilst using React@15.5.4 and Enzyme@3.1.1.
[code]

[2017-11-08 13:03] lukeggchapman commented on #1201
I'm not sure if this is the same issue, but I thought it would help with investigation.

The below test case fails for me with:
- enzyme@3.1.1
- enzyme-adapter-react-16@1.0.4
- react@16
- react-dom@16
- react-test-renderer@16

[code]

It passes with:
- enzyme@3.1.1
- enzyme-adapter-react-15@1.0.5
- react@15
- react-dom@15
- react-test-renderer@15

[2017-11-08 14:28] matma opened #1335 "Render an array of Components throws exception"
Hi,
One of the React 16 feature is possibility to render an array of components. Simple code like in [this jsfiddle](https://jsfiddle.net/69z2wepo/90793/) renders with no problem.

The same code under `shallow` (or any other type of rendering) will fail.

Code I use to test:
[code]

It fails with such message:
[code]

[2017-11-08 15:10] Omniroot commented on #1329
We "mock out" the context using a plain javascript object that looks like the context of our app provider's `getChildContext()` output. When our component calls router.push, we simply mutate the `router.location` key on the mocked context.

Upon further reflection on the docs, it seems that indeed `wrapper.update()` should work, as it should trigger a re-render of the root. Unfortunately, it doesn

[2017-11-08 16:10] hboylan commented on #620
Enzyme support for this would be awesome. I'm currently using Material UI, which mangles classes everywhere.

For mangled classes, most people would be interested in:
- `div[class^="something"]` - starts with
- `div[class$="something"]` - ends with
- `div[class*="something"]` - contains

Here's the [full reference](https://www.w3.org/TR/css3-selectors/#selectors) from W3.

[2017-11-08 17:17] ericgio commented on #1318
@ljharb: The documentation around where the adapter code belongs feels a bit vague, so it might be worth adding some examples for the different environments. Happy to submit a PR for Karma + Webpack if you think it's valuable.

[2017-11-08 17:44] aweary commented on #620
There's an open PR for this: https://github.com/airbnb/enzyme/pull/1157

[2017-11-08 18:51] adepatie commented on #1265
@QuantumInformation Where you able to figure this one out? Having the exact same issue currently.

[2017-11-08 18:54] ljharb commented on #1335
Duplicate of #1149.

[2017-11-08 18:54] #1335 closed

[2017-11-08 18:55] ljharb commented on #1318
@ericgio a PR to improve the docs is always welcome! Thanks!

[2017-11-08 18:55] #1318 closed

[2017-11-08 18:55] alecmerdler commented on #1235
I am also having this issue with `react@16.0.0` and `enzyme-adapter-react-16@1.0.4`.

[2017-11-08 18:57] ljharb commented on #134
yes; `wrapper.html()` returns the inner HTML, not the outer HTML. `wrapper.debug()` will show this.

[2017-11-08 21:57] lindgr3n opened #1336 "Where to put setup file for CRA"
Would you accept a PR for updating the [Install documentation](https://github.com/airbnb/enzyme/tree/master/docs/installation) with a note where to create the setup file when using Create React App? Or maybe something to be added in Common Issues?

Maybe its not a big problem but i needed some searching before i found issue #1265 and @FezVrasta
 comment that helped me in the right direction!

Crea

[2017-11-08 23:13] jmale opened #1337 "Please release enzyme-adapter-react-16 v 1.0.6 to npm"
Looks like only version 1.0.4 is available at the moment which seems out of sync with the recent release of enzyme 3.1.1

[2017-11-08 23:25] ljharb commented on #1337
This is just an error in the git tag and commit message (I'll fix the tag now); there should only be v1.0.4 of the react 16 adapter.

[2017-11-08 23:25] #1337 closed

[2017-11-09 02:34] mrchief commented on #308
`wrapper.find(...).get(...).click is not a function`

Enzyme v3 with react 16 adapter also throws this.

[2017-11-09 12:32] aamirafridi commented on #1149
👍🏼
I have to wrap the array of jsx into a div just to pass the tests :(

[2017-11-09 15:24] TimTouchtribe opened #1339 "find() selector that starts with double hyphen gives "Failed to parse selector" error"
I've tried to find an element with class `--left` in it with `element.find('a.--left')`.
This however gives the error `Error: Failed to parse selector: a.--left`
When I remove the double hyphen in the component and the selector it does work.

[2017-11-09 16:09] ghost opened #1340 "Error: Cannot find module 'react-dom/lib/ReactTestUtils' After Updating react/react-dom@16.0 and enzyme 3 react-test-renderer 16"
I want to upgrade my react version to 16.0 after updating i faced issues then i figured out that i need to update my enzyme to version 3 react-dom - 16

after updating im getting the below error no clue on whats going on

`to be executed: "mocha --opts mocha.opts "src/main/javascript/**/*.test.js""
Configuring Mocha...
Warning: ReactTestUtils has been moved to react-dom/test-utils. Update referenc

[2017-11-09 16:27] bdwain opened #1341 "Feature Request: Allow simulation of non-react events in mount"
Currently, the behavior for shallow rendering when you simulate foo is to call props.onFoo, whether foo is a real react event or not. When mount though, it checks the react-dom's test utils for simulators and throws if your event is not in there.

Since calling `foo.props().onFoo()` won't update the wrapper anymore without first calling `component.update()` also (as of enzyme 3), it's generally ni

[2017-11-09 20:06] ljharb commented on #1341
I’d rather remove simulate altogether, tbh - it doesn’t faithfully simulate the React events as it is.

I’d definitely not want to encourage further usage of this already problematic API.

[2017-11-09 20:07] ljharb commented on #1339
That seems like it’s because you can’t have a class name that starts with a hyphen - iow, it’s actually an invalid selector.

[2017-11-09 20:54] bdwain commented on #1341
what's the problem with the way it simulates them? It's nice to have something that lets us trigger event handlers without needing a forceUpdate right after.

[2017-11-09 21:08] jDeppen commented on #843
(posterity) This was the problem for me in `mapStateToProps`:
``Warning: Failed prop type: The prop `someProp` is marked as required in `SomeComponent`, but its value is `undefined`.``
[code]

`!!(var1 && var2)` was what I needed (TIL)

[2017-11-09 21:34] waltonseymour commented on #278
Rather than attaching to document.body, one could use `getDOMNode()`:
[code]

[2017-11-09 23:51] ljharb commented on #1341
with `simulate`, events don't bubble, associated events don't fire (like if you simulate a change, there's no key events leading up to it), etc.

By far, the most robust approach is to extract the prop can invoke it directly.

[2017-11-09 23:52] ljharb commented on #1340
Upgrading to react 16 prior to upgrading to enzyme 3 means it's nearly impossible to figure out the issues.

Can you roll back to React 15, successfully upgrade to enzyme 3, and *then* upgrade to React 16?

[2017-11-09 23:58] bdwain commented on #1341
hm. what about a method that did that for you but also called update for you on the root-wrapper object. I'm not sure how the internals of the component wrappers work. But if there was a way to internally walk back up the tree until you hit the root wrapper.

[code]

and internally that called child's onChange prop with newText and then somehow called update() on `wrapper`.

Something like that wo

[2017-11-10 00:00] ljharb commented on #1341
shortcutting a way to invoke a prop is an interesting idea.

Similarly, shortcutting a way to shallow-render (or mount-render) a prop containing an element might be interesting.

[2017-11-10 00:02] bdwain commented on #1341
Can you give an example of the second one? Not sure what you mean by that?

[2017-11-10 09:00] #1333 closed

[2017-11-10 09:01] ljharb commented on #1341
`shallow(<Component foo={<OtherComponent />} />).shallowProp('foo').is(OtherComponent) === true`

[2017-11-10 11:28] sadu commented on #1233
@dmccown1500 I also had a similar issue, seems like redux and enzyme not working properly.
`.html()` was giving proper markup but `.find('selector')` wasn't working (`enzyme v3.1.0`)

`wrapper.update()` after modifying the redux state fixed `wrapper.find('.deep-nested-component')` returning an `empty set` 👍

[2017-11-10 13:55] oskarszura commented on #907
It's a pretty common use case - no solution till now?

[2017-11-10 15:31] bdwain commented on #1341
oh as a shortcut for

[code]
?

[2017-11-10 16:37] omakoleg commented on #183
For rendering connected components within another component which is tested and giving this kind of error: `Invariant Violation: Could not find "store" in either the context or props of ....`
In my case helped to switch to mount and adding `childContextTypes`:
[code]
Hope someone will have less pain

[2017-11-10 18:49] ljharb commented on #1341
Yes, except that you'd need `let foo = shallow(<div>{component.props().foo}</div>);` to get it right :-)

[2017-11-10 19:13] bdwain commented on #1341
i don't think you do. i have this code in a real project and it passes

[code]

[2017-11-10 19:15] ljharb commented on #1341
What that does is shallow-render the element itself - that won't let you make assertions about the direct content of `footerContent`.

[2017-11-10 20:01] bdwain commented on #1341
sorry I'm  confused. Can you give an example of something that wouldn't work with what i did?

[2017-11-10 21:01] garyanewsome opened #1343 "-dom"
Thanks for reporting an issue to us! We're glad you are using and invested in Enzyme.
Before submitting, please read over our commonly reported issues to prevent duplicates!

### All common issues

* [common issues](../blob/master/docs/common-issues.md)

### Notoriously common issues

* [Webpack build issues](../blob/master/docs/common-issues.md#webpack-build-issues)
* [Cannot find module 'react-d

[2017-11-10 21:04] kgregory commented on #1232
I was using `instance.props` to test the default values of props.

[code]

Checking `wrapper.props()` works except for the case where the incoming prop is used to modify a prop on the rendered component of the same name.  For example, I've used `className` as a prop that can be used to apply an additional class to the className of the root element:

[code]

If I'm expecting the `className` prop to

[2017-11-10 21:10] bdwain opened #1344 "React Elements returned by enzyme in v3 are missing context"
In v2, if you wanted to get the underlying element, it contained the element's context. In v3, there is no context.

I believe for shallow, we just need to add it here https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js#L224

For mount, it's a few places (in those toTree functions).

I think it'd be nice to have the context on the element though

[2017-11-11 06:08] #1343 closed

[2017-11-11 06:13] ljharb commented on #1344
What happens on React 15 in enzyme v3?

[2017-11-11 06:56] pablezhang opened #1346 "SyntaxError: Unexpected token import?? When use V3.x enzyme in my React App"
[code]
It`s my tsconfig:
[code]
and   jest.config.js
[code]
and babelrc

[code]
Have someone could tel me how to fix the error?

[2017-11-11 07:12] ljharb commented on #1346
It's your own code file, not enzyme's, that's erroring out. It seems like something in your config must not be right.

You do have `{"modules": false}` in your `babelrc` though, which explicitly doesn't transform `import`/`export` - is that intentional?

[2017-11-11 10:19] hmaracic opened #1347 "Single rendered element in array not equal to that element in Enzyme 3"
In Enzyme 3 two shallow-rendered elements are declared not equal if one of their child elements is wrapped in a single-element array, i.e.

[code]
is not equal to
[code]

On the other hand,
[code]
is equal to
[code]

In Enzyme 2, both of these were equal.

The above test suite is available at
[https://github.com/hmaracic/enzyme-array-test](https://github.com/hmaracic/enzyme-array-test)
with one ta

[2017-11-12 09:57] idanilt opened #1349 "white space normalizing for text() function on mounted component (&nbsp; appeared as /xa0)"
I did a simple test with text() using jest and it was failing unexpectedly:
[code]
When I checked I saw that the expect space was `\x20` and the text() space was `\xa0`
After the some digging I saw that `&nbsp;` was translated to `\xa0`

I saw that text() function for shallow component is normalized and mounted is without nothing

[code]
So shallow component handle this problem and also replacing

[2017-11-12 11:24] robin22d commented on #684
Im getting this error. Here is my package.json:

{
  "name": "list",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "react": "^16.0.0",
    "react-dom": "^16.0.0",
    "react-scripts": "1.0.14"
  },
  "scripts": {
    "start": "react-scripts start",
    "build": "react-scripts build",
    "test": "tape -r babel-register ./__test__/*.js | tap-spec",
    "eject": "react-scripts eje

[2017-11-12 15:37] ljharb commented on #684
@robin22d you have react 16, but react-addons-test-utils 15. Remove the react-addons-test-utils line entirely.

[2017-11-12 15:42] ljharb commented on #1349
This isn't actually to "solve" this problem, the replacement is meant to simulate browser behavior of collapsing multiple whitespaces into one.

In fact, that `shallow` causes a `&nbsp;` to be erased is a bug, and needs to be fixed.

[2017-11-12 15:44] robin22d commented on #684
Thank you it works now. Is it build into react 16 now?

[2017-11-12 15:49] ljharb commented on #1349
I did some digging and I'm not quite sure where the fix should go; linking to https://github.com/facebook/react/pull/480#issuecomment-31296039 for posterity.

[2017-11-12 15:50] ljharb commented on #684
@robin22d It's built into the react 16 enzyme adapter (altho neither your package.json nor react-scripts includes enzyme, so i'm not sure how this repo is relevant to you)

[2017-11-12 17:08] idanilt commented on #1349
I see your point.

My original issue was regarding `&nbsp;` it can take some time to figure it's using different character.
It would be nice if you can even just document it and put some comment in the [documention](http://airbnb.io/enzyme/docs/api/ReactWrapper/text.html)
I understand this behavior originated from React/Browsers and not by Enzyme, but still it's the first place I looked...

I am e

[2017-11-12 23:39] idanilt commented on #1349
I have created PR [Change ShallowWrapper.text() trim spaces with same behavior as ReactWrapper.text()](https://github.com/airbnb/enzyme/pull/1350)

[2017-11-13 02:06] CodyReichert opened #1351 "Calling `.html()` on a shallow render crashes PhantomJS"
I'm upgrading my codebase _from_ `enzyme@2.8.0` to `3.1.1` and all of my tests that call the `.html()` method on a shallow render are causing PhantomJS to crash. The test cases are pretty simple, like this:

[code]

And that's pretty much it. I have maybe 50 tests that do his (the other 1,000 tests work fine), and it looks like each of them have the same issue (if I isolate karma to just these tes

[2017-11-13 02:38] CodyReichert commented on #1351
FWIW - it also crashes if I use Chrome to run the tests. I can't even get Chrome to show a stack trace; it just hangs and Karma restarts.

[2017-11-13 03:57] ljharb commented on #1351
What version of `cheerio` are you using?

Also, it seems like you upgraded to enzyme 3 and react 16 at the same time - this makes breakage more likely and debugging nearly impossible. Can you roll back to react 15, and get that passing on enzyme 3 first? That will narrow down if it's enzyme 3, or react 16 that's breaking for you.

[2017-11-13 06:23] zenjava opened #1352 "update method is wrong!"
The api doc link  is 'http://airbnb.io/enzyme/docs/api/ReactWrapper/update.html'.

[code]

Appeal code, can not run through!!!

[2017-11-13 06:29] ljharb commented on #1352
This is an antipattern in React, so I'm not sure why we'd support it.

Either way, this is a duplicate of #1245.

[2017-11-13 06:29] #1352 closed

[2017-11-13 10:13] TimTouchtribe commented on #1339
Okay, you're right, my bad :)
Although I did come up with a solution: `\--left`
This however gives me the same error: `Error: Failed to parse selector: a.\--left`
according to https://jigsaw.w3.org/css-validator/validator this is valid CSS3, so the selector should work right? I did escape it in the find so it looks like this: `element.find('a.\\--left')`
Any idea why this doesn't work?
Thanks for

[2017-11-13 14:36] modemuser opened #1353 "Uncaught TypeError: inherits is not a function"
I'm tasked with reworking the unit tests of our rather large code base, and I'd love to use Enzyme for this, but I'm having problems running it. Here are the details:

After adding the dependencies (`yarn add enzyme enzyme-adapter-react-16`), configuring the adapter like in the docs, and running our tests I get the following error (instead of the tests' output):

`Uncaught TypeError: inherits is n

[2017-11-13 15:00] valorize opened #1354 "Create-React-App: Jest: Enzyme Internal Error => message not shown"
When I use create-react-app and complement it with enzyme as written in their docu and run the following test code:

[code]
Enzyme outputs the following:
[code]

Expected would be a message from  `throw new Error('Method \u201C' + fnName + '\u201D is only meant to be run on a single node. ' + String(this.length) + ' found instead.');` at `node_modules/enzyme/build/ShallowWrapper.js:1618`

[2017-11-13 15:56] Omniroot commented on #1329
any thoughts on this @ljharb ? How can I help move this forward?

[2017-11-13 15:58] apucacao opened #1355 "Cannot read property 'outerHTML' of undefined with mount() on Redux connected component"
Hey all,

We're migrating from Karma/mocha/chai/... to Jest; we use Enzyme everywhere.

We're running into strange problems when using `mount` with (Redux) connected components. For example, here is a simple test:

[code]

That fails with the following error:

[code]

`console.log(result.debug())` outputs:

[code]

I haven't been able to find much about this on the Web. Does anyone have any clues

[2017-11-13 18:51] ljharb commented on #1339
I’m not sure about that validator, but the spec says it’s not valid: http://www.w3.org/TR/CSS21/syndata.html#characters

[2017-11-13 18:51] ljharb commented on #1339
(That link is for v2.1 but i don’t think it changed in css3)

[2017-11-13 18:57] aweary commented on #1339
`document.querySelector('.--foo')` seems to work in Chrome, so maybe we should support it. I'm not exactly sure if its spec compliant (I'm assuming Chrome is), but we could look into allowing leading hyphens.

As for escaped characters, we're aware its an issue and we do want to support it. See https://github.com/airbnb/enzyme/issues/1218.

[2017-11-13 21:15] CodyReichert commented on #1351
Good idea, thanks for the tip! You are correct that I upgraded enzyme and react at the same time in my initial issue.

Now, I only upgraded `enzyme` to `3.1.1` and installed `enzyme-adapter-react-15@latest` on my existing code which is React `15.6.1`. This seems to be working, although there were a few errors I had to fix up.

It could definitely be that one of those errors I fixed was the issue I

[2017-11-13 21:25] ljharb commented on #1355
What version of enzyme and cheerio are you using?

[2017-11-13 21:25] ljharb commented on #1329
I'm not sure what the issue is here yet; if you want to submit a PR with a failing test case, and even better, a fix, that'd be great :-)

[2017-11-13 21:26] ljharb commented on #1354
What version of enzyme are you using?

[2017-11-13 21:28] ljharb commented on #1353
`cheerio` browserifies fine ( https://wzrd.in/standalone/cheerio@^1.0.0-0 ) so my suspicion is that your webpack settings might be causing issues.

As for `util`, that's a node core module, so you *definitely* don't want it installed from npm.

[2017-11-13 21:33] saudar82 opened #1357 "How do I simulate drag and drop in enzyme testcase?"
I am trying to create a test for simulating a dragging of an image into a div. I am clueless on how to achieve this. Any help is much appreciated.
[code]
I am trying to simulate the drop event, not sure how to do as 2 elements are involved in it.

[2017-11-13 21:43] ljharb commented on #1357
In general, I'd discourage any use of `simulate`. Instead, I'd explicitly call the function props you want to invoke.

[2017-11-13 22:17] guigonc commented on #1229
@marchaos @adrienDog calling `wrapper.update()` didn't work for me but calling `wrapper.instance().forceUpdate()` worked.

[2017-11-14 00:22] bdwain commented on #1344
I haven't tested it, but considering that their getNode function also leaves out context, I would guess it's the same issue.

I can look at the other versions, but my guess is every version that supports context needs to pull the context out explicitly off of the underlying element, the same way they have to pull off props and everything else.

[2017-11-14 01:52] CodyReichert commented on #1351
Interestingly enough, I hit the same issue when upgrading to React 16. To sum up it up:

- My tests worked on `react@15.6` and `enzyme@2.8`.
- I upgraded to `enzyme@3.1.1` and the tests still work (after fixing a couple of issues).
- After upgrading to `react@16.1.0`, I get the crash mentioned above.

This is the _only_ change to my project to upgrade React, and it breaks the enzyme tests:

[code]

[2017-11-14 04:59] ljharb commented on #1351
It'd be useful if you could narrow down your tests to see which test files are causing the crash; presumably it's not all of them.

After that, we can probably narrow it down to which of your *components* is causing it, and then that's probably a React 16-related issue.

[2017-11-14 08:53] VishalGulati opened #1358 "Enzyme ERROR: 'There is no timestamp for /base/enzyme.js!' in unit testing React app"
I tried using Enzyme for unit testing my React application with karma as test runner but facing below error:

[code]

As suggested in Docs, I installed following modules:

[code]

My React version is `15.1.0`. And my test file is as follows:

[code]

I guess I am surely missing some configuration, hope someone can help! TIA.

[2017-11-14 08:55] ljharb commented on #1358
Can you try with enzyme 3? We don't really support enzyme 2 anymore.

[2017-11-14 09:04] VishalGulati commented on #1358
@ljharb Does Enzyme v3 works with React 15.1.0? I wont be able to update React as this is an existing application live.

[2017-11-14 09:13] ljharb commented on #1358
Yes, absolutely - it works with React 0.13 and greater; you just need to select the appropriate adapter.

[2017-11-14 09:18] VishalGulati commented on #1358
@ljharb I have installed v 15.4 of module enzyme-adapter-react-15.4 as stated [here](http://airbnb.io/enzyme/docs/guides/migration-from-2-to-3.html):
I also see that this configuration is to be included:

import Enzyme from 'enzyme';
import Adapter from 'enzyme-adapter-react-16';

Enzyme.configure({ adapter: new Adapter() });

Which file should this be placed in? Do i need to import this somewhere

[2017-11-14 09:49] ljharb commented on #1358
@VishalGulati that file should be brought in prior to all your tests; exactly how to do it depends on your test runner.

[2017-11-14 09:58] chrisregner commented on #1229
`.render()` doesn't seem to be called when calling `.update()`. Mine worked only when I called both of these in order:

    wrapper.instance().forceUpdate()
    wrapper.update()

[2017-11-14 10:28] VishalGulati commented on #1358
@ljharb : Tried with Enzyme v3, did not work. PFB the details:

modules installed:

[code]

Created a file enzyme.config.js:
[code]

Included the above file in my karma runner conf:
[code]

Got following error:
[code]

[2017-11-14 11:26] VishalGulati commented on #1358
@ljharb Could you please let me know if I am missing something. I am really helpless with this setup. The steps have all been followed but still got no clue why it does not work. There is no info over net as well. I am stuck!

[2017-11-14 11:43] seb0zz commented on #1201
For me the following code does not work:

[code]

but this does:
[code]

Placing a wrapper.update() somewhere in between has no effect. So I am only able to fix it by calling .find() again on the root element after triggering the event.

[2017-11-14 11:50] clementdubois opened #1359 "Why is shallow rendered component have a default state to {}"
I had a crash in one of my component that was not seen by a test in shallow mode.

My crash is due to my component using a state value without instanciating it first in the constructor.
When I mount the component with enzyme I reproduce the crash (trying to access key of null).
But in Shallow mode I saw that the default state of the component is an empty object (so no crash at all).

Is there a re

[2017-11-14 13:43] anthonyhastings commented on #1328
I am also experiencing this exact problem; it's good to see there's already a fix in place and ready to be shipped. Any idea when this is going to land in `master`?

[2017-11-14 16:25] lucmerceron commented on #1295
Hello guys,

I use enzyme everyday and would love to help, can I try to do this feature ?

I was thinking of looping using the same logic of `dive` but adding information about the depth on error messages and finally returning the ReactWrapper after `n` iteration. What do you think ?

[2017-11-14 17:33] Santhuraoi commented on #1340
@ljharb

I just tried to update my enzyme version getting the below issue.

running better-npm-run in C:\Users\C843252\Desktop\tj-view
Executing script: test:mock

to be executed: "mocha --opts mocha.opts "src/main/javascript/**/*.test.js""
Configuring Mocha...
Warning: ReactTestUtils has been moved to react-dom/test-utils. Update references to remove this warning.
module.js:471
    throw err;

[2017-11-14 19:29] jonmajorc commented on #1134
Just found this. I want to chime in and say if you do use this solution,`component.find('input').prop('onFocus')()`, you will lose access to the event object in the callback. To fix this would be to use `component.find('input').simulate('focus')`.

[2017-11-14 21:16] comerc commented on #208
@FDiskas
[code]

[2017-11-14 21:51] valorize commented on #1354
It should be 20.0.4 https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/package.json

[2017-11-15 01:29] juanca opened #1362 "`simulate` does not return the enzyme wrapper (migration 2.x to 3.x)"
Hello!

I was not able to find any documentation about dropping the type signature for `simulate`. Was this mentioned somewhere? (I'm trying to document all my changes with some changelog references).

If this wasn't intentional: should `simulate` return the wrapper? This facilitates complex behavior involving a chain of simulated events.

[2017-11-15 01:59] CodyReichert commented on #1351
Alright, @ljharb, I think enzyme is not the culprit here :smile: I traced it down to calling `.html()` on a single component that uses the [react-modal](https://github.com/reactjs/react-modal) library.

I'm still not sure what the issue is, but it seems related to https://github.com/reactjs/react-modal/issues/538. He doesn't give any information, but enzyme is probably calling `renderToStaticMarku

[2017-11-15 01:59] #1351 closed

[2017-11-15 05:18] #1150 closed

[2017-11-15 05:19] VishalGulati commented on #1358
@zeke @roberto @schleyfox @indexzero anyone of you could please step up?

[2017-11-15 05:24] ljharb commented on #1362
Type signatures aren't supported by this library, so that's a bug you'll have to file on wherever the type signatures come from.

`simulate` has never returned the wrapper as far as I'm aware; in general, simulate should be avoided in favor of explicitly invoking props.

[2017-11-15 05:24] #1362 closed

[2017-11-15 06:48] ljharb commented on #1354
@valorize that'd be a jest version; that package.json doesn't specify an enzyme version.

[2017-11-15 06:49] ljharb commented on #1134
@jonmajorc that's desirable; you should pass your own event object to the invoked prop rather than use `simulate`.

[2017-11-15 06:50] ljharb commented on #1340
@Santhuraoi i'm not sure what would be looking for `enzyme/build/react-compat`, that file was removed entirely for v3.

[2017-11-15 06:50] ljharb commented on #1295
I don't think we're ready to add this feature yet; thanks for your interest! https://github.com/airbnb/enzyme/labels/help%20wanted is the best place to look for things that are ready for contributors to try their hand at.

[2017-11-15 06:51] ljharb commented on #1359
Can you provide example component and test code that you'd expect to crash with `shallow` (and does crash with `mount`), but doesn't?

[2017-11-15 06:52] ljharb commented on #1201
@seb0zz that's intentional in v3; you now always have to re-find from the root every time if there's been changes.

[2017-11-15 08:28] VishalGulati opened #1363 "SyntaxError: Use of reserved word 'import' running enzyme with karma"
Tried unit testing my React application with Enzyme v3, did not work. PFB the details:

modules installed:

[code]

Created a file **enzyme.config.js**:

[code]

Included the above file in my karma runner conf:

[code]

Got following error:

[code]

Is there anything I am missing? Hope someone can help. TIA!

[2017-11-15 08:31] zenjava opened #1364 "The simulate method is Error!"
link : http://airbnb.io/enzyme/docs/api/ReactWrapper/simulate.html
``

    class Foo extends React.Component {
      constructor(props) {
        super(props);
        this.state = { count: 0 };
      }
      render() {
        const { count } = this.state;
        return (
          <div>
            <div className={`clicks-${count}`}>
              {count} clicks
            </div>
            <

[2017-11-15 08:34] ljharb commented on #1363
You have to babel-transpile that file before you send it into karma, unless you can configure karma to run babel for you.

[2017-11-15 08:35] ljharb commented on #1364
What version of enzyme and react are you using?

What if you `wrapper.update()` after the simulate?

[2017-11-15 08:51] zenjava commented on #1364
``

import React from 'react';
import enzyme, { mount, shallow, } from 'enzyme';
import { expect, } from 'chai';
import Adapter from 'enzyme-adapter-react-16';

enzyme.configure({ adapter: new Adapter(), });

describe('Test', () => {
  it('simulate', () => {
    class Foo extends React.Component {
      constructor (props) {
        super(props);
        this.state = { count: 0, };
      }

[2017-11-15 08:52] ljharb commented on #1349
Closed in #1350.

[2017-11-15 08:52] jfschwarz commented on #1295
@ljharb I'm curious about the alternative API you have in mind. Could you share your idea?

[2017-11-15 08:53] ljharb commented on #1364
hmm; this might be a duplicate of #1229;  does https://github.com/airbnb/enzyme/issues/1229#issuecomment-344205543 help?

[2017-11-15 09:02] VishalGulati commented on #1363
@ljharb Did that, here is my transpiled file:

[code]

Tried including the same in karma.conf.js and ran the task, **got following error**:

[code]

[2017-11-15 09:08] seb0zz commented on #1201
@ljharb puh okay why is that? Don't think this is really intuitive 😞

[2017-11-15 09:30] ljharb commented on #1201
It's in the migration guide; it makes found subwrappers immutable, which simplifies the code and makes the code easier to reason about: https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved

[2017-11-15 09:30] ljharb commented on #1363
Sounds like you also need to tell karma to bring in enzyme (and the other things you require)

[2017-11-15 09:41] TimTouchtribe commented on #1339
my apologies for the wrong link, I did not test to see if it works.
Hereby the link to the actual css validator, which proofs that `\--left` is correct css3.
https://jigsaw.w3.org/css-validator/#validate_by_input

[2017-11-15 09:56] VishalGulati commented on #1363
Included enzyme in my karma conf as well, still facing same issue:

`{pattern: 'node_modules/enzyme/**/*.*', included: false, served: true},`

[2017-11-15 09:59] seb0zz commented on #1201
@ljharb thanks, get the point. Nevertheless, the side effect

is pretty confusing from my point of view. Wrote like a few 100 unit tests with enzyme and found having the reference quit comfortable 😉

[2017-11-15 11:44] VishalGulati commented on #1363
@ljharb could you please help me out! I am stuck with nowhere to go. Unable to find any info to resolve this.

[2017-11-15 13:35] lucmerceron commented on #294
Hello guys

I would love to help on this one. I was thinking of two solutions:
* Regex the outerHTML return with the list of self closing tags to modify the result with ` />`
* Use or create an equivalent of [XMLSerializer serializeToString](https://developer.mozilla.org/fr/docs/XMLSerializer method) to use in `html()` function.

[2017-11-15 15:09] VishalGulati opened #1365 "Error: Module name "enzyme" has not been loaded yet for context: _. Use require([])"
Tried unit testing my React application with Enzyme v3, did not work. PFB the details:

modules installed:

[code]

Created a file **enzyme.config.js**:

[code]

Included the above file in my karma runner conf:

[code]

Got following error:

[code]
Is there anything I am missing? Hope someone can help. TIA!

[2017-11-15 17:08] mabounassif commented on #953
No solution with enzyme? Using `react-test-renderer` would completely change the test setup.

[2017-11-15 17:42] mabounassif opened #1366 "setState callback is not called (React 16?)"
The following issue is still an issue: https://github.com/airbnb/enzyme/issues/953

It was blocked because of `react-test-renderer`, which fixed the issue in the following PR: https://github.com/facebook/react/pull/10106.

Via this commit: https://github.com/facebook/react/commit/5ac62095996cce7b5441d9fad73fbcda1e3d2fca

Basically we must update `react-test-renderer` to `^16.1.1`

[2017-11-15 18:20] mabounassif commented on #1366
Update here: https://github.com/airbnb/enzyme/pull/1367

[2017-11-15 22:51] juanca opened #1368 "`.prop(...)` is not actually using the instance props (regardless of hard-coded `.update()`)"
Environment:

- enzyme @ 3.1.1
- enzyme-adapter-react-15 @ 1.0.5

[code]

Is this a known bug? Or is the intention to know when to access the instance vs the `ShallowWrapper` -- if so, can I have some a bit more information on this reasoning?

Just to provide more information:

[code]

[2017-11-16 02:42] vanlong2712 opened #1369 "Testing components function for click"
I create a jest spy to test my component function with expecting the function will be called. However, it seems not to be called.
Here is my test:
[code]
Here is my related function in SideNavBar component
[code]
The console log shows `<i className="fa fa-bars" aria-hidden="true" onClick={[Function]} />.`
If I check the simulate with console.log, it shows undefined.
And of course the error shows E

[2017-11-16 03:17] kadishmal opened #1370 "`find()` does not find inside custom tags by class name"
- `enzyme: 3.1.0`
- `jest: 20.0.4`
- `enzyme-adapter-react-16: 1.0.4`

The `component` is mounted as:

    const component = mount(<VolumesViewer />);

Output of `component.html()` is:

    <div><ui-button initialized="true"><button class="ui-button ui-button-variant-normal ui-hover-child-icons" type="submit" override-focus=""><span ui-button-region="text">Update Volumes</span></button></ui-button

[2017-11-16 04:59] juanca commented on #1362
For posterity sake: Enzyme 2.x's `simulate` would return the wrapper (and I used it to chain many simulated events). However, this is not desirable given Enzyme 3.x's wrapped caches (where elements can go stale).

Are there any plans to officially deprecate `simulate`? I would like more information to encourage my team to stop using `simulate`.

[2017-11-16 07:10] Lehakos commented on #1055
@ljharb ping

[2017-11-16 09:37] MartinDawson commented on #1138
@bregenspan I had to remove the error checking in enzyme 3.0.

Also, I had to use `if (instance && shallowWrapper.name() === identifier) {` to check current node.

[2017-11-16 09:42] MartinDawson commented on #1295
I'v been looking forward to this feature for a very long time. Diving down manually is tedious and brittle. Mount renders unwanted deep children. DiveTo is perfect because it doesn't care how many HOC's are between it.

[2017-11-16 13:51] jony89 commented on #907
Expriencing the same here. shallow is not a good enough solution since I need to to through the whole component lifecycle.

[2017-11-16 14:57] Santhuraoi commented on #1340
@ljharb I tried to update the only enzyme from 2.2.0 to 3.1.1 but I'm unable to run the test cases.

Please tell me what all steps i need to follow when i'm updating from 2 to 3 i have gone through your enzyme 2-3 migration guide i followed all the steps.

when i'm updating enzyme to 3 what is the best chai-enzyme version i need to use .

Please give me your valuable inputs i tired all the things

[2017-11-16 15:33] ljharb commented on #1362
I would like to do so, and I’ve commented as such on many issues on this repo. There’s no timeline or official commitment to do so yet, though - just my stated intention.

[2017-11-16 16:56] ljharb commented on #1370
What does `component.debug()` print out? `.html()` uses cheerio so it's not going to help you debug mount issues.

[2017-11-16 18:11] kadishmal commented on #1370
The output of:

        console.log(component.debug());

is:

[code]

[2017-11-16 19:40] kadishmal commented on #1370
I just talked with the developer of the component and found out that they are using `mithril.js` for VDOM internally, which might be the reason why something isn't working.

So, there is a workaround I have been told.

    const node = component.getDOMNode();

    node.querySelector("button").click();

[2017-11-16 20:51] Inucoder commented on #1328
Hi @ljharb, any chance this one can get a couple more reviews and be released soon? Would really appreciate it. And glad that will help others like @anthonyhastings as well!

[2017-11-16 21:42] ljharb commented on #1370
@kadishmal indeed, mithril isn't react, and you're using an enzyme react adapter. For example, the `class` prop on `ui-button` - `ui-button` isn't a valid HTML node for react, so that component just might not work at all.

If you want to use a mithril component, you need to be using mithril, which means you'd need to be using a mithril adapter for enzyme. I'm not sure there's a solution here.

[2017-11-16 21:42] ljharb commented on #1340
Use the latest chai-enzyme version, and it should work. Can you be more specific about "unable to run the test cases"?

[2017-11-16 21:43] ljharb commented on #1295
One issue with the proposed `diveTo` is that string selectors are always brittle, and always a code smell. The only way to avoid this is `.diveTo(Component)`, but this requires exporting the wrapped component solely for testing, which is also a code smell.

[2017-11-16 21:53] adc17 commented on #1232
For people coming to this from a search engine, if the `wrapper.props()` solution above doesn't work for you, try `wrapper.getElement().props`—it worked for me.

[2017-11-16 21:57] adc17 commented on #208
@ljharb I think your comment that SFC methods are inaccessible is out of date. `wrapper.getElement().props` gets me all my functions (and all my props).

[2017-11-16 21:59] MartinDawson commented on #1295
@ljharb I agree with exporting a component from production code just for testing is a code smell because other devs might be confused as to why we are exporting it, i.e we are making a private component a public one.

Why are string selectors bad though? I can't imagine a components name is going to change very often in the future. Or is it because we could have another component higher up the cha

[2017-11-16 22:30] MartinDawson commented on #465
For all readers now. LifeCycleExperimental which was previously an option that you had to manually set to true on shallow is now enabled by default because it is now stable.

This is much nicer than having to resort to mount when wanting to test lifecycles.

This means all lifecycle methods work with `shallow` now.

[2017-11-16 23:00] ljharb commented on #208
@adc17 i'm pretty sure https://github.com/airbnb/enzyme/issues/208#issuecomment-269795536 is still accurate; `.props` gets you all your props. SFCs don't have "functions", because *functions* don't have functions.

[2017-11-16 23:00] ljharb commented on #1295
Multiple components can have the same name, names can and indeed do change, etc.

[2017-11-17 07:19] haledeng commented on #764
@svidhani  Do you solve the problem?  I have the same issue. Any ideas?

[2017-11-17 09:18] jfschwarz commented on #1295
I share your concerns, @ljharb. That's why I'm dying to know what could be a better approach. :)

`.diveTo()` + extra export or displayName selector, while not optimal, at least seems to be an improvement over the current situation with `.dive().dive()...` chains.

Another problem I see with `diveTo(selector)` is that it is not obvious, whether diving stops at the element matching the selector or

[2017-11-17 13:12] Wildhoney commented on #365
Remember to `spy.restore()` after your test has completed, otherwise the `spy` will persist across tests &ndash; you also won't be able to `spy` again on the same `prototype` method unless it was `restore`d.

[2017-11-17 16:49] ljharb commented on #1369
This is because you're using an arrow function in a class property, which you should never do; also, you can't override an instance property by passing in a prop.

Instead, do:
[code]

Then, in your test, spy on `SideNavBar.prototype.openNav` *before* you create your `wrapper`.

[2017-11-17 16:49] #1369 closed

[2017-11-17 17:22] ljharb commented on #1325
See https://github.com/airbnb/react-dates/pull/846 for an example of how to use it.

[2017-11-17 20:51] mrterry06 commented on #1134
@ljharb When you say "it doesn't faithfully simulate anything". Can you elaborate a bit? Why doesn't it?

[2017-11-18 01:31] ljharb commented on #1134
For one, events don't bubble; for another, simulating "change" doesn't also trigger all the key events that led to it.

Invoking a prop explicitly, and passing your own event object, is the proper way to test things.

[2017-11-18 16:02] ljharb commented on #1328
Fixed in #1334.

[2017-11-18 16:02] #1328 closed

[2017-11-18 16:09] howardkitto opened #1371 "create-react-app React 16.1.1"
I'm trying to install Enzyme with React 16.1.1 (via create-react-aap)

The adapter is not happy see below - is there a workaround?

`$ npm i --save-dev enzyme enzyme-adapter-react-16@next

`- react-test-renderer@16.1.1 node_modules/react-test-renderer
`template@1.0.0
`~/Projects/template

`├── enzyme@3.2.0

`├─┬ enzyme-adapter-react-16@1.0.0-beta.7

`│ └── UNMET PEER DEPENDENCY react@0.13.x || 0.1

[2017-11-18 16:22] ljharb commented on #1371
Something being a peer dependency means you need to explicitly have it as a top-level dep in package.json.

The implication is that `enzyme-adapter-react-15` is installed - either by you or by create-react-app - and that conflicts with `enzyme enzyme-adapter-react-16` (which, btw you should not install at "next"; that label isn't up to date nor will be updated; use "latest")

[2017-11-18 16:39] howardkitto commented on #1371
Fantastic - I uninstalled enzyme-adapter-react-15 and it worked. Not sure why it was installed and not listed in package.json - I expect it was due to my fat fingers. Thanks so much for such a quick response.

[2017-11-18 18:21] #1371 closed

[2017-11-20 10:41] dfroger opened #1372 "find result did not update after component's render change"
I have a component `Content` like this:

    export class Content extends Component {
        constructor(props) {
            super(props);
            this.state = { bar: false };
            setTimeout(() => {
                this.setState({ bar: true });
            }, 300);
        }
        render() {
            if (this.state.bar) {
                console.log('===============> render Bar'

[2017-11-20 13:52] dfroger commented on #1372
Seems I was looking for that:
https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#for-mount-updates-are-sometimes-required-when-they-werent-before

[2017-11-20 14:42] ljharb commented on #1372
Yes, this is intended. You’d need to call wrapper.update() to rerender.

[2017-11-20 15:30] dfroger commented on #1372
@ljharb ok thanks! I did't try for now, but I think I will not have difficulties, and this seems to be well documented in the migration guide, so I can close the issue.

[2017-11-20 15:30] #1372 closed

[2017-11-20 17:15] gsantiago commented on #1289
I had a problem with React Router too and solve it by using the [dive](http://airbnb.io/enzyme/docs/api/ShallowWrapper/dive.html) method.

[code]

[2017-11-20 19:40] eddiemonge opened #1373 "Parent is not a consistent with other searches"
Enzyme 3

The last test here throws an error

[code]

[code]

[2017-11-20 19:40] eddiemonge commented on #1230
maybe wrapper isn't the actual wrapper. I think parent() is broken as well. See https://github.com/airbnb/enzyme/issues/1373

[2017-11-21 01:17] rwholey-eb commented on #654
Hey! I believe we're also running into this issue, has there been any update on this?

[2017-11-21 02:46] ryanwilsonperkin commented on #654
@rwholey-eb I'm afraid not, after a fair bit of debugging I was unable to trace down the issue to a root cause.

[2017-11-21 12:03] Kale-ab commented on #971
I have the same issue, using local css in my component.

# Code
 import React from "react"
**import styles from "./HorizontalSelectElement.scss"**
import toJS from "../ToJS"
import PropTypes from "prop-types"

class HorizontalSelectElement extends React.Component {
  handleClick = event => {
    event.preventDefault()
    if (this.props.selected === false) {
      this.props.updateParent(this.prop

[2017-11-21 13:51] kubido opened #1374 "testing integer value in containsAllMatchingElements need to wrap with { }"
When I try to test a element using `containsAllMatchingElements`  that only render integer value I need to test with `<h1>{88}</h1>` which it supposed to be `</h1>88</h1>`
is this the correct scenario ? what's the reason behind this implementation ?

[code]

[code]

[2017-11-21 14:44] ljharb commented on #971
@Kale-ab it seems apparent that your css import isn’t mocked out properly for testing, which is why you get `undefined` in the debug.

[2017-11-21 14:52] ljharb commented on #1374
In React 16, HTML elements only ever have string props and children, so you have to convert your value to a string before testing it.

This isn’t related to enzyme.

[2017-11-21 14:52] #1374 closed

[2017-11-21 22:08] Right2Drive opened #1375 "Fix documentation for React Native"
# Description
The [documentation](http://airbnb.io/enzyme/docs/guides/react-native.html) instructs users to install [react-native-mock](https://github.com/RealOrangeOne/react-native-mock), which does not work with more recent versions of `react` due to it's [usage of a deprecated API](https://github.com/RealOrangeOne/react-native-mock/issues/139)

# Proposal
I'm not really sure what the appropriat

[2017-11-22 00:34] jessenia commented on #1226
You have to use the same versions. If you're using React 16, also use v16 for the Adapter. I had this issue and that fixed the problem.

[2017-11-22 21:33] GolanPachu commented on #1213
any update on this issue? or should I just wrap it in a div?

[2017-11-22 22:02] chloerice commented on #341
For future readers with similar troubleshooting, if you're using enzyme to test React and need to test [Full DOM Rendering](http://airbnb.io/enzyme/docs/api/ReactWrapper/find.html), use [Jest](http://facebook.github.io/jest/docs/en/tutorial-react.html#dom-testing) to run your tests and you'll be golden as it comes with `jsdom` baked in properly set up.

[2017-11-23 00:25] #1366 closed

[2017-11-23 14:42] benmvp commented on #654
Echoing what @rwholey-eb said, we've been running into this issue at Eventbrite trying everything we could think of to fix the issue. I was seeing the intermittent failures happening locally in our Docker environment too. And the failures happened more frequently as we added more tests. The problem definitely seemed to be with Enzyme.

And that proved to be the case because everything got fixed af

[2017-11-23 15:11] ryanwilsonperkin commented on #654
@benmvp thanks for chiming in! We're running Enzyme 2.8.0 right now, but I'll put in a PR to update to 3 (we're also on React 15.4.2) and un-skip the tests we've had issues with. I'll report back if we run into any of the same errors again.

If anyone's reading this thread that knows what might have changed between `2.8` and `3.0` that might have fixed this issue, I'd love to know! This one's been

[2017-11-23 15:39] yankopetrov opened #1377 "API for inline styles"
Do you plan to add API support for inline styles attribute in the future?

[code]

Something like the existing `hasClass`

[code]

[2017-11-23 15:42] ljharb commented on #346
@cyrieu https://github.com/airbnb/enzyme/issues/346#issuecomment-304535773 was in response to https://github.com/airbnb/enzyme/issues/346#issuecomment-304534195; in which `fetch` is used - thus, stubbing it out with `promise`, and the order of operations being that the `setState` `.then` callback is queued up before the final `return promise.then`, the Promise spec itself guarantees that.

When us

[2017-11-23 15:44] ljharb commented on #654
@ryanwilsonperkin one thing is that we replaced the entire selector engine between enzyme 2 and 3.

@benmvp thanks for clarifying! You may also be interested in https://twitter.com/ljharb/status/931953598308679680 :-D

I think that based on the claim that it's fixed in v3; and because this bug is unlikely to get figured out or fixed in v2, I'm going to close this.

If anyone discovers issues in v3

[2017-11-23 15:44] #654 closed

[2017-11-23 15:45] ljharb commented on #1377
I'm not sure what the benefit would be; `hasClass` makes sense because `className` is otherwise a space-separated list of strings, so checking it correctly for a single class is non-trivial. `style`, however, is just an object, and making assertions on object properties is a solved problem.

[2017-11-23 16:07] yankopetrov commented on #1377
Inline styles can be generated depending on multiple props and conditions. Maybe i get it wrong or miss something, but don't know how to do test for this:

#### Example
[code]

There are couple question about the same on stackoverflow without answer yet.

[2017-11-23 16:20] ljharb commented on #1377
The same way you test any plain object:
[code]

[2017-11-23 16:28] yankopetrov commented on #1377
@ljharb Cool thanks

[2017-11-23 16:28] #1377 closed

[2017-11-23 16:30] benmvp commented on #654
Ah so I can use `enzyme-adapter-react-helper` instead of the specific `enzyme-adapter-react-15.4`? It'll figure it out for me? Nice! And thanks! 😄

[2017-11-23 17:58] cyrieu commented on #346
@ljharb Thanks for the response! I guess I'm slightly puzzled as to how the the Promise spec guarantees that order, since I feel like here we have 2 `.then` callbacks branching from the same stubbed `fetch`, and doesn't that mean that they get executed arbitrarily?

My goal for testing out `setTimeout` in the callback was to simulate what would happen if I called another async function in the prom

[2017-11-24 05:27] ljharb commented on #346
@cyrieu no, they get executed deterministically in the order they were added to the promise.

If the secondary call used promises, you could mock it out the same way you've mocked out `fetch` - but yes, if it uses `setTimeout`, you'd have to use a mock clock like sinon's.

[2017-11-24 06:31] Leannechn opened #1378 "can`t get state value"
I can`t get state value, witch init in constructor function.
[code]
 use enzyme:
[code]

[2017-11-24 11:08] AlisonWoodman commented on #410
👍

[2017-11-24 14:09] eddyerburgh opened #1380 "Different methods for retrieving children from nodes"
The [`containsChildrenSubArray`](https://github.com/airbnb/enzyme/blob/master/packages/enzyme/src/Utils.js#L138) method gets the children from the props of the node. Most other methods use the [`childrenOfNode`](https://github.com/airbnb/enzyme/blob/master/packages/enzyme/src/RSTTraversal.js#L11) function that uses the node.rendered property to retrieve children.

Enzyme should only have one metho

[2017-11-24 14:12] palaniichukdmytro commented on #586
It does not work for me. In my case onSubmit undefined, even when I passed the handleSubmit to props.
Any idea how to simulate click with onSubmit={handleSubmit(this.update)

[code]

[code]

[2017-11-24 14:58] ljharb commented on #586
@palaniichukdmytro that's because you're putting arrow functions in class properties; that makes them slower and harder to test. All of those should be instance methods, and you should `this.foo = this.foo.bind(this)` in the constructor. That will address your problem.

[2017-11-24 14:59] ljharb commented on #410
@vlkosinov is this still an issue in enzyme 3?

[2017-11-24 15:00] ljharb commented on #1378
@Leannechn I'm not sure what the `\` are for - your wrapper line should be `const wrapper = shallow(<MyComponent someProp={100} />);` (note the proper jsx syntax, and `MyComponent` should be capitalized.

[2017-11-24 15:00] ljharb commented on #1378
Also, what version of enzyme and react are you using?

[2017-11-24 15:15] #1380 closed

[2017-11-25 13:06] Meligy commented on #831
I also had the same issue with `shallow()`.

I cloned https://github.com/Microsoft/TypeScript-React-Native-Starter and upgraded all dev packages.

I then did the setup for React 16:

[code]

And ran `jest` with the simple test that came with the repo.

[code]

Which is testing this simple React Native component using only very basic React Native components:
https://github.com/Microsoft/TypeScript-

[2017-11-25 13:30] ljharb commented on #831
React 16 is for React *web* - to properly use enzyme with react-native, we'd need an `enzyme-adapter-react-native`.

[2017-11-26 09:23] valorize commented on #1354
Your right. It's enzyme@3.1.0 in combination with enzyme-adapter-react-15@1.0.3.

[2017-11-26 12:27] WalidKurchied commented on #361
I have a Login component thats inside a MemoryRouter component, i'm trying to set the props and even the state of the Login component but it doesn't seem to take effect my guess is that MemoryRouter is blocking it somehow and setting props is actually setting the props of MemoryRouter rather than the Login component i could be wrong but thats what im thinking:

let wrapper = mount(

[2017-11-26 12:29] WalidKurchied opened #1384 "Cant set the props or state of a component inside MemoryRouter"
I have a Login component thats inside a MemoryRouter component, i'm trying to set the props and even the state of the Login component but it doesn't seem to take effect my guess is that MemoryRouter is blocking it somehow and setting props is actually setting the props of MemoryRouter rather than the Login component i could be wrong but thats what im thinking:

[code]

        wrapper.setProps({ag

[2017-11-26 17:58] ljharb commented on #1384
`wrapper.find(Login).setProps()`?

[2017-11-26 19:59] ljharb commented on #1354
I'm not sure about that error message; if you wrap the `simulate` call in a `try`/`catch` I would expect you'd see the expected error message.

[2017-11-26 21:51] christopherdumas opened #1386 "component.find(...).first(...).simulate is not a function"
I'm trying to set up a test on a component, where there is an `onClick` handler on a div with a `list-group-item` class. Following the examples on the readme, I tried this:

[code]

However, this results in an error message:

<img width="668" alt="screen shot 2017-11-26 at 1 47 11 pm" src="https://user-images.githubusercontent.com/1920151/33244675-739c6dac-d2b0-11e7-8480-47ddec517313.png">

I've t

[2017-11-26 21:53] ljharb commented on #1386
I'm confused, in your example, why would `signUpFor`, which is never passed anywhere in your test, be called by `simulate`?

How is `component` created? It kind of suggests you used `render`, which is cheerio and thus doesn't have `simulate` at all.

[2017-11-26 23:22] WalidKurchied commented on #1384
@ljharb thanks Jordan but i get this error using that line of code: setProps() can only be called on the root :/ any other approaches i can try ?

[2017-11-26 23:58] christopherdumas commented on #1386
Oh, sorry. I'll add the surrounding code to the issue. I assumed people would just assume that I've constructed a component.

[2017-11-27 01:06] ljharb commented on #1386
Yes, but enzyme itself provides three APIs for doing so, and the way one does that (including which props you pass) are often critical to solving the issue.

[2017-11-27 01:08] ljharb commented on #1384
ah, yes. #361 (which i see you commented on) is indeed relevant.

The solution here tho, is that you'd instead want `wrapper.setProps({ children: replacementLoginComponent })`, since that's actually the prop that you want to alter.

[2017-11-27 01:18] christopherdumas commented on #1386
Yes. I updated the code snippet above. Apparently I was using cheerio.
On Sun, Nov 26, 2017 at 5:06 PM Jordan Harband <notifications@github.com>
wrote:

--
Regards,
    Christopher

[2017-11-27 01:27] ljharb commented on #1386
OK, so, `render` doesn't have `simulate` - only `shallow` and `mount` do.

[2017-11-27 03:28] Jack-Barry commented on #346
I was having a little bit of trouble with the `sinon.stub` approach because the syntax is outdated as of `v3.0.0`.  I got it to work with the new syntax, but ended up having to throw `setImmediate` into the mix to get the component to update as desired.

If I return the variable `promise` as proposed by @ljharb in the previous example, my component does not render as expected (the `state` of the c

[2017-11-27 03:31] ljharb commented on #346
@Jack-Barry What version of React?
(Assuming `example_object` is indeed the same reference throughout) I believe `setState` can be async; one alternative to `setImmediate` is `.then(Promise.resolve()).then(() => {`, but that does feel a bit hacky. Does that work?

[2017-11-27 10:23] WalidKurchied commented on #1384
does children refer to the Login component ? and also i'm unclear with what is the  replacementLoginComponent meant to be ?

[2017-11-27 10:39] raku1089 opened #1387 "how to test customized 'react-lodable'?"
#### below is the code ,for which i want to write test case.

[code]

I am lodaing componenet dynamically like this .
[code]

[2017-11-27 11:11] enniel commented on #1384
@WalidKurchied Try this code:

[code]

[2017-11-27 14:36] WalidKurchied commented on #1384
@enniel thank you it worked :) .. thanks @ljharb I understand what you meant now.

[2017-11-27 14:36] #1384 closed

[2017-11-27 15:46] kerrermanisNL commented on #684
For anyone who ran into this thread but is not actually using enzyme. If you find you can't access `react-addons-test-utils` and you've upgraded from below react (I'm thinking) 15.4 make sure you're importing the `TestUtils` class from `react-dom/test-utils`.

`react-addons-test-utils` no longer exists and has been moved to `react-dom`. Took me a while to figure out.

[2017-11-27 16:06] nxmohamad opened #1388 "spyOn: what is the difference between calling it on prototype versus on wrapper's instance"
to spy on a component's method, we do
`spyOn(Component.prototype, 'methodName' )`

However at times I have encountered an error that says 'cannot read property methodName of undefined'

I would then resort to doing
`spyOn(wrapper.instance(), 'methodName')`
which would work.

I have no idea why so. Can anyone explain?

[2017-11-27 16:22] paxthree commented on #971
I'm also having the same issue, except my debug outputs:

`<li className="_pheno__item___1_Duw   _pheno__focused___1wB3n" onMouseEnter={[Function]} onMouseLeave={[Function]} onClick={[Function]}>
    <span>
      <Name name="testpheno">
        <span className="_pheno__phenoname___1tvBf">
          testpheno
        </span>
      </Name>
      <span className="_pheno__action-icon___mwhzB">

[2017-11-27 20:21] turnipdabeets opened #1390 "Cannot find module 'react-dom' from 'ReactSixteenAdapter.js'"
`enzyme-adapter-react-16` has a peerDependency for `react-dom`, however React Native apps do not have react-dom installed.

This throws an error `Cannot find module 'react-dom' from 'ReactSixteenAdapter.js'`. A quick fix is to install react-dom explicitly as a devDependency, but this is not an ideal solution.

[2017-11-27 21:01] mrbinky3000 commented on #1153
This seems to still be an issue in enzyme-adapter-react-16@1.1.0  wrapper.update() does not work. Yet console logs in the source code show that state is being updated.  .html() shows the correct structure.  I can point you to a repo with the failing test if that helps.

[2017-11-27 21:05] CoenWarmer opened #1391 "Snapshot output keep changing on every save action (CRA, Enzyme)"
Hey there,

I'm running into some issues and I can't tell what I'm doing wrong.

I'm using Create React App (using React 16.1) with Enzyme (3.2.0) and Styled Components 2.2.3.

This is the component I'm trying to test:

[code]

And this is my test:

[code]

I've configured my test setup for Enzyme by setting a `setupTest.js` file:

[code]

When I run `yarn test` in watch mode, every time I save, t

[2017-11-27 21:17] christopherdumas commented on #1386
Got it. Thanks!

[2017-11-27 21:17] #1386 closed

[2017-11-28 00:41] ljharb commented on #1153
@mrbinky3000 `.html()` isn't as useful as `.debug()`, what does that show?

[2017-11-28 00:42] ljharb commented on #684
The goal with enzyme, however, is not to need the test utils directly at all :-)

[2017-11-28 00:43] ljharb commented on #1388
This is a `sinon` question, not an `enzyme` one - but it sounds like you're using an arrow function class property on your component, instead of (properly) using a constructor-bound instance method.

Can you share your component code?

[2017-11-28 02:06] glosee commented on #1002
Referencing @gecko25's comment above - I get that same error...

[code]

The connected component has some internal state that I want to test.

[2017-11-28 02:29] Jack-Barry commented on #346
@ljharb Thanks for the advice, it turns out that the above setup was outputting correctly in `console.log` but was *not* running the assertions so no bueno there.

Here's the relevant libraries for my testing setup:

`Enzyme 3.1.1`
`React 16.1.1`
`Webpack 3.8.1`
`Mocha 4.0.1`
`Mocha Webpack 1.0.1`
`Chai 4.1.2`
`Sinon 4.1.2`

I finagled it a bit to where that does work. Ultimately I'm just looking

[2017-11-28 04:11] timrsmith commented on #439
@aweary I'm seeing this issue in 3.2.0. I can verify that my wrapper contains an element
[code]

yet when I try:
[code]

I get:
[code]

Finds on other elements in the wrapper that do not contain `.` in the name work just fine.

[2017-11-28 04:57] ljharb commented on #1387
@raku1089 can you elaborate a bit further? What project are you trying to add tests for?

[2017-11-28 05:14] ljharb commented on #439
@aweary seems like this might need to be reopened.

@timrsmith do you also see this with `shallow`?

[2017-11-28 05:23] timrsmith commented on #410
It appears to be. I'm seeing it in 3.2.0

[2017-11-28 06:01] timrsmith commented on #439
@ljharb apologies, upon further investigation it appears my issue is with wrapper.update(). It was just manifesting in a way that appeared to be a selector issue.

Our tests leverage a mock fetch() service, so there's an async aspect to it. I'm leveraging async/await. Oddly, whereas before I could

[code]

Now, I have to add a second wrapper.update():

[code]

At any rate, you can close this issue

[2017-11-28 08:37] CoenWarmer commented on #1391
Did some further digging and it looks like it might be related to the fact that this App component is wrapped in Memory Router.

Found this link that seems very similar to my case: https://swaac.tamouse.org/testing/2017/08/02/TIL-enzyme-shallow-render-with-memoryrouter-doesnt-work/

[2017-11-28 09:06] raku1089 commented on #1387
i need to mock the dependency and test wether it is called with appropriate arguments or not

[2017-11-28 09:13] kerrermanisNL commented on #684
@ljharb definitely good to know! For me however I rolled into a (big) project that already uses it and needed to be upgraded to react 16. Searching for a solution to the missing testutils, this came up as the first answer on Google. So I though I'd provide some more information for people following that same route. In any case, thanks for the heads-up!

[2017-11-28 09:44] Kale-ab commented on #971
For anyone still struggling with using local css files in tests (and you are using webpack), https://facebook.github.io/jest/docs/en/webpack.html#mocking-css-modules .

[2017-11-28 10:55] SparrowSquire opened #1392 "Typo re: hasClass"
Ref: https://github.com/airbnb/enzyme/blob/master/docs/api/ReactWrapper/hasClass.md

Example:    `.hasClass('disabled')).to.equal(true);`
Correction: `.hasClass('disabled')).toEqual(true);`

[2017-11-28 11:01] QuantumInformation opened #1393 "[data] attributes return incorrect length amounts when using mount()"
For things like classes and id's the selectors work great.

If I do this in a test:
[code]
  I get the value 2, but If I run this
[code]
I get the length 6.

Something is seriously wrong here. I will note that my tests are written in Typescript.

![image](https://user-images.githubusercontent.com/216566/33316297-63e8ff02-d42b-11e7-9f18-7b551ac4edb8.png)

[2017-11-28 12:01] Toolo opened #1394 "Issues with shallow and refs"
Say you have a component with a `ref` callback to store the DOM element, I've experienced some issues when testing in the following two scenarios:

## Scenario 1

[code]

 If you `shallow` render the component, `componentDidMount` will throw an exception because `this.element` is null.

## Scenario 2

[code]

If you `shallow` render the component and set the state, `this.element` is going to be se

[2017-11-28 14:13] Jauny opened #1395 "component.state is null"
Hi, I have state initialized in my component's ES6 class constructor, but during test state is null;

[code]
[code]

and I get this error
[code]

I use
- "enzyme": "^3.2.0"
- "enzyme-adapter-react-15": "^1.0.5"
- "tape": "^4.8.0"

[2017-11-28 14:21] ugogo commented on #1395
Use `props` instead of `this.props` in the `constructor`
[code]
->
[code]

`this.props` does not exist yet in the `constructor`

[2017-11-28 14:31] Jauny commented on #1395
oh good point I updated. Although I still have the same issue.

even just making the state static won't work
[code]

[2017-11-28 14:39] mrbinky3000 commented on #1153
ImageWithZoom has a state property named "hovering".  It starts of false as expected.
[code]

This is a debug() dump of the wrapper before the mouseover event.
[code]
This is the .html() of the wrapper before the mouseover event is triggered.
[code]
This is a console log in the ImageWithZoom component to acknowledge that our mouseover method was called.  It sets the state property "hovering" to tr

[2017-11-28 14:41] Jauny commented on #1395
Ah nevermind, I was using a HOC - found discussion in #431 and will export my inner component separately!

[2017-11-28 14:41] #1395 closed

[2017-11-28 14:48] Santhuraoi commented on #1340
@ljharb finally most of test cases are running thanks for your help, But when i import render from enzyme those test cases are failing could you please tell me why

[2017-11-28 15:45] bookman25 commented on #1175
From a React point of view, there is no concept akin to `update()`.  Every time you inspect state it's after all updates are processed.

With enzyme@3, you can actually test states that are not valid/real world states. There doesn't appear to be a clear delineation about when calling `update()` is required.  As a result developers might miss calling `update()` and get results that lead to false po

[2017-11-28 17:50] likethemammal commented on #1336
Mentioned it in this PR: https://github.com/airbnb/enzyme/pull/1396

[2017-11-28 17:51] likethemammal commented on #1265
Made a PR to clarify Jest setup https://github.com/airbnb/enzyme/pull/1396

[2017-11-28 17:53] FezVrasta commented on #1336
The thing is that with CRA this config is automatic, so people just have to create the `setupTests.js`, without any ejection or custom config.

[2017-11-28 20:07] mrbinky3000 opened #1397 "Enzyme 3.2.0 not properly detecting length returned by cheerio."
Using enzyme@3.2.0 and enzyme-react-adapter@1.1.0 and given a very simple React component named Blurb with a render() method of...

[code]

the following test fails...

[code]

The first assertion, `wrapper.find('div')` has a length of zero.  However, adding
`console.log(wrapper.find('div'))` above `// these assertions fail` shows that the div tag does exist.  Here is the output from that debug st

[2017-11-28 23:09] DianaSuvorova commented on #237
I think one can do this already. I mean writing selenium-like tests with enzyme.

imagine your `index.js` looks like below:

[code]

Now instead of rendering App directly into dom you use enzyme wrapper :

[code]

In this case one can programmatically script e2e tests for example:

[code]

simulateKeyPress is naturally a tricky thing to do in a browser but can be done.

Then you can wrap it into a

[2017-11-28 23:16] octalmage commented on #237
For our integration tests we need to test more than just React components. We're using React in a WordPress plugin, so we want to test that WordPress plugin as well, and the integration between the two. Additionally in Enzyme we're passing data to the React components as props, so it's all mocked, WordPress makes the HTTP requests so to do a full e2e we need more than just mounting.

I looked into

[2017-11-28 23:28] DianaSuvorova commented on #237
@octalmage, I am not sure what you mean by "more than just mounting". enzyme mount actually calls [ReactDOM.render](https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js#L167-L173) function. So with enzyme mounting you get more than with just react rendering.

[2017-11-28 23:30] octalmage commented on #237
I'm talking about integration testing more than just a React application. So also testing the application that host the React components. ReactDOM.render wouldn't work for this either.

[2017-11-28 23:34] octalmage commented on #237
Sorry, your solution might work actually for finding the actual dom component. I'll check it out!

[2017-11-28 23:41] octalmage commented on #237
Ah I remember where this broke down for my needs. Lets say you're smoke testing a deployed staging application, so you need to load an existing url/page in a browser and test it. It would be great to be able to say, find the component "ListTabs" on the page and click it. Currently we use data-test-id attributes and selectors, but it would be great to not have to do that.

With your solution, the e

[2017-11-28 23:44] DianaSuvorova commented on #237
@octalmage  let me invite you to my toy repo where I set it up.

[2017-11-29 01:34] aweary commented on #1393
@QuantumInformation can you verify if the test passes when you manually assert on the length?

[code]

If the `.length` property is returning the correct value (which it looks like it is) then I would suspect that there's something wrong with `toHaveLength`

[2017-11-29 01:36] #439 closed

[2017-11-29 02:14] aweary commented on #1339
This will be resolved by https://github.com/aweary/rst-selector-parser/pull/11

[2017-11-29 03:26] Jack-Barry commented on #346
Oh my goodness, finally realized what was going on here 🤦‍♂️ The devil's in the details.

In my `ExampleComponent.jsx` I had a chained promise going on in real life:

[code]

This was to avoid having to duplicate the assignment of `state.loading` whether or not the promise resolves.  If I put the assignment of `loading: false` into my first `then` block, I no longer need the extra `Promise.resolve

[2017-11-29 04:58] jedwards1211 commented on #1259
@enthudrives well, sometimes you have to test what the children are doing, for example when you're making components to transition children.

[2017-11-29 05:14] jedwards1211 opened #1398 "thoughts on a more convenient adapter layer"
I don't know *too* much about the internal details, but I see in the adapter code that you're converting entire React element trees to an internal representation (which is of course why manually syncing with `.update()` is now necessary).

But is this really the best approach?  Why not just have the adapter layer implement all the methods for traversal and inspection of the real React tree, rather

[2017-11-29 06:04] raku1089 commented on #1387
Hey pal ,could you please suggest somthing

[2017-11-29 07:15] ljharb commented on #1398
It's important that we distinguish the *enzyme* API, from the pieces that are required to vary across React versions. Additionally, the current adapter pattern allows for preact, inferno, react-native, vue, or any jsx-based framework to use enzyme.

[2017-11-29 07:16] ljharb commented on #1387
@raku1089 If you want to mock out `Loadable`, you'd need to use rewire, or proxyquire, or `jest.mock`, or something similar - that's not an enzyme question, I'm afraid, so I'm going to close this.

[2017-11-29 07:16] #1387 closed

[2017-11-29 07:40] QuantumInformation commented on #1393
Changing it to `    expect(renderedItem.find('tr')).toHaveLength(3)` works fine

[2017-11-29 07:41] QuantumInformation commented on #1393
changing that to data- gives

![image](https://user-images.githubusercontent.com/216566/33363555-c1fe54fe-d4d8-11e7-8547-acf631fa675c.png)

[2017-11-29 07:44] QuantumInformation commented on #1393
Sorry, the error only occurs when using mount(), not render()

[2017-11-29 08:11] ljharb commented on #1153
@mrbinky3000 thanks; can you file this separately?

[2017-11-29 08:12] ljharb commented on #1395
@Jauny you shouldn't need to do that; use `.dive()` instead with `shallow`.

[2017-11-29 08:18] ljharb commented on #346
aha, yes, "simplifying" example code virtually always hides the real problem :-) glad you figured it out!

[2017-11-29 08:20] ljharb commented on #439
@timrsmith fwiw, neither `.simulate()` nor `.update()` returns a promise, so `await`ing them doesn't do anything.

[2017-11-29 08:35] doxiaodong commented on #1162
I use render().html() for snapshot, And it would be nice if you could bring the outer HTML back at some form~~~

[2017-11-29 09:02] Jauny commented on #1395
@ljharb wow awesome thanks a lot!

[2017-11-29 10:09] enthudrives commented on #1259
@jedwards1211 You don't have to verify the transition in the child component. The transition happens through `props` which are passed from parent to child.
From the context of the parent, you can see if the props passed to the child has been changed from A -> B.
From the context of child, it is just 2 scenarios with props A and B.

[2017-11-29 10:11] graingert commented on #1259
It's not really the point whether you should or should not use this approach. The features don't match the documentation

[2017-11-29 10:30] nemanjacosovic commented on #942
None of the above solutions helped... :(

[2017-11-29 14:32] mrbinky3000 opened #1400 "Enzyme 3.2.0 Wrapper not updated after state change."
I have a React component called ImageWithZoom that tracks the mouseover and mouseout events.  The events change the state of the component, which triggers a re-render of the component.  The componet's render() method adds a class when state.hovering is true and removes it when state.hovering is false.

ImageWithZoom has a state property named "hovering".  It starts off false as expected.
[code]

T

[2017-11-29 14:37] mrbinky3000 commented on #1153
@ljharb I created issue #1400

Thanks for looking into this.

[2017-11-29 15:04] jedwards1211 commented on #1398
@ljharb no I understand that.  But I'm wondering if instead of copying a tree from any of those frameworks into an intermediate representation and then searching/traversing the intermediate representation, it would be possible to traverse the live React/Preact/Inferno/whatever tree *via* methods of an adapter implementation?

[2017-11-29 18:19] codepressd opened #1402 "Shallow rendering keeps throwing error."
Been fighting with this for a whole day and hoping it is something simple.

Been trying to shallow render my React Components, but I keep having it error out. It seems to run through every file/component that is imported in and the import files of those files until finally it finds somewhere to break. The error has nothing to do with the component I'm trying to test or should even affect it...

It

[2017-11-29 19:36] ghost opened #1403 "Issue With Test Cases which are using render after updating enzyme & react to latest versions"
Can some one please help me below is the issue which i'm getting when i'm running the test cases.

After updating test cases which are using shallow are working fine but the test cases which are using render are failing .

[code]

[code]
Below list of dependencies and devDependencies
[code]

[2017-11-29 20:22] Santhuraoi commented on #1403
@ljharb Please help me on this asap

[2017-11-29 22:42] suchipi commented on #796
In enzyme 3, `children()` now returns the `#wrapper`.

[2017-11-29 22:42] #796 closed

[2017-11-30 00:11] UselessPickles commented on #252
What's the status on this? I see that enzyme-adapter-react-16 has been updated to support portals here: https://github.com/airbnb/enzyme/issues/1150

But even after updating all my NPM dependencies, including getting those changes in the react adapter, this issue is still not fixed. Are there more changes required in other enzyme code to properly use the new portal support in mount()?

[2017-11-30 01:51] zenjava commented on #1364
I am update enzyme-adapter-react-16 to 1.1.0. Run result is OK.I think that is enzyme bug,but fix 1.1.0.

[2017-11-30 03:24] anupritawayangankar commented on #907
Hi @protoEvangelion , i am facing the same problem. Any solution u got ?

[2017-11-30 05:26] zenjava commented on #1364
I see the code,  The following code fixes to change the problem.
1.1.0 : const node = findCurrentFiberUsingSlowPath(vnode);  --fixed
1.0.0 : const node = vnode.alternate !== null ? vnode.alternate : vnode;

[2017-11-30 05:28] zenjava commented on #1229
I am update enzyme-adapter-react-16 to 1.1.0. Run result is OK.I think that is enzyme bug,but fix 1.1.0.
I see the code, The following code fixes to change the problem.
1.1.0 : const node = findCurrentFiberUsingSlowPath(vnode); --fixed
1.0.0 : const node = vnode.alternate !== null ? vnode.alternate : vnode;

[2017-11-30 07:11] Leannechn commented on #1378
Y, wrapper is ` const wrapper = shallow(<MyComponent someProp={100} />)。`
I want test state when componentDidMount, witch set in constructor such as
[code]
react version: 16

[2017-11-30 08:40] nemanjacosovic commented on #875
I'm not sure why I'm getting this warning since I haven't found any references in my project:

[2017-11-30 09:28] ikhilko commented on #1213
React 16.2.0 arrived with new fragments syntax. Any progress here to support it by enzyme?

[2017-11-30 15:01] nickguimond commented on #1195
Same shame..  so sad

[2017-11-30 15:43] RoystonS opened #1405 "Documentation for ReactWrapper#update is wrong"
Hi,

The latest documentation for ReactWrapper#update (
https://github.com/airbnb/enzyme/blob/3ac9895c03e71816e58bc534aa6dd635e9311f59/docs/api/ReactWrapper/update.md) appears to be incorrect.

It states that calling `.update()` forces a re-render. I believe that was the case in Enzyme 2, but is _no longer_ the case in Enzyme 3.  It now merely refreshes the wrapper tree from the React tree.

I'd a

[2017-11-30 15:58] ljharb commented on #875
@nemanjacosovic make sure you’re using enzyme 3.2, the right version of react and of the right enzyme adapter.

[2017-11-30 20:22] nemanjacosovic commented on #976
@swachtma that didn't help.

So, the issue comes from the explicit dependency in order to support older versions of react.

[2017-11-30 21:41] jd-erreape commented on #589
@ljharb could you please elaborate a little bit more your response? I'm really interested into knowing how to do it properly. Thanks!

[2017-11-30 23:17] hex-fire commented on #942
@vlaurin @Mike26372
Thanks for the help. Your solution works for me.
My env has:
"enzyme": "^3.2.0",
"jsdom": "^11.5.1",

[2017-12-01 03:32] variousauthors commented on #1213
[code]

[code]

I almost feel like this is expected behaviour... Consider:

[code]

If you think of shallow as,

`shallow :: a -> Shallow a`

Then it makes sense that `shallow([a])` returns an element of type `Shallow [a]` and has trouble finding `a` because of the wrapper. If you tried `shallow([a]).find([a])` I would expect it to work.

On the other hand, if you think of shallow as,

`shallow ::

[2017-12-01 06:23] ljharb commented on #589
@jd-erreape in short, never pass a string into `.find` :-)

[2017-12-01 06:25] ljharb commented on #1405
I believe `wrapper.update()` should refresh the wrapper tree from the React tree.

@lelandrichardson, can you confirm?

[2017-12-01 06:27] ljharb commented on #1378
If you want to test componentDidMount, you should use `mount` instead of `shallow`.

[2017-12-01 06:30] ljharb commented on #1403
Where is the test called "the component renders a .label element:"?

[2017-12-01 06:30] ljharb commented on #1402
If you simply enter the node repl, and try to require your component, does it work?

[2017-12-01 06:32] ljharb commented on #1398
That would delegate far too much authority to the adapter; it's also important that tests written to work in enzyme work identically when changing adapters without having to change any of the test code.

In other words, enzyme users never call adapter methods directly; *enzyme*, not the adapters, is in charge of its API.

[2017-12-01 06:34] ljharb commented on #1393
@QuantumInformation enzyme 3 now returns more kinds of nodes in the list. Try `expect(renderedItem.find('tr').hostNodes()).toHaveLength(2)`

[2017-12-01 06:37] ljharb commented on #1397
`wrapper.find('div')` is empty because wrapper *is* the div. Try `wrapper.is('div')`.

[2017-12-01 06:38] ljharb commented on #1340
Probably because cheerio 1.0 works differently than 0.22.

Specifically, instead of containing the rendered nodes, the render wrapper now *is* the rendered nodes.

[2017-12-01 06:40] ljharb commented on #1394
refs only work with `mount`, yes.

[2017-12-01 06:40] ljharb commented on #1392
In fact, `.to.equal` is correct - we use chai's expect, not jasmine/jest's built-in matchers.

[2017-12-01 06:40] #1392 closed

[2017-12-01 06:43] ljharb commented on #1390
`enzyme-adapter-react-16` is for React 16; react-dom is required. If you want to use it with react-native, someone would need to create an adapter for react-native.

[2017-12-01 07:02] #1258 closed

[2017-12-01 09:08] tyger commented on #1339
The reality is that '--' prefix for class names is quite often used for BEM styled naming of modifiers (no namespace notation).

[2017-12-01 11:50] codepressd commented on #1402
@ljharb I don't know if I'm doing it right but I get a cannot find module.

I cd into my components folder and started the REPL and tried to require my component.
[code]
I did the same for enzyme and it found the module no problem.

Thanks

[2017-12-01 13:37] jedwards1211 commented on #1398
@ljharb I haven't explained myself clearly enough.  I'm definitely not advocating that any test code would be dependent upon the adapter.

As far as I understand, when a test calls `.find` on an enzyme wrapper, it searches through an internal representation created by an adapter, right?

What I'm saying is maybe the enzyme wrapper could instead call methods on the adapter to inspect and traverse t

[2017-12-01 14:42] sgb-io commented on #1089
Any maintainers able to comment on this? And update?

[2017-12-01 14:46] Santhuraoi commented on #1403
@ljharb can you check the second failure test case please

[2017-12-01 16:57] sprockow commented on #1258
Thank you so much for stepping in and fixing this issue!

[2017-12-01 17:03] QuantumInformation commented on #1393
Thx, that is exactly the fix!

[2017-12-01 17:03] #1393 closed

[2017-12-01 17:10] QuantumInformation commented on #1393
Another question: this should only return 1:
`    renderedItem.find('[data-test-row="code"]').simulate('click');`
but I get

● ItemsList › renders the correct amount of rows

    Method “simulate” is only meant to be run on a single node. 3 found instead.

[2017-12-01 17:12] QuantumInformation commented on #1393
adding .hostNodes() fixed it

`renderedItem.find('[data-test-row="code"]').hostNodes().simulate('click');`

[2017-12-01 19:01] variousauthors commented on #1213
This morning, while reinstating fragments in my code base and testing them, I found yet another case that requires a bit of thinkering.

[code]

[code]

[code]

[2017-12-01 20:34] dagda1 opened #1406 "attribute test now returning 2 elements"
I have just upgraded from enzyme 2 to 3 and the following test that previously returned 1 element now returns 2:
[code]

I found [this](https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved) link that seems to suggest that this is the expected behaviour.

It does not say why this is good or how should I now be writing

[2017-12-02 00:00] ljharb commented on #1406
This is good for overall consistency throughout the API; if you do `wrapper.hostNodes().find` you'll get the same behavior as in enzyme 2.

[2017-12-02 00:07] ljharb commented on #1403
@Santhuraoi i see the failure message. i'm asking for the test code; the test code you pasted doesn't have that description.

[2017-12-02 00:48] nbkhope commented on #928
Does any minor version v2 of Enzyme support React 16? I'm upgrading and don't want to do enzyme v3 yet.

[2017-12-02 00:57] ljharb commented on #928
@nbkhope no; enzyme v2 will never support react 16. Migrate to enzyme 3 first; and *then* upgrade to React 16.

[2017-12-02 01:02] AndrewSouthpaw opened #1407 "Mocking arrow function refs in shallow, messed up by updates."
Note: I'm using enzyme 2.9.1.

Because of the nature of some of our components, we need to use refs. React calls for us to create those with arrow functions, which enzyme `shallow` in turn can not figure out. If I have something like...

[code]

the `this.modal` is `undefined`.

I've taken to doing `PresentLessonModal.prototype.modal = myMockModal` in my tests, but subsequent updates to the wrappe

[2017-12-02 02:02] nbkhope commented on #1235
I have tests that pass for Enzyme v2. They do the following:

[code]

Now it does not pass anymore in v3. What should I do? I'm just checking the text of the label's sibling (that is not inside any particular tag).

[2017-12-02 05:29] ljharb commented on #1398
That last part is an intentional design decision in v3; you are supposed to use .update and re-.find every time there’s a change.

[2017-12-02 07:53] dagda1 commented on #1406
Thank you for the response:

`wrapper.hostNodes().find('[name="element"]'))` returns 0 in my case.

Could this be a potential bug?

[2017-12-02 08:14] dagda1 commented on #1406
So there definitely something weird with attribute selectors.

I have a component that renders a select, if I I do:

`wrapper.find('select').length` then it returns 1.

I was testing the aria tags on this component and:

`expect(wrapper.find('[aria-invalid=true]')).toHaveLength(1);`

Fails because 2 is being returned.

[2017-12-02 15:55] ljharb commented on #1406
Can you share `wrapper.debug()` and ``wrapper.find(‘[aria-invalid=true]’).debug()`?

[2017-12-02 16:48] dagda1 commented on #1406
`wrapper.debug()` returns:
[code]
`wrapper.find('[aria-invalid=true]')` returns:
`ReactWrapper { length: 2 }`

[2017-12-02 16:51] dagda1 commented on #1406
The component is an hoc:

[code]

And the test looks like this:

[code]

[2017-12-02 23:36] ljharb commented on #1406
@dagda1 what does `wrapper.find('[aria-invalid=true]').debug()` say tho?

[2017-12-02 23:39] ljharb commented on #1235
@nbkhope try adding `.hostNodes()` after `.children()`?

[2017-12-02 23:42] ljharb commented on #1402
You can only require `.js` files in the repl, not `.ts` or `.jsx` files - are you requiring build output, or, using something like `babel-register` or similar so that you can transpile files on the fly?

[2017-12-02 23:42] ljharb commented on #1089
@sgb-io now that enzyme 3 is out, can you try to reproduce using that?

[2017-12-02 23:44] ljharb commented on #1407
The issue here is that you shouldn't be using arrow functions inside class properties. Instead, you should be using a constructor-bound (or class-property-bound) instance method, like this:
[code]

Additionally, the ref callback you use needs to be the same reference every render - ie:
[code]

[2017-12-03 01:41] UselessPickles commented on #252
Looks like my problem is that I'm using Blueprintjs, and their Portal component does not yet make use of ReactDOM.createPortal. In case anyone else stumbles across this while using Blueprint, I have created an issue in their project here: https://github.com/palantir/blueprint/issues/1860

[2017-12-03 08:53] dagda1 commented on #1406
sorry, it returns:

[code]

[2017-12-03 15:43] dagda1 commented on #1406
I have a number of tests that are returning 2 for each query and the common denominator of all of them is that I am querying by attribute.

For example in another test:

`console.log(wrapper.find('button').debug());`

returns
[code]

but `console.log(wrapper.find('[data-selector="cookie-banner-close"]'));`

returns

[code]

[2017-12-03 16:08] dagda1 commented on #1406
Is there an extra check on `nodeType` needed in `matchAttributeSelector` that checks for `nodeType === 'host'`? or `nodeType !== 'function'`

[2017-12-03 17:17] ljharb commented on #1406
No (you can inspect that in .findWhere tho); that’s what `.hostNodes()` is for. That debug output has one React component node and one host node; try `wrapper.find('[aria-invalid=true]').hostNodes().debug()`

[2017-12-03 19:16] dagda1 commented on #1406
`wrapper.find('[aria-invalid=true]').hostNodes().debug()` ouputs:

[code]

This is what I am after but it feels weird that:

when I do find with a non-attribute selector, e.g. `wrapper.find("select").debug()`, I get:

[code]

But when I call the same method (`find`) with an attribute type of query, I get extra results and have to call `hostNodes` which is not something I have ever heard of before

[2017-12-03 19:20] dagda1 commented on #1406
I'd like to have a go at `fixing` this but I guess I first need to know if it is broke :).

[2017-12-03 19:31] ljharb commented on #1406
@dagda1 there's nothing to fix; it's expected behavior. `.find('select')` finds tags named "select", which of course are only host nodes. `.find('[foo]')` finds props named "foo", which might be on a host node, OR on a custom component.

In other words, it's *supposed* to search both component props and HTML element attributes (because they're all props).

[2017-12-03 19:34] dagda1 commented on #1406
OK, thanks for the help but I've been using enzyme for a while and I've never encountered this until the upgrade and `hostNodes` is something and I could be wrong that not many will know about.

[2017-12-03 19:52] ljharb commented on #1406
Right, it's new in v3.

Would you like to submit a PR that adds it to the migration guide?

[2017-12-03 20:38] dagda1 commented on #1406
Yes sir.  I'm on it.

[2017-12-03 21:56] dagda1 commented on #1406
I have created #1408

[2017-12-04 01:19] jedwards1211 commented on #1398
This was a change you guys wanted to make even before it seemed like the easiest way to support multiple versions of React?

[2017-12-04 01:24] jedwards1211 commented on #1398
Obtaining an immutable copy of the render tree didn't have to be a breaking change; it could have merely been a new method that creates a dead copy while `mount` wrappers remain live, giving users both options.

[2017-12-04 05:21] ljharb commented on #1398
That's true, it didn't have to be; however, @lelandrichardson considered it a better approach, and so made it intentionally - it won't be revisited.

[2017-12-04 06:12] felixccn commented on #1226
@sungthecoder Thanks, It works.

[2017-12-04 06:54] dagda1 opened #1409 "Do I have to re-query the wrapper to get the results"
In enzyme 3, I have had to change the following test:

[code]

To:
[code]

The `day` var does not update like it used to and I am having to re-query the wrapper to get the updated elements value.

Is this expected behaviour?

[2017-12-04 07:00] ljharb commented on #1409
Yes, this is mentioned in the migration guide: https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved

[2017-12-04 07:00] #1409 closed

[2017-12-04 07:03] ljharb commented on #1226
I'm going to close this; happy to reopen tho if it's not resolved.

[2017-12-04 07:03] #1226 closed

[2017-12-04 12:32] sgb-io commented on #1089
Re-tested the same example with 3.2.0 and can confirm this issue has gone away. Thanks @ljharb!

[2017-12-04 12:32] #1089 closed

[2017-12-04 13:51] foaly-nr1 commented on #1357
Hi @ljharb I noticed your Owner badge after reading your comment discouraging the use of `.simulate`. Could you please elaborate? I couldn't find any such notes in the docs chapters [`.simulate`](https://github.com/airbnb/enzyme/blob/master/docs/api/ReactWrapper/simulate.md) or [`Future Work`](https://github.com/airbnb/enzyme/blob/master/docs/future.md).

[2017-12-04 15:27] udivankin commented on #1149
FYI wrapping code with <Fragment /> that was implemented in React v16.2 seems to do the trick.

[2017-12-04 16:44] codepressd commented on #1402
@ljharb
We're using ts-node/register.  I'm also requiring mock-local-storage, ignore-styles and have jsDom being setup with in a testSetup.js.  The majority of that was added to troubleshoot this problem...

Thanks for your help!

[2017-12-04 18:55] nbkhope commented on #1235
@ljharb
[code]
I tried getElements(), but it returns an empty list. But I went from child to parent and the parent exists, so how can there be no children?

[2017-12-04 19:23] nbkhope commented on #1235
I was kind of reluctant to upgrade to v3 right away, but decided to give it a try. Now am kind of reluctant again. Anyway, I can make my tests pass using the .parents() like so:

[code]

Please fix that issue :)

[2017-12-04 19:31] nbkhope commented on #410
Is this somehow related to gettting the parent() of a parent()?

Previously my enzyme v2 tests succeeded, but now doing:
[code]
gives out the error:

[code]

[2017-12-04 19:35] ljharb commented on #1235
If you start with `wrapper.find('label[htmlFor="something"]').hostNodes()`, does that help?

[2017-12-04 19:36] ljharb commented on #1402
If this has been addressed, can it be closed?

[2017-12-04 19:37] ljharb commented on #1357
It's my personal opinion, and isn't documented in the repo anywhere.

Basically, it's that the name "simulate" implies that it's actually simulating how events in the browser work; however, events don't bubble the same way, and simulating "change" doesn't fire all the key/focus/blur events leading up to it, etc. I think a much simpler and cleaner approach is to explicitly extract the prop function

[2017-12-04 19:46] nbkhope commented on #1235
@ljharb that does not seem to do anything.

Doing `wrapper.find('label[htmlFor="something"]').hostNodes().parent()` returns the parent, but then appending a `.children()` yields nothing:

[code]

[2017-12-04 19:48] ljharb commented on #1235
Gotcha, thanks - that seems to be the OP's issue as well.

[2017-12-04 19:49] foaly-nr1 commented on #1357
That's a fair point. I've been working working with `simulate` a lot today and it can be quite misleading. Another example is simulating a click... some might assume that a click will entail a mouse down and mouse up.

I do think that it should be mentioned in the docs that calling the function explicitly is a good alternative as simulate doesn't fully simulate.

[2017-12-04 19:51] ljharb commented on #1357
Sounds like a good PR :-D

@saudar82 I'm going to close this; I think explicitly invoking props is the proper solution here, since simulate doesn't actually simulate things faithfully.

[2017-12-04 19:51] #1357 closed

[2017-12-04 22:58] expobrain opened #1411 "Unable to find node on an unmounted component"
With Enzyme 3.x and React 16 the following code stopped working:

[code]

Now the error is:

[code]

[2017-12-05 01:16] jedwards1211 commented on #1398
I see.  I was under the impression that supporting multiple versions of React was the main driver of this change.

The only thing that makes me uneasy about this change is, what if my test passes because I forgot to `.update`, when in reality I would catch a bug if I `.update` properly?

[2017-12-05 01:16] #1398 closed

[2017-12-05 01:23] ljharb commented on #1398
Indeed, it was - making the trees immutable helps support multiple versions of React.

The same thing can happen if you initiate an async rerender, but your test isn't async. There's no way around that bad tests can cause hidden failures :-(

[2017-12-05 01:29] ljharb commented on #1411
First, `componentDidMount` should be an instance method, not an own property - just `componentDidMount() {`

However, I'm not sure why that would cause this issue. Does it work with react 15 and enzyme 3?

[2017-12-05 03:37] tomitrescak opened #1412 "Cannot change value of <input type="number" />"
Hi, when I use the `simulate` to change the value of the number field, the value remains the same.

[code]

[code]

This works for type="text", but does not work for number unfortunately.

[2017-12-05 06:00] ljharb commented on #1412
This is because `simulate` here is not actually simulating anything; it's just invoking the `onChange` prop. You have to manually make any changes you want made.

I'd suggest avoiding `simulate` entirely.

[2017-12-05 10:18] expobrain commented on #1411
@ljharb I was playing around with the implementation of `componentDidMount()` an I posted the incorrect one. I've updated the code for completeness.

I've tested with React 15 and and Enzyme 3.2 and the error is sligthly different:

[code]

Is this https://github.com/facebook/react/issues/7371 probably the cause?

[2017-12-05 11:47] Faradey27 commented on #1188
@lelandrichardson i m still able to reproduce this issue on
[code]
part of code that cause problem:
[code]

Then, if i will do mount(<Component />).html() i will see that everything is fine, but i will be not able to find CreditCard component by id or any selector.

After removing if condition(with returning of Loader) tests wil pass.

trick with mount(<Component />).update() helping, but this is

[2017-12-05 11:47] Faradey27 commented on #1188
Can we reopen an issue?

[2017-12-05 11:48] Faradey27 commented on #1188
@asdf123101

[2017-12-05 14:50] asdf123101 commented on #1188
@Faradey27 Can you try using the latest test-renderer? I think 15.6 only works with react v15.6.

[2017-12-05 16:27] brenthosie opened #1413 "Upgrading to Enzyme 3 w/React 15 test runner broke findWhere using mount."
Here's the test:

[code]

Here's the error after upgrading to Enzyme 3 with React 15 test runner:

If I switch this test over to shallow, the test no longer breaks

console.log(wrapper.debug()) using shallow:

[code]

console.log(wrapper.debug()) using mount:

[code]

[2017-12-05 16:30] codepressd commented on #1402
@ljharb
I'm still having the issue...

Depending on the component we try to render we get a different error. It's like it is not really shallow rendering, or could be I don't fully understand what happens when a component is shallow rendered.

But right now if we import from like a utils file or whatever... everything in that file and what ever is connected to that file is being "examined" by the

[2017-12-05 16:45] steftastan opened #1414 "Attempted to wrap undefined property componentDidMount as function"
Hello, I am following the documentation and a previously asked question just like this to the letter but I just can't get this test to work. I'd like to test the lifecycle for an Accordion component on my page.

The Accordion class is defined in a file of mine called App.js, I'm only including part of its code, it's logic and render methods are way too long anyway.

**App.js (in ../src/App)**
[cod

[2017-12-05 17:06] brenthosie commented on #1413
A little more info for you, when my mounted Checkbox component renders the Icon component, there's a node getting spit out that's empty.

this was found using:

[code]

<img width="1058" alt="screen shot 2017-12-05 at 10 05 44 am" src="https://user-images.githubusercontent.com/1789219/33620011-e42ae5cc-d9a3-11e7-93d4-aab6330b918b.png">

[2017-12-05 19:04] christophercheng commented on #1400
@mrbinky3000 if you immediately follow up your original test with another test, do your tests then pass?
`
  it('should add hovering classes to the overlay when mouse is hovering', () => {
    expect(imageWithZoom.find('div.overlay').hasClass('hover')).toBe(false);
    expect(imageWithZoom.find('div.overlay').hasClass('carousel__zoom-image-overlay--hovering')).toBe(false);

    console.log('before

[2017-12-05 19:14] goodbomb commented on #1400
I was experiencing this same issue. It seems that the `simulate()` method doesn't play nicely with the `find()` method.

For example:
`wrapper.simulate('mouseenter');` <- works
`wrapper.find('button').simulate('mouseenter');` <- does not work, even though the `button` element is the root node in the component.

So this is what worked for me:

[code]

It seems counter-intuitive to me that the non-h

[2017-12-05 20:14] brenthosie commented on #1414
Sorry, I don't have a specific answer to your issue on testing mount. But when I was reading over your code I noticed that you're attaching an event listener every time your component updates.

[code]

You should move that portion of your code into `componentDidMount` or `componentWillMount` and also clean up your event listener on `componentWillUnmount`

[2017-12-05 21:20] steftastan commented on #1414
Thanks for the tip! I moved that line of coude to my componentDidMount() function and removed the event listenener on WillUnmount.

[2017-12-05 23:09] WeishenMead commented on #1002
What happens if there are multiple children of the component, one of which is connected?

[code]

In that case `.dive()` won't work because I have multiple non-dom children.

I can get around this by doing
[code]
but that makes for a really fragile test. I suppose in that situation I can do what was suggested above:
[code]
but I'm curious if there's a better solution.

[2017-12-05 23:47] ljharb commented on #1002
@WeishenMead in that case, find the component and `.shallow()` it.

[2017-12-05 23:47] ljharb commented on #1188
@asdf123101 @Faradey27 actually, you should remove the test renderer entirely with react 16; it's only a peer dep for < 16.

[2017-12-06 02:24] koba04 commented on #1411
In enzyme v3, `shallow` calls all lifecycle methods by default.
When you don't want to call `componentDidMount`, you can use `disableLifecycleMethods` option.

[code]

[2017-12-06 03:55] hangyangws opened #1415 "Erroneous description in README.md file"
such as：
` expect(wrapper.contains(<div className="unique" />)).to.equal(true);`

But the truth is not found "to、equal" function，
and I found that the right way is:

` expect(wrapper.contains(<div className="unique" />)).toEqual(true);`

[code]

[2017-12-06 05:02] ianschmitz commented on #1415
This depends on which assertion library you are using. For example Chai assertions look like `.to.equal(true)`, however Jest assertions look like `.toEqual(true)`.

[2017-12-06 06:14] hally9k commented on #1407
@ljharb Could you elaborate on "you shouldn't be using arrow functions inside class properties". Is that an enzyme thing or a react thing or a javascript thing?

[2017-12-06 06:40] AndrewSouthpaw commented on #1407
@hally9k Read #697 for a very long discussion about the topic.

TL;DR: some, such as @ljharb, argue that not using arrow functions inside class properties is better for a number of reasons (i.e. it's a JS thing), including that it's easier to mock methods and refs on the component. Many others are displeased with that stance, and a lengthy discourse about performance and redundant code ensued.

My

[2017-12-06 06:41] hally9k commented on #697
I agree with your points @ljharb. Because the facts you state are correct. But I would challenge your approach to the issue at hand - Whether you like it or not a whole bunch of people seem to like their class property/arrow function combo quite a lot. The trade off between more succinct code and (potentially premature) optimisation should be in the hands of the engineer. My advise to you is to co

[2017-12-06 06:54] ljharb commented on #697
@hally9k enzyme has zero ability to obstruct users from doing that; however, there have been a large quantity of issues filed on this repo where the solution is "if you want to test it properly, you can't use arrow functions in class properties". In other words, engineers already do, and will continue to, have the decision in their own hands - but this being a testing tool, if one is interested in

[2017-12-06 07:03] ljharb commented on #1407
"There's tons of reasonable arguments against it, but we already do it this way and I like it" is, at the least, a totally valid and honest defense :-D

[2017-12-06 07:03] ljharb commented on #1415
At Airbnb, we exclusively use chai's expect; thus, it's correct as-is.

[2017-12-06 07:03] #1415 closed

[2017-12-06 07:05] ljharb commented on #1411
@expobrain yes, I think that is the cause. We may need to add functionality to the react adapters for 15+ to support https://reactjs.org/blog/2016/11/16/react-v15.4.0.html#mocking-refs-for-snapshot-testing.

[2017-12-06 07:06] ljharb commented on #1414
@steftastan you have to spy on the function *before* creating the wrapper in the first place.

[2017-12-06 07:11] ljharb commented on #1413
@brenthosie can you share the source of `RFIcon`? I'm wondering if there's something inside the svg that we're not traversing properly. (I assume that if you shallow-render `RFIcon`, you'll be able to reproduce the same bug)

[2017-12-06 07:12] ljharb commented on #1402
@codepressd the implication is that if you have a test file *that doesn't even import enzyme*, just imports the component, that you'd get the same errors.

Can you provide an example stack trace with something that breaks?

[2017-12-06 07:40] AndrewSouthpaw commented on #1407
Better than getting vitriolic. 😉

Thanks for the quick response, btw. I don't know how you field so many questions on so many repos, but it makes a big difference to figuring out the finer points of some of these libraries.

[2017-12-06 08:25] hally9k commented on #1407
@AndrewSouthpaw Sorry, I got pulled off into an interview. Thanks for the link. I missed your comment and was already on the other thread leaving my 2 cents. I don't want to go and open a can of worms that everyone is tired of (That thread is quite long) but I do think the reasoning (and support) is a little lop sided. Keen to hear some solid reasoning. Also I struggled to get consistent behaviour

[2017-12-06 08:34] ljharb commented on #1407
@hally9k to your earlier question, it's a React thing and a JavaScript thing and a testing thing, all together.

General tips? Lean on `shallow`, and shallow-render every component in tests; use `.dive()` for each HOC in use. Use `mount` where necessary. Avoid `simulate`; explicitly invoke prop functions instead.

[2017-12-06 08:36] hally9k commented on #697
I suppose the difficulty here is that you know exactly how this thing ticks so it seems like a simple decision when you have the visibility. Is there a piece in the documentation that outlines the order of operations and differences between testing methods on the prototype and on the instance? This does seem to be something that trips a few people up. If not I'll see if I can get to the bottom of

[2017-12-06 08:38] ljharb commented on #697
There's nothing that can be done; the typical usage *in user code* is that they pass it into enzyme, the component installs the arrow function as a class property on the instance during the `constructor`, then the component is rendered, and the arrow function is passed (and thus held, by reference/identity) as a prop. Then, whether the user has spied on the method before construction, or after ren

[2017-12-06 08:46] valorize commented on #1354
I tried different positions of the try/catch: Just around my `simulate`. Around all tests in `it` and around `it` with

[code]

It always just shows
[code]

or

[code]

[2017-12-06 08:53] ljharb commented on #1354
hmm - there's a curly quote in the message. Is there any chance you're using a non-UTF8 encoding anywhere, including in your terminal? In particular, if you're on a Mac and using iTerm, can you try in the normal Terminal?

[2017-12-06 10:39] PriyalSayonetech commented on #907
Hi Everyone,

[2017-12-06 10:40] expobrain commented on #1411
@ljharb cool, thank you. In the meanwhile I can apply @koba04 solution to my code

[2017-12-06 10:42] PriyalSayonetech commented on #907
Hi everyone, i use `wrapper.find('div.label.barButton').get(0)` to get below:-
**{ '$$typeof': Symbol(react.element),
  type: 'div',
  key: null,
  ref: null,
  props:
   { className: 'label barButton',
     onClick: [Function],
     children: 'HOME_CHATS_SEND' },
  _owner: null,
  _store: {} }**

i want to perform a click event here. is i did `wrapper.find('div.label.barButton').get(0).simulate('

[2017-12-06 11:03] tomitrescak commented on #1412
@ljharb not sure what you mean .. this approach works for type="text"

[2017-12-06 11:03] tomitrescak commented on #1412
What is the alternative to using "simulate" in these cases?

[2017-12-06 11:15] moniikag commented on #907
@PriyalSayonetech could you try
[code]
?

[2017-12-06 12:35] PriyalSayonetech commented on #907
thankyou for your response @moniikag ,i tried as you mentioned above. but still result is negative.
i have a div like this in react-
[code]
`onClick` in above is readonly, so i cannot pass anything to it.
when i console `wrapper.find('div.label.barButton').get(0)` , the output is as below.
[code]
and when console `wrapper.find('div.label.barButton').get(0).props.onClick`, the output is this:-
[cod

[2017-12-06 12:41] Diokuz commented on #1229
Same here.

forceUpdate not working for `mount`, only `shallow`.

[2017-12-06 13:30] alagesann opened #1416 "Unit testing image tag with image object"
[code]
how do i unit test that based on 'isLion' prop, appropriate animal object is set on the img tag.?
[code]
the above console.log returns only empty object as {}

[2017-12-06 14:58] steftastan commented on #1414
Thanks for the help @ljharb, unfortunately I tried that, still didn't work. I also tried putting it outside the it(); function, still nothing.

I guess it'd be worth sharing more information on my issue. Weirdly everytime a test fails I get a npm error log. I'll try to include everything that happens on the console whenever I try to run a test.

[code]

Thanks :S

[2017-12-06 15:21] nelsyeung opened #1417 "Not returning the correct children for a newly defined component"
I've tried to ask this question on stackoverflow, but no luck there. Hence, I'm submitting this as an issue.

Original question: https://stackoverflow.com/questions/47618989/enzyme-not-returning-the-correct-children-for-a-newly-defined-component

I'm expecting the following test to pass:

    const Foo = ({ children }) => (
      <div>
        {children}
      </div>
    );

    describe('<Foo />'

[2017-12-06 15:47] valorize commented on #1354
Which curly quote you refer to? The `{ length: 2 }`?

[2017-12-06 15:53] brenthosie commented on #1413
@ljharb Thanks for the response!

I had mentioned in my original comment that `shallow` seems to work fine for some reason, but I didn't bold the comment so I could see how that was easily missed.

Here's a screenshot showing that the `RFIcon` tests pass just fine, along with the source showing shallow is used:

![screen shot 2017-12-06 at 8 49 12 am](https://user-images.githubusercontent.com/1789

[2017-12-06 16:00] brenthosie commented on #1413
The typical way you'd invoke `RFIcon` would be

`<RFIcon type='add-circle' />`

or

`<RFIcon type='iconAddCircle' />` <--- we don't really use this option even though it's possible

[2017-12-06 16:06] AndrewSouthpaw commented on #1407
That's a new one. I heard a lot of people saying it's better to interact with the DOM elements through simulate than knowing what the prop functions are called. Can you expand on your side?

[2017-12-06 16:07] brenthosie commented on #1414
@steftastan is your component wrapped in anything like `Redux`'s `connect` function? Or are you exporting `Accordion` as the default?

[2017-12-06 16:11] steftastan commented on #1414
I am exporting Accordion as a default, actually, I am exporting like this:

I have my main component App where I call all the components that make up my page like so:

[code]
and then I export that component:

`
export default App;
`

Not using Redux but I don't have a limitation on what I can or can't use, not sure if it's worth it?

[2017-12-06 17:55] AndrewSouthpaw commented on #1407
@hally9k Also for your reference, mocking refs for me works as long as I use the same ref callback each time. i.e.

[code]

works fine, the don't-use-arrow-functions-in-class-properties is not an issue in this case.

What's the inconsistent behavior you're encountering?

[2017-12-06 21:48] codepressd commented on #1402
@ljharb
[code]

[2017-12-06 22:20] priyajeet commented on #1265
Where would this go for mocha/karma?
I added the adapter logic in the karma.conf.js, however doesn't seem to work

[code]

[2017-12-06 22:22] ljharb commented on #907
@PriyalSayonetech again, you can't use `get` if you want to use "simulate" - simulate is an enzyme method, and `get` unwraps the enzyme wrapper. Only use `at`, not `get`.

[2017-12-06 22:33] priyajeet commented on #1257
@ljharb What if the file(s) to test is dynamic? In other words, if I am running a single test or all tests, I want my `files` section to include just one file or bunch of files. In that comment it assumes that you are running for all files.

[2017-12-06 22:38] duro commented on #1406
@ljharb I ran into this issue today, and luckily found this thread. I'm wondering if you wouldn't mind providing just a little more background on the use case that this change was made to support. As I sit presently, this seems like a mighty strange behavior with little justification for existing.

[2017-12-07 01:04] ljharb commented on #1406
@duro it makes the adapter pattern more generic, and smooths out API inconsistencies. In other words, in v2, some APIs implicitly filtered to host nodes, and some didn't. This change merely requires you to explicitly filter to host nodes if that's the thing you want, which makes your tests more explicit, and allows greater flexibility in adapters (which might not be using React at all).

[2017-12-07 01:23] theKashey opened #1418 "Render throttling"
Nowadays more and more people start using enzyme for integration tests, abandoning the lands of Webdriver.
Enzyme is a great thing for unit tests, but not the perfect for the integration ones.

And that's why: React throttles `setState`, applying the changes on next tick. React doing the same for `render` materializing VDom not instantly.
As result, if on componentWillMount you will dispatch redux

[2017-12-07 02:50] Leannechn commented on #1378
thanks I got the solution。
[code]
It`s I want.

[2017-12-07 02:51] #1378 closed

[2017-12-07 08:41] dispix opened #1419 "shallow.update() necessary after shallow.setProps() ?"
More of a question than an issue (but could be one depending on the answer), I noticed the following behaviour with `enzyme` and was seeking confirmation:

- calling `setProps` without updating will not actually update the props:
[code]
- assuming that I also have a `setValue` prop that changes the value of the `value` prop, same behaviour:
[code]
- however, both ways of changing the `value` prop

[2017-12-07 13:18] PriyalSayonetech commented on #907
Thanks @ljharb @moniikag .issue was- i was using both `get` and `at`, which didn't work out well

[2017-12-07 21:34] azamatsmith commented on #419
@JasoonS that worked for me, thanks!

[2017-12-08 00:51] Andsbf opened #1420 "Enzyme 3 - Static Rendering skimming most outer tag"
package.json
[code]

[code]

[code]
it will log ` FooContent`

[code]
it will log `<div class="fooClass">FooContent</div>`

when using `render` the most outer tag from the component doesn't get rendered.

Is it the expected behaviour?

I could not find any reference to this change in this document https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md

or the in the `Sta

[2017-12-08 02:47] Andsbf commented on #1403
This could be related to: https://github.com/airbnb/enzyme/issues/1420

[2017-12-08 04:11] bing4all opened #1421 "AssertionError: expected { Object (options, _root, ...) } to have a length of 1 but got 0"
After updating enzyme to version 3 all the test cases which are importing render from enzyme are failing Mainly the .find(selector)from cheerio is throwing error with length zero(0) but the actual length is 1 ,

Please see the debug below where i tried to debug the complete wrapper with the find label

Below is test case error
[code]

Below  is my test file
[code]

debug
[code]

Below is my packag

[2017-12-08 06:20] JordanLittell commented on #1253
It seems after reading the thread here that the bug has nothing to do with the title of the issue but rather the behavior of hostNodes. In particular, that given nithinpeter's setup, `wrapper.hostNodes().find('#find-me')` finds the react component and the regular div with ids of "find-me" rather than just the div.

I am not sure this is a bug. Wouldn't this be expected behavior? Based on my limite

[2017-12-08 06:25] ljharb commented on #1253
Yes, I think that is expected behavior. You need `.hostNodes()` every time you want to filter out non-host-nodes; it doesn't set any kind of "host-node-only mode".

@nithinpeter what happens if you try `wrapper.hostNodes().find('#find-me').debug()`?

[2017-12-08 06:45] loudking commented on #76
Hereby I confirm that neither 'node' nor 'instance()' is working. Can anybody please help?

My test code:

[code]
wrapper.html() =

`    <div><div class="row form-group"><div class="col col-md-4"><label for="begin" class=" form-control-label">Begin</label></div><div class="col-12 col-md-8"><div class="DayPickerInput"><input placeholder="Example: 2017-01-01" required="" value="2017-01-01"></div></d

[2017-12-08 08:24] eddyerburgh opened #1422 "Add RST mapping to contains"
I'm making an enzyme-inferno-adapter, but I've hit some problems getting the last few tests to pass.

Enzyme requires `className` to be inside `props`. This is fine normally, because we can convert the inferno VNode tree to an enzyme RST tree.

But when you call `contains`, enzyme compares the RST node to the newly created VNode. The RST node has `className` inside `props`, the inferno VNode has c

[2017-12-08 08:31] ljharb commented on #1422
Hmm; I'm a bit confused. A PR with test cases might make it more clear?

[2017-12-08 08:33] ljharb commented on #76
`.get` returns a raw node; Try `.at(0).instance()`?

Either way though, changing the value will never emit a "change" event; there's no way to do that automatically. You don't need to test that React sets up `handleBeginChange` properly; all you need to do is assert that that function ends up as the `onChange` prop on the proper element, and you can just trust that React wires it up properly.

[2017-12-08 08:37] ljharb commented on #1421
@bing4all can you get your tests passing with enzyme 3 and react 15, before upgrading to react 16? That helps us determine if the issue is in the react 16 adapter, or enzyme 3 overall.

Separately, this might be due to the breaking changes in cheerio.

[2017-12-08 08:38] ljharb commented on #1403
Since the OP deleted their account, I'm going to close this since we won't be able to get a repro case.

[2017-12-08 08:38] #1403 closed

[2017-12-08 08:39] ljharb commented on #1420
Yes, this is expected behavior, and due to the breaking change in cheerio v1.

[2017-12-08 08:52] Andsbf commented on #1420
It might be a silly question, do we get any benefit out of it?

The only reason I ask is because, now we need wrap our components in div's on the test to be able to test it, using render.

[2017-12-08 08:54] ljharb commented on #1420
It's a change cheerio made; enzyme can't stay on 0.22 forever, so we had to upgrade eventually.

[2017-12-08 08:56] ljharb commented on #1412
@tomitrescak `simulate` doesn't change the value; it basically just does `.prop('onClick')()`. I'm suggesting that you do that directly.

[2017-12-08 08:57] ljharb commented on #1416
Can you share how `wrapper` is created, and `img.debug()`?

[2017-12-08 08:57] ljharb commented on #1416
Ah, also - those icons are SVGs. How have you mocked out those non-standard SVG imports in your tests?

[2017-12-08 08:59] ljharb commented on #1417
This is intentional. When you mount a component, you get that component - you need `.children()` to get at the thing it renders.

[2017-12-08 09:01] ljharb commented on #1413
Can you share (in text, not a screenshot) the result of `mount(<RFIcon type='add-circle' />).debug()` and `shallow(<RFIcon type='add-circle' />).debug()`?

[2017-12-08 09:01] ljharb commented on #1414
@steftastan sinon can't spy on functions that don't exist; if there's no `componentDidMount`, why are you trying to spy on it?

[2017-12-08 09:12] ljharb commented on #1402
@codepressd ok, so that file - could you share the first 5 lines in it?

[2017-12-08 09:14] eddyerburgh commented on #1422
I'm not sure how to write a test case, hopefully this code makes it clear:

https://github.com/eddyerburgh/enzyme/commit/671b7aebb70380229c505c3def8eab9711327d83

In the inferno enzyme adapter, we need to [add className to props](https://github.com/bbc/enzyme-adapter-inferno/blob/master/src/InfernoEnzymeAdapter.js#L36). That means we need to convert any vNodes before we compare them, otherwise com

[2017-12-08 09:16] ljharb commented on #1422
I think that makes sense.

It seems like the change you want would theoretically continue to pass on all our React tests; I'm indeed not sure how to test the need for it without making a custom adapter for that purpose.

Want to make a PR?

[2017-12-08 09:24] brenthosie commented on #1413
@ljharb The result for `shallow` is:

[code]

The result for `mount` is:

[code]

[2017-12-08 09:26] ljharb commented on #1413
Thanks. In your original post, which line is throwing the error?

[2017-12-08 09:27] Andsbf commented on #1420
Thanks for the prompt answers @ljharb !

I would suggest the following in this case.

in: https://github.com/airbnb/enzyme/blob/27d05a0829221b3f1eca0917a0ab7393e4148804/packages/enzyme/src/render.js#L22

instead of
[code]

it could be:
[code]

Then the return would still the same as before(enzyme version 2). So the cheerio upgrade would not be a breaking change. Let me know If that sounds like a g

[2017-12-08 09:28] brenthosie commented on #1413
I believe that the `findWhere` is failing during `mount` when it encounters that blank option that's being spit out during the loop.

So, it's when I'm trying to find the label wrapper:

`const labelWrapper = wrapper.findWhere(n => n.prop('htmlFor') === checkboxId)`

[2017-12-08 09:35] ljharb commented on #1420
At this point, making that change would be a breaking change for enzyme 3.

[2017-12-08 09:39] aronwoost commented on #1409
@ljharb Thanks for clearing that up.

I had the same issue as @dagda1 and a tough time to relate the [migration guide example](https://github.com/airbnb/enzyme/blob/master/docs/guides/migration-from-2-to-3.md#element-referential-identity-is-no-longer-preserved) to this case. Actually I still don't get how the `ICONS` example connects to this issue. Probably because the example is somewhat non-real

[2017-12-08 09:52] Andsbf commented on #1420
I see, in this case there is nothing to be done about i.

Thanks, and have a great day! :)

[2017-12-08 09:52] #1420 closed

[2017-12-08 09:53] #1417 closed

[2017-12-08 16:06] bing4all commented on #1421
@ljharb I did the same I have updated only enzyme version and mocha chai version still all the test cases which use render are failing. Please give any solution to this its been a long time i have working on the same issue .

[2017-12-08 16:42] renanbandeira commented on #1400
I'm having the same issue. After the action is dispatched, the wrapper isn't updated.

[2017-12-08 17:17] mcdankyl commented on #831
@ljharb I'm interested in what would be required to make an `enzyme-adapter-react-native`. Is there anywhere where I can see documentation for implementing an adapter, or is just working off of the base react adapters the best?

Also, is there any effort to write the adapter already? I'd be curious of any information/insight you could give into seeing how a react-native adapter would work.

[2017-12-08 17:49] codepressd commented on #1402
@ljharb
Test File:
[code]
I don't know if you wanted the the component file , the one it broke? Its just going to be imports on all of them.

Also we use typescript so the next thing after the imports are going to be our interface for the component.

[2017-12-08 20:19] rixth commented on #1235
Seeing similar issue with enzyme@3.2.0, enzyme-adapter-react-15@1.0.5

[code]

Output:

[code]

I would expect `.text()` not to return a blank string, and for `.parent().debug()` not to show an empty `<section/>` tag.

[2017-12-08 20:31] herman-rogers commented on #76
I had same issue as above - ```onChange``` triggers but doesn't fire the ```onChangeText``` had to mock out the component using jest.

[code]
Bit hacky but seems to work for now.

[2017-12-08 20:56] bing4all commented on #1421
Used console.log to know whats happening, The Below is the image where the test cases were the success.
![capture1s](https://user-images.githubusercontent.com/34318913/33784760-9b3e5b92-dc27-11e7-9005-9b8efcee5aad.PNG)
Used console.log to know whats happening, The Below is the image where the test cases were the failure.
![capture1f](https://user-images.githubusercontent.com/34318913/33784816-dc57

[2017-12-08 21:45] ljharb commented on #1409
@lelandrichardson can weigh in on why it's an improvement.

A PR to make the docs better is always appreciated!

[2017-12-08 22:21] notnownikki commented on #1229
I'm seeing this, or something very similar too. Using enzyme 3.1.0, react 16.2.0, enzyme-adapter-react-16 1.0.4, and `setState` on a component, or simulating a click on a button which causes an internat `setState`, does not send new props to child components.

[2017-12-08 22:51] notnownikki commented on #1229
Well, it _does_ send the new props, but in an unexpected order.

We have a menu component that has child menu items. The menu items can be visible, and have internal state for the visibility, classes, etc. that gets set based on the `isVisible` prop.

When I `setState` on the menu to make it visible, I see this sequence:

1) `setState` sets the internal state of the menu.
2) Menu is rendered, chil

[2017-12-09 11:35] dagda1 commented on #1409
TBH, I did not understand the ICONS example so I think it could be better.

[2017-12-09 14:29] jackyef opened #1424 "mount() throwing TypeError when the component contains <img />"
I am using jest. Whenever I am trying to `mount` a React Component that contains `img` tag, it throws an error.

[code]

[2017-12-09 18:31] ljharb commented on #1424
What does the code of `ChatBubbleAttachment` look like?

[2017-12-09 18:31] ljharb commented on #1229
@notnownikki React 16 itself makes all of that ordering unreliable; the point is to allow async rendering.

[2017-12-09 18:32] notnownikki commented on #1229
@ljharb so I've been finding out over the past couple of weeks :)

[2017-12-09 18:33] ljharb commented on #1421
@bing4all cheerio 1.0 (used in enzyme 3) has a breaking change; which is that instead of `render` providing a wrapper that *contains* the rendered contents, it now provides a wrapper that *is* the rendered contents.

In other words, you're doing `console.log(wrapper.find('.label'))` - but based on my assumption that `xxxx` literally renders jsx where the root node has a `.label` class, what happen

[2017-12-09 18:34] ljharb commented on #831
The best right now is to work off the base adapters.

I'm not aware of any current effort to write a react-native adapter.

[2017-12-09 18:36] ljharb commented on #1402
@codepressd so, none of those should have `import * as` - `import React from 'react'`, for example, is correct (typescript's new behavior that forces this is simply incorrect).

(I was asking about line 5 in `ui/src/Index.tsx`, not in the test file)

[2017-12-09 19:24] pyp commented on #1315
Hey @ljharb, I would love to take it. But before I start a couple of questions:
- Should I also add `getElements` that exist but not mentioned in docs?
- Should I remove `getNode` and `getNodes` from shallow docs?

[2017-12-09 19:25] artiebits commented on #1315
Hey @ljharb, I would love to take it. But before I start a couple of questions:
- Should I also add getElements that exist but not mentioned in docs?
- Should I remove getNode and getNodes from shallow docs?

[2017-12-09 19:31] ljharb commented on #1315
Anything you see that needs correcting, please do send a PR for :-)

[2017-12-09 20:46] ljharb commented on #1315
Closed in #1425

[2017-12-09 20:46] #1315 closed

[2017-12-10 02:22] jackyef commented on #1424
This is what `ChatBubbleAttachment` renders:

[code]

[2017-12-10 03:32] ljharb commented on #1424
What's the rest of the file?

[2017-12-10 14:53] ljharb commented on #1424
(from the code you sent me privately)

It's happening in `this.renderBottomMeta`, in `<img src={statusIcons[readStatus]} alt="Chat status" className="topchat__room--status-icon" />` - `statusIcons` has values that are imports of a png file, which isn't something you're actually able to import by default.

In other words, whatever hack (or webpack config) you're using in your production code to all

[2017-12-10 14:57] jackyef commented on #1424
Ah I see! Thanks.

Marking as closed.

[2017-12-10 14:57] #1424 closed

[2017-12-11 06:14] PriyalSayonetech commented on #907
Hi guys, I'm here with another issue.
Its reactjs. my <div> tags are similar to following:-
`<div class="conversationItem"><span>piloy</span>.....</div>`
Onclick, the div will change to following:-
`<div class="conversationItem active"><span>piloy</span>.....</div>`

This is the test i wrote to simulate the click activity:-
[code]
But its not working as i expected.
@ljharb @moniikag @protoEvangeli

[2017-12-11 06:21] PriyalSayonetech opened #1426 "click to simulate an active div tag"
Hi guys, I'm here with another issue.
Its reactjs. my <div> tags are similar to following:-
`<div class="conversationItem"><span>piloy</span>.....</div>`
Onclick, the div will change to following:-
`<div class="conversationItem active"><span>piloy</span>.....</div>`

This is the test i wrote to simulate the click activity:-
[code]
But its not working as i expected.
`div.conversationItem.active` is

[2017-12-11 06:27] ljharb commented on #1426
I don't see any `onClick` on your div; what's "simulate" triggering?

In general, `simulate` should be avoided; it doesn't faithfully simulate anything.

[2017-12-11 07:16] zawiasam commented on #1400
same problem with touchstart and touchmove

[2017-12-11 07:35] PriyalSayonetech commented on #1426
@ljharb  sorry actually there is an onclick function:-
`<div class="conversationItem" onClick={this.handleClick}><span>piloy</span>.....</div>`
and --
handleClick: React.PropTypes.func.isRequired

[2017-12-11 08:14] ljharb commented on #1426
What happens if you do `wrapper.find('div.conversationItem').prop('onClick')(); wrapper.update()`?

[2017-12-11 10:06] PriyalSayonetech commented on #1426
@ljharb , thanks but Still no result. i tried with props method too.

i wrote something like this, i don't know whether its right to write like this.

[code]

but with above, my condition is passed. but `expect(wrapper.find('div.conversationItem.active')).to.have.length(1);` is still failing.

[2017-12-11 12:41] B4bharat commented on #928
Hi @ljharb Does enzyme v3 supports beta version of React 16?
We are presently on the following versions:
- react: 16.0.0-beta.5
- react-native: 0.49.5

[2017-12-11 15:09] bing4all commented on #1421
@ljharb when i do console.log(wrapper.is('.label') its returning true

  the DeviationMinutesControl component
true
******************
    1) renders a .label element

  the deviationMinutesStyle helper function
    √ should be success(green) when deviationMinutes is positive the train is ahead of schedule
    √ should be warning(yellow) when deviationMinutes is negative [-1, -60] the train is mar

[2017-12-11 15:29] bing4all commented on #1421
@ljharb  I stared using JSDOM and editing all the files which use render and change them to mount and all the test cases are doing good but 2 of them are failing.
Please have a look
![capture](https://user-images.githubusercontent.com/34318913/33838647-b9a54b92-de55-11e7-96b4-5631943e5ab0.PNG)

2) the xxxx component should have a single child <a> tag:
     TypeError: wrapper.find(...).attr is not

[2017-12-11 15:36] richardson-trevor commented on #1255
Any suggested best practice on this? Has anyone found a solution they're happy with? I'm working on a similar problem.

[2017-12-11 16:44] ljharb commented on #928
@B4bharat yes, the React 16 adapter should work with that; however, to get it properly working, someone would have to build a react-native adapter.

[2017-12-11 18:58] artiebits commented on #1419
Hi @dispix, you don't need to use `udpate` after you set props, but can you provide more information? Share your component for example.

[2017-12-11 18:58] codepressd commented on #1402
[code]

Here is those lines of code where it breaks in index.tsx, but like I said it will do this in random spots around the app, just depends on which component I try to use.
j

[2017-12-11 19:11] artiebits commented on #1426
Because if you use React as you mentioned you have to use `className` instead of `class` in components https://reactjs.org/docs/dom-elements.html#classname. That's why `conversationItem`  is never found

[2017-12-12 08:36] unfalse commented on #389
None of the solutions presented here is working for me.

[2017-12-12 08:44] dispix commented on #1419
Here is my component. It's a basic HOC for toggling:

[code]

And here are my tests:
[code]

Finally, here are the results of my tests:
![image](https://user-images.githubusercontent.com/11643701/33874698-f0c04792-df1f-11e7-8773-1c87b6a12f9c.png)

You'll notice that there's still a test failing for the second iteration of the `should set the value to `false` or `true` depending on what is passed w

[2017-12-12 09:19] hoaibkdn commented on #990
I did test the same u for `componentWillMount`, but it returns `undefined` instead `true`
[code]

[2017-12-12 09:32] unfalse opened #1427 "Cannot change select element value with enzyme"
**React:** 16.0.0
**Enzyme:** 3.2.0
**Jest:** 21.2.1
The following test is not working. Also I wrote down the list (in comments) of not working code that I already tried.

[code]

Markup for select element:

[code]

Found an issue here: https://github.com/airbnb/enzyme/issues/389
But solutions from that issue isn't working too.
How do you change select's value in tests?

[2017-12-12 10:11] lgandecki commented on #1283
@ljharb I have a similar problem.

[code]

In the test:

[code]

I see the event in the handleChange but there is no name and value in them. It works in a browser. I'm a bit confused whether this is a bug, lack of feature, or intended behavior?
I can have this work doing
[code]

But this seems error prone, especially if I wanted to generalize this event with page-object pattern.
Also if I just use

[2017-12-12 10:59] lgandecki commented on #1283
[code]

Works! :-) Please disregard the comment above.

@iiison I think this might actually work for you as well

[2017-12-12 11:14] sandrina-p opened #1428 "Access provider childrens (state and elements) - Moving from v2 to v3"
On React 15 this test was working. I need to access state and elements attrs inside a component that has a container (Button). After updating to React 16 and Enzyme 3, the test fails:

**wishlist.js**
_p.s. This is only part of the code_
[code]

**wishlist.test.js**
[code]

I didn't change the component code, so it should still work. How do I access state and elements now?

[2017-12-12 12:12] javierfernandes commented on #1199
I had the same issue while upgrading an app from react 15 to 16.
Upgrading yarn (to the latest version which is now `1.3.2`) did do the trick :(

I had to manually override the transitive dependency in `package.json` like this

[code]

[2017-12-12 14:45] the-spyke commented on #1202
Same issue. I have tests for a popup component and this little helper method:

[code]

What is the new way to do this?

[2017-12-12 16:19] jamespfarrell commented on #410
For me the easiest work around is to select the parent, and find() within that, rather than going to the node and looking for the parent.

[2017-12-12 20:08] gilbarbara commented on #1405
Yeah,`wrapper.update()` just update the wrapper tree but doesn't force a re-render anymore, unlike it's written in the documentation.

I just finished a test that should render different content for small screens so I had to forceUpdate the instance and then update the wrapper to have the new data.

[code]

[2017-12-12 20:13] brenthosie commented on #1413
@ljharb any update on this?

[2017-12-12 21:32] morganpackard opened #1429 "Crazy idea I might like to try -- send results of ReactWrapper.html() to a browser"
Hi! Thanks so much for making Enzyme available!

I'm noticing that when I get in to a flow with enzyme, I'm often leaving `console.log(wrapper.html())` in my test in order to "view" my UI as I'm developing. It has occurred to me that it would be even better if I could actually see what the rendered component would look like. It seems like it wouldn't be hard to pipe the output of `wrapper.html()`

[2017-12-13 00:45] ljharb commented on #1429
I'd recommend using `.debug()`, not `.html()` - the latter goes through cheerio, so the former will be much more faithful and useful.

I feel like this is what storybook is for - which already exists - and wouldn't really need to be related to enzyme.

[2017-12-13 02:47] blackpost38 commented on #1426
@ljharb, I've seen that you said `.simulate` just calls prop about event. Also, you said `.simulate` should be avoided in general.

I have a question about this one. When is `.simulate` useful? Also, if `.simulate` should be avoided, how about deprecating it?

[2017-12-13 14:31] morganpackard commented on #1429
Thanks for the quick response!

[2017-12-13 17:11] chrisprobably opened #1430 "Documentation clarification - what's a host node?"
Hello,

Could you please clarify what a 'host node' is in the documentation here: https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrapper/hostNodes.md

The example says that one node is returned - but I'm unclear which one is returned and why it is considered a host node.

Thanks!

[2017-12-14 04:45] erikse opened #1432 "Mocking functions bound to child components"
I'm new to Enzyme, so probably doing something weird here - all I'm trying to do is to mock a function that is invoked when a button is pressed, e.g.:

[code]
With a test like:
[code]
I've tried adding `wrapper.update()` but it doesn't seem to update the function bound to the button onPress property.

Any ideas?

[2017-12-14 08:19] the-spyke commented on #1202
Super temporary solution:

[code]

It works, but not always, because you can't `wrapper.update()`, etc.

[2017-12-14 09:21] ljharb commented on #1421
@bing4all `.attr` is a cheerio method, it's only available with `render`. You may want `.prop`?

[2017-12-14 09:22] ljharb commented on #990
@hoaibkdn spying on it after the method is called doesn't do anything. Try `spyOn(ProductItemPoint.prototype, 'componentWillMount')` - before invoking `mount`.

[2017-12-14 09:23] ljharb commented on #1199
@javierfernandes that doesn't sound like the right solution. You might not have the right dependency versions set up; overriding dependencies should never be required.

[2017-12-14 09:23] ljharb commented on #1430
A `div` is a host node (as are all HTML nodes); a non-host node is one created by a custom component.

[2017-12-14 09:23] #1429 closed

[2017-12-14 09:25] ljharb commented on #1432
You can't mock it by overriding it after the component is already shallow-rendered. Try spying on `App.prototype.handlePress` *before* calling `shallow`.

[2017-12-14 09:25] ljharb commented on #1426
In my opinion, it is never useful. I would like to deprecate it, and hope to remove it in v4, but that requires discussion with the other enzyme maintainers, and we're not in a rush to do so.

[2017-12-14 09:26] ljharb commented on #1428
Please try on React 15 and enzyme 3 first; upgrading 2 things at once basically means we can't have any idea which one is causing the problem.

[2017-12-14 09:27] ljharb commented on #1402
OK, so it seems like you're relying on a shared stateful object `ApiClient` - are you sure `getBundleJsHash` is being defined in the same file that `ApiClient` is created in?

[2017-12-14 09:28] ljharb commented on #1427
`simulate` doesn't actually simulate anything; it certainly won't cause any changes in the DOM. If you want to change the value, you have to manually change the value.

[2017-12-14 09:30] ljharb commented on #1202
Does the `.wrap` method in a ReactWrapper/ShallowWrapper help?

[2017-12-14 09:35] ljharb commented on #1406
This should be resolved by #1408.

[2017-12-14 09:35] #1406 closed

[2017-12-14 10:25] erikse commented on #1432
Cheers @ljharb - that works:

[code]

Thanks!

[2017-12-14 10:25] #1432 closed

[2017-12-14 11:15] the-spyke commented on #1202
No so much:

[code]

Not sure if I'm doing it right.

[2017-12-14 11:28] AlexChipev commented on #386
Any chance this is reproducible in v16.2.0.? When I simulate click on disabled button I`m expecting (fn.mock.calls.length).toBe(0); but with shallow I get 2, with mount - 1. Seems it still calls the function.

[2017-12-14 12:34] zerubeus commented on #1149
@udivankin Nice but we have to migrate to React 16.2 to be able to use this new API :/

[2017-12-14 13:40] unfalse commented on #1427
Still no solution that works for changing select value ?

[2017-12-14 15:01] lgandecki commented on #703
@aweary Hello there, any update? If you can give me some tips/clues/observations I'm happy to jump in and implement this, but I wouldn't want to duplicate any effort if you already put some thoughts into this. Please let me know :)

Having things like first-child / nth-child would be fantastic. To give some context - I'm currently writing a "page-object wrapper" which allows me to run the same tes

[2017-12-14 15:48] artiebits commented on #1419
I see you use HOC technique. So in that way you have to test unwrapped component by itself and mock the props that your HOC is providing.
And then you can test your HOC as well to be sure it provides the props.

[2017-12-14 15:49] dispix commented on #1419
Does this explain the current behaviour though ?

[2017-12-14 16:01] sandrina-p commented on #1428
So, let me change my question. How do I do with Jest/Enzyme to access an element `.wl` inside a component with a provider?

[2017-12-14 17:00] FabioAntunes commented on #1213
I have came across another issue when using `<Fragment />` only the first children is rendered:

**Modal.component**
[code]

Modal.test
[code]

`console.log(component.debug())`
[code]

Running the same tests but changing the fragment to a div:

**Modal.component**
[code]

Modal.test
[code]

And last but not least the output from debug

`console.log(component.debug())`
[code]