[2018-12-11 05:58] SerraSam commented on #1869
Also ensure that mocks are being cleared between tests.

[2018-12-11 06:39] jitenderchand1 opened #1936 "state set by enzyme is not accessible inside component"
### Current behavior
setState not able to re-render the component.  I have two different layout depending on data which is being set using setState. I can see the state within the test case by running `wrapper.instance().state.rows` but state inside component won't display the state.

### Expected behavior
State which are set by enzyme's `setState` method should be available inside component.

###

[2018-12-11 07:13] ljharb commented on #1936
Don't use `instance.setState`, use `wrapper.setState`.

[2018-12-11 10:29] X-Y opened #1937 "React - Jest - Enzyme: How to mock ref properties"
I'm writing test for a component with ref. I'd like to mock the ref element and change some properties but have no idea how to. Any suggestions?

[code]

[2018-12-11 11:02] TdyP opened #1938 "Testing Hooks with shallow: Invariant Violation"
### Current behavior
When testing component which contains newly released React Hooks using `shallow`, it crashes:
`Invariant Violation: Hooks can only be called inside the body of a function component.`

Everything works fine at run time or when testing with `render`:

My test component:

    import * as React from 'react';

    function Test() {
        const [myState, setMyState] = React.useSta

[2018-12-11 11:13] debo07 commented on #946
And what do I do if I have `refs` in the same component and that's also needs to be tested.

[2018-12-11 15:48] MountainDrew opened #1939 "shallow->setProps: props not being set"
### Current behavior
When running setProps. This results in it not being set in the most simple of scenarios:

simplified down to a basic component / test
[code]
result:

![image](https://user-images.githubusercontent.com/20781479/49811741-cabc7600-fd5b-11e8-9811-cc7f050038ac.png)

### Expected behavior
[code]

### Your environment

Running this inside of jest (23.6.0) on Node (8.14.0).

#### API

[2018-12-11 21:07] adamboduch commented on #1889
Why does this only happen with `--coverage`?

[2018-12-11 22:06] ljharb commented on #1889
It's possible that jest's `--coverage` code rewriting is introducing a bug.

[2018-12-11 22:07] ljharb commented on #946
@debo07 use ref callbacks (since string refs are deprecated), and unit test those.

[2018-12-11 22:34] jitenderchand1 commented on #1936
this was exactly what I did back but got following error.

<img width="695" alt="screen shot 2018-12-12 at 9 33 16 am" src="https://user-images.githubusercontent.com/19687185/49834683-238a1e00-fdf1-11e8-9ff3-455fc222a901.png">

[2018-12-11 22:43] jitenderchand1 commented on #1936
and when I do following modification in code
`const wrapper = mountWithTheme(<Table />);`

I got this error

<img width="541" alt="screen shot 2018-12-12 at 9 33 56 am" src="https://user-images.githubusercontent.com/19687185/49835106-5254c400-fdf2-11e8-9ae9-0ab42ab849ff.png">

[2018-12-12 08:39] ljharb commented on #1938
Hooks are not yet in a non-alpha version, and are definitely not yet supported in enzyme.

I'd suggest waiting to use them until they're not experimental.

[2018-12-12 08:44] ljharb commented on #1937
For one, you'd need `ref={this.getRef}`, but to mock that, do `sinon.spy(MyComp.prototype, 'getRef')` *before* creating the wrapper.

[2018-12-12 08:53] ljharb commented on #1939
This is because you're confused about what the wrapper *is* - it's not Component, it's what component *renders* - in this case, a div with no props.

[2018-12-12 08:54] #1939 closed

[2018-12-12 08:58] X-Y commented on #1937
Thanks @ljharb. I'm using jest, which I assume would be similar to sinon. I tried `jest.spyOn(MyComp.prototype, 'getRef').mockImplementation(()=>{this.ref={offsetHeight: 100}}`, the thing is "this" here is not refering to MyComp anymore, and I'm not sure how to get a reference to that. Do you know a way of fixing it?

[2018-12-12 08:59] ljharb commented on #1937
That's because you passed an arrow function as your mock implementation - pass a normal one instead.

[2018-12-12 09:03] ljharb commented on #1936
ah, this is styled components - you have to use one `.dive()` per HOC, to get at your inner class.

[2018-12-12 09:12] X-Y commented on #1937
Great stuff, typescript is not happy, and I was not expecting it could monkey-patch inner workings like this, but this actually works. Thanks a lot!

[2018-12-12 09:12] #1937 closed

[2018-12-12 09:20] X-Y commented on #1937
Code example in https://stackoverflow.com/questions/53721999/react-jest-enzyme-how-to-mock-ref-properties/53739669#53739669

[2018-12-12 12:23] hepiyellow commented on #1894
@ljharb
Is `wrapper.prop('data-something')` supposed to get the value of a data prop?
(Full DOM rendering)

[2018-12-12 14:11] bisubus commented on #1245
A common case for component update is testing instance methods:

[code]

That `update()` doesn't do the only thing it's expected to do is very confusing at least.

[2018-12-12 14:31] 951565664 opened #1940 "How do I get the correct width of my component?"
I have a similar problem  to https://github.com/airbnb/enzyme/issues/1525
but it is dosen't work  https://github.com/airbnb/enzyme/issues/1525#issuecomment-373008462

my code:
[code]
### Current behavior

dom1 .clientHeight = 0

### Expected behavior

dom1 .clientHeight = 10

### Your environment

windows

#### API

- [ ] shallow
- [x] mount
- [ ] render

#### Adapter

- [x] enzyme-adapter-react-1

[2018-12-12 14:32] 951565664 commented on #1525
I have a similar issue.  it dosen't work https://github.com/airbnb/enzyme/issues/1940

[2018-12-12 16:35] ArthurNameless commented on #1570
You are damn genius!

[2018-12-12 20:52] ljharb commented on #1894
@hepiyellow yes, just the same as any other prop - data attributes aren't treated specially by react or by the browser (except in looking them up via the data API)

[2018-12-12 23:01] jitenderchand1 commented on #1936
I am using `mount` method, I don't think I need `.dive` here. but anyway I gave a try but none of following work.

` const wrapper = shallowWithTheme(<OrderProductTable />).find(OrderProductTable).dive();`
` const wrapper = shallowWithTheme(<OrderProductTable />).dive();`
` const wrapper = mountWithTheme(<OrderProductTable />).find(OrderProductTable).dive();`
` const wrapper = mountWithTheme(<Orde

[2018-12-12 23:57] ljharb commented on #1936
In that case, you'd need `.find` - the HOC wrapper might not have state, so you have to traverse down to your inner component.

[2018-12-13 00:21] ljharb commented on #1245
@bisubus agreed, but you should never have an arrow function in a class field (also, i'd suggest avoiding simulate, since it doesn't actually simulate anything) - the proper way to do that is:
[code]

[2018-12-13 07:33] bisubus commented on #1245
@ljharb Your example is exactly my own preferred way to write things, proto methods provide extra layer of testability. On the other hand, setting up spies/stubs on instance allows structure tests in DRYer way and move `mount` to `beforeEach` where needed:

[code]
Not my cup of tea but it's possible. I also believe that my own code style isn't the only one that has the right to exist. Even if it w

[2018-12-13 08:14] ljharb commented on #1245
Tests shouldn’t be DRY, that’s for implementation.

Simulate as implemented has no uses; it only exists in enzyme because it existed in react-test-renderer, and we didn’t realize it was so useless until it was too late to remove.

[2018-12-13 10:01] MartinDawson commented on #308
Can somebody post a full working example please.

I have tried all the suggested solutions above using mount with a simple type submit button inside a form with onSubmit and it does not work still.

[2018-12-13 10:15] kartikjain26 opened #1941 "Could not test onChange function of input component with enzyme"
### Current behavior
This is my code
[code]
### Expected behavior
First test
I expect onChange function to be called once which works but when I assert the changed value after onChange, my props.value is undefined.

Second Test
I expect onChange function to not be called at all as disabled=true is passed which disables the component but onChange is called once despite disabled being true.

Version

[2018-12-13 10:15] MartinDawson commented on #308
Also, is this possible to do by simulating a keypress of enter on the submit button?

[2018-12-13 15:06] AlexKund opened #1942 "tests with jest and enzyme for datepickers onChange event doesnt work"
When I try to test Datepicker onChange behaviour with this test unit:
[code]
### Current behavior
[code]
### Expected behavior
[code]
### jsx file:
[code]
#### API

- [ ] shallow
- [x] mount
- [ ] render

#### Version

| library             | version
| ------------------- | -------
| enzyme              | ^3.2.0
| react               | ^16.6.3
| react-dom           | ^16.6.3
| react-test-renderer

[2018-12-13 17:21] ljharb commented on #308
@MartinDawson no, it’s not - and your test should be testing that the onSubmit prop does what you expect. Your test should not be verifying that the browser, or react itself, works properly - that’s a job for *those* projects’ tests.

[2018-12-13 20:30] #1866 closed

[2018-12-13 22:37] jitenderchand1 commented on #1936
This is what I was trying to do. I am using `.find` to traverse  `<Table>` and this is class component which does have state but even though I am getting error which I mentioned in my second [comment](https://github.com/airbnb/enzyme/issues/1936#issuecomment-446388759).

Technically I am doing right, I am running the test against pure react component not on `styled-component. `

`import { Table }

[2018-12-13 23:14] ljharb commented on #1936
Gotcha, thanks. I'll take a look.

[2018-12-13 23:49] ljharb commented on #1925
@mmoss since string refs are deprecated, you can use a ref callback, explicitly invoke it, and trust that it gets a DOM node. You can also use `mount` to verify that you do in fact get the DOM node you want. (`shallow` takes a `context` option)

[2018-12-14 00:39] LandonSchropp commented on #1866
Thanks guys!

[2018-12-14 05:55] ljharb commented on #1460
@rodoabad enzyme does not yet support React 16.6’s lazy or Suspense. This issue is about `import()`.

Until enzyme supports a new react feature, I’d suggest not using it.

[2018-12-14 07:40] kunyan opened #1943 "event.currentTarget not working when using mount"
Thanks for reporting an issue to us! We're glad you are using and invested in Enzyme.
Before submitting, please read over our commonly reported issues to prevent duplicates!

### All common issues

* [common issues](../blob/master/docs/common-issues.md)

### Notoriously common issues

* [Webpack build issues](../blob/master/docs/common-issues.md#webpack-build-issues)
* [Cannot find module 'react-d

[2018-12-14 08:11] ljharb commented on #1943
I would suggest avoiding `.simulate` - it doesn't faithfully simulate anything. Instead, manually invoke the desired prop - ie, `wrapper.prop('onChange')(fakeEvent)`.

[2018-12-14 08:14] ljharb commented on #1942
The issue is that you're using an arrow function in a class field - never do that. Instead, do:
[code]

and then:
[code]

[2018-12-14 08:14] #1942 closed

[2018-12-14 08:16] ljharb commented on #1941
Please fill out the full issue template.

I'd suggest not using `simulate` at all - it doesn't faithfully simulate anything. You don't need to test that the browser, or React itself, are working properly - all you need to test is that you're providing the function you expect in the `onChange` property, and that that function does what you expect.

[2018-12-14 08:16] #1941 closed

[2018-12-14 09:18] MartinDawson commented on #308
@ljharb I understand that but I was trying to do behavior driven development so I thought it would have been better to try and do it as close as possible to browser.

[2018-12-14 09:33] AlexKund commented on #1942
Tnx mate, you save my life  :D. Now everything is ok

[2018-12-14 09:40] guofei0723 commented on #1153
"react": "^16.4.1",
"enzyme": "^3.7.0",
"enzyme-adapter-react-16": "^1.7.0",

same issue

[2018-12-14 09:49] Ibrahim-Islam opened #1944 "Expecting input text value to be equal to a label"
I am trying to assert that anything I write in an input text is mirrored in a label.

[code]
`TypeError: Cannot read property 'equal' of undefined`

Its difficult to know what the issue is without being able to debug the tests and `console.log(wrapper.find('label').first().text())` does not print anything either.

[2018-12-14 18:06] Totemika commented on #1943
@ljharb's solution worked for me but the documentation says that any object you pass to the `simulate` method as a second parameter, will be passed to the event handler, and that seems to have been true for a long time, since many [Stack Overflow]() answers are using it. But the truth is that it's not currently working when using `mount` but it *does work* with `shallow`.
Maybe we should update th

[2018-12-14 18:41] moos commented on #218
The underlying culprit has been closed! https://github.com/facebook/react/issues/4950.  Methinks the Enzyme folks should weigh-in.  `currentTarget` is a no-brainer MUST HAVE for `simulate()` to be useful.

[2018-12-14 21:20] CWSites commented on #76
@yuritoledo I get `Unexpected token` on the closing `}` immediately after `'10'`

[2018-12-14 23:13] dschinkel commented on #1798
Removed my questions doesn't look like I'm going to get a response....I'll figure it out and share it in my course.

[2018-12-14 23:50] ljharb commented on #308
In that case, you'd want something like nightwatch/selenium or puppeteer/cypress, not a unit testing tool like enzyme.

[2018-12-14 23:51] ljharb commented on #1153
@guofei0723 please file a new issue if you're having trouble.

[2018-12-14 23:52] ljharb commented on #218
I don't think `simulate` can ever be useful as it's currently implemented. See [the immediately preceding comment](https://github.com/airbnb/enzyme/issues/218#issuecomment-401397775).

[2018-12-14 23:54] ljharb commented on #1943
`simulate` only exists in enzyme because it was present in `react-test-renderer`, and we added it to enzyme before realizing that it's badly named and unreliably implemented.

I do agree that if the documentation is wrong, and/or if mount/shallow are inconsistent without good reason, then that's something that should be fixed. @Totemika can you file a new issue about that part, with repro code (sh

[2018-12-14 23:58] ljharb commented on #1944
The input's value is based on props - setting it's JS instance value doesn't cause a rerender, so it's not available to the wrapper.

What do `wrapper.debug()` and `input.debug()` print out?

[2018-12-15 00:06] ljharb commented on #1798
i don't always have time to get to questions right away; but deleting them is a pretty good way to ensure i can't answer them :-p

[2018-12-15 00:35] yuritoledo commented on #76
@CWSites Sorry, my bad. The correct is:
`wrapper.find('#input-value').simulate('change', { target: '10'})`

[2018-12-15 01:11] dschinkel commented on #1798
It's alright I need to move ahead anyway with stuff..I need to come to a conclusion one way or another and felt my post was pretty lengthy anyway.  I could put it back up, if you feel like you want to answer it later when you have time

[2018-12-15 03:34] ljharb commented on #1798
maybe a shorter question? :-)

[2018-12-15 03:44] dschinkel commented on #1798
Sure.  I will start off with smaller questions then.

I understand the basic definition of dive() and I've always "dived past HOCs".  But I never really use a double shallow.  I always just a) dive past HOCs and b) after I'm past the HOCs, if I care about a child, I'll dive the child in order to shallow it.  Now that enters my test into integration test territory but that's not what I'm aiming to

[2018-12-15 06:01] Ibrahim-Islam commented on #1944
That is correct. Triggering a change worked `input.simulate('change');`

[2018-12-15 06:01] #1944 closed

[2018-12-15 06:48] ljharb commented on #1798
1. `.dive()` only works on a wrapper around a single element from a custom component. If you want to shallow on an HTML element, or multiple, you'd need `.shallow()`. I think the use cases are rare, but they exist.

2. A typical HOC wraps a `Component`, and injects props, strips props, injects context, and/or hooks into lifecycle methods, and then renders that `Component`. Shallow wrapping an HOC

[2018-12-15 16:37] ljharb commented on #1938
Fair enough, but they’re still both not yet a thing in a real version, and enzyme doesn’t yet have support for them.

[2018-12-16 06:16] chenesan commented on #1158
Hi @ljharb @aweary . I'd like to contribute to enzyme. Could I take this issue? Thanks!

[2018-12-16 07:32] chenesan commented on #1158
@ljharb have sent a PR in #1945.

[2018-12-16 12:38] 951565664 opened #1946 "why would shallow-rendering get more coverage and be easier to write."
However I'd say a series of shallow-rendering tests, for each component in your tree, would get you more coverage and be easier to write.

_Originally posted by @ljharb in https://github.com/airbnb/enzyme/issues/1289#issuecomment-338449546_

[2018-12-16 14:56] ljharb commented on #1946
Because there’s less to cover for each component at once that way - certainly yes, you’d want shallow rendering tests for every component in your tree.

[2018-12-17 03:12] dschinkel commented on #1798
thanks @ljharb yea I'm not really getting deep enough into the underlying implementation in our discussion.  Particularly how it's working under the hood.  I am going to just dive into the enzyme implementation to understand it a little more than just the high level which I already understand.  I'm not satisfied with not understanding what "throwing away the HOC with dive" or "unwrap an HOC".  I w

[2018-12-17 07:07] ljharb commented on #1798
`shallow` doesn't use ReactDOM at all; only `mount` does.

`.dive()` literally is nothing more than sugar for 1) throw if it's not a single custom component, 2) call `.childAt(0).shallow()` on it.

[2018-12-17 07:09] dschinkel commented on #1798
yea what I'm trying to get at is what's happening after shallow(), how the HOC is dealt with under the hood with enzyme in its source code...so that I understand what "unwrap" truly means.

it's using renderElement under the hood I see, yea, not ReactDOM so ignore that.

[2018-12-17 07:13] ljharb commented on #1798
There's nothing special about HOCs; it's just that needing to unwrap an HOC is such a common pattern that `.dive()` is easier than `.childAt(0).shallow()`. "unwrap" here just means "shallow-render one level deeper" - since shallow only renders one level deep.

[2018-12-17 18:30] mmoss commented on #1925
The issue I've got is that I'm using `React.createRef();` and also need to set the context... If I wrap a Component in the context provider, I then can't uset `setProps` on the component that has the ref...

[2018-12-17 18:34] mmoss commented on #1925
@ljharb I'm not sure I'm following how that would let me test this...

The issue I've got is that I'm using `React.createRef();` (not using string refs) and also need to set the context... If I wrap a Component in the context provider, I then can't uset `setProps` on the component that has the ref...

[code]

[2018-12-18 04:31] chenesan commented on #1298
Provide a simpler test case:

[code]

It looks like it's an issue in cheerio side. cheerio converts `xlink:href` attribute to `href` after `1.0.0`.
In enzyme v2 we used `cheerio@^0.22.0` so the above test will pass.

See cheeriojs/cheerio#1101 .

[2018-12-18 06:48] ljharb commented on #1298
In that case, closing in favor of #1297 which already is tracking that cheerio issue.

[2018-12-18 06:48] #1298 closed

[2018-12-18 06:49] ljharb commented on #1925
(enzyme doesn't yet support Context; not sure if that's relevant to your example or not)

I think stubbing the ref is probably the simplest approach, since `shallow` can't truly support refs (only `mount` can).

[2018-12-18 09:23] dileepkeeppalli opened #1948 "wrapper.find() returns some random text"

[2018-12-18 10:01] avudai-16thyard commented on #336
Hi All,

I am getting like

TypeError: compiled.find is not a function

any solution??

[2018-12-18 13:11] chenesan commented on #1218
@ljharb I'd start to work on this. If I didn't get the comments wrong we have to make escape string work in rst-selector-parser right?

[2018-12-18 16:02] ljharb commented on #336
@avudai-16thyard please file a new issue, and include your test code.

[2018-12-18 16:03] ljharb commented on #1218
@chenesan yes, ideally anything supported by querySelector should work.

[2018-12-18 16:33] ljharb commented on #1948
Please fill out the entire issue template, and include both your component and test code.

[2018-12-18 16:34] ljharb commented on #1948
From your edits, it seems like you’re logging the wrapper object that .find returns - you might want to inspect it with `.debug()`

[2018-12-18 18:28] palashkaria opened #1949 "Unknown token type: undefined for class selectors"
### Current behavior

In `.find`, for all the places that I use a class selector (`.find('.class')`), I am getting this error: `Unknown token type: undefined`. Looking at the enzyme code, I see this is happening in `selectors.js` file, in `nodeMatchesToken` (line 214) [here](https://github.com/airbnb/enzyme/blob/master/packages/enzyme/src/selectors.js#L214)
(looks like `rst-selector-parser` itself

[2018-12-18 21:52] peanutenthusiast commented on #1862
I'll go ahead and look into this issue if a fix hasn't already been applied.

[2018-12-18 21:59] ljharb commented on #1949
Did you get your tests passing on react 15 and enzyme 3, before upgrading to react 16? If not, please do that, so we can figure out if this is a React 16 issue or an enzyme 3 issue.

[2018-12-18 21:59] ljharb commented on #1949
If so, then could you share your component and test code?

[2018-12-19 08:22] palashkaria commented on #1949
So, after the migration, I actually got my tests passing on react 16 + enzyme 3 itself intially.
I parked the migration for a while, & when I came back to it, it didn't work. I guess something changed in between.

Right now, I did as you suggested and used the react-15 adapter (to test it out), but the tests are still failing .

for eg., my code is an simple as
[code]
and it failes here ->
[code]

[2018-12-19 08:30] palashkaria commented on #1949
right now `rst-selector-parser` is at `2.2.3` in my yarn.lock, let me try using `2.1`.

.debug() prints the tree properly. (this has happened in atleast 10 places in my codebase, and debug works find everywhere)
outpuet of debug ->
[code]

[2018-12-19 08:49] palashkaria commented on #1949
rst-selector-parser 2.0 and 2.1 both give the same issue. see attached screenshot. As you can see, token.body is an array with length 1.

(debugging it at `safelyGenerateTokens`, `parser.parse(selector);`)

<img width="498" alt="screenshot 2018-12-19 at 2 18 33 pm" src="https://user-images.githubusercontent.com/2976363/50209148-0e853000-0399-11e9-877d-495793ef2773.png">

[2018-12-19 08:51] ljharb commented on #1949
What would be most helpful is a repro repo, if you could make one that’d be great.

[2018-12-19 11:58] palashkaria commented on #1949
I tried to create a repro repo by making a copy of my exisiting repo, but the issue doesn't show up in that.

Something must be wrong in my setup itself. For now, I have switched to a combination using `findWhere`, find by component etc.
Will get back to this & try to isolate the issue over the weekend.

[2018-12-19 14:30] 0xc0d3r opened #1950 "Enzyme Internal Error: unknown node with tag 0"
### Current behavior
Gettting an error `Enzyme Internal Error: unknown node with tag 0`

### Expected behavior
As I'm using updated versions, this issue shouldn't be occured.

#### Example

[code]

### Your environment

#### API

- [ ] shallow
- [x] mount
- [ ] render

#### Version

| library             | version
| ------------------- | -------
| enzyme              | 3.8.0
| react

[2018-12-19 20:52] kiliancs commented on #1950
Experiencing the same problem.

[2018-12-19 20:57] ljharb commented on #1949
Thanks! If it turns out to be something in enzyme I'm more than happy to find a way to fix it.

[2018-12-19 20:59] ljharb commented on #1950
What is the code for `LoginPage`?

Note that you're using the v16.3 adapter with React v16.6 - not only are you *required* to use a compatible adapter, but many React 16.6 features don't yet work in enzyme. Can you try switching to `enzyme-adapter-react-16`?

[2018-12-19 22:17] kiliancs commented on #1950
I was getting the same error with `enzyme-adapter-react-16`. Like you said, it seems like enzyme simply doesn't yet support React 16.6 regardless of the adapter.

[2018-12-19 22:47] ljharb commented on #1950
@kiliancs can you share your component code? It's specific 16.6 *features* that don't work - lazy, Suspense, things like that.

[2018-12-19 22:58] kiliancs commented on #1950
The error:

[code]

I can't share the code but we are not using lazy, suspense nor anything new. Literally I was only trying to upgrade React from 16.3.1 (which was working with the `enzyme-adapter-react-16` adapter, not the `16.3` one), with no changes in our source code. I got this error and tried upgrading enzyme and switching to `enzyme-adapter-react-16.3` but, as explained, we face the same e

[2018-12-19 23:07] ljharb commented on #1950
Thanks - given your situation I'd absolutely expect everything to work. Can you try (on the same 16 adapter) on React 16.4, 16.5, and 16.6? That would really help narrow it down.

[2018-12-19 23:52] kiliancs commented on #1950
I was able to resolve this by using enzyme-adapter-react-16 v1.7.1. I guess I had jumped directly to enzyme-adapter-react-16.3 without thinking of simply upgrading enzyme-adapter-react-16.

There is one test that passed before this upgrade, but I guess that would be a different issue to file.

[2018-12-20 02:15] peanutenthusiast commented on #1862
@ljharb Added the above test case, but in terms of the fix, has there been much discussion on adding support for batched updates with the `ReactSixteenThreeAdapter`?

I've been looking at @koba04's implementation of `unstable_batchedUpdates`

https://github.com/koba04/react/commit/ca78c92635525ad2dfd8012e7e5527a5876ce130,

but would you have any suggestions for moving forward?

[2018-12-20 03:45] 0xc0d3r commented on #1950
I'm not using React 16.6 features like lazy, Suspense. I tried with adapter 1.1.1 version also but no luck. Now I'm trying to update the adapter to v1.7.1

[2018-12-20 03:52] 0xc0d3r commented on #1950
@ljharb

## Environment
React - 16.6.1
enzyme - 3.8.0
enzyme-adapter-react-16 - 1.7.1

When I ran the test case, it's not exiting.

[code]

@kiliancs  Am I missing anything?

[2018-12-20 21:55] ljharb commented on #1950
@0xc0d3r thanks - can you provide the code for the LoginPage component?

[2018-12-20 21:56] ljharb commented on #1862
@peanutenthusiast not much, but I'd love to add it (ideally separate from bug fixes)

[2018-12-21 00:13] kiliancs commented on #1950
@0xc0d3r you changed your adapter import that you are passing to `Enzyme.configure`? I suppose you did, and If so, I have no idea.

Regarding my remaining failing test, and just for posterity, it looks like there is a slight difference between when React and enzyme enzyme trigger `getDerivedStateFromProps` in relation to `setState`.

The relevant test code:

[code]

This component has state, which

[2018-12-21 03:56] 0xc0d3r commented on #1950
@ljharb  Sorry! I can't share the code but it has only two form fields and a submit button wrapped in a `LoginForm` component

[2018-12-21 03:57] 0xc0d3r commented on #1950
@kiliancs I changed the adapter import statement but still getting the same error.

[2018-12-21 14:05] anupammaurya commented on #1432
you haven't used your **wrapper** herer?

[2018-12-21 22:56] psyanite commented on #1432
@anupammaurya how should the wrapper be used?

[2018-12-22 06:50] ljharb commented on #1950
Without a repro case, I'm not sure how I can identify or fix the problem.

@0xc0d3r if it's just two form fields and a submit button, it should hopefully be pretty trivial to make a repro repo?

[2018-12-22 12:40] pixelass opened #1952 "can't find() element but wrapper.contains() it"
### Current behavior

I cannot `find(Component|".selector")` but I can see it via `html()` and via `.contains()`

Here are the most important parts of code. (I am using [ava](https://github.com/avajs/ava/), `t.log` is the test logger)

I am using a styled component here but it is the same when I add a custom className, id or data-attribute to attempt finding the element/Component.

**code**

[code

[2018-12-22 12:50] pixelass commented on #1952
I get the expected results if I call `wrapper.update()` beforehand but this shouldn't be needed, right?

[2018-12-22 18:43] ljharb commented on #1952
What does .debug() print out prior to the update? (`.html()` should be ignored)

[2018-12-22 18:44] ljharb commented on #1952
I’ll note that styled components tend to have some quirks which make working with them difficult. Could you provide the full component and test code?

[2018-12-23 04:33] pixelass commented on #1952
Sorry I can't share the code since it's private. I'd have to set up a MVP for reproduction (probably won't have time).

Inspecting the debug tree is pretty hard. I tried it and wasn't very successful since the output is too cluttered (nested & extended components.). I gave up after a while and don't think I will try this method again in the near future.

I think I did notice that the "conditional

[2018-12-23 04:45] pixelass commented on #1952
As mentioned I' might not have time to create an MVP. This is the best I can do to explain those componennts.

[code]

[code]

I'm sorry it's late at night and This is the best I can do right now. (probably ever)

[2018-12-23 04:49] ljharb commented on #1952
The purpose of `.html` is that it uses the `render` API, and produces HTML output. I agree that it should probably be removed.

`contains`, `exists`, and `find` should definitely agree - although it's worth noting as well that `simulate` doesn't actually simulate anything, it's just sugar for invoking a prop function - so you might indeed need a `wrapper.update()` before things are consistent.

[2018-12-23 04:55] pixelass commented on #1952
Thank you for your time.
I understand how simulate works. rendering is handled async from setting a state in react. I think this is why the issue occurs. I didn't see this in any documentation (which IMHO is too vague anyways). I trued several methods and was in some cases to get the correct result after a `await Promise.resolve()` or (await new Promise(r => setTimeout(r, 100))` (which greatly hel

[2018-12-23 05:01] ljharb commented on #1952
I’d be happy to accept a PR that made the docs more clear.

[2018-12-23 05:16] pixelass commented on #1952
If I ever find the time... I am currently writing docs for another big library.
 ([enquirer](https://github.com/enquirer/enquirer)) so right now I'm rather busy.

I enjoy writing docs (mostly because I value them so much) so I'll get back to this, ... no promises.

[2018-12-23 23:20] alanyinjs commented on #944
Hi @ljharb ,

I was wondering if you could please expand on your previous comment:

I am not sure if I completely understood it. I understood that class properties are defined on the component instance rather than its prototype. However I don't quite get why it could not be overridden by a mock if we do `const methodSpy = jest.spyOn(wrapper.instance(), 'classMethodName')`. I don't quite get this c

[2018-12-24 00:17] ljharb commented on #944
Because the unspied version will have already been passed as a prop into the render tree. The spy afterwards has no effect.

In other words, never put an arrow function in any class field ever - instead, make a normal instance method, and do `foo = this.foo.bind(this)` in a class field, or `this.foo = this.foo.bind(this)` in the constructor.

[2018-12-24 00:42] alanyinjs commented on #944
Thanks a lot for the explanation @ljharb !

I am assuming the reason that this only happens to arrow function class fields but not to to normal class field is due to the following reason:

Each time you pass the reference to the arrow function class field into the render tree , a new arrow function instance is created for the render tree to use (which has no reference to the instance method). When

[2018-12-24 12:00] lukejagodzinski opened #1953 "Enzyme Internal Error: unknown node with tag 13"
#### API

- [x] mount

#### Version

| library             | version
| ------------------- | -------
| enzyme              | 3.8.0
| react               | 16.6.0
| react-dom           | 16.6.0

#### Adapter

- [x] enzyme-adapter-react-16

When running tests I get the `Enzyme Internal Error: unknown node with tag 13` error which started to appear after I've updated React to 16.6.0 and started using

[2018-12-24 17:20] ljharb commented on #1953
React 16.6 works; but lazy is not supported yet (neither is memo, Context, Suspense, and a few others). See #1553.

[2018-12-24 17:35] Luchanso opened #1954 "Cannot find module 'react' from 'ReactSixteenAdapter.js'"
Hi, I have some issue in my project about [react high order component](https://github.com/luchanso/react-has-mounted). I think it's because react moved in peerDependencies.
[code]
More logs:
https://travis-ci.com/Luchanso/react-has-mounted/builds/95682075#L456-L462
Pull Request with [changes](https://github.com/Luchanso/react-has-mounted/pull/3).

#### Version

| library             | version
| --

[2018-12-24 18:15] ljharb commented on #1954
It being a peer dependency means you have to explicitly have it as a dep on the top level. Have you?

[2018-12-24 22:15] lukejagodzinski commented on #1953
Ok thanks!

[2018-12-25 00:14] alanyinjs commented on #944
@ljharb Yeah you're right...

Just one more question: I still haven't got why spying `wrapper.instance().methodName` where the method is an arrow function would fail while spying on a class field created by binding a normal function in the constructor would not fail... I thought they would be equivalent except that one is using an arrow function and the other is using a normal function (as `Functi

[2018-12-25 04:46] Exponent500 commented on #208
But where is your definition of store? Would love to know how that looks...

[2018-12-25 07:05] ljharb commented on #944
The only way to make it work is to spy on the method before the render method is called. When rendering a component with enzyme, the render method is called immediately - so by the time `wrapper` exists, the unspied method is already sent into the render tree.

[2018-12-25 16:04] ljharb commented on #1954
In that case, your package must have react as both a peer dep and a dev dep - the dev dep for testing, the peer dep to communicate compatibility to consumers.

[2018-12-25 20:58] Luchanso commented on #1954
@ljharb okey, it's work, thank you for help 👍

[2018-12-25 20:58] #1954 closed

[2018-12-27 07:58] ljharb commented on #1940
Are you using jsdom? I believe this is a known limitation of jsdom - the clientHeight is zero because it's not actually visible.

[2018-12-28 09:10] pvanny1124 commented on #1231
i am also having this issue. seems like a babel issue perhaps?

[2018-12-28 11:34] darkartur commented on #1902
I have similar issue with enzyme. Enzyme is awesome but this problem make me sad always when I run into.

For example, I have ```Link``` component that implements some magic generation of ```href``` prop. Most of time it should render just ```<a>``` tag (there is no problem with testability), but sometimes I need to override render logic for component like this:

[code]

I want to test this functi

[2018-12-28 12:04] darkartur commented on #1798
Why do we need .dive() for HOCs when we can just do this:

[code]

[2018-12-28 13:57] SerhiiBilyk commented on #1231
@pvanny1124 try to experiment with babel plugins

[2018-12-28 21:50] WilfredKesh opened #1955 "Spy not getting called when simulating click"
I have tried 3 ways to test a function is being called on submit using enzyme but haven't been successful. I am aware that this might not be necessary because its equivalent to testing reactstrap/react's internal functionality but I am still curious as to why its failing.

1. Using prototype and regular functions

[code]
   //test
[code]

//Fails   Error:   Cannot spy the submitForm property becau

[2018-12-29 08:56] darkartur commented on #1798
@ljharb I understand your point of view but I think my approach is still useful and sometimes is more effective

[2018-12-29 17:36] ljharb commented on #1798
It’s useful in that you’re still able to exercise the inner code in tests; dive allows the same. I’m skeptical it’s more effective though, unless there’s parts of your architecture that might need to be re-evaluated.

[2018-12-30 00:22] xAlstrat opened #1956 "TypeError: Cannot read property 'nodeType' of null when calling state()"
I'm trying to test that a sub component is only rendered when the root component has an specific state value.

[code]

### Current behavior

TypeError: Cannot read property 'nodeType' of null when trying to access the mounted component state (Ej: mounted.state() or mounted.state("headers"))

### Expected behavior

Get the state object or it headers value.

The problem solves when I remove the `{he

[2018-12-30 04:18] deltaskelta commented on #1875
I get the error when shallow is called with the memoized component, but if I wrap it in a div and then call shallow on it, it seems to work.

[2018-12-30 05:16] 951565664 commented on #1940
I know , but in some scenarios, I just want to test the height of a node, for example, I have some image, the height of each image is fixed, I want to find the wrong size image when all pictures have same width .

[2018-12-30 08:20] ljharb commented on #1940
Then it seems like you'd need to test it in an actual browser, and not using jsdom - this doesn't seem related to enzyme.

[2018-12-30 08:20] ljharb commented on #1956
Can you share the entire component and test code in question?

[2018-12-30 20:10] polymer940c opened #1957 "Shallow render evaluate to empty object ShallowWrapper {}"
Summary: I am having issue with Shallow(), it evaluate into shallowWrapper {}
This is running on react 16 with context api.
Am i using shallow wrong??

packages i am using
[code]

testfile
[code]
The console logs here;
`console.log(tree)` contains info about the component, while shallow(<Component/>) => {}
[code]

here is User component
[code]

[2018-12-30 21:51] ljharb commented on #1957
enzyme does not have snapshot support; the closest is `wrapper.debug()`.

enzyme wrappers are not directly console-loggable in any useful manner.

[2018-12-30 21:56] polymer940c commented on #1957
update!
apparently `ShallowWrapper {}` is what `shallow(<Component />` returns

[code]
it shows div

but `expect(wrapper.type()).to.equal('div');`
=> `TypeError: Cannot read property 'equal' of undefined`

[2018-12-30 22:00] polymer940c commented on #1957
snapsshot is coming from `'react-test-renderer'` I just follow react doc. but they don't have simulate click. Which they recommend enzyme.

if enzyme is not console-loggable, what is the conventional way of writing test in enzyme?
I am running into these issues with just copy and pasting enzyme tutorial. is it related to react 16?

[2018-12-30 22:09] polymer940c commented on #1957
So i made a new file, just to test. and this is the results, i dont know what to make of it.
//sample.test.js
[code]

results in this
[code]

[2018-12-30 22:12] ljharb commented on #1957
Are you using chai's `expect`?

[2018-12-30 22:12] ljharb commented on #1957
If not, you might be using jest's, which has a very different matcher API.

[2018-12-30 22:18] polymer940c commented on #1957
I am not using chai. this is pretty much boiler plate from `create-react-app`. jest is default installed
from here https://airbnb.io/enzyme/docs/guides/jest.html it dosen't seem like i need to do anything to use jest with enzyme? `"jest": "^23.6.0"`

[2018-12-30 22:36] #1957 closed

[2018-12-30 22:44] ljharb commented on #1957
The matcher syntax of to dot something is specific to chai.

[2018-12-30 22:50] polymer940c commented on #1957
yeah i figured that after what u mention chai and jest. totally rude of react doc to reference Airbnb doc.https://reactjs.org/docs/shallow-renderer.html

[2018-12-31 05:48] hyochan opened #1958 "[Feature Request] createContext() not supported in enzyme."
I'd like to know how to test `provider` for `context api`. I've found some tutorials on testing `consumer` but no tutorial exists for testing `provider` itself.

[code]
I've tried making test code for above `provder`.
[code]
The result.
![image](https://user-images.githubusercontent.com/27461460/50555099-07501180-0d0b-11e9-8607-943fa73ae976.png)

I am trying to work on open source project([talktal

[2018-12-31 07:10] ljharb commented on #1958
enzyme does not yet support the createContext API.

[2018-12-31 10:13] anupammaurya commented on #183
`import { mountWrap } from '../contextWrap'
import { Provider } from 'react-redux'
import sinon from 'sinon'
import Login from '../components/Login/'
// import makeStore from '../redux/createStore'

import React from 'react'
import configureMockStore from 'redux-mock-store'
import thunk from 'redux-thunk'

const mockStore = configureMockStore([ thunk ])
const authDetails = {
  'authDetails' : {

[2019-01-01 08:03] TheMarsGuy opened #1959 "context options for mount are not being applied"
[code]
The default context values were initialised as follows:

[code]

### Current behavior

The test is failing, with the following errors:

[code]

### Expected behavior
I expect the value of name to be "foo".
### Your environment

[code]
#### API

- [ ] shallow
- [x] mount
- [ ] render

#### Adapter

- [x] enzyme-adapter-react-16
- [ ] enzyme-adapter-react-16.3
- [ ] enzyme-adapter-react-16.2

[2019-01-01 21:20] ljharb commented on #1959
enzyme does not yet support createContext. See #1553.

[2019-01-02 06:35] anupammaurya commented on #1283
here is my code..

[code]

I have update my DOM with componentname.update()
And then checking submit button validation(disable/enable) with length 10 digit.

[2019-01-02 06:36] anupammaurya commented on #76
here is my code..

    const input = MobileNumberComponent.find('input')
    // when
    input.props().onChange({target: {
       id: 'mobile-no',
       value: '1234567900'
    }});
    MobileNumberComponent.update()
    const Footer = (loginComponent.find('Footer'))
    expect(Footer.find('Buttons').props().disabled).equals(false)

I have update my DOM with `componentname.update()`
And then chec

[2019-01-02 06:38] anupammaurya commented on #364
here is my code..

    const input = MobileNumberComponent.find('input')
    // when
    input.props().onChange({target: {
       id: 'mobile-no',
       value: '1234567900'
    }});
    MobileNumberComponent.update()
    const Footer = (loginComponent.find('Footer'))
    expect(Footer.find('Buttons').props().disabled).equals(false)

I have update my DOM with `componentname.update()`
And then chec

[2019-01-02 07:35] 951565664 commented on #1940
All right，Maybe I should change the way to solve this problem.

[2019-01-02 07:35] #1940 closed

[2019-01-02 10:43] yuritoledo commented on #76
@anupammaurya can you create a [codesandbox](codesandbox.io) ?

[2019-01-02 13:23] timbroder commented on #76
@CWSites I haven't tried expecting before changing it. The value at that point is a known assumption from the test setup

[2019-01-02 15:30] xAlstrat commented on #1956
I found the problem while trying to code a simpler version of my component.

My CustomTable uses the ReactTable component. I added a custom column with a button, like this:

[code]

The problem is in the line `className={classes.icon}`, `classes` is not defined when I test the component, but instead of throwing an undefined/null exception when rendering, it throws the exception I mentioned above w

[2019-01-02 16:19] CWSites commented on #76
@timbroder what I'm running into is that it only updates the value of `instance()` and that value is not available to my function that is being called `onChange`. I still haven't been able to accomplish adjusting the value of an input. Currently I'm serving the value from state so I have to manually alter the state and use that to control the value of my input.

[code]
These are the different ways

[2019-01-02 20:51] ljharb commented on #1709
@chenesan please do! note, though, that it'd have to work in jsdom 6+, because jsdom has aggressively dropped support of older environments in newer versions.

[2019-01-02 21:09] ljharb commented on #1956
I'm not familiar with `ReactTable`.

I'm glad you figured out the issue, but I completely agree that calling `.state()` should not throw an error. It'd be great if you could provide the code that can reproduce this, so i can fix the underlying bug.

[2019-01-02 23:06] NickHeiner opened #1961 "TypeError: simulateError() can only be called on class components with an instance"
To repro this, run `yarn test` in my [demo repo](https://github.com/NickHeiner/demo-enzyme-simulate-error).

I have the following [tests](https://github.com/NickHeiner/demo-enzyme-simulate-error/blob/master/src/App.test.js). The first passes, and the second crashes:

[code]

The key difference: the passing test references `Provider` directly. The failing test has one level of indirection, but I do

[2019-01-03 11:01] WNemencha commented on #1908
Hello, any workaround ?

[2019-01-03 11:07] nvh95 commented on #1394
I work around with ref when still using `shallow` by passing `disableLifecycleMethods` to shallow then trigger `componentDidMount` and `componentDidUpdate` by myself
[code]

[code]

[2019-01-03 17:02] bxt commented on #1798
I've also seen developers export "naked components" for easier testing. Some "controller" components have lots of HoCs that just fetch some simple values from the context, like language, user ID, certain app states, screen size, apollo GraphQL data, routing params... you name it. When you test the inner "naked" component only, you can just supply simple values into the props. When you try to test

[2019-01-03 20:10] ljharb commented on #1908
The workaround is, continue to use the regular context APIs and avoid createContext for now.

[2019-01-03 20:11] ljharb commented on #1798
My intuition is that if testing a component the way it's used in production is messy, then you may wish to reevaluate your component architecture.

[2019-01-03 22:08] GreenGremlin commented on #1798
I think it comes down to test isolation. Ideally the HOC has its own test coverage and consumers don't have to retest that functionality. If the HOC is from a third party, testing its functionality can help ensure future upgrades don't break your component. I think each developer has to make the call for themselves as to wether it's worth the added complexity to test the wrapped component, or if i

[2019-01-03 23:44] ljharb commented on #1961
Got a fix; thanks for the excellent repro repo!

[2019-01-03 23:46] NickHeiner commented on #1961
Thanks for the speedy response! And sorry for the churn about the test command not being precisely correct.

[2019-01-03 23:50] NickHeiner commented on #1961
Out of curiosity, I looked into this: when you run `yarn test`, Jest will find 0 tests changed since the past commit. At that point, you'd hit `a` for "run all tests", then Jest will run `src/App.test.js`.

[2019-01-03 23:52] ljharb commented on #1961
I tried that; it didn't find any test files :-/

[2019-01-04 00:38] #1961 closed

[2019-01-04 01:54] MatteoGioioso commented on #1525
does `attachTo` works with `shallow` ?

[2019-01-04 07:22] ljharb commented on #1525
No, `attachTo` only works with `mount`.

[2019-01-04 19:24] NickHeiner commented on #1961
Hmm, that's odd. Well, whatever. :smile:

[2019-01-05 01:04] pvanny1124 opened #1963 "Can't get root state from a mounted component"
### Current behavior
[code]

Error upon running test with JEST:  ReactWrapper::state() can only be called on class components

### Expected behavior
according to docs, state([key]) of a full-dom rendered component returns the state of the root. finding my "button" component works fine, but the code breaks at the expect clause with this error:

ReactWrapper::state() can only be called on class comp

[2019-01-05 01:25] pvanny1124 opened #1964 "find() of shallow rendering does not work and instead returns ShallowWrapper"
### Current behavior

[code]
### Expected behavior
should find 3 Bar components but instead finds a huge object containing wrapper information like this:
[code]

How can I get around this? Thank you!

### Your environment

#### API

- [ x] shallow
- [ ] mount
- [ ] render

#### Version

| library             | version
| ------------------- | -------
| enzyme              |  3.8.0
| react

[2019-01-05 21:22] sstern6 opened #1967 "React 16 + support for isEmptyRender valid values."
### Current behavior
Per https://github.com/airbnb/enzyme/issues/1866#issuecomment-437987143, enzyme should support the newer "allowed" empty render values.  Currently in react 16, you can have empty fragments (`<></>`), an empty list (`[]`), empty string(`""`), undefined, null, and false (im not sure if i missed any or misspoke) as valid empty render values.  More details in the linked comment.

[2019-01-06 07:32] pvanny1124 commented on #1153
Hey Everyone!

If you are still having issues with your components not rendering on time before an expect, make your test async and try doing:
[code]
before the expect and it should work just fine!

[2019-01-06 07:49] ljharb commented on #1153
@pvanny1124 Note that doesn’t do what you expect - you’re awaiting a non-promise, so all that does is adds an extra tick. If that works for you, then all that means is that you’re winning your race condition.

[2019-01-06 08:10] pvanny1124 commented on #1153
I see. But update() in itself isn't reflecting the state change made from a
simulated event. is there a workaround without using await? i have the most
recent versions:
"enzyme": "^3.8.0",
"enzyme-adapter-react-16": "^1.7.1",
"enzyme-to-json": "^3.3.5",
"jest": "^23.6.0",

On Sun, Jan 6, 2019 at 2:49 AM Jordan Harband <notifications@github.com>
wrote:

[2019-01-06 08:11] pvanny1124 commented on #1153
also, here's the full code of what im doing:

it("does not create an account for a user if an error occured", async () =>
{

let fakeSignupErrorMethod = (last, first, email, password, auth_type,
school_code, school_license_key) => {
return new Promise((resolve, reject) => {
reject({ errors: [{message: "error"}] });
});
}

wrapper = shallow(
<Signup signupMethod={fakeSignupErrorMethod} />
);

signu

[2019-01-07 00:00] chenesan commented on #1917
Hello @ljharb I'd like to work on this to make React.Suspense and React.lazy work. Will look into this in the next few days. Since these featrues only works after 16.6, we also have to copy current `enzyme-adapter-react-16` as `enzyme-adapter-react-16.5` package right?

[2019-01-07 01:55] ljharb commented on #1917
@chenesan for now, just implement it in the 16 adapter; we can iterate in that in the PR.

[2019-01-07 14:15] minznerjosh commented on #1590
This was fixed in facebook/react#11922. It was released in `react-test-renderer` v16.3. So I'm going to open a PR shortly that will fix it on enzyme's side for react@<16.3.

[2019-01-07 15:08] albertly opened #1969 "find() returns wrong number"
///////////////////////////////////////////////////////////////////////////////////////////////////////////////
create-react-app +
[code]
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
Test Code
[code]

///////////////////////////////////////////////////////////////////////////////////////////////////////////
Message:
[code]
/////////

[2019-01-07 15:59] hisuwh opened #1970 "State updated before call to shouldComponentUpdate in shallow render"
### Current behavior

Given a simple component like this:

[code]

I would expect the following test to pass:

[code]

However it fails as `shouldComponentUpdate` returns `false`.  Looking at the logs we see the following:

[code]

As you can see from the above `this.state` appears to have already been updated by the time `shouldComponentUpdate` gets called resulting in it returning `false` and th

[2019-01-07 18:38] rtmruczek commented on #1949
I'm experiencing this error too. What @palashkaria described is exactly what happened to me - I got my tests passing on react 16 + enzyme 3, came back to it after a while and found this error happening on a majority of my tests. I don't have any `yarn.lock` changes, so it's really mysterious to me why this is happening.

For me, it's occurring where I'm trying to find DOM nodes using the attribute

[2019-01-07 20:08] ljharb commented on #1949
@rtmruczek yes, that would be incredibly helpful!

[2019-01-07 21:00] rv-rhill commented on #1617
Excellent solution, @ljharb. Thank you!

[2019-01-07 21:02] ljharb commented on #1969
First, I'd suggest using `.debug()` and *not* `.html()`, as the latter will do a full render using the `render` API.

What does `wrapper.debug()` print out? What's the source code of `App`?

Also, note that `.find('#searchButton')` won't just find HTML elements, it will also find custom components with an ID prop of `"searchButton"`. You may want `wrapper.find('#searchButton').hostNodes()`.

[2019-01-07 21:03] ljharb commented on #1970
Try `wrapper.update()` after `setProps`?

[2019-01-07 21:04] rtmruczek commented on #1949
@ljharb I'll start doing that when I get a chance. In the meantime, I might have something that'll help. The above code is the test that used to work, but now fails. When I refactor it into the below code, the test again passes.

fails:
[code]

passes:
[code]

[2019-01-07 21:06] ljharb commented on #1949
When you say "used to work", do you mean in enzyme 2, or enzyme 3? Thanks - once I can repro, we'll get a fix out ASAP.

[2019-01-07 21:10] rtmruczek commented on #1949
Sorry - it used to work in enzyme 3. Today I checked out my enzyme 3 upgrade branch where it had worked, maybe about a month ago. I reinstalled the same modules, and I started experiencing this error.

[2019-01-07 22:31] rtmruczek commented on #1949
So, it's definitely an issue with my yarn.lock file. We must have some dependencies that are out of sync somehow. Deleting the `yarn.lock` file and doing a `yarn` to regenerate the file fixed my issue.

[2019-01-08 00:49] ljharb commented on #1949
@palashkaria any chance you've been able to make a repro case?

[2019-01-08 06:30] ljharb commented on #1969
Did you try using `.hostNodes()`? `.find('#searchButton')` will also find https://github.com/albertly/dailymotion-search/blob/enzyme/src/Search.js#L72, and whatever the material-ui Button renders.

Also, I don't see anything "crashing" there, just tests failing - are you seeing something different?

[2019-01-08 08:12] pataar commented on #1875
@drpicox Thanks, this works for now.

[2019-01-08 08:50] ljharb commented on #1709
Fixed in #1965

[2019-01-08 08:50] #1709 closed

[2019-01-08 09:10] albertly commented on #1969
expect(wrapper.find('#searchButton').hostNodes().length).toEqual(1);  // - True Correct

expect(wrapper.find('#searchButton').length).toEqual(5); // - True as well
![image](https://user-images.githubusercontent.com/3274890/50820429-4b5b9b80-1335-11e9-9495-3d5f7ca45e9b.png)

I think you should clarify this point in the docs.
It may be confusing. Many people expect to find elements in actual HTML so

[2019-01-08 09:10] #1969 closed

[2019-01-08 09:11] ljharb commented on #1969
Happy to accept a PR; but i think you’ll find it’s already mentioned in the docs.

[2019-01-08 09:34] hisuwh commented on #1970
@ljharb just tried it and it doesn't help

[2019-01-08 12:50] villermen commented on #1950
This issue started occurring for me after I started using `React.forwardRef` without updating `enzyme-adapter-react-16`. I updated the adapter from `v1.1.1` to `v1.7.1`, which fixed the issue.

You seem to be using `adapter-react-16.3` while your reported React version >= `16.4`. That's probably what's causing the issue, and it most likely is resolved by changing to `enzyme-adapter-react-16`.

[2019-01-08 15:40] minznerjosh opened #1973 "How should enzyme support the createContext() API"
It's been quite some time since the `createContext()` API shipped in react, and I'd love to help out in implementing "full support" for that API in enzyme ASAP. (Before the libraries many of us depend on [react-router, react-redux, etc] switch from using the deprecated, legacy context API to the new, fully-supported API.)

However, based on my reading of many `createContext()`-related issues in th

[2019-01-08 16:04] juniusfree commented on #1938
An open issue in react [#14091](https://github.com/facebook/react/issues/14091)

[2019-01-09 21:12] thousight commented on #1908
@ljharb do you have an example on how to do that?

[2019-01-09 22:54] ljharb commented on #1908
@thousight there's tons of examples all over the internet on how to use the only form of context that existed prior to React v16.3 :-)

[2019-01-10 05:35] 951565664 opened #1974 "Is not .to.have.lengthOf a api of jest???"
### Your environment
window

#### Version

| library             | version
| ------------------- | -------
| enzyme              | "3.6.0"

#### Adapter

- [x] enzyme-adapter-react-16

-------------------------------
I followed the documentation and an error occurred.

In document
https://github.com/airbnb/enzyme/blob/3fb45940f44ef73fcd6bb370103af5f4101d2051/docs/api/ReactWrapper/detach.md
[code]

[2019-01-10 05:40] 951565664 commented on #1974
I find `.to.have.lengthOf` is a api of chain https://www.chaijs.com/api/bdd/

[2019-01-10 05:40] #1974 closed

[2019-01-10 06:02] ljharb commented on #1974
Yes, we use chai's `expect` exclusively.

[2019-01-10 13:22] 951565664 commented on #1878
I think it is necessary to change the mount method to an async method. Using queues is not really a good idea.

[2019-01-10 22:15] sactyagi commented on #1416
Testing a angular component in jasmin by mocking the image url. While getting the attribute of the img its returning null.
// getting the handle of the the image
const imgSrc = fixture.debugElement.query(By.css('.thumbnailImage')).nativeElement;
// while prining imgSrc, its coming like <img _ngcontent-c0="" border="1" class="thumbnailImage">
not showing the src attribute.
Printing null while in be

[2019-01-11 08:40] ljharb commented on #1878
@951565664 it's not actually possible, because of the nature of JavaScript - neither enzyme nor react can *possibly* know when your component's arbitrary async actions are completed.

[2019-01-11 17:17] gilneto8 commented on #1163
Any update regarding this issue? I'm having exactly the same problem as @SelaO mentioned: `mount`ed component with conditional rendering based on state changes. Changing the state inside the test updates the state, but not what is rendered, even after invoking `wrapper.update()` and `wrapper.instance().forceUpdate()`.

[code]

[2019-01-12 15:21] gilneto8 opened #1976 "update() doesn't work for component conditional rendering (based on state)"
### Current behavior

I'm having a problem regarding a mounted component with conditional rendering based on state changes. Changing the state inside the test updates the state, but not what is rendered, even after invoking `wrapper.update()` and `wrapper.instance().forceUpdate()`.

### Expected behavior

Changing the state inside the test context, and invoking one of (if not both) the `wrapper.up

[2019-01-12 20:35] minznerjosh commented on #1976
Can you provide a code example that demonstrates the problem? Also, what does calling wrapper.debug() output?

[2019-01-13 08:41] chenesan commented on #1917
For the problem (2) in the PR #1975 comment , after some investigation I think we can just traverse the fiber tree to find all the LazyComponent fiber nodes. Every LazyComponent fiber node hold a `elementType` object, We can get the promise of dynamic import from `elementType._result`.

And in the `ReactWrapper`, I think we can have a new api for waiting lazy loading: `updateUntilAllLazyComponents

[2019-01-13 17:39] ljharb commented on #1917
I think that since Suspense and lazy don’t actually work yet for their intended purpose (bundle splitting) that we don’t have to rush to invent a new API for it.

[2019-01-13 19:47] tarjei commented on #1917
@ljharb do you have any info on why lazy doesn't work for code splitting? (I.e. issues etc). I know that Suspense isn't finished, but I thought lazy() worked.

Anyhow, I would love a release that just supported rendering the main path of the api so that using enzyme with react 16.6 could work - even though it didn't support testing all variants of Suspense. Maybe that should be the first target?

[2019-01-13 22:55] ljharb commented on #1917
Indeed, that’s the first target :-)

[2019-01-13 23:56] chenesan commented on #1917
@ljharb Using `lazy()` to do dynamic import should work. I think this would be useful for people want to test the rendering after dynamic module loaded. I'm sure it's doable to have an api for this, but I'm not sure how many people really need it. If it's not urgent then I can just add the Suspense and Lazy tag into enzyme to make sure the test in React^16.6 will work.

[2019-01-14 02:58] arkadyt opened #1977 "Question: how to shallow render one level deeper?"
How do I expand / render out Route components (react-router) with shallow rendering?
Is there any way to do that at all?
I am sure I can use mount(), but that would bring in too much unrelated information into the render tree and will make it much harder to debug.

**Component.js**
[code]

**shallowWrapper.debug()**
[code]

[2019-01-14 03:04] ljharb commented on #1977
Use one of the traversal methods (like `.find`) to reach a wrapper around a single node, and then use `.dive()`.

[2019-01-14 03:16] arkadyt commented on #1977
Thanks for the speedy response, @ljharb.
Is there any way to shallow-render a found <Route> node inside of a <Router>?

[2019-01-14 03:21] arkadyt commented on #1977
@ljharb, I tried diving but it complains about rendering `Route` node outside of a `Router`.
Is it possible to somehow eject the `Route` node and render it like this:
[code]

[2019-01-14 03:39] chenesan commented on #1917
@ljharb Maybe I misunderstood the "rendering the main path of the api" in @tarjei 's comment. Do you mean that for now we should just support rendering the direct result of lazy() in initial mount (which will be the `fallback` passed to `Suspense`)?

[2019-01-14 03:48] #1977 closed

[2019-01-14 04:35] arkadyt commented on #1977
For future lurkers, this is how it all comes together:
[code]
Thanks again, @ljharb!

[2019-01-14 08:05] xunuoi opened #1978 "Missing displayName for styled-component"
For latest styled-component v4 and latest enzyme version, in test cases, the snapshots often miss the displayName.

There is a relevant PR of styled-component v4, https://github.com/styled-components/styled-components/issues/1985

Please help check and give some proper fixing, thanks!

[code]

### Current behavior

Shallow or mount styled-component Component would get `<ForwardRef >` and `<StyledC

[2019-01-14 08:13] ljharb commented on #1978
Note that enzyme has no snapshot support; `wrapper.debug()` is the closest thing.

What does that output?

[2019-01-14 08:47] markmcdermid commented on #426
@Faline10, that's awesome! As a note to others, I had to do `.dispatchEvent(new Event('click', { bubbles: true}))` to make it bubble to the window

[2019-01-14 10:36] tarjei commented on #1917
@chenesan, @ljharb

I believe I have misunderstood what is supported in 16.6 :) What I tried to say was that it is quite painful to wait for enzyme to support lazy() and the other 16.6 functionality and I was hoping that could be prioritized before supporting all the general parts of the new Suspense component - i.e. the other usages than lazy loading. If it makes it easier I would think a first v

[2019-01-14 13:50] rodoabad commented on #1917
@tarjei only supports `default` exports for now. So if you're exporting named modules, those are not going to work unless you are also exporting them as [default exports](https://reactjs.org/docs/code-splitting.html#named-exports).

It also does not yet [support server side rendering](https://reactjs.org/docs/code-splitting.html#reactlazy).

[2019-01-14 18:59] #1590 closed

[2019-01-14 23:52] chenesan commented on #1917
Thanks for your reply @tarjei !
I think there are two parts of work:

(1) make enzyme recognize the `lazy` and `Suspense` tag so it won't throw internal error `unknown node with tag 13` and we can test the initial mount (which will render fallback for all lazy component in `Suspense`)

(2) support waiting lazy loading so we are able to test rendering after lazy loading done (like `waitForLazyLoade

[2019-01-15 01:56] sstern6 commented on #1976
My speculation is that getNodesInternal in ReactWrapper.js isnt calling update on a state change, like Shallow is currently.  A code snippet would help.

[2019-01-15 06:37] chenesan commented on #1970
@hisuwh I see that `shouldUpdate` in the `shouldComponentUpdate` is computed by comparing props difference in the code snippet you provide , this should diff state right?

If so, I can reproduce that it works as expected behavior in browser([reproduce here](https://codesandbox.io/s/2x0lwowm0y)). I also checked it will work in `mount`, and not work in `shallow` in enzyme test environment:

[code]

[2019-01-15 08:49] Fandekasp commented on #1908
Enzyme is the final hurdle we have to complete the react-redux v6 migration (which uses the React v16.3 new context API).
Looking forward to see the PR #1966 completed!

[2019-01-15 08:59] hisuwh commented on #1970
@chenesan yh it should have been state - I've corrected it.
I was testing to see if the same happened with props and didn't revert it before posting this sorry.

I have changed my test code to use mount as a workaround - though this is not ideal as I know need to handle more of the inner logic of the component.

Shallow is implementing most of these lifecycle methods correctly but not this one.

[2019-01-15 10:20] ajc24 commented on #308
I'd like to add my potential solution / workaround here. As with @MartinDawson, I am trying to get as close to actual / real behaviour as possible. I understand that it may be overkill to some but it has already proven invaluable to do this with our project on other components.

Basically using something like `wrapper.find('form').prop('onSubmit')();` doesn't appeal to me for one simple reason: a

[2019-01-15 11:30] gilneto8 commented on #1976
Sorry for the late reply.

Here's the test itself:

[code]

And here's the referenced part on the code itself:

[code]

The `findByAttr` function is something I implemented to ease the search of an element on the DOM. It searches for the attribute `enzyme-attr`.

Hope this helps.

[2019-01-15 14:03] chenesan commented on #1970
ok, I'll look into this.

[2019-01-15 18:06] sstern6 commented on #1976
thanks for the code snippet, iper @minznerjosh rec, does wrapper.debug() output null?  Ill have some time to look into this this week.

[2019-01-15 18:12] gilneto8 commented on #1976
@sstern6 no, `wrapper.debug()` (or, in my case, `mounted.debug()`) returns the component rendered properly, but only for the initial state. After the state update, the component remains the same (without properly rendering the conditional part).

[2019-01-15 18:22] minznerjosh commented on #1976
One thing that immediately jumps out to me is your use of async/await. The enzyme setState method does not return a Promise, so your use of await is effectively a noop. Try passing a callback as the second argument to setState instead.

[2019-01-15 18:32] gilneto8 commented on #1976
@minznerjosh I know, that part of the code came from one of my desperate iterations 😛. I also tried having the remaining code as part of the callback for `setState`, but that, too, didn't work...

[2019-01-15 18:38] sstern6 commented on #1976
@gilneto8 could you try it with shallow to see if it works?

[2019-01-15 21:16] sstern6 commented on #1964
bump @pvanny1124.  Could you share a code snippet for Foo whenever you get a chance?

[2019-01-16 03:42] zhoulujun commented on #1340
https://www.zhoulujun.cn/html/tools/webpack/2016_0217_6459.html
  "react": "^16.7.0",
    "react-addons-test-utils": "^15.6.2",
    "react-dom": "^16.7.0",
react-dom 16 根本就没有lib/ReactTestUtils 这玩意儿。
于是修改，react-addons-test-utils index 文件,坑还是未填好
//module.exports = require('react-dom/lib/ReactTestUtils');
module.exports = require('react-dom/test-utils');
最好还是降级到15.x ，期待官方修复！

[2019-01-16 03:43] zhoulujun commented on #684
https://www.zhoulujun.cn/html/tools/webpack/2016_0217_6459.html
  "react": "^16.7.0",
    "react-addons-test-utils": "^15.6.2",
    "react-dom": "^16.7.0",
react-dom 16 根本就没有lib/ReactTestUtils 这玩意儿。
于是修改，react-addons-test-utils index 文件,坑还是未填好
//module.exports = require('react-dom/lib/ReactTestUtils');
module.exports = require('react-dom/test-utils');
最好还是降级到15.x ，期待官方修复！

[2019-01-16 10:31] Mottoweb opened #1979 "Using jest with enzyme in create-react-app fails on jest.enableAutomock()"
### Current behavior

Enabling automocking fails with

[code]

### Expected behavior

Test runs with automocking enabled

### Your environment

package.json

[code]

setupTests.js

[code]

test

[code]

#### Version

| library             | version
| ------------------- | -------
| enzyme              | 3.3.0
| react               | 16.4.1
| react-dom           | 16.4.1
| react-test-renderer |
| a

[2019-01-16 11:48] gilneto8 commented on #1976
@sstern6 this is the `findByAttr` implementation:

[code]

I don't think shallow is usable here, because the component I'm testing is wrapped with a reducer, and on our architecture I still haven't found a way to export said component without that wrapper. Nevertheless, I'll try to find out a way. Thanks for the suggestion.

[2019-01-16 13:07] pavilion commented on #1798
https://til.hashrocket.com/posts/drkftm56yy-spelunking-through-components-with-enzymes-dive is pretty straightforward :+1:

[2019-01-16 14:02] #1979 closed

[2019-01-16 15:35] twdrake-ap commented on #1976
I'm experiencing this same issue. Mounted component that I'm calling `setState` on, as well as `update` and the mount never updates child component props that reference state. I'm currently unable to use `shallow` for this particular test case. `debug` returns the same component structure before and after calling `setState` then `update`.

[2019-01-16 19:47] dschinkel commented on #1798
It all comes down to keeping components **small**.  That means breaking things apart into more compnents, smaller functions whatever.

My huge complaint right now are teams who create what I like to call a "Christmas Tree" component.  Looks a little something like this, way too many nesting of HOCs with render props OR you have too many children in a container for example of using connect:

![reac

[2019-01-16 19:56] dschinkel commented on #1798
I haven't tried it because I always dive() past connect wrappers, but pretty sure if you just test the exported bare component that is being wrapped by connect, if you do like I do which is to test mapStateToProps indirectly you can't.  You need to dive past the connect container in order to ensure that connect is still wired up so that when you want to test mapStateToProps for example indirectly

[2019-01-16 23:53] chenesan commented on #1970
After some investigation I found out that `react-test-renderer/shallow` doesn't handle set state in gDSFP properly. Have created an issue in facebook/react#14607 and waited for reply. If they regard this as a bug then I'll work on that.

[2019-01-17 05:37] huchenme opened #1980 "Simulate should return the event pass in"
Not working (takes forever to run):

[code]

Working:

[code]

Spend a lot time and figured out the event passed in have been changed to `SyntheticEvent` with lots more attributes.

Please let me know the correct way to test `input` change event

[2019-01-17 06:10] xunuoi commented on #1978
@ljharb Ah, it's from jest. expect(shallow(Component)).toMatchSnapshot();

[2019-01-17 06:20] chenesan commented on #1978
@xunuoi pass shallow wrapper directly for snapshot test should not work I think. Are you wrapping the shallow wrapper with [enzyme-to-json](https://github.com/adriantoine/enzyme-to-json)? And also it'd be easier to debug if you can share the output of `wrapper.debug` and the implementation of `SmallApp` and `SmallEntity`.

[2019-01-17 07:42] huchenme commented on #1980
Ok, I have a React component which have `value` and `onChange` prop, the React component internal have an `input`, the test scenario is:

find `input` in the component, change the value, `onChange` should be triggered with the changed value. Here I am not testing React `input` is working as expected but my React component is working as expected.

Can you help me on how to test this using `enzyme`?

[2019-01-17 07:45] ljharb commented on #1980
You definitely don't need to test that - all you need to do is ensure that your component is putting the right function on an `onChange` on the input. Everything else you can trust to react and the browser.

I'd recommend using enzyme, but not `simulate` - `wrapper.find('input').prop('onChange')()` will invoke the prop function explicitly.

[2019-01-17 07:53] huchenme commented on #1980
Are you recommending this?

[code]

[2019-01-17 07:55] ljharb commented on #1980
Yep! Or:
[code]

[2019-01-17 08:02] huchenme commented on #1980
Thanks, closing this now

[2019-01-17 08:02] #1980 closed

[2019-01-17 18:01] ryanirilli commented on #1973
I am experiencing an issue with this as well as it relates to snapshot testing with Redux connected children. The below mock works well
[code]
and snapshots look great for general React components
[code]

However when the child is a Redux connected component, I get this for a snapshot
[code]

switching to using `mount` in this case and creating a mock store causes jest or enzyme to hang indefinite

[2019-01-17 18:21] azotklas commented on #1284
I also have such a problem

[2019-01-17 19:50] enesTufekci commented on #944
Here is a simple example, i hope it helps.
[code]

[code]

[2019-01-17 21:14] ljharb commented on #944
@enesTufekci that should work in this case because `this.handleSomething` isn't passed into the render tree, but there's zero reason it should be an arrow function if it's not. Again, never put arrow functions in class fields - use constructor-bound or field-bound instance methods.

[2019-01-18 02:36] chenesan commented on #1970
@hisuwh the fix is merged into react and I think this issue should be fixed after react publishing new patch version.

[2019-01-18 02:54] ljharb commented on #1970
@chenesan once the react-test-render change is released, would you open a PR with the relevant test cases, and a version bump? <3 please feel free to open the PR with tests ASAP :-D

[2019-01-18 03:01] chenesan commented on #1970
I'll send PR after fix in react-test-renderer is released ;)

[2019-01-18 07:03] fabb commented on #341
Nowadays, just edit your `jest.config.js`:
[code]

[2019-01-18 15:22] borisyordanov opened #1982 "Click event simulate not working"
### Current behavior
When running this test:
[code]
The expected value is never what it should equal. When i test manually the component functions as the test intends it to. This leads me to the belief that the click is never simulated.

### Expected behavior
I expect the `simulate` method to simulate a click

### Your environment
[code]

#### API

- [ ] shallow
- [x] mount
- [ ] render

#### Vers

[2019-01-18 19:34] SoccerGee commented on #1112
@ 951565664 and others using memory router in snapshot tests.  Keep in mind you're probably attempting to test the component not the component + the router, so if you snapshot your component you'll have more predictable snapshots.  Here's an example:

[code]

[2019-01-18 19:59] akegan commented on #456
Looks like the PR referenced above ended up getting closed rather than merged. Does anyone know whether or not it got implemented, and if it did, which version it was released in?

[2019-01-18 20:01] ljharb commented on #456
@akegan it ended up moving to #1086, and should be in all versions of enzyme 3.

[2019-01-18 21:12] ahuggins commented on #52
In case this helps anyone else. I ended up doing this:
[code]

Or if this is a bad idea, then let me know.

[2019-01-18 21:17] gaearon commented on #1917
The notion of "waiting" for modules in a test environment doesn't quite make sense to me. So I added support for sync resolving of lazy() in https://github.com/facebook/react/pull/14626. In next version, if you give it a `{ then(cb) { cb(module) } }` then it shouldn't suspend at all.

[2019-01-18 23:23] ljharb commented on #52
@ahuggins I'd suggest not using `.html()`, if possible - enzyme now has an `isEmptyRender` method that would be better.

[2019-01-19 00:29] Bates550 opened #1983 "ShallowWrapper renderProp docs link is broken"
### Current behavior
![kapture 2019-01-18 at 16 03 47](https://user-images.githubusercontent.com/2865469/51418860-0278c380-1b3b-11e9-9b37-a35abaf41e25.gif)
On the [Shallow Rendering API](https://airbnb.io/enzyme/docs/api/shallow.html) page, `.renderProp(key)() => ShallowWrapper` doesn't navigate to the docs for `renderProp`.

### Expected behavior
It should navigate to a page that looks like the r

[2019-01-19 00:31] ljharb commented on #1982
Unfortunately, `simulate` doesn't really simulate anything - it's just sugar for invoking the `onClick` prop. As such, I'd suggest explicitly doing that in your test.

[2019-01-19 00:32] ljharb commented on #1983
Indeed, thanks - that should link to https://airbnb.io/enzyme/docs/api/ShallowWrapper/renderProp.html

[2019-01-19 07:32] juniusfree commented on #1938
Merged at [#14567](https://github.com/facebook/react/pull/14567)

[2019-01-19 17:50] ElagrebiAli commented on #1974
Jest can be used without Enzyme to render components and test with snapshots, Enzyme simply adds additional functionality.
Enzyme can be used without Jest, however Enzyme must be paired with another test runner if Jest is not used (in the documentation they use chai as the test runner as i know)
so in react , when you using create-react-app in your react Application ,it use Jest as unit testing ru

[2019-01-19 18:05] ljharb commented on #1974
@ElagrebiAli `chai` is an assertion library; by using it, we can use `jest` or `mocha` interchangeably on all of our tests and examples.

[2019-01-19 18:15] ElagrebiAli commented on #1974
first of all ,thank you for ur respond .
yeah , you are right , i was wrong when i see "hey use chai as the test runner"
but what i mean exactly ,when can use only the expectation of jest , we don't need to configure or install chai .. as i know jest do its best  for assertion .
and thank you for ur patience .

[2019-01-19 18:16] ljharb commented on #1974
Right - we use chai explicitly so that we aren't locked in to jest, and can switch at any time.

[2019-01-19 18:19] ElagrebiAli commented on #1974
Great .i got it now .
thank you for your understanding @ljharb

[2019-01-19 19:31] doniyor2109 commented on #1983
Looks like it is gitbook's issue. GitbookIO/gitbook#1070

[2019-01-19 19:36] ljharb commented on #1983
Hmm, I’m not sure if that’s the issue - there’s no spaces in the filename.

[2019-01-20 06:31] ljharb commented on #1983
Are there more than just renderProp.md?

[2019-01-20 07:44] doniyor2109 commented on #1983
I have built locally and these files are not converted to `.html`

- [Main Page](https://airbnb.io/enzyme/)
  - [Using Enzyme with SystemJS](https://airbnb.io/enzyme/#running-enzyme-tests)
- [Shallow Rendering API](https://airbnb.io/enzyme/docs/api/shallow.html)
  - [isEmptyRender](https://airbnb.io/enzyme/docs/api/shallow.html#isemptyrender--boolean)
  - [renderProp](https://airbnb.io/enzyme/docs

[2019-01-20 08:14] doniyor2109 commented on #1983
It turns out those missing pages are not added to `SUMMARY.md`. That is why gitbook is not generating `.html` files for them.

[2019-01-20 18:47] icyJoseph commented on #1875
Just to reiterate over @drpicox 's life saving answer. One could also have `src/__mocks__/react.js`, where you can centralize this hack, to easily remove it later on.

[code]

[2019-01-20 21:38] henriqueweiand opened #1986 "Shallow with store context not work"
#### API

- [x] shallow
- [ ] mount
- [ ] render

#### Version

| library             | version
| ------------------- | -------
| enzyme              | "^3.8.0"
| react               | "^16.7.0
| react-dom           |   "^16.7.0"
| react-test-renderer | "^16.7.0"
| adapter (below)     |  "^1.7.1"

My project/Teste component:

[https://github.com/henriqueweiand/reactjs-crud-state-test/blob/master/s

[2019-01-20 23:02] sstern6 commented on #1976
@ljharb should this be a bug or an enhancement? Is wrapper.update() for mount "supposed" to propagate  the change to children. The docs dont state that it will update the children of the wrapped component.  This is related to another ticket im looking into so I dont mind looking into it.  What do you think?

Thanks

[2019-01-21 00:05] ljharb commented on #1976
I would expect that after `wrapper.update()`, the entire tree would rerender based on the new props/state/etc - so the children should be updated.

[2019-01-21 00:10] ljharb commented on #1986
It looks like you're using react-redux v6, which i don't believe is ergonomically compatible with enzyme yet. Try v5.

[2019-01-21 00:13] minznerjosh commented on #1976
If somebody was able to open up a PR with a failing testcase for this issue, that’d be amazing.

[2019-01-21 00:42] #1983 closed

[2019-01-21 03:41] sstern6 commented on #1976
@minznerjosh ill do that and look into the issue as a whole.

[2019-01-21 08:08] Myqilixiang commented on #1284
my solution:
add   "esModuleInterop": true to tsconfig.json
but there is still a problem, import Adapter from 'enzyme-adapter-react-16' doesn't pass the eslint check

[2019-01-21 08:12] ljharb commented on #1284
@Myqilixiang you probably also need synthetic imports turned on.

[2019-01-21 10:41] henriqueweiand commented on #1986
Okay, I think we have a breakthrough, kkkk

I downgraded, but now I do not understand why my tests do not find the element to accomplish the simulate with click

I'm doing it this way:

[code]

project: https://github.com/henriqueweiand/reactjs-crud-state-test/blob/master/src/pages/__tests__/formDocumentos.test.js

[2019-01-21 11:40] borisyordanov commented on #1982
@ljharb Can you tell us when simulate should/can be used for? Perhaps this information should be included in the docs (i myself can't find any relevant info), perhaps in the [Common Gotchas](https://airbnb.io/enzyme/docs/api/ShallowWrapper/simulate.html#common-gotchas) section

[2019-01-21 20:31] EyalPerry commented on #1925
@ljharb perhaps I am repeating others before me, but unless Enzyme supports setProps on the non root Router, the only way users can test any HOC, or any Provider / Switch / Router is by epmloying e2e tests, so the use case for setProps is to greatly help the community implement integration testing with various libraries- something which is not quite possible at this moment.

[2019-01-21 20:41] ljharb commented on #1925
@EyalPerry it can still be done by re-setting the “children” prop on the root, albeit not very ergonomically. This is definitely a use case i think that can be well addressed without needing to setProps on a child; it’s being worked on.

[2019-01-21 20:52] EyalPerry commented on #1925
@ljharb please see my edit, to the above comment. Thanks for the quick reply!

[2019-01-21 20:53] EyalPerry commented on #1925
@ljharb it's being worked on === you are working on setProps for non root wrappers?

[2019-01-21 20:58] EyalPerry commented on #1925
@ljharb The solution you propose does indeed work, but it is not as I would like. I wrap enzyme in a thin layer of sugar and use that layer. resetting children whenever I want to set props sounds like it could break tests, my spider senses are tingling.

[2019-01-21 21:13] ljharb commented on #1925
@EyalPerry no, i don't think it ever makes sense to set props anywhere but the top of the tree, just like in react. *However*, I think the use case of "i need to test X, but in order to do that, I have to wrap it in 1 or more "provider"-like components, and i'll need to set props on X" can be addressed with a separate API when creating the initial wrapper. This includes your Router use case.

iow,

[2019-01-21 22:33] #1919 closed

[2019-01-21 22:36] ljharb commented on #1986
You're using `shallow`, and `FormDocumentos` renders a component that's wrapped in *two* HOCs - you need one `.dive()` per HOC, and you only have one.

[2019-01-21 22:37] ljharb commented on #1982
I don't think it should ever be used; explicitly invoking a prop is better. I haven't had time to write up anything in the `simulate` docs.

[2019-01-22 02:56] sstern6 commented on #1976
From what i can tell its working as expected locally when writing the tests so decided not to push.  Thinking the issue might be something else with the way the tests are written.

@twdrake-ap can you provide a code sample as well as the version of enzyme youre using?

Thanks

[2019-01-22 07:33] #664 closed

[2019-01-22 08:05] borisyordanov commented on #1982
@ljharb Can you share a resource about simulate? I'd be happy to prepare a PR updating the docs. I'd appreciate if you can point me in the right direction, i couldn't even find `simulate()` in the repo

[2019-01-22 08:53] dougajmcdonald commented on #182
We found a similar issue where the casing of the import statements were inconsistent between the test and application files.
We were also using webpack and alias' so we assumed it was webpack trying to be helpful and transpile files found in a case insensitive search but generating two different outputs.

[2019-01-22 09:54] rrawat-dev commented on #1673
Just to add, found similar issue if we accidentally/incorrectly use class instead of className in JSX:
// incorrect
const wrapper = shallow((
    <div class="klas"></div> // Class name should not start with a dot.
));

// correct
const wrapper = shallow((
    <div className="klas"></div> // Class name should not start with a dot.
));

[2019-01-22 11:03] jamesmcn1 commented on #1743
Still an issue for me :( - RN 0.57.0

[2019-01-22 16:03] ljharb commented on #182
Using eslint-plugin-import can catch that.

[2019-01-23 03:43] chenesan commented on #1799
@ljharb I'll look into this and see if return `DocumentFragment` works well.

[2019-01-23 05:40] ljharb commented on #1799
I believe @madicap  is still working on it; anything based on DocumentFragment would only work on mount.

[2019-01-23 06:42] chenesan commented on #1799
Thanks for reply. Is @madicap  also working on rendering array? I'd also like to help with #1149 and #1178 to make rendering array work, but not sure if her work is related to them.

[2019-01-23 06:45] ljharb commented on #1799
I believe the branch they have in progress will lay the foundation required to render arrays, yes. I'd prefer to wait until that lands before exploring that direction further.

[2019-01-23 12:56] jessepinho commented on #1850
Note that in TypeScript, I had to cast the return value of `getDOMNode()` to `HTMLInputElement` or else it would complain that `Property 'value' does not exist on type 'Element'.` So, I did this:

[code]

[2019-01-23 16:50] buddyp450 commented on #1973
Just as an aside, react-redux has already made their change to the new context api as of v6.0.0 which released just last month so consider me as the first of a flood of people that will be running into this issue shortly. :)

Downgrading to react-redux v5.1.1 in the meantime.

[2019-01-23 22:31] ljharb commented on #1986
This seems answered.

[2019-01-23 22:31] #1986 closed

[2019-01-23 22:32] ljharb commented on #1838
#664 is merged, and will be released soon; this seems answered.

[2019-01-23 22:32] #1838 closed

[2019-01-24 00:39] ljharb commented on #1938
Reopening, since https://github.com/facebook/react/pull/14679 is now merged and v16.8 seems imminent.

[2019-01-24 02:42] chenesan commented on #1938
@ljharb I'd love to help to look into what we need to do to support hooks after v16.8 release.
Also note that in facebook/react#14567 the shallow renderer will support hooks, so maybe there won't be too much work in enzyme.

[2019-01-24 03:44] ljharb commented on #1938
@chenesan that would be great. The biggest priority is getting as many tests as possible, and mirroring those as much as possible between shallow and mount.

[2019-01-24 15:35] bfmiv commented on #1460
@rodoabad [bernardmcmanus/babel-plugin-async-import](https://github.com/bernardmcmanus/babel-plugin-async-import)

This setup will transform `import(REQUEST) => Promise.resolve(require(REQUEST))` when running on node and leave dynamic imports unchanged when building with webpack.

__babel.config.js__
[code]

__webpack.config.js__
[code]

[2019-01-24 19:02] andysmith415 opened #1988 "TypeError: Cannot read property 'Events' of undefined"
### Current behavior
My test suite fails on Enzyme bootstrapping because it cannot find the needed react-dom dependency, despite the fact that I have it installed.

Setup file:
[code]

Test file:
[code]
Any ideas what I'm missing here? Thanks.
### Expected behavior
The test runs to completion.
### Your environment
[code]

Jest config:
[code]
#### API

- [X] shallow
- [X] mount
- [X] render

#### V

[2019-01-25 12:22] riyaz4s commented on #426
` ev = new Event('click');`

I am getting Event is undefined.

[2019-01-25 20:41] maufarinelli commented on #1665
@ljharb if it is just sugar, we should call `.prop('onKeyPress')()`
but than, we should mock the event and pass it like `.prop('onKeyPress')(event)`?
if so, omg, it is quite painful

[2019-01-25 21:49] ljharb commented on #1665
Yes, that is exactly what you should do.

[2019-01-27 23:53] #1929 closed

[2019-01-27 23:55] ljharb commented on #1982
I don't have any resource available except a number of comments I've made in this very repo.

Simulate is documented here: https://airbnb.io/enzyme/docs/api/ShallowWrapper/simulate.html / https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrapper/simulate.md and https://airbnb.io/enzyme/docs/api/ReactWrapper/simulate.html / https://github.com/airbnb/enzyme/blob/master/docs/api/ReactWrapp

[2019-01-28 06:23] hyochan opened #1989 "Enzyme is not working correctly in `react-native@0.58`"
I've created the [issue](https://github.com/facebook/react-native/issues/23171) in `react-native` repo earlier. However, I feel like this also belongs to `enzyme`.

### Current behavior
When I upgraded my project to `react-native@0.58`, more than 50% of my tests break and some of them even throw not finding `shallow` method in `enzyme`. I am very confused why this is occurring.

### Expected behav

[2019-01-28 06:40] hyochan commented on #1989
@ljharb Thanks. I've been digging this for 2days now still suffering 😿

[2019-01-28 08:38] #1982 closed

[2019-01-28 09:27] hagayl opened #1990 "An InvalidCharacterError when mounting a component using an svg"
I have a component which uses the following svg file:

**delete.svg**
[code]

**MyComponent.js**

[code]

**MyComponent.test.js**
[code]

### Current behavior
When mounting, I get the following InvalidCharacterError error:
[code]

### Expected behavior
Mounting is successful.
Using shallow this error isn't thrown.

### Your environment

#### API

- [x] shallow
- [x] mount
- [ ] render

#### Versio

[2019-01-28 14:18] maufarinelli commented on #1665
Alright, let's do it this way. 👍
However, I thought it was the purpose of `simulate()`, to leverage all of it.

[2019-01-28 21:06] ljharb commented on #1665
That's what simulate *should* do, but unfortunately doesn't.

[2019-01-28 22:42] ljharb commented on #1990
Does this mount fine in normal React, in the browser? What babel transform are you using that allows you to import svgs?

[2019-01-28 22:52] hagayl commented on #1990
Using `"react-svg-loader": "^2.1.0",`

I do manage to mount simpler components, yes (or if replacing my svg with, say, a span...)
My project's configurations:

As for you question, I have this in my webpack.config.js:
[code]
And using:
`    "react-svg-loader": "^2.1.0",
`

[2019-01-29 00:11] ankurkaushal360 commented on #1990
Apparently I am having a similar issue too. I tried to use `mount` for one of the tests in our component library & the same error popped up. We are using `rollup` to compile the components. Here's our `.babelrc` if that matters:

[code]

Let me know if I can provide you with anything else to get to the root of what's happening.

[2019-01-29 00:42] ljharb commented on #1990
`react-svg-loader` will only work in webpack - you need to have a way for it to work in *node*.

You may want to try using https://www.npmjs.com/package/babel-plugin-inline-react-svg for non-browser builds.

[2019-01-29 01:12] ankurkaushal360 commented on #1990
Also, I failed to mention in my case, I am not importing any `svg`s. It's failing on a simple component mount.

[2019-01-29 02:20] mcshakes commented on #389
ditto @mikefrancis. Trying to simulate a simple select action on a simple dropdown is proving impossible.

[code]
Above, the option that is commented out does what everybody else suggests. The second follows a pattern where we make the selected value. Both throw this error:

`TypeError: Cannot read property '0' of undefined`

It is strange

[2019-01-29 03:08] chenesan commented on #1990
Hi @hagayl is your test works without svg? If you could make a minimal repo to reproduce the issue that would be great :)

@ankurkaushal360 Could you provide your component, test code and environment(rollup config / test setup...) or a minimal repo to reproduce the issue? Thanks.

[2019-01-29 03:17] ankurkaushal360 commented on #1990
@chenesan I was about to report what I found. Just a little background, we use `styled-jsx` for dynamic styles & `sass` for static styles.

Here's the `rollup.config.js`:

[code]

From my investigation, I found that importing styles from the sass file seems to be the culprit.
Unfortunately the component(s) reside in a private repo. But I can provide a sample.

We import styles like this:

`import

[2019-01-29 03:37] chenesan commented on #1990
@ankurkaushal360 hmm, I'll try to look into this.

[2019-01-29 04:43] chenesan commented on #1990
@ankurkaushal360 Could you print the `Styles` component? I'm wondering it what this is.
I've tried directly use `_JSXStyle` component in the doc of [styled-jsx](https://github.com/zeit/styled-jsx#how-it-works) and that works:

[code]

I suspect that `Styles` should be transpiled as `_JSXStyle` but it doesn't.

[2019-01-29 04:57] ankurkaushal360 commented on #1990
@chenesan How can I do that? 🤔

[2019-01-29 05:45] chenesan commented on #1990
@ankurkaushal360 If it's not ok (I see that it's in private repo..) to `console.log` it, could you provide a repo to reproduce this?
Also I notice that with `rollup-plugin-sass-styled-jsx-component` I will get unexpected token error when handling .scss in rollup, I have to use `rollup-plugin-sass-styled-jsx` to pass this. Not
sure if it's relative, though.

[2019-01-29 08:08] ljharb commented on #389
Don't use `simulate`. If you want to invoke the onChange prop, do `.prop('onChange')()`.

[2019-01-29 08:09] ljharb commented on #1990
Note that importing scss, css, etc - basically anything that's not `.js`, `.node`, or `.json` - needs to have *babel* transforms NOT webpack config, to be able to have it work in tests (any tests, not just enzyme).

In general, very little should be in your webpack config, and it should all be done with babel transforms instead.

[2019-01-29 18:17] ljharb commented on #389
@citypaul that's basically all that `simulate` does. The simulation you want would be great, but neither enzyme's nor react-test-renderer's `simulate` has ever actually done that.

enzyme is for unit tests, not for browser-level integration tests like you're describing.

[2019-01-29 21:09] ljharb commented on #389
@mcshakes what are you trying to test with that, though? You don't need to test React, or the browser - if the onClick function is present, and does the right thing when invoked, your test *is done*.

[2019-01-29 23:12] plemasantos opened #1991 "Parent() not working properly"
### Current behavior
I have tried to create a couple of tests to a very simple React component.

Foo.js
`import React, { PropTypes } from 'react';

const propTypes = {};

const defaultProps = {};

class Foo extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div>
        <div className="parent">
          <div className="child">Child</div>

[2019-01-30 00:58] plemasantos commented on #1991
I have just tried the same code snippet with Enzyme 2.9.1 and React 15.6.1 and the results are what I expected.

[code]
This is what I would expected from this sequence.

[2019-01-30 01:49] sstern6 commented on #1976
cc @minznerjosh

[2019-01-30 14:47] andrewsteadcc commented on #1349
It is probably too late but just in case I came across this problem when unit testing and found that I needed to import "render" in enzyme for it to check the spacing issue properly

`import { mount, render } from 'enzyme';`

[2019-01-30 20:45] ljharb commented on #1991
So, first - use `.debug()` instead of `.html()`. The latter does a full render on the entire tree using `render`, so it's not a good debugging tool for `shallow`.

What happens to your expectations when you make that change?

[2019-01-30 21:04] plemasantos commented on #1991
Thanks for clearing that up!

html() vs debug() is not really the point here - actually I gave mount as an example above.

[code]

In the test, using Enzyme 3.8.0 and React 16.7.0, bottomMost.parent().children() is an empty array. That is the problem. It seems that whenever I go up one level, I loose all information on child nodes. If I call bottomMost.parent().debug(), it only prints how the pare

[2019-01-31 05:29] Ranguro opened #1993 "Enzyme v3 .findWhere() returns empty wrappers."
### Current behavior

When running `.findWhere()` it returns empty wrapper for some scenarios.

### Expected behavior

`.findWhere()` should return null instead of an empty wrapper.

### Your environment

Currently using:
[code]
with React 16.7.0 and Webpack 1.15.0

#### API

- [ ] shallow
- [x] mount
- [ ] render

#### Version

| library             | version
| ------------------- | -------
| enz

[2019-01-31 18:40] MikaelCarpenter opened #1994 ".findWhere failing to parse all nodes in wrapper"
### Current behavior
I have a component that does conditional rendering in the form of:
[code]
_Note: subtitle is defaulted to an empty string, so that block is returning an empty string_

When that component is inside of a `ReactWrapper` and I use `.findWhere`, the function doesn't get past that conditional render.

### Expected behavior
I would expect `.findWhere` to be able to see that empty st

[2019-01-31 23:33] ljharb commented on #1991
Ah, thanks. This might be related to #1876 and/or #1916.

[2019-01-31 23:34] ljharb commented on #1991
(cc @sstern6)

[2019-01-31 23:36] sstern6 commented on #1991
@ljharb looking into it

[2019-02-01 01:12] sstern6 commented on #1994
@MikaelCarpenter thanks for the report and the PR.  I think youre right, it shouldnt fail at `subtitle`.  Given that React is supporting larger and larger "empty" values i think adding  the ever growing list would be ideal.  Ill leave more relevant comments on PR.

[2019-02-01 01:44] sstern6 commented on #1993
Thanks for the report!

Why do you expect it to be null instead of being an empty wrapper?  Also, do you expect the return value of wrapper.findWhere to be null or if the callback item doesnt have a length to return null?

[2019-02-01 02:22] reywright commented on #1265
Is there anyway to "require" the setupTests file? I'd love to just define this once.

[2019-02-01 05:26] #1993 closed, assigned to ljharb

[2019-02-01 06:51] CeamKrier commented on #76
I currently have tested this approach and works flawlessly

[2019-02-01 07:47] prishedko commented on #1988
@andysmith415 I had the same problem when **react-dom** was mocked. Please looked at mocks of **react-dom** in **__mock__** folder or in tests. In my case the problem was fixed by modifying mocks in **__mock__** folder like this:
[code]

[2019-02-01 18:06] ekaradon opened #1996 "Testing Hooks with mount: onChange not called"
### Current behavior

When simulating some changes on input with components using hooks, depending of the component, it looks like the `onChange` is not called.

### Expected behavior

Whatever the component, when simulating changes on input, the `onChange` method must be called.

### Your environment

#### API
 mount
#### Version

| library             | version
| ------------------- | -------
|

[2019-02-01 18:31] ljharb commented on #1988
I'm going to close this, but will be happy to reopen it if @andysmith415 can provide a repro case.

[2019-02-01 18:32] ljharb commented on #1996
I don't recommend using `simulate` at all - it doesn't actually simulate anything.

All you need to test is that a) the `onClick` prop is present, and b) the function you put there does what it's supposed to. Anything more would be testing React and the browser.

[2019-02-02 07:38] #1994 closed

[2019-02-02 09:19] ekaradon commented on #1996
Yes, I know you don't. But that is not my point of view on the matter. I think Kent C. Dodds explained part of my opinion on the matter. However simulate is still part of the api of enzyme. Reporting an unexpected behavior when using is still making sense, does it?

[2019-02-02 23:43] luskin opened #1998 "containsMatchingElement not returning true when element exists"
When using `mount` it seems that `containsMatchingElement` is not performing correctly:

*NavigationBarContainer*
[code]

*Test*
[code]

*Debug Output*
[code]

You can see that in the debug Routes with a handleEvent prop is clearly in the dom tree, however it always returns false

[code]

We have tried all of the different contains methods as well as using shallow for this test, everything returns

[2019-02-03 07:31] hyochan commented on #1989
@ljharb I've found the solution. I had to mock like below in `jestSetup` in previous react-native version when using `react-navigation@3` because `react-native-gesture-handler` was newly added and didn't mock well itself.
[code]

When I remove above, everything works fine.

[2019-02-03 07:42] ljharb commented on #1998
In this case, it's because `containsMatchingElement` is determining that `jest.fn() !== theActualPropValue`. If you're trying to find out if there's a `Routes` with a `handleClick` that's a function, you'll have to `.filter(Routes).findWhere(x => typeof x.prop('handleClick') === 'function')`.

[2019-02-03 16:07] linnett commented on #1743
Also same issue for me RN 0.57.8

[2019-02-04 07:36] sharmapuneet opened #1999 "wrapper not updated after simulate('change')."
**Describe the bug**
During the test case, I perform a full mount on a component. After finding the input element, I simulate a change event in which I know the callback function is triggered since the value of the variable being passed back is asserted to be true. However, the props of the element do not get updated.

**Test**
`import TripType from '.'

/** @test {TripType} */
describe('<TripType

[2019-02-04 07:42] ljharb commented on #1999
You may need a `wrapper.update()`; in general, I'd advise against ever using `simulate` - it doesn't actually simulate anything. Instead, explicitly invoke the prop function you want.

[2019-02-04 07:44] sharmapuneet commented on #1999
@ljharb I tried the below with no luck -

[code]

[2019-02-04 07:45] ljharb commented on #1999
Try `wrapper.find('input[value="oneway"]').prop('onChange', { target: { checked: true } })` instead of simulate.

[2019-02-04 07:46] sharmapuneet commented on #1999
Same results.

[2019-02-04 07:50] ljharb commented on #1999
Can you share the actual code for your component?

[2019-02-04 07:51] sharmapuneet commented on #1999
[code]

[2019-02-04 08:02] ljharb commented on #1999
ok - and what about `FormControlLabel`? (note, it's pretty strange to be doing tests of `TripType` and coupling to implementation details of `FormControlLabel` - i'd suggest preferring shallow tests over mount tests whenever possible)

[2019-02-04 08:05] sharmapuneet commented on #1999
So you are saying it won't work with mount?

[2019-02-04 08:06] sharmapuneet commented on #1999
Can you help me how can I write the third test with shallow?

[2019-02-04 08:10] ljharb commented on #1999
It should certainly *work* with mount; but I'm saying you shouldn't be testing FormControlLabel except in the FormControlLabel *tests*.

[2019-02-04 08:11] sharmapuneet commented on #1999
oh ok.

[2019-02-04 18:05] Superjisan commented on #1661
Thanks @mykhailo-riabokon, that was a lifesaver

[2019-02-04 19:56] #1998 closed

[2019-02-04 21:08] jedwards1211 commented on #1606
@ljharb if our event handler calls `.preventDefault()` or `.stopPropagation()` what is your recommendation?  `.simulate` seems to at least pass a mock event that has those methods; extra work is required to make a mock event when calling the event handler directly.

[2019-02-04 21:14] jedwards1211 commented on #1606
@ljharb okay, really I was just wondering if there were any helpers we could call to create the event besides `.simulate`

[2019-02-04 21:32] jedwards1211 commented on #1606
@ljharb I only ever use `mount`, but `.simulate` seems to be creating the event just fine in a project currently using enzyme 3.3.0.  Has something changed in more recent versions?

[2019-02-04 21:33] ljharb commented on #1606
Nothing has changed with `simulate` since its creation, afaik.

[2019-02-04 22:42] #1799 closed

[2019-02-05 09:31] alexandrudanpop commented on #1647
Is there a workaround for this issue? Getting this when testing redux connected components.

[2019-02-05 16:30] matt-gresham opened #2002 "html() breaks on a mounted Fragment"
### Current behavior

Calling the html() method (and other methods) on a mounted component which is a multi-element Fragment causes a TypeError. This appears to be an issue that has been introduced with enzyme-adapter-react-16 v1.9.0, as downgrading to v1.8.0 produces the expected behaviour.

### Expected behavior

The component ought to have mounted correctly and it should be possible to call met

[2019-02-05 21:37] ljharb commented on #1996
@k3ithl1m thanks, but i'd prefer not to have a major version right now - when that time rolls around, it'll be pretty straightforward to remove it. A PR to update the docs for it, however, would always be appreciated.

[2019-02-05 21:42] ljharb commented on #2002
I'm a bit confused; we have [passing tests](https://github.com/airbnb/enzyme/blob/master/packages/enzyme-test-suite/test/ReactWrapper-spec.jsx#L5171-L5199) for this exact case.

[2019-02-05 21:43] ljharb commented on #1647
@alexandrudanpop downgrade to redux < 6, iirc.

[2019-02-05 21:46] ljharb commented on #2002
Ah, I think I see the issue; these methods are returning `undefined` in this case when paired with v1.9.0 of the adapter.

[2019-02-05 21:54] #2002 closed

[2019-02-05 22:40] OzzieOrca commented on #1647
Unless I'm missing something redux is only at 4.0.1. https://github.com/reduxjs/redux/releases

[2019-02-06 02:15] peanutenthusiast commented on #1862
Was out of country for a month or so, but I've come up with a fix for the above test case -- @ljharb are there any other test cases that should be covered? I can send a PR tonight.

[2019-02-06 04:52] hagayl commented on #1990
@ljharb which babel transforms are supposed to assist here? My current `.babelrc` is quite minimal:
[code]

What's missing here for dealing with `svg` imports?
BTW the components works as expected and renders the imported `svg`s. My problem is testing it (mounting).

[2019-02-06 06:07] hagayl commented on #1990
OK, I managed to solve it using a babel plugin:`babel-plugin-inline-react-svg`
Thanks for the help!

[2019-02-06 06:07] #1990 closed

[2019-02-06 06:11] k3ithl1m commented on #1996
Sure thing. Ill get to it as soon as I can

[2019-02-06 06:50] anushshukla commented on #1917
any update for a release (be it a major / minor release but stable one) date (tentative one would also do) for the fix of this issue.

[2019-02-06 06:56] ljharb commented on #1917
@anushshukla no, see #1975.

[2019-02-06 06:58] ljharb commented on #1996
That one, and also the ShallowWrapper one. We definitely shouldn't remove the docs for it, because the method still exists, but we should indicate that they're deprecated, and why.

[2019-02-06 08:11] MrOggy85 commented on #1432
I think this issue is _irrelevant_ since this unit test is not optimal (no finger pointing).
You want to test the **outcome** of your button press, which in this case is a state change (which will cause a rerender).

Therefor, you should assert on the state (the outcome), rather than mocking and asserting on `handlePress` (intermediate step).

Your events will always have some kind of outcome (fir

[2019-02-06 10:31] capaj opened #2003 "TypeError: r is not a function"
Thanks for reporting an issue to us! We're glad you are using and invested in Enzyme.
Before submitting, please read over our commonly reported issues to prevent duplicates!

### All common issues

* [common issues](../blob/master/docs/common-issues.md)

### Notoriously common issues

* [Webpack build issues](../blob/master/docs/common-issues.md#webpack-build-issues)
* [Cannot find module 'react-d

[2019-02-06 10:31] capaj commented on #2003
oh this is in react-dropzone, sorry

[2019-02-06 10:31] #2003 closed

[2019-02-06 10:49] Zveroboev opened #2004 "TypeError: Cannot read property 'current' of undefined"
![image](https://user-images.githubusercontent.com/27211707/52336339-b3c19980-2a15-11e9-991a-15d5adfdc4d9.png)

This happened after "enzyme-adapter-utils" was updated to version 1.10.0.

As well, I have `import 'jsdom-global/register';` at the beginning of the test file.

#### API

- [X] shallow
- [ ] mount
- [ ] render

#### Version

| library             | version
| ------------------- | -------

[2019-02-06 11:01] Zveroboev commented on #2004
As well, I have `import 'jsdom-global/register';` at the beginning of the test file.

[2019-02-06 11:24] peppescg commented on #2004
I have the same issue with the same packages

[2019-02-06 11:28] PabloFNK commented on #2004
Same issue here!

[2019-02-06 11:52] putvande commented on #2004
Is this to do with being a stateless component that you're testing? We have the same issue, but its only happening on components that are not extending from `React.Component`

[2019-02-06 12:08] Zveroboev commented on #2004
Yes, it is the stateless component.

[2019-02-06 12:14] bdryl-softserve commented on #2004
Update your React to `16.8`. `ReactCurrentDispatcher` is missing from `ReactSharedInternals` in earlier releases when `react-test-renderer` in `16.8` is expecting it (probably because newer version of `enzyme-react-adapter` in `1.9.1` is downloading `react-test-renderer` in this version, due to your not locked deps)

[2019-02-06 12:15] benedyktdryl commented on #2004
Update your React to `16.8`. `ReactCurrentDispatcher` is missing from `ReactSharedInternals` in earlier releases when `react-test-renderer` in `16.8` is expecting it (probably because newer version of `enzyme-react-adapter` in `1.9.1` is downloading `react-test-renderer` in this version, due to your not locked deps)

[2019-02-06 12:39] MahaZaid commented on #2004
I updated both react & react Dom 16.8.0  along with enzyme-react-adapter version 1.9.1, and I get `document is not defined` error

the error:
[code]

[2019-02-06 12:41] benedyktdryl commented on #2004
@MahaZaid what about `react-test-renderer`?

[2019-02-06 13:06] MahaZaid commented on #2004
I added react-test-renderer but I am still getting the same error

    "react": "^16.8.0",
    "react-dom": "16.8.0",
    "react-test-renderer": "16.8.0",
"enzyme-adapter-react-16": "^1.9.1"

[2019-02-06 13:09] benedyktdryl commented on #2004
@MahaZaid how you are running tests? It seems like Jest don't know that test should be run in JSDOM environment. Please try to add `--env=jsdom` to your test command

---

https://jestjs.io/docs/en/cli.html#env-environment

[2019-02-06 13:31] MahaZaid commented on #2004
I am using mocha, enzyme, and @babel/register for running structural tests

[2019-02-06 13:38] c316 commented on #2004
I'm having a similar issue when using jest. All of my test are now failing. I'm getting a mix of errors, `document is not defined` and `TypeError: Cannot read property 'current' of undefined`.

"enzyme": "^3.8.0",
"react": "16.5.0",
"react-dom": "^16.8.0",
"react-test-renderer": "^16.8.0",
"jsdom": "^13.2.0",
"enzyme-adapter-react-16": "^1.9.1",
"babel-jest": "^23.6.0",

I don't have enzyme-adapte

[2019-02-06 13:40] benedyktdryl commented on #2004
@c316 updating React to `16.8` should be IMO enough.

[2019-02-06 13:46] JulioOrellana commented on #470
just what I was looking for 👍

[2019-02-06 14:11] SveLil commented on #2004
@benedyktdryl Updating React isn't always an option.

[2019-02-06 14:12] ekaradon commented on #1996
Well, React 16.8 is out today. I let you decide whether you want to close this issue as I have nothing more to say.

[2019-02-06 14:22] c316 commented on #2004
@benedyktdryl thanks, that update, plus adding the `--env=jsdom` to the test command fixed half of my test, now I get a different error. `Cannot find module 'schedule/tracking' from 'ReactNativeRenderer-dev.js'`. I'm looking to see if I can find what this means.

[2019-02-06 14:37] c316 commented on #2004
To resolve that error I had to install the `npm i schedule@0.4.0 --save-dev` package. See more info here https://github.com/facebook/react-native/issues/21150

[2019-02-06 14:46] varunsharma27 opened #2005 "16.8 (react-test-renderer) causing build failures"
So react-test-renderer (Dependency of enzyme-adapter-react-16@1.7.1) had a minor release 6 hours ago. Causing our builds to fail all over. We have explicitly added react-test-renderer@16.7.0 in our devDependencies to circumvent that.

[code]

[2019-02-06 14:51] vzaidman commented on #2005
+1

[2019-02-06 15:02] yongzhihuang commented on #2005
+1

[2019-02-06 15:11] benedyktdryl commented on #2004
I understand, but in most cases - this particular issue can be solved by syncing React version as in earlier I simply can't spot `ReactCurrentDispatcher` inside `ReactSharedInternals`

[2019-02-06 15:54] jChris85 commented on #2004
I have the exactly same error as @MahaZaid

`
"react": "^16.8.0",
"react-dom": "^16.8.0",
"enzyme-adapter-react-16": "1.9.1"
`

[2019-02-06 16:14] matt-gresham opened #2006 "html() renders as null on a mounted Fragment"
### Current behavior

Calling the html() method on a mounted Fragment whose children are components returns "null".

### Expected behavior

The mounted component should produce a string representation of its html content.

### Your environment

See [this example on codesandbox](https://codesandbox.io/s/qq14q0lq74).

I believe that this issue is related to [another issue which I raised yesterday](h

[2019-02-06 16:43] dalvallana commented on #539
I'm into something similar here: `MyComponent` calls a class method under certain conditions in the constructor, so I want to stub this method _before_ `shallow`ing `MyComponent`, in order to test it is called when it should. Normally I would do something like:
[code]
But when `MyComponent` is wrapped in a HOC, I end up doing:
[code]
which is frankly awful...

I honestly don't know if enzyme provi

[2019-02-06 16:43] ljharb commented on #1996
Indeed it is - so as of today, this is a valid issue :-) we don’t support hooks explicitly, but if you update all of your React package versions, it’s likely most things will just work - can you confirm you still have this issue? (for example, the shallow renderer and test utils in all of the alphas lacked features that the actual 16.8 has)

[2019-02-06 16:58] erick2014 commented on #2005
LoL I have the same issue

[2019-02-06 17:07] santiagomejiabonilla commented on #2004
For those that can not upgrade react i solved the issue changing my react adapter form `enzyme-adapter-react-16` to `enzyme-adapter-react-16.3`

[2019-02-06 17:09] Dianoga commented on #2004
I've been fighting with the `document is not defined` error for most of the morning. I got it working by rearranging things in my helper file. _Note: I'm using AVA for my test runner_

Before (broken)
[code]

After (working)
[code]

My guess is the adapter is trying to access `document` during import.

[2019-02-06 17:20] erick2014 commented on #2004
Hey We found a solution, which was:
1. update `"enzyme-adapter-react-16": "1.1.0"` to `"enzyme-adapter-react-16.3": "1.6.1"`,
2. within your enzymeSetup change `import Adapter from 'enzyme-adapter-react-16` to Adapter from `enzyme-adapter-react-16.3`

[2019-02-06 17:21] erick2014 commented on #2005
Hey We found a solution, which was:
1. update `"enzyme-adapter-react-16": "1.1.0"` to `"enzyme-adapter-react-16.3": "1.6.1"`,
2. within your enzymeSetup change `import Adapter from 'enzyme-adapter-react-16` to Adapter from `enzyme-adapter-react-16.3`

[2019-02-06 17:35] #1989 closed

[2019-02-06 17:47] goliney commented on #1853
@minznerjosh thanks for a workaround. However, it won't work if you want to use [`.setState()`](https://airbnb.io/enzyme/docs/api/ShallowWrapper/setState.html):

[2019-02-06 18:10] minznerjosh commented on #1853
setState() is allowed on non-roots in the latest version of enzyme.

[2019-02-06 18:25] varunsharma27 commented on #2005
However, we are using react 16.7.0, so `enzyme-adapter-react-16.3` would just raise eyebrows. So explicitly adding react-test-renderer@16.7.0 to devDependencies is another option.

[2019-02-06 19:46] mountwill commented on #2005
I resolved this by upgrading react, react-dom, react-test-renderer to 16.8.1

[2019-02-06 21:00] ljharb commented on #2005
@varunsharma27 first, you're not using the latest version of your react adapter. Please update to the latest.

Can you confirm - if you have the latest `enzyme`, `enzyme-adapter-react-16`, `react`, and `react-dom` (and if you have a lockfile, that `react-test-renderer` is also updated to 16.8), do you still see issues?

[2019-02-06 21:02] ljharb commented on #2004
@Zveroboev every react package must always have an identical minor; so the fact that you're using `react-test-render` 16.8 will break, since you're using react 16.6. You'll need to peg that as a dev dep at `~16.6`.

If you've done that, and you're still having an issue, I'll reopen - if anyone else is having an issue, please file a separate one - and make sure all react packages have identical min

[2019-02-06 21:02] #2004 closed

[2019-02-06 21:04] ljharb commented on #2006
If that fix fixes your issue, then this can be closed as a duplicate of #2002.

The reason it's not released yet is because I simply haven't done it yet - every commit doesn't trigger a release (that's irresponsible and creates lots of churn for users), so the fix will be in the next version.

[2019-02-06 21:04] #2006 closed

[2019-02-06 21:06] ljharb commented on #539
@dalvallana you either have to do that, or to export the wrapped component directly - neither of which is nice. In that specific case, however, you should be able to shallow render the HOC, and *before* calling `.dive()`, do `spyOn(wrapper.childAt(0).type().prototype, 'myMethod')` (i believe that will work).

[2019-02-07 01:19] joshnabbott commented on #1938
Hooks have been released and this still seems to be an issue with enzyme's `shallow` renderer. Is there any sort of ETA on getting an update to enzyme to support hooks?

[2019-02-07 01:26] chenesan commented on #1938
I don't know if there's any ETA for supporting hooks but I'll start to work on this in recent days :-)

[2019-02-07 02:52] ljharb commented on #1938
If it’s still an issue with every React package (including the test renderer) at 16.8, then a PR with tests would be quite welcome.

[2019-02-07 03:30] wodenx commented on #1938
I am having a possibly related issue with 16.8.  I don't get the Invariant Violation, but some hooks which persist data across renders (useRef and useState) are not behaving as expected during shallow render, but work fine during mount.

Versions:
[code]
Tests:
[code]

Results:
[code]

[2019-02-07 03:34] ljharb commented on #1938
@wodenx what version of react-test-renderer do you have?

[2019-02-07 04:07] wodenx commented on #1938
@ljharb lol i was just checking that - i just upgraded from 16.8.0 to 16.8.1 and have the same results.

[2019-02-07 08:32] c0d3x commented on #2005
Have same issue when running tests with react 16.8, works fine in 16.7.

[2019-02-07 09:50] hassa0125 commented on #2006
In the related issue it seems that you have changed files in both the adapters and the core enzyme product but only released the stuff for the adapters.  I agree with OP that the core enzyme bundle should be bumped as well as there is no easy way to get the changes into a CI build.  From the code sandbox above, it can be seen that the pairing of the new version of the adapter and the 'old' enzyme

[2019-02-07 10:02] matt-gresham commented on #2006
As the issue reported in #2002 is fixed in _released_ code, and this reported issue is only fixed in _unreleased_ code, I would beg to differ. They are two distinct issues, fixed by different changes, and should be treated as such. Is it ordinary practice for issues with enzyme to be closed before their fixes have been published?

I appreciate that commits do not automatically trigger a release, a

[2019-02-07 10:31] ekaradon commented on #1996
I can confirm I still have this issue.

[2019-02-07 11:00] goliney commented on #1853
@minznerjosh thanks for a response.

Are docs outdated then?
https://github.com/airbnb/enzyme/blob/2932d8c40a2898d9b120ef232b1788b88c83190c/docs/api/ReactWrapper/setState.md#L10

[2019-02-07 11:20] Jessidhia commented on #1996
Enzyme probably should either reexport or automatically use ReactTestRenderer.act but otherwise things _should_ just work.

[2019-02-07 11:42] varunsharma27 commented on #2005
@ljharb We are using :-
enzyme: 3.8.0
enzyme-adapter-react-16: ^1.7.1 -> 1.9.1
react: 16.7
react-dom: 16.7

The issue is created because a release in react-test-renderer caused build failures for us, which we do not directly rely upon.

As per @c0d3x, react 16.8 and enzyme 1.9.1 are having the same issue.

[2019-02-07 13:28] echoes221 commented on #1996
Have same issue - re-writing a component with hooks and `simulate` doesn't work on a mounted component. Is there another way to test this functionality cleanly?

[2019-02-07 13:55] adngdb opened #2009 "With shallow, redux store update does not trigger componentDidUpdate"
Hi,

I'm having trouble with a specific test scenario in my React + redux application. I want to test that a change to the redux store is correctly reflected in my component. For that, in my test I create a shallow component, connected to redux, and then I update the store using an action, then verify that the mounted component has the correct data. Which it doesn't.

Here's a test case to reprodu

[2019-02-07 14:33] tenorok commented on #1950
Fixed for me after update to versions below:
[code]

[2019-02-07 15:41] k3ithl1m commented on #1996
@ljharb how may I help

[2019-02-07 16:16] ljharb commented on #2006
Issues are typically closed when they’re fixed in master; releases are independent.

The adapters are easy to bump, and doing so does not result in a flood of incoming bug reports. However, the next release of the enzyme package has a large number of changes in it, and quickly releasing it might result in exactly that. I’m waiting to release it until i have time to field those incoming issues.

Ab

[2019-02-07 16:23] minznerjosh commented on #1853
They appear to be! Wanna open a PR? 😊

[2019-02-07 16:26] VincentLanglet commented on #1917
@anushshukla

You can create a mock: `__mocks__/react.js`
[code]

[2019-02-07 16:51] EstebanMarin commented on #1853
@minznerjosh  Let me know if you have comments I can add them.

https://github.com/airbnb/enzyme/pull/2010

[2019-02-07 17:54] ljharb commented on #1996
@Jessidhia I don't think it should re-export it, but perhaps it should automatically use `act` - I'm not really sure yet. However, that would only determine console warnings, it wouldn't change how things function, would it?

@k3ithl1m a PR that includes lots of test cases would be great.

[2019-02-07 17:55] ljharb commented on #1996
@echoes221 fwiw, there's nothing clean about "simulate", that's testing react and the browser - explicitly invoke a prop function if that's what you want to test.

[2019-02-07 17:56] ljharb commented on #2009
What version of react-redux are you using? v6 uses new Context, which enzyme does not yet support.

[2019-02-07 17:56] ljharb commented on #1950
I'm going to close for now; if the failure can be reproduced I'm more than happy to reopen.

[2019-02-07 17:56] #1950 closed

[2019-02-07 17:57] ljharb commented on #2005
@varunsharma27 yes, that's unfortunately the nature of semver here. I'm not sure how to fix it in enzyme cleanly; but you can add `react-test-renderer@~16.7` as a dev dep to fix it.

[2019-02-07 18:56] varunsharma27 commented on #2005
Yes, that's exactly what we did to circumvent this issue. And reported it to help others out.

[2019-02-08 01:31] chenesan opened #2011 "React hooks support checklist"
Sorry for removing issue template. Since the React 16.8 is out we can start to work on hooks support in enzyme now. Previously I tried to open PR in #2008 to help with this but found out that there are [too many apis in React hooks](https://reactjs.org/docs/hooks-reference.html). After some thinking I feel it's better to track all of the supports / PR in one issues, and create one PR for each hook

[2019-02-08 07:17] ljharb commented on #1996
I'm not sure yet; hooks have only been out for a day and a half.

It's likely enzyme will call `act` for you, sometimes, but I haven't investigated enough to know for sure yet.

[2019-02-08 12:18] helabenkhalfallah opened #2012 "Test custom async hooks"
I use Enzyme version 3.8.0.

[code]

My useService make an async call to get user list data.

**Test :**

[code]

**But I have this error :**
`ReactWrapper::state() can only be called on class components`

[2019-02-08 13:49] adngdb commented on #2009
I'm using `"react-redux": "5.1.0"`.

[2019-02-08 17:19] plemasantos commented on #1916
Are there any news with respect to this issue?

[2019-02-08 18:15] swapkats commented on #2012
As the error states .state is only valid for class components. your component is a functional component using hooks. This is not supported at the moment. You can subscribe for progress on hook support on this issue. https://github.com/airbnb/enzyme/issues/2011

Meanwhile looks like this forked branch will suffice your use case https://github.com/airbnb/enzyme/pull/2008

[2019-02-08 18:22] helabenkhalfallah commented on #2012
OK thank you, I check it :) :)

[2019-02-08 19:50] sstern6 commented on #1916
Yes been working on it and have made progress.  Will have something up by next week.

[2019-02-08 21:55] ljharb commented on #2009
I think the issue is that `.dive()` doesn't currently bring context along correctly; this should be fixed in the next release.

[2019-02-10 01:16] mikelyons commented on #942
Had this issue while following this guide: https://semaphoreci.com/community/tutorials/getting-started-with-tdd-in-react
This workaround also solved it for me, thanks!: https://github.com/airbnb/enzyme/issues/942#issuecomment-314715229

[2019-02-10 05:09] Finesse commented on #1153
I had a similar issue. I fixed it by replacing

[code]
with
[code]

The `.update()` method must be called on the **root** wrapper, not on a child wrapper. The method mutates the root wrapper but doesn't mutate any child wrapper so I have to find the button again.

[2019-02-10 05:11] ljharb commented on #1153
@Finesse yes, that's part of v3 - you always have to re-find from the root.

[2019-02-10 12:01] eps1lon commented on #1875
It's also not supported in `mount` causing `Error: Enzyme Internal Error: unknown node with tag 15`.

@wintercounter Could you include in the original issue description that the `mount` API is affected too.

[2019-02-10 13:22] wintercounter commented on #1875
Done.

[2019-02-10 14:28] helabenkhalfallah commented on #2012
Hello, I locally used the branch #2008 :

[code]

But I still get the error :

[code]

I will wait for enzyme update, Thanks 👍  :)

[2019-02-10 23:25] chenesan commented on #2012
Hi @helabenkhalfallah I'm still working on #2008 and currently it only has test code to verify what is not working (will fix the test in the future), so I think it won't work in your test for now. Also the `state()` currenly is used for class component state -- I'm not sure if it's the api to get hooks state in the future.

[2019-02-11 00:00] ljharb commented on #2012
For the record, the way I'd like to approach supporting hooks in enyzme is in this order (as separate PRs):
1. components that use hooks should Just Work in both `mount` and `shallow` without any user test changes
1. since hooks can be used with class components as well, `setState` and `state` probably shouldn't interact with hooks. So, we may need to explore a new API just for interacting with ho

[2019-02-11 07:11] helabenkhalfallah commented on #2012
@ljharb
`1. components that use hooks should Just Work in both `mount` and `shallow` without any user test changes`
Perfect, we need only to mock Service Response if we have Backend Call (exactly like before).

[2019-02-11 07:29] ljharb commented on #2012
I'm pretty confident that despite the docs, hooks can be used in any kind of component.

[2019-02-11 07:40] helabenkhalfallah commented on #2012
OK but using hooks inside a Class will not going have a big advantage because inside a Class I can directly use state, dimount for Http Call, Redux, ... But to reuse statefull logic (useState, custom Hooks, ...) inside Funtional Component here is the big advantage (single independent atomic parts : UI + Hooks).

[2019-02-11 07:42] ljharb commented on #2012
Whether it's an advantage or not is utterly irrelevant; if it works in React, enzyme has to support it.

[2019-02-11 07:49] helabenkhalfallah commented on #2012
I don't know your use case but Hooks inside class doesn't work, you will get :
React Hooks Error: Hooks can only be called inside the body of a function component.
Thanks :)

[2019-02-11 07:52] ljharb commented on #2012
Thanks, if that's indeed the case then that might make the second item in the list above much easier.

[2019-02-11 11:01] sharmapuneet opened #2016 "Can't able to test handleClick function to update the state"
I have this below component -
[code]

Test for it -
[code]

The test is giving me error of `Cannot spy the handleClick property because it is not a function; undefined given instead`

Can anyone tell me where I am wrong in writing the test ?

[2019-02-11 11:23] plemasantos commented on #1916
Awesome news!

[2019-02-11 19:30] ljharb commented on #2016
Were you able to figure this out?

[2019-02-11 20:21] mikelyons commented on #1229
Did a new issue ever get filed? I reckon I'm too nooberish to properly file it but this issue persists for me and haven't found any solution here.

[2019-02-11 20:26] ljharb commented on #1229
Nope, but it looks like while 6 people are unhappy about my suggestion about how to get their issue fixed, none of them have been motivated enough to do anything about it.

[2019-02-11 21:12] mikelyons commented on #1229
I've discovered the solution for me, hope to help others but they may have another issue:
[code]

will not work but, per this thread: https://github.com/airbnb/enzyme/issues/1221#issuecomment-334974967  this works instead:

[code]
@ljharb for some reason I didn't understand what you meant in this thread earlier, but the linked comment is more clear about immutability/re-finding, thanks!

[2019-02-12 01:21] sharmapuneet commented on #2016
@ljharb - Yes by using dive(). Thanks

[2019-02-12 05:44] 0xc0d3r commented on #1950
Currently, I'm working on other things. I will try to reproduce it in a separate repo and let you know.

Thanks!

[2019-02-12 07:03] csvan commented on #1973
It's perhaps worth noting that version 4 of styled-components is notoriously difficult to test using Enzyme. See e.g.

https://github.com/styled-components/jest-styled-components/issues/191

[2019-02-12 08:38] hyochan commented on #1958
For those who's interested in this, we've tried to move `createContext()` separately somewhere like `src/contexts` and done the rest of the test. Here is the [sourcecode](https://github.com/dooboolab/talktalk-rn/blob/master/src/providers/__tests__/ProfileModalProvider.test.js) and the [project](https://github.com/dooboolab/talktalk-rn).

[2019-02-12 08:48] icyJoseph commented on #1938
Has anyone managed to pull out a magic trick to use Hooks, with Enzyme, shallow or mount?

[2019-02-12 10:08] TdyP commented on #1938
@icyJoseph I managed to get this working by upgrading everything around react and testing:
[code]

[2019-02-12 10:59] icyJoseph commented on #1938
@TdyP I have all of those libraries updated, and still I cannot get a simple toggle to work.

In your example at the top, how do you trigger the state change when using the onClick prop?

I target the prop and call the function attached to it, using the `act` helper, but the state does not update.

[2019-02-12 11:53] 951565664 commented on #1112
Can you try to use https://github.com/adriantoine/enzyme-to-json?

[code]

I don't update snapshot every time

[2019-02-12 13:09] TdyP commented on #1938
@icyJoseph Here's a working example with `mount`. Didn't manage to get it working with `shallow`actually

The component Test.tsx
[code]

Test file Test.test.tsx
[code]

Hope this helps!

[2019-02-12 15:03] 951565664 commented on #1112
In addition, I generally use the render() method.
[code]

[2019-02-12 17:02] ljharb commented on #1958
I’m going to keep this open, pending support of createContext.

[2019-02-12 17:03] ljharb commented on #1112
I very much discourage that; use `.debug()` instead.

[2019-02-12 21:22] jpmoral commented on #1862
Awesome, thanks everyone!

[2019-02-13 06:27] 951565664 opened #2017 "Why does it often have the wrong length of nodes?"
[code]
In Chrome `document.querySelectorAll('.ant-menu-sub').length`  is 1, Why is it 4 in test? Because jsdom is not the same as browser?Why can I get the correct length with hostNodes?

[2019-02-13 06:29] ljharb commented on #2017
No, because enzyme isn't the same as the browser. The tree includes React nodes as well - `.hostNodes()` filters them out so that the wrapper only contains HTML nodes, which would match the browser.

[2019-02-13 14:55] dkamyshov commented on #1875
Another temporary workaround: implement memo yourself.

[code]

It lacks propsAreEqual but it still works.

[2019-02-13 15:43] flq commented on #1925
We had a similar situation for a component that does require a TranslationContext to be tested correctly (so, root is translationcontext and the tested component is inside).

What we did is to wrap the whole thing into another ad-hoc component and pass-through the properties like such:

[code]

That way, you can set props on the root and they trickle down to the component under test

[2019-02-14 02:06] indiehjaerta opened #2018 "Mocked function is called twice, should be called once. Don't see why."
I'm trying to learn Jest and Enzyme but I'm having a problem I can't find a solution to, this is my test.. it's not very good I know but I'm learning:

[code]
The problem is `toHaveBeenCalledTimes(1)` fails with reason:

But I don't know why. I guess it's because componentDidMount runs two times but I don't know how to solve it.
`setCommentsFromLocalStorage` only runs once since spy was created af

[2019-02-14 03:19] ljharb commented on #2018
The problem is that you have arrow functions in class field; never do that. Instead, use a normal instance methods, and either constructor-bind or field-bind them, and then spy on the prototype before creating your wrappers.

[2019-02-14 09:22] mkatanski commented on #1908
@thousight I've done some workaround for it, below is my example. If someone knows better solution I'm eager to see it 😈

In my example I can test whether the `changeByOffset` method that comes in context is called in `onChange` event.

**DataListPagination.test.tsx**
[code]

Tested component **DataListPagination.tsx**

[code]

[2019-02-14 20:35] stringerbell commented on #1938
This works for now. You need to add `react-test-renderer` if it's not already a dependency.

[code]

[2019-02-15 06:45] icyJoseph commented on #1938
I think, the invariant problem goes away if you just change that arrow function in ComponentWithHooks for a `regular` JS function. The problem comes down the line in the testing because shallow rendered components do not update the state through the hooks. Only mount does that.

[2019-02-15 13:36] stringerbell commented on #1938
@icyJoseph ah gotcha -- I misunderstood what was wanted based on the initial issue in here (and what I was running into)

[2019-02-15 15:20] IamTheHttp commented on #1233
still happened for me(I was also updating to React 16 and Enzyme all at once).

If you guys still wonder why people do that, it's because I updated to React 16, and then realized Enzyme has to be updated as well.. I guess for most people there's no reason to update enzyme alone if all is working :)

In any case, wrapper.update() solved it for me, wrapper.html() was showing the right DOM, but wrapp

[2019-02-15 15:30] csvan commented on #1647
I would love to help here if possible, can I get some pointers on where to start? Currently, this completely blocks us from moving to either `react-redux` 6.0 or `styled-components` 4.0, both which use the new Context API and completely break under `shallow`.

[2019-02-15 18:49] andysmith415 commented on #1988
Thanks @prishedko for the tip, it turned out that I had previously mocked `react-dom` and hadn't defined some of the internals that `react-dom` uses. Removing that mock got up and running. Sorry about that!

[2019-02-15 18:49] #1988 closed

[2019-02-16 00:05] ljharb commented on #1647
@csvan the two pieces I'm waiting for are #1960 and then #1966; after those go in, I suspect it'll be relatively short work to get full createContext support.

[2019-02-16 00:06] ljharb commented on #1233
@IamTheHttp you should absolutely downgrade back to react 15, upgrade to enzyme 3 and get everything passing, and *then* update to react 16.

[2019-02-17 05:03] bdwain commented on #2012
One of the few complaints I've had about enzyme is the existence of the `setState` and `state` helpers. I know that they seem helpful, but I think they encourage bad test design (i'll explain why below). Rather than try to support something similar for functional components using hooks, I would love it if Enzyme took this opportunity to drop support for those helpers by not providing an alternativ

[2019-02-17 06:02] ljharb commented on #2012
(turns out hooks can't be used on class components, so that's my mistake).

Good tests for X *should* be dealing with the implementation details of X - it's *everything else* that shouldn't.

[2019-02-17 06:12] bdwain commented on #2012
Can you explain your position a bit more? Why do you think the implementation details are worth testing?

To me, it's like testing private methods of a class, which can't even be tested in languages like C++, and in Java you need reflection for. Not testing them seems to be a [popular](https://softwareengineering.stackexchange.com/questions/100959/how-do-you-unit-test-private-methods) [opinion](ht

[2019-02-17 06:16] ljharb commented on #2012
Certainly private things should never be tested! State, however, isn't private. Either way, it's because in order to test various states of a component, you'd have to be able to get in them - and often that requires cooperation from children that setState callbacks are passed to, or browser interaction that's difficult to test, etc.

[2019-02-17 06:24] bdwain commented on #2012
I definitely get the difficult browser interaction thing, but those cases
are rare enough that if they were the only reason to support it I feel like
it would be good to mark the methods like dangerouslySetState or something
to make clear they are escape hatches.

The other one though has never been a problem for me. If I want to test a
set state callback passed to a child, I just do something lik

[2019-02-17 06:24] ljharb commented on #2012
Sure, that's fine too - but it doesn't satisfy every case.

[2019-02-17 06:29] bdwain commented on #2012
Yea I get that. My point was that if it’s generally preferable to avoid
setState except in exceptional circumstances, maybe the api could self
document that In the name of the method somehow. It wouldn’t prevent you
from doing it, but it would make you think about it before doing it,
similar to how needing to disable a lint rule in exceptional circumstances
is fine but having to explicitly do it f

[2019-02-19 16:14] thefivetoes commented on #1917
FWIW, here is an updated version of @VincentLanglet's mock that also mocks `React.lazy`

[code]

[2019-02-20 08:04] mrjackdavis commented on #1875
One step further, to merge @drpicox, @icyJoseph and @dkamyshov workarounds:

In `src/__mocks__/react.js` ...

[code]

Note support for the second param of `React.memo` is not implemented here

[2019-02-20 22:27] cnatale opened #2019 "Enzyme 2 to 3 upgrade: shallow() with numeric child literal gives unexpected results"
### Current behavior
After upgrading my project's environment from Enzyme 2 to 3, running the following code:
[code]

produces this output:
[code]

Increasing the numeric literal value to 10 results in hundreds of 0's. If I set the numeric literal to be above 50 or so, the test server actually times out. To be clear, the timeout occurs whether console.log() is included in the code or not. The shal

[2019-02-20 22:51] ljharb commented on #2019
So, the div shouldn't be logged, because in shallow, the wrapper is what the component *renders* - in other words, it should be a wrapper around `2`. However, the repeated zeroes are an issue - looking into it.

[2019-02-20 22:52] ljharb commented on #2019
hmm, oddly enough i'm getting the div, and the child, in my test. I'll keep looking.

[2019-02-20 23:35] ljharb commented on #2019
My similar test is passing; is there any mocha setup you're doing, or any packages that might be modifying enzyme?

[2019-02-21 00:03] cnatale commented on #2019
I'm using React 15 Adapter v1.3.0. I'm not doing anything with Mocha other than pointing to it in my Karma config.

Main karma.config looks like this:
[code]

tests.index.js content:
[code]

tests/enzyme.js looks like this:
[code]
...and then I'm importing this module into individual modules.

tests.context.js just sets the files to test against:
[code]

[2019-02-21 00:17] ljharb commented on #2019
hmm - it's possible there's issues with karma, specifically. Have you read through https://github.com/airbnb/enzyme/blob/master/docs/guides/karma.md ?

[2019-02-21 09:08] sol404 commented on #1958
Waiting this feature request, here's a workaround work for me.

[code]

[2019-02-21 11:08] VincentLanglet commented on #1917
@thefivetoes When I use you `lazy` mock, I have no error with `shallow` but with `mount`, I get
[code]

Does it work for you ? This error seems to be normal since I mock the `Suspense` component...

[2019-02-21 17:41] cnatale commented on #2019
Yeah. I think I've set it up properly, but could have messed something up. I'll post any updates.

[2019-02-21 19:21] thefivetoes commented on #1917
@VincentLanglet you are correct, my bad – I am only doing `shallow` renders.

[2019-02-21 23:56] cnatale commented on #2019
The problem turned out to be caused by having this file in my files karma.conf.js files array: `'node_modules/core-js/client/core.min.js'`. The version in question is ^2.5.5. It wasn't being used in the current incarnation of the app, so I got rid of it and the problem went away. Closing this issue. Thanks for the quick help!

[2019-02-21 23:56] #2019 closed

[2019-02-22 00:08] ljharb commented on #2019
That's very troubling, since that's used in babel-polyfill :-/ but at least you figured it out!

[2019-02-22 00:10] cancerberoSgx commented on #836
@ljharb thanks, `hostNodes()` works, but unfortunately it will make the wrapper unusable since it removes non-host nodes.

Question: what would be the correct way of obtaining only the host-nodes or alternatively the HTMLElement s that match find(selector) without modifying the wrapper ? How can I differentiate between host and non-host nodes ? I tried with `typeof wrapper.type==='string' `but did

[2019-02-22 00:22] ljharb commented on #836
@cancerberoSgx `.hostNodes` doesn't *modify* the wrapper, it returns a new one. You can keep the old one as you like. Yes, `typeof wrapper.type === 'string'` would be the condition to use in `findWhere`; the definition of a host node is "it's got a string type". The capitalization isn't relevant.

In your case, I'd use `.find(Something).find('a')` rather than relying on the string form of the disp

[2019-02-22 00:35] cancerberoSgx commented on #836
Thanks, you are right, sorry... Just in case this was what I ended up doing (TypeScript):

[code]

thanks and sorry for the inconvenience.

[2019-02-22 08:08] jklepatch commented on #2018
It's because you cann `componentDidMount()` twice:

* first time in `shallow()
* second time in `component.instance().componentDidMount();` => remove this

`componentDidMount()` runs automatically when calling `shallow`:

[code]
https://airbnb.io/enzyme/docs/guides/migration-from-2-to-3.html#lifecycle-methods

[2019-02-22 08:23] ljharb commented on #2018
Seems answered.

[2019-02-22 08:23] #2018 closed

[2019-02-22 09:45] tormodhau commented on #964
While a workaround rather than a solution to the problem: it is also an option to extract the code inside the lifecycle methods into separate methods, and then test these method instead. That gives the added benefit of naming whatever happens inside the lifecycle method as well.

So instead of:

    componentWillMount() {
         callSomeApi()
             .then(..)
             .then(..)
    }

[2019-02-22 12:38] BertrandFritsch opened #2020 "Regression on 'componentDidUpdate' not being called when calling 'setProps' on shallow wrapped component"
Calling `setProps` on a shallow wrapper may result in not calling `componentDidUpdate` of the wrapped component. It's the case when the state depends on a prop and when that specific `setProps` call does change the state. If that call doesn't change the state, `componentDidUpdate` is called. I suspect this is a regression of #2007. It worked fine in version 3.8.0

### To reproduce

[code]

### You

[2019-02-22 18:50] ljharb commented on #2020
cc @peanutenthusiast; see also https://github.com/airbnb/enzyme/pull/2007#issuecomment-464745567

[2019-02-23 20:48] sukanyaramakrishnan commented on #1570
I am still having this issue with objects in the state .

For example, if my state looks like this  {
     blah0: blahblah,
     blah1: {
        blah2: '',
        blah3: '',
      },
    };

I see that when in the UI the state gets updated properly, blah2 and blah3 (inside the object) dont get updated while blah0 gets updated properly in the jest test. Any thoughts?
i can avoid the objects in th

[2019-02-23 22:57] peanutenthusiast commented on #2020
@ljharb thanks for the cc will look into this.

[2019-02-24 14:01] anushshukla commented on #1917
just wanted to thank you guys, @VincentLanglet and @thefivetoes, in writing.

Also wanted to share that in test cases of components who have nested components using Suspense + Lazy, you can do the following

1. creating __mocks__ in the same folders having such
2. create index.js or the componentName.js in in the __mocks__ foler
3. simply just mock such components in the test cases of components w

[2019-02-25 04:05] ihankhong commented on #1637
@paneq thanks a lot , it solves my problem

[2019-02-25 10:41] glapsable opened #2021 "Enzyme render empty ShallowWrapper {}"
Hello, I have problem with making snapshots in Enzyme. It render to me an empty snapshots. There's also no way to find anything inside like header or h1.

[code]

 In react-test-renderen it goes ok, and in snapshot file I have content of the component so it need to be Enzyme fault.

Is anybody knows what is going on?? Thanks!

[code]

[code]

[code]

[2019-02-25 10:53] carloscuesta commented on #1875
Can confirm that the `mount` API it's affected too

[2019-02-25 14:17] naisergic opened #2022 "snapshot are getting updated without update flag"
Thanks for reporting an issue to us! We're glad you are using and invested in Enzyme.
Before submitting, please read over our commonly reported issues to prevent duplicates!

### All common issues

* [common issues](../blob/master/docs/common-issues.md)

### Notoriously common issues

* [Webpack build issues](../blob/master/docs/common-issues.md#webpack-build-issues)
* [Cannot find module 'react-d

[2019-02-25 14:18] icyJoseph commented on #1938
I have this [sandbox](https://github.com/icyJoseph/react-hooks-sandbox).

There you can find a [Counter inside Hooks](https://github.com/icyJoseph/react-hooks-sandbox/blob/master/src/Hooks/Counter/index.js).

With these two [tests](https://github.com/icyJoseph/react-hooks-sandbox/tree/master/src/tests).

The [enzyme](https://github.com/icyJoseph/react-hooks-sandbox/blob/master/src/tests/enzyme.cou

[2019-02-25 14:30] naisergic commented on #2022
closing as this issue is related to enzyme-to-json

[2019-02-25 19:54] ympadilha opened #2023 "[.find(selector)] Doesn't accept regex for attribute selector"
### Current behavior

I've read the [Enzyme selector](https://github.com/airbnb/enzyme/blob/master/docs/api/selector.md) page and it seems that enzyme supports attribute selectors as regex. My problem is related to that.

I am using `mount` in my component and trying to find a specific child with a specific string as the final part of the name of a CSS class. There's the code:

[code]

The comment

[2019-02-25 19:56] ljharb commented on #2023
Where on that page do you see a regex being accepted?

[2019-02-25 19:57] ljharb commented on #2023
(We support similar syntax as `document.querySelectorAll` supports, which isn't regex)

[2019-02-25 19:59] ljharb commented on #2023
What does `dayPicker.debug()` print out?

[2019-02-25 20:00] ljharb commented on #2022
enzyme does not support or encourage snapshot testing; the closest we offer is `.debug()`.

I'll close this, but am happy to reopen if you're seeing an issue there.

[2019-02-25 20:00] #2022 closed

[2019-02-25 20:04] ympadilha commented on #2023
@ljharb
[code]
Find this text inside the page and then click on the link `here`.

[2019-02-25 20:07] ympadilha commented on #2023
It prints nothing, also I get this error:
[code]

Since it doesn't find any nodes.

[2019-02-25 20:11] ympadilha commented on #2023
Reading [this](https://stackoverflow.com/questions/16791527/can-i-use-a-regular-expression-in-queryselectorall) stackoverflow page I see that it's not actually a regex but an "ends with" matcher.
`document.querySelector` supports it.

[2019-02-25 20:14] ljharb commented on #2023
The test code you're asking about is calling `dayPicker.find`, i want to know what `dayPicker.debug()` prints out - *before* the find, and certainly before any calls on the found wrapper.

[2019-02-25 20:25] ljharb commented on #2021
enzyme has no snapshot support, nor does it encourage snapshot testing at all.

What does `wrapper.debug()` print out?

[2019-02-25 20:37] glapsable commented on #2021
So yes, wrapper.debug() printing me to the console beautiful content of my component.

[code]

[2019-02-25 20:39] ljharb commented on #2021
Looks like enzyme's working then :-) if you're having an issue with whatever you're using for snapshots, you'll need to file it there.

[2019-02-25 20:39] #2021 closed

[2019-02-25 20:40] glapsable commented on #2021
OK Thanks:)

[2019-02-25 20:55] santosguilherme commented on #1112
@SoccerGee you can do this: `<MemoryRouter keyLength={0}>`

[2019-02-25 22:27] ympadilha commented on #2023
Oh sorry!

I debugged the `dayPicker` and here's a sample of the output:
[code]

Here's more HTML of course and the `css-1l41ygt-day` class is found several times.

[2019-02-25 23:28] ljharb commented on #2023
In that case, you'll note the `className` attribute has a trailing space - so in fact, it does not end with `-day`, it ends with `-day `.

[2019-02-25 23:39] ympadilha commented on #2023
Can't believe I didn't figure that one out, thanks a lot for the help Jordan, really appreciate that man, I'll close this one.

[2019-02-25 23:39] #2023 closed

[2019-02-26 03:46] #1875 closed

[2019-02-26 03:48] ljharb opened #2025 "`memo` does not work with class components"
Followup from #1914 and #1875.

See https://github.com/airbnb/enzyme/pull/1914#issuecomment-467244909 and
https://github.com/airbnb/enzyme/pull/1914/commits/6b3274b72dbed367acf1fc985dd0a9b873a35b0b; once https://github.com/facebook/react/issues/14807#issuecomment-462147431 is resolved, we'll need to revisit these tests.

[2019-02-26 04:40] #2017 closed

[2019-02-26 04:41] #1948 closed

[2019-02-26 04:44] ljharb commented on #1956
Closing for now; happy to reopen if there's a repro.

[2019-02-26 04:44] #1956 closed

[2019-02-26 04:44] #1946 closed

[2019-02-26 04:47] ljharb commented on #1936
OK, so, a few things:
 - `.dive()` only works on `shallow`
 -  in React 16+, SFCs don't have an instance, and they thus don't have state (other than with hooks, but that's unrelated)
 - `mountWithTheme` renders a `ThemeProvider` - what kind of component is that?
 - make sure you've got the latest version of enzyme and your react adapter, and try again?

I'm going to close for now, but will be happ

[2019-02-26 04:47] #1936 closed

[2019-02-26 04:48] ljharb commented on #1949
Closing; happy to reopen when we're able to reproduce.

[2019-02-26 04:48] #1949 closed

[2019-02-26 04:50] #1978 closed

[2019-02-26 04:50] ljharb commented on #1880
@ZebraFlesh closing; happy to reopen if you can make the change in my previous comment and there's something we can fix.

[2019-02-26 04:50] #1880 closed

[2019-02-26 04:51] ljharb commented on #1864
The docs have been updated.

[2019-02-26 04:51] #1864 closed

[2019-02-26 06:53] ljharb commented on #1635
This seems answered.

[2019-02-26 06:53] #1635 closed

[2019-02-26 06:55] ljharb commented on #1567
Closing; happy to reopen if needed.

[2019-02-26 06:55] #1567 closed

[2019-02-26 06:57] ljharb commented on #1327
Now that #664 is merged, if you fail to provide childContextTypes, then children simply won't get your context - so this should no longer require a warning.

[2019-02-26 06:57] #1327 closed

[2019-02-26 06:57] ljharb commented on #1053
Fixed in #664.

[2019-02-26 06:57] #1053 closed

[2019-02-26 06:58] ljharb commented on #1013
#664 should address this, along with #1960.

[2019-02-26 06:58] #1013 closed

[2019-02-26 06:59] ljharb commented on #567
Fixed in #664.

[2019-02-26 06:59] #567 closed

[2019-02-26 07:01] ljharb commented on #1304
Although perhaps it would be better to rename `debug` to something more sensible, I don't think automatically logging really makes sense. I'm going to close this, since it's unlikely we'll add this.

[2019-02-26 07:01] #1304 closed

[2019-02-26 14:13] goncalobo commented on #1996
Workaround with helper to test custom hook API
https://gist.github.com/goncalobo/ace875af564d4fd585651abd86f65cd2

[2019-02-26 16:44] GreeKatrina opened #2026 "View older versions of docs on https://airbnb.io/enzyme/"
**Is your feature request related to a problem? Please describe.**
I'm using version 3.1.1 of enzyme, and it'd be nice to view the docs for that version so I know I won't run into issues or things being outdated. I know I can find the docs on github, but the website is much easier to navigate.

**Describe the solution you'd like**
Being able to select the version of the docs you want to view on th

[2019-02-26 17:19] ljharb commented on #2026
At the moment, only the latest version is available.

Duplicate of #860.

[2019-02-26 17:19] #2026 closed

[2019-02-26 22:20] ljharb commented on #2020
@peanutenthusiast i'm honestly not sure; the first thing ideally would be a PR that contains the failing test case, and we can iterate from there?

[2019-02-27 10:38] cmmash commented on #1339
Guys would the square brackets in a className be valid? Example: `_test-field-secondaryConditions[0].sourceValue`

[2019-02-27 12:10] EricLambrecht commented on #1938
I get `ShallowWrapper::setState() can only be called on class components` if i try to `setState` on a functional component that uses the `useState` hook.

[2019-02-27 13:47] ljharb commented on #1339
What does document.querySelector do with those?

[2019-02-27 16:00] ZilvinasAbr commented on #1938
@EricLambrecht makes sense because there can be multiple `setState` hooks. There would be no way to know on which hook you are setting the state.

[2019-02-27 16:24] EricLambrecht commented on #1938
@ZilvinasAbr Well I thought internally the component still keeps track of only one state object and all uses of `useState` add a property to this state.

[2019-02-27 18:09] ljharb commented on #1938
@EricLambrecht not forever, but certainly not yet.

My suggestion is that if you need to explicitly test your state changes, that you continue using class components instead of migrating to the very very new and as-of-yet unsupported by enzyme hooks.

[2019-02-27 18:35] gaearon commented on #1938
@icyJoseph

From what I can tell, the problem with the shallow test in https://github.com/airbnb/enzyme/issues/1938#issuecomment-467027468 is unrelated to the title of this issue ("Hooks can only be called inside the body of a function component"). This is why this issue is confusing to me. It would be great if there were separate issues for separate problems. This particular issue ("Hooks can onl

[2019-02-27 18:40] ljharb commented on #1938
There's a possibility of enzyme tracking which hooks are used, and providing an API to interact with them directly, but that wouldn't come any time soon, if at all.

[2019-02-28 01:28] astorije commented on #1799
With Enzyme v3.9.0, I am now getting no text out of `.text()`, but some markup out of `.html()`. The initial case presented above outputs this:

[code]

@ljharb, is there anything I'm missing here? E.g. `.text()` do not play well with fragments, or some extra setup is required, etc.
Thanks!

[2019-02-28 04:30] ljharb commented on #1799
@astorije be sure your react adapter is updated to the latest, otherwise it won't be able to handle fragments.

[2019-02-28 04:46] astorije commented on #1799
Yeah I thought about that initially, but all dependencies (including the react adapter) are up-to-date 🤷‍♂️

[2019-02-28 04:50] ljharb commented on #1799
@astorije in that case, can you file a new issue, and fill out the entire issue template?

[2019-02-28 10:41] conatus commented on #1245
@ljharb

Thanks for your work on this. Bit concerned that remove `.simulate` will break a huge number of people's tests. Is there going to be a `code-mod` upgrade path for this?

[2019-02-28 15:31] astorije commented on #1799
Will do, now that I have a reproducible case.

[2019-02-28 15:46] astorije opened #2028 "React Fragments and components do not output any text"
This is a follow-up of https://github.com/airbnb/enzyme/issues/1799#issuecomment-468099145 after @ljharb rightfully mentioned creating a new issue.
The issue is a little confusing to me, and I'm not sure I titled it too well, so feel free to re-title it.

### Current behavior

Assuming the following test:

[code]

and the following helper component, `Title`:

[code]

The test fails when running ag

[2019-02-28 19:59] akupaka commented on #184
Just to add to @revik . SingleDatePicker should be imported as well.
[code]

[2019-03-03 05:45] ljharb commented on #1245
@conatus v4 isn't coming any time soon. The reality, though, is that many tests that use `simulate` are broken already, because of mistaken assumptions about how it works.

[2019-03-03 20:07] k3ithl1m commented on #2011
Thanks for making this list @chenesan!
@ljharb, I'm interested in tackling some of this features too. It might take me some time to finish implementing it as I'm getting a little busy in the next two weeks, but I am very interested in helping out.
I've currently worked on two test cases #2029

If no one has took up the useEffect feature. I would like to try that out!

[2019-03-04 12:00] lo1tuma opened #2030 "React warning logged when using renderProp"
### Current behavior

When a `renderProp` function renders a `string` or `null` I see the following react warning being logged at stdout:

[code]

Same for a `string`:

[code]

### Expected behavior

I wouldn’t expect to see such a warning since everything works just fine when using `null` or `string` values.

### Your environment

I’ve created a minimal example to reproduce this issue:

* run `np

[2019-03-04 15:01] Peripona commented on #308
**Working Solution - React Enzyme jest component Test**

sharing an online working good short example.
Well the problem is not just form submit it could be any input type where the attached event handler is using the event to get the target value or even a preventDefault. So i am going to attach a full code example of how we can test it.
[ReactComponentTestWithJestAndEnzyme](https://codesandbox.io

[2019-03-04 19:06] mrchief commented on #308
@Peripona Thanks for posting the sandbox, it's going to make it easy for people to try out different solutions. (I also love your handle "Peri-Pona" :))

I've since moved away from relying on `simulate`. I don't need to test the browser's part of firing the event, nor the React's part of calling my event handler when that happens. Instead, what I actually want to test is when my event handler is c

[2019-03-05 04:05] louischristopherchen opened #2031 "simulate(click) with setTimeOut in Function Click."
[code]

[code]
i alr use done()
[code]
the test is succes, but when i change expect(wrapper.state('name2')).toBe('benny') to expect(wrapper.state('name2')).toBe('rizqi'); the test is sucess too.  i still learning for automated testing. Please help me out guys. :)

[2019-03-05 06:17] salamancajr commented on #1436
I was having trouble with this set up that you can find on https://airbnb.io/enzyme/docs/guides/react-native.html
until I looked at the package.json  of @shawnaxsom and noticed react-dom still needs to be on your  list of dependencies.

[2019-03-05 06:37] ljharb commented on #308
@mrchief it's totally fine for your tests for a given component, to rely on that component's instance (and it having one). In general, I'd suggest never using `simulate`, and directly invoking prop functions. One solution is to directly test that invoking those props does the right thing; or you can mock out instance methods, test that the prop functions call them, and unit test the instance metho

[2019-03-05 06:40] ljharb commented on #2031
First, never use functions in class fields. What you want there is `toggle() {` - a normal instance method - and `toggle = this.toggle.bind(this);` as a class field, or `this.toggle = this.toggle.bind(this)` in the constructor.

Second, you can't call `done` unless there's a `done` argument in your test callback - since you're using an async function, you're already returning a promise, so this is

[2019-03-05 08:26] #2030 closed

[2019-03-05 09:40] conatus commented on #1245
Sure but these mistaken assumptions are extremely widespead. I'd estimate most React codebases have these mistaken assumptions in.

What is the right way to test these kind of interactions?

[2019-03-05 11:16] tvooo opened #2032 "ForwardRef displayName is ignored when JSX is used in prop"
### Current behavior

When using a forwardRef-generated component in an enzyme wrapper, the generated snapshot calls it "ForwardRef" instead of the displayName we've set. This only happens, however, for JSX passed in a prop.

#### Here's an example

Component in question:

[code]

Test:

[code]

Snapshot:

[code]

### Expected behavior

I expect the displayName to be honored even when the componen

[2019-03-05 23:01] ljharb commented on #2032
enzyme has no snapshot support, and I don't recommend them - what does `.debug()` print out?

Also, note that `react-test-renderer`, `react`, and `react-dom` all must have the *precise same* minor version for things to work properly.

[2019-03-05 23:04] DonikaV opened #2033 "React suspense Error: Method “props” is meant to be run on 1 node. 0 found instead."
#### API

- [ ] shallow

#### Version

| library             | version
| ------------------- | -------
| enzyme              |  3.9
| react               |  16.8.3
| react-dom           | 16.8.3
| react-test-renderer |
| enzyme-adapter-react-16      |  1.10.0

I updated react and test libraries today . App works fine, lazy loading etc.. but my tests are failing..
[code]

/// MyParent component ren

[2019-03-05 23:06] ljharb commented on #1245
@conartist6 `.prop('onClick')()`, eg.

[2019-03-05 23:07] ljharb commented on #2033
enzyme does not currently support `Suspense`; closing in favor of #1917.

[2019-03-05 23:07] #2033 closed

[2019-03-05 23:10] DonikaV commented on #2033
There are any workaround to fix this? Thanks in advance :)

[2019-03-05 23:10] ljharb commented on #2028
@astorije react-test-renderer must always have the exact same minor as react and react-dom; can you try updating it to 16.8?

[2019-03-05 23:31] ljharb commented on #2028
(I'm able to reproduce this regardless, so that's probably a red herring - good to fix anyways tho)

[2019-03-06 00:01] ljharb commented on #2033
No, the workaround is to not use Suspense yet.

[2019-03-06 16:32] tvooo commented on #2032
Thanks for the quick response. `.debug()` prints out the following:

[code]

That `...` is not inserted by me; this is literally what `.debug()` prints.

I followed your suggestion and fixed the versions of `react-test-renderer`, `react-dom`, and `react` to `16.7.0`; the result was still the same.

I also used `enzyme-to-json` as a serializer, with the following result:

[code]

I've got no clue h

[2019-03-06 17:53] cadrimiranda opened #2035 "I cannot use 'document.getElementById'"
Hi, i have a statefull component, like that

[code]

and, in my tests, i've tried with 'SHALLOW' / 'MOUNT' and when i try to simulate click on button that calls the function LOGIN, appears this error 'TypeError: Cannot read property 'focus' of null'.

My case test is:

[code]
I dont want to mock the function, because i want test if the function change the component state and show to user.

[2019-03-06 18:21] joepuzzo commented on #1938
So It looks like the temporary solve for this is to write some tests without enzyme.. such as [this test](https://github.com/icyJoseph/react-hooks-sandbox/blob/master/src/tests/counter.test.js). However, it seems using this approach is very limited, because the react test tools don't even allow you to query for components by name such as `MyCustomComponent` which i would argue is a very powerful f

[2019-03-06 18:56] #2035 closed

[2019-03-06 18:58] joepuzzo commented on #1938
So It looks like the temporary solve for this is to write some tests without enzyme.. such as [this test](https://github.com/icyJoseph/react-hooks-sandbox/blob/master/src/tests/counter.test.js) However, it seems using this approach is very limited, because the react test tools don't even allow you to query for components by name such as MyCustomComponent which i would argue is a very powerful feat

[2019-03-06 19:01] cadrimiranda commented on #2035
I replace the document.getElementById by refs in each input, and focus with refs.

[2019-03-06 23:01] ljharb commented on #2035
Indeed; don’t use DOM traversal APIs with react; they don’t interoperate well.

[2019-03-07 07:27] ljharb commented on #2032
There's a verbose option that will print the someProp details - try `wrapper.debug({ verbose: true })`?

I don't recommend snapshots in general - snapshot testing is inherently brittle, and its only value is when you're trying to do a refactor that changes nothing about the snapshot (eg, nothing about the component hierarchy or the html) - and otherwise, people just rubber stamp changes rather tha

[2019-03-07 07:39] ljharb commented on #1938
@joepuzzo the temporary workaround is to not use hooks yet, if you find yourself unable to properly test with them.

[2019-03-07 08:38] tvooo commented on #2032
Thanks for the hint, that indeed helped to get better insight:

[code]

The `displayName` is clearly there, so I'd seek the issue with the serializers (both jest's builtin `pretty-format` and the 3rd party `enzyme-to-json` seem to ignore it). Thanks for your input, really appreciated. I will close this issue.

Regarding snapshot testing: we are maintaining a component library as part of our design

[2019-03-07 08:38] #2032 closed

[2019-03-07 09:00] milap1296 opened #2037 "Check if Component is called with expected props"
**Is your feature request related to a problem? Please describe.**
Consider my component goes something like this ->
[code]

Now, I need to test that whenever I render the Component `A`, I am able to call the component `B` with some expected props.

For now my test will go something like this ->
[code]

**Describe the solution you'd like**
It becomes very boring and lengthy to test each components

[2019-03-07 11:15] dfee commented on #1938
Alternatively, the temporary (permanent? see the first quote) workaround is to find another testing framework / pattern that supports hooks.

[2019-03-07 11:25] VincentLanglet commented on #1938
Agree, it's not a good practice to modify code strictly for testing it.

We just have to find another framework/pattern to test hooks. (Or make PR to improve enzyme)

[2019-03-07 12:59] plemasantos commented on #1916
@sstern6 any update?

[2019-03-07 13:40] AnaRobynn commented on #2011
@chenesan Also note that React seemed to have an issue with shallow rendering hooks right now. Not sure if it was addressed by the React time already or not.

[2019-03-07 14:24] joepuzzo commented on #1938
so it looks like my issue goes away when I upgrade react-test-renderer to the latest version. After reading more into these issues i found this https://github.com/facebook/react/pull/14567 and realized my issue was simply because i was relying on `react-test-renderer@16.4.2`. That all being said I do agree that this the title of this issue is a little confusing because it seems like the case initi

[2019-03-07 14:44] papiro opened #2038 "Cannot find a function component wrapped with React.memo HOC"
### Current behavior
When trying to `.find` a memoized function component within a mounted tree and `.debug` it, returns an empty string.
This is regarding the new `React.memo` feature. When I simply remove the `React.memo` wrapper from the component, then it is found and its contents printed to the console on `.debug`. With the wrapper, it appears the component cannot be found.
### Expected behav

[2019-03-07 15:06] nixstrom commented on #2011
@AnaRobynn Didn't they solve this with https://github.com/facebook/react/pull/14567 ?

[2019-03-07 17:19] AnaRobynn commented on #2011
It’s supported, but there are issues: https://twitter.com/dan_abramov/status/1103304963445403648?s=21

[2019-03-07 20:25] rally25rs opened #2039 "useImperativeHandle callback never called (when rendering w/ enzyme)"
_( Cross posting this from https://github.com/facebook/react/issues/15054 )_

**What is the current behavior?**

I have the code:

[code]

When I use the component, the callback passed to `useImperativeHandle` is never called. (The debugger statement is never hit).

The code that I have using the component is:

[code]

**Repro Example:**

https://codesandbox.io/s/v8rqy75mn5

If you check the conso

[2019-03-07 23:56] chenesan commented on #2011
I think the issue should be facebook/#14841, which #2008 would depends on.

[2019-03-07 23:58] chenesan commented on #2039
Hi @rally25rs have you tried to wrap the code with [act()](https://reactjs.org/docs/test-utils.html#act) ?

[code]

[2019-03-08 00:29] rally25rs commented on #2039
I just get `act is not a function` but I suspect that is because I'm on 16.8.0-alpha.1 still which I don't think forced you to wrap things in `act`.

[2019-03-08 21:30] LiangMingChen commented on #34
The latest update seems to broke this again.
node_modules/enzyme/build/ShallowWrapper.js
line 552

   if (lifecycles.componentDidUpdate && typeof instance.componentDidUpdate === 'function' && (!state || (0, _Utils.shallowEqual)(state, _this3.instance().state))) {
                    instance.componentDidUpdate(prevProps, state, snapshot);
                  }

The last condition make it that only s

[2019-03-08 22:41] ljharb commented on #34
@LiangMingChen could you file a new issue about this, and fill in the entire issue template? That would really help it get fixed quickly.

[2019-03-09 08:03] #2028 closed

[2019-03-09 12:00] Bo98 commented on #1976
I think the issue here might be to do with root instances.

I had something I had something (simplified) like this:

[code]

though you could simplify it to a less meaningful example:

[code]

I then was using `wrapper.update()`. Enzyme fails _silently_.

Maybe this use case is not supported, but no error is thrown to indicate that.

[2019-03-09 14:55] pgangwani commented on #2011
@chenesan  @k3ithl1m : Added test cases #2041 for useEffect, useState & custom hooks along with combination of those.

[2019-03-09 18:58] nicholasrice opened #2042 "ReactWrapper.update() is not forcing a re-render"
Thanks for reporting an issue to us! We're glad you are using and invested in Enzyme.
Before submitting, please read over our commonly reported issues to prevent duplicates!

### All common issues

* [common issues](../blob/master/docs/common-issues.md)

### Notoriously common issues

* [Webpack build issues](../blob/master/docs/common-issues.md#webpack-build-issues)
* [Cannot find module 'react-d

[2019-03-09 21:15] ljharb commented on #2042
Since this relies on an impure render (which is obviously a very bad idea in React), can you elaborate on the actual use case where this is popping up? If props and state and context haven't changed, a rerender shouldn't need to call `render`, even via enzyme's `update`.

[2019-03-09 21:22] ljharb commented on #1938
@joepuzzo certainly react-test-renderer always has to have the exact same minor version as react and react-dom - there's still some outstanding bugs in react-test-renderer itself around shallow rendering and hooks, however.

[2019-03-09 21:23] ljharb commented on #1976
@Bo98 that's a fair point; perhaps `update` should throw when it's not called on a root wrapper - however, i'm not sure how many working tests that would break :-/

[2019-03-09 21:27] ljharb commented on #2039
@rally25rs enzyme doesn't support react alphas, so either way you'll have to upgrade to the actual 16.8 release.

Separately, enzyme doesn't have explicit/official support for hooks at all yet, although that's in progress (see #2011 and related issues).

[2019-03-09 21:32] ljharb commented on #2038
@papiro can you provide repro code? Specifically, your component, your test code, and `wrapper.debug()` on the root wrapper?

[2019-03-09 21:33] ljharb commented on #2037
You can already do this:
[code]
(mocha, jest, and most test runners support some form of "deep equal" already). Does that meet your needs?

[2019-03-09 21:45] Bo98 commented on #1976
Yeah, that's a risk.

Maybe the only way would some sort of non-fatal warning. It would be better than nothing IMO until the opportunity arises that it can be raised to a fatal error.

[2019-03-10 00:28] sstern6 commented on #1916
@plemasantos got side tracked with personal stuff, would you like to take it?

[2019-03-10 02:36] pgangwani commented on #2011
@chenesan : Please add #2041 in custom hooks checklist as I added test case in that PR

[2019-03-10 03:08] nicholasrice commented on #2042
Yea the min-repro isn't a real use-case (but it is pulled from Enzyme documentation). I'm trying to write a test to validate that a context provider is providing the *same* context object between render cycles, and only providing a *new* object when a certain prop or parent context is changed. This involves checking object references after multiple renders of a component.

The above component coul

[2019-03-10 06:27] milap1296 commented on #2037
No I dont need to check all the `props` for the component, `deepEqual` won't suffice my requirements since I need to check if `subset of props` is passed to a component!

Let's say I have
[code]
But I need to check just a subset of the props the component is rendered with!

[2019-03-10 06:30] ljharb commented on #2037
@milap1296 sure! that's also something all test frameworks tend to have a solution for. In mocha/chai, it'd be something like:
[code]

[2019-03-10 06:37] ljharb commented on #2042
Hmm, that does make sense. It does stand to reason that a call to `update` forces a rerender.

[2019-03-10 06:45] milap1296 commented on #2037
Sure thanks, as I can see the plugin `chai-subset` is capable of doing so, since they don't support `to.have.properties` in chai.

Closing for now, thanks @ljharb :)

[2019-03-10 06:45] #2037 closed

[2019-03-10 06:49] ljharb commented on #2037
`.to.have.keys`, maybe? It's definitely supported in chai.

[2019-03-10 20:25] pgangwani commented on #1996
@ljharb @ekaradon @chenesan https://codesandbox.io/s/132rz9vq03 added codesandbox where issue is reprodicible even with explicit `act` call.

[2019-03-10 20:52] pgangwani commented on #2011
@ljharb @chenesan : Simple hooks testing is successful in mount rendering without act :)
Example: https://codesandbox.io/s/5xkjk1ql14

[2019-03-10 21:04] ljharb commented on #1996
@pgangwani that doesn't give me a super helpful error; adding test cases to #2041 or #2029 would be preferred.

[2019-03-10 21:17] pgangwani commented on #1996
Sure, Will add in my next set of test cases. Now focussing on other hooks method.

[2019-03-11 01:44] louischristopherchen commented on #2031
hi @ljharb  thank you for help.  It's work.

before that, I use a fake timer from jest.
[code]

[2019-03-11 01:51] #2031 closed

[2019-03-11 02:19] chenesan commented on #2011
@pgangwani I believe the test could pass without `act`. However when it comes to setting state in `useEffect` without `act` wrapping and assert the state changes after mount (like test case of #2034 ), it would fail.

[2019-03-11 02:24] pgangwani commented on #2011
How about chatApi test case in #2041 ? It's kinda controlled simulated
useEffect.

On Mon 11 Mar, 2019, 7:49 AM Yi-Shan, Chen, <notifications@github.com>
wrote:

[2019-03-11 02:32] chenesan commented on #2011
I'm not sure if that would pass without act wrap. but since we wrap mount with `act` in master now, this should be fine I think.

[2019-03-11 03:52] pgangwani commented on #2011
its not working by taking latest commits into my branch

On Mon, Mar 11, 2019 at 8:03 AM Yi-Shan, Chen <notifications@github.com>
wrote:

[2019-03-11 04:30] Jlevett commented on #1163
I found something that works.
Add these middle two lines.
[code]

[2019-03-11 04:30] Jlevett commented on #1245
I found something that works.
Add these middle two lines.
[code]

[2019-03-11 04:31] Jlevett commented on #1153
I found something that works.
Add these middle two lines.
[code]

[2019-03-11 04:31] Jlevett commented on #1833
I found something that works.
Add these middle two lines.
[code]

[2019-03-11 04:32] Jlevett commented on #1543
try adding this
[code]

[2019-03-11 04:53] pgangwani commented on #1964
@pvanny1124 Code snippet please.

[2019-03-11 05:10] astorije commented on #2028
@ljharb, thanks for looking into this! We don't pull `react-test-renderer` ourselves, it comes from the adapter. In our `yarn.lock`:

[code]

I can see that `react-test-renderer` is not a dependency of the adapter anymore, and I couldn't find anywhere mention of having to keep them in sync / having to explicitly have `react-test-renderer` in `package.json`, did I miss anything?

Now that you have

[2019-03-11 06:25] Finesse commented on #1153
@Jlevett Calling `forceUpdate` can spoil your test because React may skip updates in some cases and you need to check that React has or hasn't skipped the update.

[2019-03-11 06:32] ljharb commented on #2028
If you have a lockfile, you'll have to manually update the transitive dependency so that the minor versions match - or, easier, you can explicitly depend on `react-test-renderer` at the top, and npm/yarn will dedupe it.

https://github.com/airbnb/enzyme/commit/8bbb61d336bf35a20ce7742824f91f2b8faf641f is released in `enzyme-adapter-utils` v1.10.1.

[2019-03-11 06:34] ljharb commented on #1964
@pvanny1124 `.find` is supposed to return a ShallowWrapper; one issue i see is that you're using react-test-renderer 16.7, but react and react-dom 16.4. The minor of all three must be identical.

Closing for now; happy to reopen if there's a repro case.

[2019-03-11 06:34] #1964 closed

[2019-03-11 16:25] eps1lon opened #2043 "setState with function component wrapper"
### Current behavior
`wrapper.find('DisplayNameOfClassComponent').state()` triggers ` Error: ReactWrapper::state() can only be called on class components` when `wrapper` is a function component even though `DisplayNameOfClassComponent` is a class component and has state.

### Expected behavior
Same behavior if `wrapper` is a class component or `DisplayNameOfClassComponent` itself i.e. all 3 test i

[2019-03-11 17:00] papiro commented on #2038
Phew! That sure would be a lot of code. Lots of components involved, along with the app-environment stubbed out via test-helper HOCs and the lot. I'll try to shuck off what's not needed to reproduce.

[2019-03-11 21:16] c3chong commented on #2022
Could you elaborate a bit on this? The word 'snapshot' is missing from the official documentation, which I interpret as more agnostic than specifically not encouraging/supporting the testing methodology. Is the thought here that a well-designed React application shouldn't _need_ snapshot testing, as explicit assertions should be simple enough with the combination of a well-componentized applicatio

[2019-03-11 21:22] ljharb commented on #2022
@c3chong the lack of a mention is a discouragement :-)

Snapshot testing is inherently brittle. What happens in practice is that developers rubber-stamp snapshot diffs without fully understanding why they've changed, and the false sense of confidence given causes developers to not thoroughly review the code. The only time snapshots are valuable is when you're doing a "no observable changes" refact

[2019-03-11 21:32] c3chong commented on #2022
@ljharb thank you! All that being said, should I expect inconsistent, incorrect, or untested behaviour when using snapshots with enzyme? I'm trying to discern whether, given the right use case, if it's safe to rely on snapshot tests when using the enzyme wrapper?

[2019-03-11 21:33] ljharb commented on #2022
@c3chong you should expect all snapshot behavior to come from whatever non-enzyme tool you're using to work with them - jest, enzyme-to-json, etc. The closest thing enzyme provides and supports is `.debug()`. So how "safe" it is depends on how reliable those projects are - in my experience, snapshots aren't safe.

[2019-03-11 21:35] ljharb commented on #2043
What version of the 16.3 adapter are you using?

[2019-03-11 21:37] eps1lon commented on #2043
1.10.0. Updated the initial post. Dependency version can be verified in the codesandbox.

[2019-03-12 00:52] joetidee opened #2044 "How to test a component wrapped in IntlProvider?"
Sorry, I imagine that this is a simple question, but I couldn't find anything on Stack Overflow. How do you access the children of a context provider like `IntlProvider` from `react-intl`?

[code]

`Wrapper` contains the `IntlProvider` component and I simply cannot access `foo-test`. Apologies for the simplistic example, but it seems like such an obvious problem that others have come across, that

[2019-03-12 04:14] #2043 closed

[2019-03-12 04:45] ljharb commented on #2044
what's `c.debug()` print out?

Are you sure `Wrapper` renders its children?

[2019-03-12 06:54] #1970 closed

[2019-03-12 10:50] joetidee commented on #2044
`c.debug()` prints out the mounted component tree. No children are shown for `IntlProvider`, which is inside `Wrapper` - as if `IntlProvider` is not rendering its children for some reason, because if I remove`IntlProvider` it shows the full component tree.

[2019-03-12 13:07] yuanfux commented on #1436
The following function
[code]
induces the Error in Node 8
[code]
@shawnaxsom Any idea of how to fix this ?

[2019-03-12 13:08] priyankaunigps commented on #1193
I tried some suggestions in this issue:
actually  i was running a git hub code but it was not running and this error is shown my visual studio screen please help us...
/home/priyanka/git/react-native-ui-kitten/src/components/calendar/common/rkCalendarMonthHeader.component.js:1
(function (exports, require, module, __filename, __dirname) { import React from 'React';

[2019-03-12 19:31] maksimgm opened #2045 "encountering error when using enzyme methods: shallow, mount, etc."
More details can be found on in stack overflow question:

https://stackoverflow.com/questions/55128836/auto-suggest-component-encountered-a-declaration-exception

#### API

- [x] shallow
- [x] mount
- [ ] render

#### Version

| library             | version
| ------------------- | -------
| enzyme              |  3.9.0
| react               | 15.3.1
| react-dom           | 15.3.1
| react-test-ren

[2019-03-12 22:22] ljharb commented on #2045
@maksimgm first, you'll need to make sure react-test-renderer has the same minor as react and react-dom - ie, 15.3.

Second, you should call `shallow` *inside* the `it` - code that can fail shouldn't run directly inside a describe. What exception do you get then?

[2019-03-12 22:22] ljharb commented on #2045
Also, what are the contents of `AutoSuggest`?

[2019-03-12 23:04] myf9000 commented on #889
If you are using `jest` you can handle it by add in `jest.config.js` file
[code]
svgMock.js contain `module.exports = "";`

[2019-03-13 00:13] maksimgm commented on #2045
Can close this issue. After further investigation: the issue was with `isomorphic-style-loader`

https://medium.com/@m.izadmehr/react-starter-kit-testing-isomorphic-style-loader-with-jest-and-enzyme-fd361b0591f0

Thank you @ljharb

[2019-03-13 06:30] #2045 closed

[2019-03-13 06:34] ljharb commented on #2044
That suggests it's an issue with `IntlProvider`; the code for it is [here](https://unpkg.com/react-intl@2.8.0/src/components/provider.js), it renders its children.

Can you straight copy and paste the full output of `c.debug()`, as well as the full contents of `Wrapper`? It's hard to debug without the *exact* code you're using in your codebase.

[2019-03-13 09:26] doronpr opened #2046 "Cannot find module 'react-test-renderer/package' from 'ReactSixteenAdapter.js'"
### Current behavior
`Cannot find module 'react-test-renderer/package' from 'ReactSixteenAdapter.js'`
Broke in https://github.com/airbnb/enzyme/commit/98154a945390014a9c97e3a4c6d83eac42f3d73f
Changing the import from:
`import { version as testRendererVersion } from 'react-test-renderer/package';`
to
`import { version as testRendererVersion } from 'react-test-renderer';`

Solves the issue for me.

[2019-03-13 09:32] youluna commented on #2046
We had the same problem: https://travis-ci.com/alibaba-fusion/next/builds/104198552#L667

[2019-03-13 09:44] zombieJ commented on #2046
Got the same error: https://circleci.com/gh/ant-design/ant-design/63215?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-03-13 09:50] enjoythelive1 commented on #1687
I know this is closed @ljharb , but why how a function is defined (arrow function or bound function) affects how simulate finds events. In the end both are function.

[2019-03-13 10:08] shpyo commented on #2046
Was about to create the same issue xD

[2019-03-13 12:39] andreyshuster commented on #2046
Same issue here

[2019-03-13 13:55] vzhukovsky commented on #2046
Same for me. It would be great to get a hotfix asap.

Thanks)

[2019-03-13 14:32] ipanasenko commented on #2046
Just freeze it to `~1.10.0` for now. No need to write "same here" 100500 times

[2019-03-13 15:52] kaligrafy opened #2049 "Tests fails since Jest version 24.5.0 shallow: ReferenceError: document is not defined"
I get an ReferenceError: document is not defined
at Object.act (node_modules/react-dom/cjs/react-dom-test-utils.development.js:1158:7)
when testing a component with shallow since I updated Jest.

Also, I get this warning:
Warning: It looks like you called TestUtils.act(...) in a non-browser environment. If you're using TestRenderer for your tests, you should call TestRenderer.act(...) instead of T

[2019-03-13 16:09] ljharb commented on #1687
@enjoythelive1 it doesn’t affect find, if affects spy. How the function is defined has *everything* to do with how you can spy on it.

[2019-03-13 16:11] ljharb commented on #2046
This shouldn’t break for anyone - node supports importing json files without an extension.

If it’s not working, then your environment is broken.

[2019-03-13 17:25] srittau commented on #2046
Adding `"json"` to `jest.moduleFileExtensions` in our `package.json` file works around this problem. Still, I consider it a bug in `react-test-renderer` to require this configuration.

[2019-03-13 19:03] ljharb commented on #2046
Considering that's the default configuration of node itself, it's a bug in your jest configuration.

@srittau if you remove your fix to your jest config, and change the import in the adapter to have an explicit `.json` extension, does that fix the issue for you?

[2019-03-13 19:25] uhLeeshUh commented on #1419
@dispix I had a similar problem that was solved by awaiting the `setProps` call? So utilizing async/await, it'd just be `await component.setProps(...)`

[2019-03-13 19:31] srittau commented on #2046
@ljharb It does.

I admit that it makes sense for enzyme to expect to be able to include things without extension, according to node's default configuration. I believe the root problem is that jest does not have an option to add to the default list of file extensions in `package.json`, just to replace it. But I think enzyme can help maintainers by changing the import of the json file (a not too co

[2019-03-13 21:08] ljharb commented on #2046
Either way, I'll close this issue by explicitly adding the extension, since that seems to be the best compromise.

[2019-03-13 21:22] joetidee commented on #2044
Thank you for having a look at this. The output for `c.debug()` is:
[code]

Contents of `Wrapper` is:
[code]

[2019-03-13 21:32] #2046 closed

[2019-03-13 21:37] ljharb commented on #2044
Thanks!

OK, so. if you're mounting `<Wrapper>{children}</Wrapper>`, then i'd expect to see the following debug:
[code]
for whatever value of `children` you provided.

What are you seeing that's different?

[2019-03-13 21:56] joetidee commented on #2044
Well, inside `LocaleProviderWrapper` is:
[code]

So, given the output I am getting from `c.debug()`, it is stopping at `<IntlProvider />` and not continuing to render/output the children.

[2019-03-13 22:02] uhoh-itsmaciek commented on #2042
Hi, I've also just run into the same issue. I definitely understand that impure renders are a bad idea, but in my case I'm testing something that involves mocking out a render prop component that relies on external state. The real version of the component updates its own state and re-renders, but in the mock it's easier to just craft calls to the `children` passed in. But that means only changing

[2019-03-13 23:42] zhr1130 opened #2050 "TypeError: Cannot read property 'split' of undefined in setupTest.js"
I am trying to setup enzyme for my typescript react project. But I am getting below error, my test case is pretty simple, just use 'shallow' to test a HelloWorld componet. Any help would be really appreciated !

 TypeError: Cannot read property 'split' of undefined

      1 | const Enzyme = require('enzyme');

        |                  ^
      3 |
      4 | Enzyme.configure({ adapter: new Adapter

[2019-03-14 03:06] albertstill commented on #2049
Seeing the same error, it was caused when going from `enzyme-adapter-react-16@1.10.0` to `enzyme-adapter-react-16@1.11.0`. Fix was to lock the version down, until they patch release 1.11.

[2019-03-14 04:57] bentranmyriota opened #2051 "Cannot find module 'react-test-renderer/packages' from 'ReactSixteenAdapter.js'"
### Current behavior
Tests are failing due to the below error.
[code]
### Expected behavior

### Your environment
[code]

#### Version

| library             | version
| ------------------- | -------
| enzyme              |  ^3.3.0
| react               | ^16.4.0
| react-dom           |  ^16.4.0
| react-test-renderer | ^16.8.4
| adapter (below)     |

#### Adapter

- [ -] enzyme-adapter-react-16

[2019-03-14 05:31] heartlash commented on #2051
Do you have a jestsetup file?
It should have something like this inside it:

[code]

[2019-03-14 05:32] bentranmyriota commented on #2051
Yes I do.

[2019-03-14 05:35] sabiya115 commented on #1953
Is there any other way to test lazy components?

[2019-03-14 05:48] ljharb commented on #2051
Duplicate of #2046. Fixed in v1.11.1.

It's also caused by having a broken jest config - ie, by not including `json` in your moduleFileExtensions.

[2019-03-14 05:48] #2051 closed

[2019-03-14 06:44] ljharb commented on #2049
Fixed in e5e2a1fb3926d43c6fde207f4598759eb7ab5cd7; will be released in v1.11.2 of he react 16 adapter.

[2019-03-14 06:44] #2049 closed

[2019-03-14 11:52] atsikov commented on #2006
@ljharb it still doesn't work with latest adapter version, now returning empty string instead of null.
https://codesandbox.io/s/032mpxq6rv

[2019-03-14 12:17] atsikov opened #2052 "Fragments in ReactWrapper are not rendered with html() if children are functions"
I believe this issue is related to https://github.com/airbnb/enzyme/issues/2006 not being fully fixed.

This issue only affects `ReactWrapper`, `ShallowWrapper` seems to work fine.

### Current behavior
`.html()` doesn't show children created from functions when component is wrapped with fragment.

### Expected behavior
`.html()` returns exact markup if rendered children are either classes or func

[2019-03-14 14:39] atsikov commented on #2052
Tried a few `enzyme-adapter-react-16` versions, looks like this issue is a regression `1.8.0` -> `1.9.0`

[2019-03-14 19:35] allevo opened #2053 "Code coverage badge problem"
For the time being the code coverage is 10. Why?

### Current behavior

The coverage is 10%

### Expected behavior

The coverage reported could not be right.

### Your environment

master of Github

[2019-03-14 20:32] ljharb commented on #2053
Thanks, our coveralls setup has been having some issues.

[2019-03-15 05:42] ljharb commented on #2053
Fixed in 12f324abbfcf362156e3909b99a095ed876a6841.

[2019-03-15 05:42] #2053 closed

[2019-03-15 06:34] ljharb commented on #2044
Hmm, interesting. If you `c.find(LocaleProviderWrapper).debug()`, what do you get?

[2019-03-15 06:35] ljharb commented on #2050
The `undefined` being passed in is `React.version` - do you have react actually installed and present on disk?

[2019-03-15 06:36] ljharb commented on #2050
Note that if `npm ls` does not exit successfully, your dependency graph is invalid, and nothing can be expected to work.

[2019-03-15 06:48] #2020 closed

[2019-03-15 07:24] ljharb commented on #2052
Thanks, this was a very helpful repro.

[2019-03-15 07:47] #2052 closed

[2019-03-15 09:52] utsavnarayan commented on #1950
This happened to me as well. The issues was with my Button component.

I had renamed the input props to Button component but had forgotten to change the name everywhere. Sample code change
Before:

[code]

After:

[code]

[2019-03-15 13:25] joetidee commented on #2044
If I do `c.find(LocaleProviderWrapper).debug()` I get the following output:
[code]

[2019-03-15 13:27] joetidee commented on #2044
If I do c.find('IntlProvider').debug() I get the following output:

`<IntlProvider locale="en-GB" messages={{...}} defaultLocale="en-GB" />`

[2019-03-15 14:16] adngdb commented on #2009
Hi @ljharb, I've tried with the latest release (`enzyme=3.9.0`, `enzyme-adapter-react-16=1.11.2`) to no success. Was this expected to be fixed with that release? I've used the exact same test case I put in my first comment.

Thanks!

[2019-03-15 17:12] YevgenSnuffkin commented on #1938
If you use Jest with Enzyme used it with shallow like this:
[code]
, where the setHookState is:
[code]
hope it helps someone

[2019-03-15 19:38] ljharb commented on #2009
@adngdb yes, i'd expect it to be. if there's any way to make a minimal test case without redux, that would make it much easier to fix for sure :-)

[2019-03-15 19:38] ljharb commented on #2044
That looks to me like `IntlProvider` isn't rendering its children, or isn't receiving any :-/

[2019-03-15 20:27] ljharb commented on #2042
@uhoh-itsmaciek yes, but be aware many other methods call into `this.update()`, and we may not want those to force a rerender.

[2019-03-15 20:33] uhoh-itsmaciek commented on #2042
Interesting. Why would they be calling it? The internal documentation is the same: the method forces a re-render.

[2019-03-15 21:25] ljharb commented on #2042
They call it when state and/or props change, usually.Z

I'm just saying we'll have to be careful about it, and that it might be better to refactor so that the current behavior is preserved for all internal update attempts.

[2019-03-15 21:53] joetidee commented on #2044
It is definitely receiving children, just not rendering them.

[2019-03-15 22:23] zhr1130 commented on #2050
Thanks @ljharb , I have react installed on my disk. And I can see my component by running 'npm start' and going to localhost:8080.
I only got one error when running 'npm ls'.
peer dep missing: react@>= 0.13.0 <16.0.0, required by react-fa@4.2.0.
Does it matter ? I tried upgrade react-fa to 5.0.0, but it still gave me this error.

[2019-03-16 06:19] ljharb commented on #2050
Yes, that matters - what that means is that react-fa@4.2 requires react below 16; which means your dep graph is invalid.

[2019-03-16 08:46] joetidee commented on #2044
The strange thing is that i have `IntlProvider` running fine in the application. It's just when I use it in tests with Jest + Enzyme that it fails to render the children.